[2020-01-31 17:58] lwtchu opened #1841 "carnival theme: break missing from first two introduction paragraphs"
### College Physics
![image](https://user-images.githubusercontent.com/11299125/73562403-b1bfca00-4420-11ea-9d13-b87b6df84764.png)

### Biology
![Screen Shot 2020-01-31 at 11 56 13 AM](https://user-images.githubusercontent.com/11299125/73562428-be442280-4420-11ea-8068-605605d945eb.png)

Break is missing between ONLY the first two paragraphs in introductions. Present in Biology and College Physics

[2020-01-31 18:06] lwtchu opened #1842 "college physics: paragraph title styling"
![image](https://user-images.githubusercontent.com/11299125/73562727-59d59300-4421-11ea-94de-1b39455522a6.png)
![image](https://user-images.githubusercontent.com/11299125/73563079-21828480-4422-11ea-8152-b7597874e9b7.png)

Is it possible to add a space between the title and the body text. These are `<title>` in `<para>` in the body.

[2020-01-31 18:08] lwtchu opened #1843 "carnival theme: section folio continuing into EOC content"
![image](https://user-images.githubusercontent.com/11299125/73563138-4545ca80-4422-11ea-9607-67f9e03c7751.png)

this is in the EOC and should no longer be considered 1.4 Approximation.

Content is from College Physics but this should impact all carnival theme titles. Might be related to #1813

[2020-01-31 18:30] openstaxalina opened #1844 "College Success: Enable Top Titled Table Styling"
# Scenario

Top-titled tables should not have a table border around their title:

![CSTopTItleTable](https://user-images.githubusercontent.com/7863733/73563915-1a5c7600-4424-11ea-9767-fb0295f11a9f.png)
![CSTopTitleTable2](https://user-images.githubusercontent.com/7863733/73563917-1a5c7600-4424-11ea-8dbf-16b9a88ef989.png)

Test content (from the screenshots):
https://easyvm5.cnx.org/contents/h2TUSN

[2020-01-31 19:14] lwtchu opened #1847 "library wide: attribution link on the bottom every other page"
![Screen Shot 2020-01-31 at 1 14 05 PM](https://user-images.githubusercontent.com/11299125/73567242-95755a80-442b-11ea-913e-954c1b0df087.png)

This is missing in the baked PDFs. Need to discuss with @openstaxalina to define what this needs to be.

[2020-01-31 21:03] lwtchu commented on #1721
@Stackblocks can you send me the pdf for this so i can compare to the other pdf you gave me.

[2020-02-03 09:35] MartaSztuka commented on #1725
tested
![Screenshot from 2020-02-03 10-34-00](https://user-images.githubusercontent.com/47241114/73641766-ca262380-4670-11ea-9b1d-af0894ae3f53.png)

[2020-02-03 09:35] #1725 closed

[2020-02-03 13:37] wilkus27 opened #1848 "hs physics: style section exercises"
Text of the exercises and number should be inline:

![image](https://user-images.githubusercontent.com/40228854/73657455-9b20a980-4692-11ea-8000-a01cb2b5e837.png)

[2020-02-03 14:50] brittweinstein commented on #1781
@omehes please verify this on staging when you can

[2020-02-03 15:43] brittweinstein commented on #1809
@wilkus27 @ajluk could you please verify this? I know a lot of work has been done on equations recently and want to confirm that this is still an issue. Thanks!

[2020-02-03 15:48] brittany-johnson commented on #1801
Look to see if we're properly supported images and figures in the EOC

[2020-02-03 15:48] brittweinstein commented on #1801
This may be because we don't support figures in the EOC.

[2020-02-03 15:51] brittweinstein commented on #1698
@lwtchu could you please see if this occurs in Bio 2e and/or College Physics as well?

[2020-02-03 15:54] brittweinstein commented on #1807
@oscryan could you please remove the index tag from this? We will not include this term in the index as of rn.

[2020-02-03 15:56] brittweinstein commented on #1789
@lwtchu and @andymuddimer could you please confirm the header and fontscale do/don't match?

[2020-02-03 15:58] brittweinstein commented on #1787
@lwtchu and @andymuddimer could you confirm that the value for the header is not correct?

[2020-02-03 16:00] brittweinstein commented on #1787
The change to specs for the headers level (H3?) to be font-weight bold, not the font-weight 800 and remove uppercase.

Anywhere the font-weight 800 is found, this should be changed to bold.

[2020-02-03 16:02] brittweinstein commented on #1786
@lwtchu could you advise on where this is? We should verify the specs at different levels.

[2020-02-03 16:05] brittweinstein commented on #1784
@brittany-johnson will add the specs. @lwtchu @andymuddimer could you provide padding info?

[2020-02-03 16:05] brittweinstein commented on #1784
Refactor the folio so we don't have to do this 20398 times.

[2020-02-03 16:06] brittweinstein commented on #1783
We will treat this as we will the header work.

[2020-02-03 16:12] brittweinstein commented on #1782
@lwtchu could you let us know where we want to put this? We may need some TOC redesign. We will park tomorrow (2/4). We may need to state "Chapter [#]" as well as "Unit [#]"....

[2020-02-03 16:16] brittweinstein commented on #1791
@brittweinstein this will be a part of the header epic.

[2020-02-03 16:19] brittweinstein commented on #1806
@oscryan @lwtchu this will need to be fixed via content changes -- exporting the images at the exact size they should display.

[2020-02-03 16:19] #1806 closed

[2020-02-03 16:19] brittweinstein commented on #1806
Issue moved to [openstax/content-managers #1424](https://github.com/openstax/content-managers/issues/1424) via [**ZenHub**](https://www.zenhub.com/)

[2020-02-03 16:22] brittweinstein commented on #1804
@oscryan the text is taking the same width as the image. Could you please change the image size via the export and see if that resolves this?

[2020-02-03 16:23] #1804 closed

[2020-02-03 16:23] brittweinstein commented on #1804
Issue moved to [openstax/content-managers #1425](https://github.com/openstax/content-managers/issues/1425) via [**ZenHub**](https://www.zenhub.com/)

[2020-02-03 16:27] ajluk commented on #1809
Yes, this is still an issue, because equations in Biology 2e are unnumbered curently but they are missing of specific class (`unnumbered`) to let the styles cover them. They were numbered originally but the numbers have been removed by recipes. I was asking about this issue on the katalyst-devs2 channel here: https://katalysteducation.slack.com/archives/CBW9DFKGF/p1580394488158900

[2020-02-03 16:28] brittweinstein commented on #1803
@brittany-johnson will look at this with her page break work.

[2020-02-03 16:31] brittweinstein commented on #1802
The link should display in parentheses after.

[2020-02-03 16:36] #1807 closed

[2020-02-03 21:17] lwtchu commented on #1818
Added to the specs

[2020-02-03 22:00] lwtchu commented on #1802
![Screen Shot 2020-02-03 at 3 53 27 PM](https://user-images.githubusercontent.com/11299125/73694577-f2784700-469d-11ea-88d4-becf4dbb58f7.png)

![Screen Shot 2020-02-03 at 3 59 52 PM](https://user-images.githubusercontent.com/11299125/73694708-3cf9c380-469e-11ea-9b2e-958aa5170079.png)

here's a screenshot from the old pdf's if it helps.

[2020-02-03 22:08] lwtchu commented on #1782
@brittweinstein sounds good i know there's some...issues with when we did it it added words to rex and it broke stuff but i'd like to just revisit to see if we shoudl still do this

[2020-02-03 22:12] lwtchu commented on #1786
@brittweinstein this is in the body for so far all the books we've regression tested. they're find for the splash image only

[2020-02-03 22:13] lwtchu commented on #1787
@brittweinstein if it helps the label in the tech doc is `SubSubtitle` and not specified as a h3 or h4, etc ?

[2020-02-03 22:15] lwtchu commented on #1789
@brittweinstein current it is at 14pt which isn't on the font scale. so we're thinking of having it be font-scale(2) therefore resulting in 12.96pt.

[2020-02-04 02:57] brittweinstein opened #1852 "It's a HEADER Party!"
# What happened?

(_Briefly but clearly describe the issue_)

# Reproducibility Details

- **Does it also happen in an incognito window?**:
- **Does this happen in one place, a few places, or everywhere?**:

# Environment:

- **Book(s)**:
- **URL/Server**:
- **Location (page number, chapter/section)**:
- **Suggested nearby searchable text**:
- **Browser**:

# Screenshots

(_attach here (please cle

[2020-02-04 03:01] brittweinstein commented on #1694
@openstaxalina is this critical for DD? Can we move to FF?

[2020-02-04 09:59] wilkus27 commented on #1833
## Changes to provide to Carnival Theme

NOTE: there are created two new shapes `EocKeyEquWithSectionLink` and `EocSummaryWithSectionLink`. They are almost the same as shapes `EocKeyEqu` and `EocSummary`. The only difference is additional component `EocSectionTitleLink` with property: `font-family: Muli,`.

![image](https://user-images.githubusercontent.com/40228854/73732590-bba43e80-473a-11ea-829

[2020-02-04 10:24] MartaSztuka commented on #1818
styled
![Screenshot from 2020-02-04 11-24-20](https://user-images.githubusercontent.com/47241114/73736342-e98c8180-4740-11ea-9158-7200ec6f2f30.png)

[2020-02-04 10:24] #1818 closed

[2020-02-04 10:29] wilkus27 opened #1853 "Missing title in Grasp Check"
Exercise **Grasp Check** which is styled as a note should have title: **GRASP CHECK**.

![image](https://user-images.githubusercontent.com/40228854/73736687-82230180-4741-11ea-8132-5ac8e0b72fd5.png)

[2020-02-04 10:33] wilkus27 commented on #1705
This is styled within PR: https://github.com/openstax/cnx-recipes/pull/1835

[2020-02-04 10:35] wilkus27 commented on #1706
This is styled within PR: https://github.com/openstax/cnx-recipes/pull/1835.

Note: title **Grasp Check** is missing. Will be added by recipe. Here is the issue: https://github.com/openstax/cnx-recipes/issues/1853

[2020-02-04 10:39] wilkus27 opened #1854 "hs physics: style Section Key Terms"
There should be more space between terms from Section Key Terms:

![image](https://user-images.githubusercontent.com/40228854/73737473-ff9b4180-4742-11ea-9a8a-902ccfde0fac.png)

[2020-02-04 11:17] MartaSztuka commented on #1831
styled
![Screenshot from 2020-02-04 11-56-36](https://user-images.githubusercontent.com/47241114/73739747-1f346900-4747-11ea-8df5-8669c1374eb2.png)
![Screenshot from 2020-02-04 11-56-26](https://user-images.githubusercontent.com/47241114/73739749-1fccff80-4747-11ea-9a84-4acb887a8cb5.png)
![Screenshot from 2020-02-04 12-16-48](https://user-images.githubusercontent.com/47241114/73740327-4b041e80-474

[2020-02-04 11:17] #1831 closed

[2020-02-04 12:14] wilkus27 commented on #1833
**Shape:** `EocCompChapExercises`

_Component:_ `Container`
_Properties:_
[code]

![image](https://user-images.githubusercontent.com/40228854/73743691-750d0f00-474f-11ea-8326-b00f2a5d2f46.png)

_Component:_ `CompChapPageHeader`
_Properties:_
[code]

![image](https://user-images.githubusercontent.com/40228854/73743734-8e15c000-474f-11ea-9a77-eaefd318d5b7.png)

_Component:_ `EocSectionTitleLink`
_Pr

[2020-02-04 15:09] brittweinstein commented on #1848
@Stackblocks could you please review Natalia's PR here? It is related to the table work you are doing.

[2020-02-04 15:10] brittweinstein commented on #1854
@Stackblocks could you please review this PR? It may be related to the tables work you're doing.

[2020-02-04 15:31] lwtchu commented on #1809
Will need to do a content fix. Please remove the forced unnumbered.

We will add a `class="unnumbered"` to the `<equation>`

Corresponding content change: https://app.zenhub.com/workspaces/content-management-5c86d8c40b66e07993f45cfa/issues/openstax/content-managers/1426

[2020-02-04 15:52] openstaxalina commented on #1847
I'm checking this proposal with Anthony this week:

`Access for free at openstax.org.`

This is generic for all books and is also consistent with the language REX uses (example at the bottom of this page: https://openstax.org/books/college-physics/pages/1-introduction-to-science-and-the-realm-of-physics-physical-quantities-and-units).

[2020-02-04 16:14] brittweinstein commented on #1843
We should set this as "Chapter [#] [Chapter Title]"

There is a set standard for this somewhere that Larissa can provide if needed.

[2020-02-04 16:29] MartaSztuka commented on #1757
Still occurs![Screenshot from 2020-02-04 17-28-41.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/1d8c92a3-704b-46f2-9265-f2ead46aed43)

[2020-02-04 16:30] wilkus27 commented on #1848
Some of the exercises have solutions:

![image](https://user-images.githubusercontent.com/40228854/73764773-d6df7000-4773-11ea-8a53-dc8dbba6462b.png)

Here are the specs for styling header:
[code]

[2020-02-04 16:38] lwtchu commented on #1720
Should be addressed with this #1786

[2020-02-04 16:38] #1720 closed

[2020-02-04 16:45] #1549 closed

[2020-02-04 16:47] lwtchu commented on #1721
LOOK COOL BYE

[2020-02-04 16:47] #1721 closed

[2020-02-04 17:24] Stackblocks commented on #1695
@lwtchu Same as #1721, I believe primary work for this is resolved as part of #1791. Does the photo below look acceptable?

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/c251f880-00e4-479c-be5a-ba944e14f8db)

[2020-02-04 17:36] lwtchu commented on #1695
oh that's nice. table numbering is..off should i open another issue for that

[2020-02-04 17:37] helenemccarron commented on #1789
The specs need to be updated with the following:
`SectionTitleLink` and `EocSectionTitleLink` should include `font-size: font-scale(3)` after the font-family.

[2020-02-04 17:37] lwtchu commented on #1833
This is thorough and very clear. Thank you @wilkus27

[2020-02-04 17:45] Stackblocks commented on #1695
We can keep it in this one, and make that the primary focus. 🙃

[2020-02-04 17:49] helenemccarron commented on #1789
Note: this is an h3, so I applied the h3  font-scale(3)
![2020-02-04_11-49-33](https://user-images.githubusercontent.com/8514591/73771691-6cfba200-4744-11ea-840c-c3279af5db5b.png) cc @lwtchu

[2020-02-04 17:52] Stackblocks commented on #1695
Discussed with Larissa, the specific issue is that the figure number text is broken across two lines, not that the value is incorrect. This is similar to the figures in EoC breaking across multiple lines which was discussed in scrum, may need a broader investigation.

[2020-02-04 17:57] helenemccarron commented on #1791
@lwtchu does this apply to all books?

[2020-02-04 18:42] openstaxalina commented on #1781
@yblock could you migrate some _College Success_ content to staging.cnx.org (it could be the same stuff on easyvm5 that has index tags), apply the College Success recipe on staging, and be sure you see the Index?

[2020-02-04 19:30] yblock commented on #1781
Confirmed Index, terms, and no-emphasis terms are all working in web and PDF!

https://staging.cnx.org/contents/2Uz_ZeWp@1.2:2vf12GJk@1.2/Index

[2020-02-04 19:36] openstaxalina commented on #1781
thank yuo @yblock !  I am closing this

[2020-02-04 19:36] #1781 closed

[2020-02-04 20:10] lwtchu commented on #1743
![Screen Shot 2020-02-04 at 2 10 07 PM](https://user-images.githubusercontent.com/11299125/73782646-10a27d80-4758-11ea-9590-c4025a171d86.png)
Biology vs Concepts of Biology PDF

Concepts should function the same. They're not hard coded in the content and is automatically generated.

[2020-02-04 20:18] lwtchu commented on #1791
@helenemccarron i told u in person but just saw this comment - yes remove for all books. please reduce the spacing also (from 2 to 1 line height)

[2020-02-04 20:38] helenemccarron commented on #1791
![2020-02-04_14-35-59](https://user-images.githubusercontent.com/8514591/73784758-ac81b880-475b-11ea-9b71-497bab83322a.png)

The following needs to be removed from the specs, in the module title l.166:
[code]

[2020-02-04 20:53] helenemccarron opened #1858 "Add a data-uuid-key attribute to the composite chapters"
For the TOC and the system to work properly, composite chapters need a `data-uuid-key` attribute. The value can be generated from the container's title as long as containers have unique names.

[2020-02-04 21:06] lwtchu commented on #1791
@helenemccarron is it possible to remove the space to v-grid(2) after the learning objectives? the space after it looks too big now

[2020-02-04 22:05] helenemccarron opened #1860 "CLEAN UP: refactor titles to use only one component per header type"
We should have one component per header type (h1, h2, h3, h4, h5, h6), naming should reflect what type of header it is (not using subsubsubsub... title).

Components should be reused in other components each time we need a title component. Each book will have book specific colors, there might be a couple optional fields (borders for example).

[2020-02-04 22:37] helenemccarron commented on #1791
The update to the learning objectives requires a spec change l.223 remove
 `margin-bottom:v-grid(2),`

![2020-02-04_16-37-14](https://user-images.githubusercontent.com/8514591/73793755-9fb99080-476c-11ea-9d2f-724c8e8deb91.png)

[2020-02-04 22:38] helenemccarron commented on #1787
The h4 (subsub titles) in modules:
![2020-02-04_16-13-17](https://user-images.githubusercontent.com/8514591/73792119-4b60e180-4769-11ea-97f8-e82ffed2c0c7.png)

I also changed the bodyh4 and BodyH5 in the preface per specs (bold, no uppercase):
![2020-02-04_16-10-49](https://user-images.githubusercontent.com/8514591/73791958-eefdc200-4768-11ea-9dae-0ec68b862b55.png)

This changes also all occurrenc

[2020-02-04 22:50] openstaxalina commented on #1686
Verified on staging: https://staging.cnx.org/contents/2Uz_ZeWp@1.2:q4EcXeDe@1.2/Summary

[2020-02-04 22:52] helenemccarron commented on #1757
@MartaSztuka I had not merged the PR yet (was not expecting you to test today, sorry for the confusion), the code is now on dithering.dido

[2020-02-04 22:56] helenemccarron opened #1862 "CLEAN UP: create one reusable component for all lists spacing"
There should be one component to unify display of all lists instead of many named components.

This PR contains a lot of the work done on lists: https://github.com/openstax/cnx-recipes/pull/1697

[2020-02-04 23:32] helenemccarron commented on #1757
@MartaSztuka also please note that is a recipe change, so you will have to bake the collection for this to work.

[2020-02-05 14:57] ajluk commented on #1620
This Issue also concerns applying margins to ordered and unordered lists in the following books:
    Anatomy,
    Chemistry,
    Biology 2e,
    Biology for AP Courses,
    College Physics,
    High School Physics,

partly includes:

    University Physics,
    Microbiology

Elements that have added list styles:

    Preface,
    Module,
    EoC (Summary, Exercises),
    Answer Key,
    Appendices

[2020-02-05 16:38] lwtchu commented on #1476
@MartaSztuka based on this we should update the specs
https://github.com/openstax/cnx-recipes/issues/1793

the title `Answer` should be the following:
Style: IBM Plex Sans
Size: font-scale(1)
Weight: Bold
Uppercase: Off

[2020-02-05 18:14] helenemccarron commented on #1792
![2020-02-05_12-14-18](https://user-images.githubusercontent.com/8514591/73870094-0e502a00-4811-11ea-930f-4c2824b5d5b7.png)

[2020-02-05 19:17] lwtchu commented on #1848
@wilkus27 what are the specs for the solution header?

also is it possible to have the question stem go with the number

[2020-02-05 19:24] helenemccarron commented on #1841
![2020-02-05_13-21-31](https://user-images.githubusercontent.com/8514591/73875195-76573e00-481a-11ea-9e81-90c0f160f6a6.png)

The specs need to be modified: ChapterIntroFirstPara l.108, `display: inline` should be `float: left`
The IntroFirstPara l.109 can be removed altogether

[2020-02-05 21:47] lwtchu commented on #1698
![Screen Shot 2020-02-05 at 3 41 04 PM](https://user-images.githubusercontent.com/11299125/73885747-f044f280-482d-11ea-9e82-d3d1be6a3aae.png)
![Screen Shot 2020-02-05 at 3 42 02 PM](https://user-images.githubusercontent.com/11299125/73885827-12d70b80-482e-11ea-80f6-0ce9aeb5cc67.png)

College Physics Chapter 4 - footnote is at the end of the module. Superscript is also super big

![Screen Shot 2020

[2020-02-05 21:47] lwtchu commented on #1698
@brittweinstein i added the book labels for u

[2020-02-06 00:18] Stackblocks opened #1869 "CLEANUP: Expand table centering to remaining Carnival titles"
# What happened?

Due to printing time contraints, the fixes from https://github.com/openstax/cnx-recipes/pull/1463 were only extended to Biology, HS Physics, and College Physics. They will need to be applied to the following titles as part of a cleanup sweep:

- [x] AP Biology
- [x] Microbiology
- [x] University Physics

# Screenshots

## Before
<img width="932" alt="image" src="https://user-imag

[2020-02-06 08:52] wilkus27 commented on #1848
@lwtchu sorry for the delay but I merged my PR at the end of my work so I had no time to prepare description for Theme Design Specs.

[2020-02-06 09:21] wilkus27 commented on #1848
## Changes to provide to Theme Design Spec

**New shape**: `ExerciseShape`

_Component:_ `Container`
_Properties:_ `empty`

![image](https://user-images.githubusercontent.com/40228854/73922645-cd681c00-48c9-11ea-8b82-de17c0872a62.png)

_Component:_ `ProblemWrapper`
_Properties:_
[code]
![image](https://user-images.githubusercontent.com/40228854/73922706-e40e7300-48c9-11ea-938e-daf73c837723.png)

_

[2020-02-06 09:52] wilkus27 commented on #1854
## Changes to provide to Theme Design Specs

**New shape:** `SectionKeyTermsShape`

_Component:_ `Container`
_Properties:_ `empty`

![image](https://user-images.githubusercontent.com/40228854/73925546-83ce0000-48ce-11ea-91b6-71495e932911.png)

_Component:_ `TableBody`
_Properties:_ `empty`

![image](https://user-images.githubusercontent.com/40228854/73925593-96e0d000-48ce-11ea-9ad7-7de73521dc1a.pn

[2020-02-06 09:54] wilkus27 commented on #1854
NOTE per Alan:

[2020-02-06 11:26] wilkus27 commented on #1839
## Changes to provide to Theme Design Specs

**New shape:** `BoxCondensedNoteShape`

_Component:_ `CondensedContainer`
_Properties:_
[code]
![image](https://user-images.githubusercontent.com/40228854/73931973-97cb2f00-48d9-11ea-9673-0e87174aaad3.png)

_Component:_ `Title`
_Properties:_
[code]
![image](https://user-images.githubusercontent.com/40228854/73932011-ab769580-48d9-11ea-80ca-b5d766464e33.

[2020-02-06 13:12] wilkus27 commented on #1706
@lwtchu specs to provide to Theme Design Specs are in https://github.com/openstax/cnx-recipes/issues/1839

[2020-02-06 13:14] wilkus27 commented on #1705
@lwtchu specs to provide to Theme Design Specs you can find in https://github.com/openstax/cnx-recipes/issues/1839

[2020-02-06 13:22] wilkus27 commented on #1696
**Note**: can be closed if issues:
- https://github.com/openstax/cnx-recipes/issues/1839
- https://github.com/openstax/cnx-recipes/issues/1848
- https://github.com/openstax/cnx-recipes/issues/1854
- https://github.com/openstax/cnx-recipes/issues/1833
pass the tests.

[2020-02-06 13:39] wilkus27 opened #1870 "CLEAN UP: create separate files for exercises from entire book"
All exercises components and shapes should be created in separate files dedicated for Exercises.

We need to find one common solution for work from PRs: https://github.com/openstax/cnx-recipes/pull/1750/files and https://github.com/openstax/cnx-recipes/pull/1851/files

[2020-02-06 13:39] MartaSztuka commented on #1757
Tested
![Screenshot from 2020-02-06 14-38-23](https://user-images.githubusercontent.com/47241114/73941923-67da5680-48ee-11ea-8405-929fe4192539.png)

[2020-02-06 13:39] #1757 closed

[2020-02-06 14:04] MartaSztuka commented on #1793
**The Title Answer:**
Style: IBM Plex Sans
Size: font-scale(1)
Weight: Bold
Uppercase: Off

[2020-02-06 18:24] lwtchu commented on #1848
beautiful thank you natalia ~

[2020-02-06 18:38] openstaxalina commented on #1694
Symmetry would flag these issues if they appeared in any of the three books we're delivering to print.  So we can move this to f.f where we will likely put other Symmetry issues.

[2020-02-06 18:42] openstaxalina opened #1875 "[alina answer question] Include attribution information for our content in the baking process"
@kjdav commented on [Mon Aug 19 2019](https://github.com/openstax/content-managers/issues/1046)

As OpenStax, we'd like attribution information for our content (including title, numbering, link to original content, plus attribution wording) to be available directly in the content, so it can be printed, show up in output formats, and come out in screen scrapes (copy/paste/etc).

# Acceptance/Wish l

[2020-02-06 19:07] helenemccarron commented on #943
From a font-size perspective, this can be closed. From a design and specs perspective, I know there were some questions about the TOC but that's in a different issue, I believe.

[2020-02-06 19:07] Stackblocks commented on #1801
This is also occurring in tables (https://github.com/openstax/cnx-recipes/issues/1695), so it is likely an issue with the captioning component which needs further investigation.

[2020-02-06 19:10] #943 closed

[2020-02-06 19:10] openstaxalina commented on #943
Yep we have https://app.zenhub.com/workspaces/textbook-developers-5cdc84baee941c07853fbbf2/issues/openstax/cnx-recipes/1782

So I'm closing this!

[2020-02-06 19:10] Stackblocks commented on #1695
Hooking the caption component investigation into #1801 and closing this issue since the table styling work is separate/done.

[2020-02-06 19:10] #1695 closed

[2020-02-06 19:23] brittweinstein commented on #688
Closing b/c this is super duper old.

[2020-02-06 19:23] #688 closed

[2020-02-06 19:25] #1160 closed

[2020-02-06 19:27] #1042 closed

[2020-02-06 19:27] brittweinstein commented on #1042
Closing for now -- we can reopen when we prioritize Python 3

[2020-02-06 19:30] brittweinstein commented on #998
This is a duplicate of many similar issues.

[2020-02-06 19:30] #998 closed

[2020-02-06 19:30] brittweinstein commented on #955
@openstaxalina I'd suggest closing this b/c these problems are resolved elsewhere -- is that OK?

[2020-02-06 19:32] openstaxalina opened #1876 "INVESTIGATION: After merge to master, Microbio and UPhysics fall back to a stale recipe"
# Scenario

After we merged baked styles work to master on 1/31 (at the end of critical.cher), Ryan rebaked a representative sample of Carnival theme books on staging.cnx.org to test for regressions in a REX instance that points to latest content on staging.cnx.org.
(Card for reference: https://github.com/openstax/content-managers/issues/1427)

While most of the books baked fine and are now being

[2020-02-06 19:39] openstaxalina commented on #955
@brittweinstein that is okay by me - closing.

[2020-02-06 19:39] #955 closed

[2020-02-06 19:42] #26 closed

[2020-02-06 19:46] #506 closed

[2020-02-06 19:48] #199 closed

[2020-02-06 19:50] brittweinstein commented on #1172
@openstaxalina can we close?

[2020-02-06 19:51] #1311 closed

[2020-02-06 19:53] brittweinstein commented on #1359
@MartaSztuka could you see if this is still occurring after all of the math fixes were done last month?

[2020-02-06 20:43] openstaxalina opened #1878 "Lock Eship Recipe"
# Scenario

We need to lock the recipes for the remaining titles, since these are soon to be in REX:

- [ ] Entrepreneurship

The steps to do this include:

1. for each group of books listed above, duplicate the [book title] with recipe entry in the dropdown.
2. retitle the new entry [book name] REX recipe
3. this new entry will not always get the latest recipe, the way the original entries do. in

[2020-02-06 20:51] openstaxalina commented on #1172
@brittweinstein yep - closing!

[2020-02-06 20:51] #1172 closed

[2020-02-06 20:54] lwtchu commented on #1797
@Stackblocks is there anything for the spreadsheet to update?

[2020-02-06 21:52] helenemccarron commented on #1842
A new spec needs to be added:
`ParagraphTitle` with the value `margin-right: h-grid(1),` in the module section (somewhere around l. 182).
![2020-02-06_15-51-53](https://user-images.githubusercontent.com/8514591/73981793-a83ed200-48f8-11ea-9b6f-d8fdc70d2de5.png)

[2020-02-06 22:26] helenemccarron commented on #1784
@lwtchu to answer your question re: "the chapter number/section number be the only bold thing?" the answer is no. Markup is very limited in the folio.
Also we will have to add non-breakable spaces for the padding to be increased (again, limited options for markup = limited styling).

[2020-02-07 09:32] MartaSztuka commented on #1833
tested
![Screenshot from 2020-02-07 10-24-21](https://user-images.githubusercontent.com/47241114/74017483-9d397f80-4994-11ea-9549-dfe418465ff7.png)
![Screenshot from 2020-02-07 10-23-53](https://user-images.githubusercontent.com/47241114/74017486-9e6aac80-4994-11ea-8df5-2d0599e07029.png)
![Screenshot from 2020-02-07 10-23-37](https://user-images.githubusercontent.com/47241114/74017487-9e6aac80-499

[2020-02-07 09:32] #1833 closed

[2020-02-07 09:40] MartaSztuka opened #1880 "EoC list overleap"
Letters and numbers overlap. Found only in those two places.
![Screenshot from 2020-02-07 10-36-19](https://user-images.githubusercontent.com/47241114/74018273-e8a05d80-4995-11ea-8b3e-a47ce926c175.png)
![Screenshot from 2020-02-07 10-34-57](https://user-images.githubusercontent.com/47241114/74018274-e938f400-4995-11ea-99b4-19741394a743.png)
![Screenshot from 2020-02-07 10-34-09](https://user-image

[2020-02-07 10:33] MartaSztuka commented on #1359
Equations look way better now.
Chemistry 2e
![Screenshot from 2020-02-07 11-11-51](https://user-images.githubusercontent.com/47241114/74021012-0cb26d80-499b-11ea-92dd-df370fdfd33e.png)
![Screenshot from 2020-02-07 11-11-14](https://user-images.githubusercontent.com/47241114/74021015-0de39a80-499b-11ea-9134-755bb020aa34.png)
Chemistry af
![Screenshot from 2020-02-07 11-31-49](https://user-images.gi

[2020-02-07 10:49] MartaSztuka commented on #1853
Title is there, but it's double.
![Screenshot from 2020-02-07 11-41-21](https://user-images.githubusercontent.com/47241114/74023362-c90e3280-499f-11ea-8357-c6a2d0b19833.png)

[2020-02-07 12:29] MartaSztuka commented on #1853
tested
![Screenshot from 2020-02-07 13-28-49](https://user-images.githubusercontent.com/47241114/74029831-de8a5900-49ad-11ea-8b0a-4a81cc5e57d5.png)

[2020-02-07 12:29] #1853 closed

[2020-02-07 13:06] MartaSztuka commented on #667
tested
![Screenshot from 2020-02-07 13-52-01](https://user-images.githubusercontent.com/47241114/74031153-0dee9500-49b1-11ea-90a3-77e600cfbcea.png)

[2020-02-07 13:06] #667 closed

[2020-02-07 13:33] ajluk commented on #1840
Change in TDS:
In **BoxedNotes** change in Container component the below property value (l.260):
**Container**
margin-bottom: v-grid(2),

[2020-02-07 15:04] ajluk commented on #1723
Changes in TDS:
In Figure Shapes:
FigureContainer
added new properties:
display: flex,
justify-content: center,
align-items: center,
flex-direction: column,

[2020-02-07 15:07] ajluk commented on #1786
Changes in TDS:
Figures
in component **FigureContainer**
change **font-size: font-scale(0)**, (was set to 1 previously)

[2020-02-07 15:07] MartaSztuka commented on #1620
Tested
![Screenshot from 2020-02-07 16-02-12](https://user-images.githubusercontent.com/47241114/74040333-cd4c4700-49c3-11ea-8c4a-97721830b4f2.png)
![Screenshot from 2020-02-07 15-58-58](https://user-images.githubusercontent.com/47241114/74040335-cde4dd80-49c3-11ea-9722-6950aaf22b94.png)
![Screenshot from 2020-02-07 15-57-25](https://user-images.githubusercontent.com/47241114/74040337-cf160a80-49c

[2020-02-07 15:07] #1620 closed

[2020-02-07 16:37] Stackblocks commented on #1811
@brittweinstein since this pertains to AP Bio and is not part of the current print push, can it be backlogged / slid out of d.d. so we can make sure we have a clear picture of remaining table-related print work to wrap before e.e.?

[2020-02-07 16:40] openstaxalina commented on #1811
fine by me @brittweinstein - I'll move this but please let us know if we overlooked something

[2020-02-07 17:01] oscryan opened #1882 "Math font regressions"
# Scenario
HS Physics baked pdf does not italicize `mi` tags, does not include some characters. Markup is correct, but no `mi` tags are rendering as italicized, and some operators including approximately-equal-to are replaced with question marks.

# Acceptance Criteria (required)

# Steps to Reproduce (required)
* **How many times were you able to reproduce the issue?**
* **Images or Screenshots I

[2020-02-07 17:11] oscryan opened #1883 "HS Physics tutor exercise import regression"
# Scenario
HS Physics is not importing Tutor exercises correctly. Sometimes the LaTeX math does not render, and the multiple-choice answers are left blank.

# Acceptance Criteria (required)

# Steps to Reproduce (required)
* **How many times were you able to reproduce the issue?**
* **Images or Screenshots Included:** [x] Yes  [ ] No  (_attach below_)
For example, from https://legacy-content04.cnx

[2020-02-07 17:25] oscryan opened #1884 "HS Physics glossary duplicating"
# Scenario
Terms from module https://legacy-content04.cnx.org/content/m10111/latest are duplicating in the collating key terms section of chapter 23. They are not duplicated in the markup.

# Acceptance Criteria (required)

# Steps to Reproduce (required)
* **How many times were you able to reproduce the issue?**
* **Images or Screenshots Included:** [x] Yes  [ ] No  (_attach below_)
<img width="5

[2020-02-07 17:29] oscryan opened #1885 "HS Physics collating element with no content still shows header"
# Scenario
When a chapter has no content tagged to a collating element, for example the Problems section, the header for it still shows up in the collated material for that chapter.

# Acceptance Criteria (required)

# Steps to Reproduce (required)
* **How many times were you able to reproduce the issue?**
* **Images or Screenshots Included:** [x] Yes  [ ] No  (_attach below_)
<img width="256" alt

[2020-02-07 19:05] helenemccarron commented on #1784
@lwtchu I lied, I can use h-grid. Here's the result with h-grid(5) and lo and behold! It lines up perfectly with the content. Does this work?

![2020-02-07_13-01-52](https://user-images.githubusercontent.com/8514591/74057846-640c0a00-49aa-11ea-8334-59c148057373.png)
![2020-02-07_13-04-18](https://user-images.githubusercontent.com/8514591/74057914-82720580-49aa-11ea-80fe-78c62518f951.png)

[2020-02-07 21:19] lwtchu commented on #1784
nice! is this the space between the page number and the chapter number?

[2020-02-07 22:08] openstaxalina commented on #1847
Approved by Anthony - getting final approval from David/Beth/Daniel on Monday at Ops.

[2020-02-10 08:37] ajluk commented on #1785
Already resolved:
![image](https://user-images.githubusercontent.com/55203598/74133431-d8cc8780-4be8-11ea-82d1-a1ff97d15b05.png)

[2020-02-10 09:24] #1785 closed

[2020-02-10 10:06] MartaSztuka commented on #1716
tested
![Screenshot from 2020-02-10 10-58-26](https://user-images.githubusercontent.com/47241114/74139825-5053e400-4bf4-11ea-9ce4-d4842e075989.png)
![Screenshot from 2020-02-10 11-01-24](https://user-images.githubusercontent.com/47241114/74140078-b5a7d500-4bf4-11ea-97c5-d0d6fa45c6ed.png)
![Screenshot from 2020-02-10 11-06-17](https://user-images.githubusercontent.com/47241114/74140460-644c1580-4bf

[2020-02-10 10:06] #1716 closed

[2020-02-10 10:38] MartaSztuka commented on #1839
tested
![Screenshot from 2020-02-10 11-30-44](https://user-images.githubusercontent.com/47241114/74142268-d3773900-4bf8-11ea-9879-02a36db10781.png)
![Screenshot from 2020-02-10 11-31-59](https://user-images.githubusercontent.com/47241114/74142364-ff92ba00-4bf8-11ea-8edc-f27dc0e829e6.png)
![Screenshot from 2020-02-10 11-31-30](https://user-images.githubusercontent.com/47241114/74142366-002b5080-4bf

[2020-02-10 10:38] #1839 closed

[2020-02-10 11:11] MartaSztuka commented on #1848
tested
![Screenshot from 2020-02-10 12-10-43](https://user-images.githubusercontent.com/47241114/74145145-69619280-4bfe-11ea-9f47-f4ec59d7b38b.png)

[2020-02-10 11:11] #1848 closed

[2020-02-10 12:50] ajluk commented on #1790
This was resolved within this PR: https://github.com/openstax/cnx-recipes/pull/1856

[2020-02-10 13:00] MartaSztuka commented on #1706
tested
![Screenshot from 2020-02-10 14-00-12](https://user-images.githubusercontent.com/47241114/74152012-b26d1300-4c0d-11ea-8972-ab970a2ea0a9.png)
![Screenshot from 2020-02-10 13-59-58](https://user-images.githubusercontent.com/47241114/74152013-b305a980-4c0d-11ea-90fc-2f99e0b3e4a4.png)

[2020-02-10 13:00] #1706 closed

[2020-02-10 13:09] MartaSztuka commented on #1841
tested
![Screenshot from 2020-02-10 14-09-15](https://user-images.githubusercontent.com/47241114/74152613-f876a680-4c0e-11ea-86e8-82d0429f90e0.png)
![Screenshot from 2020-02-10 14-08-48](https://user-images.githubusercontent.com/47241114/74152616-f9a7d380-4c0e-11ea-9512-5cded7b28afd.png)

[2020-02-10 13:09] #1841 closed

[2020-02-10 13:16] MartaSztuka commented on #1786
tested
![Screenshot from 2020-02-10 14-15-08](https://user-images.githubusercontent.com/47241114/74152977-c74aa600-4c0f-11ea-8cc3-c7ccad47f068.png)

[2020-02-10 13:16] #1786 closed

[2020-02-10 13:47] MartaSztuka commented on #1723
tested
![Screenshot from 2020-02-10 14-28-58](https://user-images.githubusercontent.com/47241114/74154026-18f43000-4c12-11ea-9682-68e0ccc9fc02.png)
![Screenshot from 2020-02-10 14-47-04](https://user-images.githubusercontent.com/47241114/74155120-40e49300-4c14-11ea-9f2b-cd93f2729e7d.png)

[2020-02-10 13:47] #1723 closed

[2020-02-10 13:53] MartaSztuka commented on #1787
tested
![Screenshot from 2020-02-10 14-52-40](https://user-images.githubusercontent.com/47241114/74155513-029ba380-4c15-11ea-9c5e-bb6a1d7562c1.png)

[2020-02-10 13:53] #1787 closed

[2020-02-10 13:57] MartaSztuka commented on #1854
tested
![Screenshot from 2020-02-10 14-55-54](https://user-images.githubusercontent.com/47241114/74155885-953c4280-4c15-11ea-8717-73ea2143bdc6.png)

[2020-02-10 13:59] MartaSztuka commented on #1797
tetsed
![Screenshot from 2020-02-10 14-59-05](https://user-images.githubusercontent.com/47241114/74156079-eba98100-4c15-11ea-8e70-e9d87fd72e35.png)

[2020-02-10 13:59] #1797 closed

[2020-02-10 14:22] #1696 closed

[2020-02-10 14:22] MartaSztuka commented on #1696
Listed issues passed the test.

[2020-02-10 14:42] MartaSztuka commented on #1705
tested
![Screenshot from 2020-02-10 15-36-18](https://user-images.githubusercontent.com/47241114/74159365-f404ba80-4c1b-11ea-8201-c150fd031d18.png)

[2020-02-10 14:42] #1705 closed

[2020-02-10 15:10] MartaSztuka commented on #1840
tested
![Screenshot from 2020-02-10 16-10-12](https://user-images.githubusercontent.com/47241114/74161813-de918f80-4c1f-11ea-9e87-0a5d3d97294e.png)

[2020-02-10 15:10] #1840 closed

[2020-02-10 15:52] brittweinstein commented on #1878
Decision: Alina will inform Kim that we will not lock the recipes yet for Dev Math and Psych 2e. Alina will modify this card to reflect that we will do this for E-ship.

[2020-02-10 16:28] lwtchu commented on #1788
![image](https://user-images.githubusercontent.com/11299125/74168732-c570ea80-4bef-11ea-9b62-2bb8daec27dd.png)

Based on conversation with UX/Alina/Larissa - can we change this to a standard hanging indent? (h-grid(2))?

*You can google image search "hanging indent" if you are not sure what it means

[2020-02-10 16:50] brittweinstein opened #1887 "Folio Work"

[2020-02-10 16:50] brittweinstein opened #1888 "Spring Cleaning!"
# What happened?

(_Briefly but clearly describe the issue_)

# Reproducibility Details

- **Does it also happen in an incognito window?**:
- **Does this happen in one place, a few places, or everywhere?**:

# Environment:

- **Book(s)**:
- **URL/Server**:
- **Location (page number, chapter/section)**:
- **Suggested nearby searchable text**:
- **Browser**:

# Screenshots

(_attach here (please cle

[2020-02-10 17:25] openstaxalina opened #1890 "WAITING TO RESOLVE ALL HIGH PRIO ISSUES: Enable All Release Flags"
# Scenario

Discussed in today's team meeting:
We will enable *all* remaining release flags (see: https://github.com/openstax/cnx-recipes/blob/master/RELEASE_FLAGS.md).

Content Managers will assist with a full-library regression test.

Alina/Larissa will review issues and prioritize any showstoppers.  (A fallback is to re-enable any flags we can't fix within the sprint.)

Other regressions will b

[2020-02-10 17:31] openstaxalina opened #1891 "Lock All Recipes Once Issues from Clean-up, Release Flags, Footnotes, Dependencies are Fixed"
# Update the Locked Version of the Following Recipes

As discussed with the team, we need to re-lock all recipes once we've tested and fixed all issues resulting from clean-up, release flags, footnotes, and dependency updates. This includes the following recipes:

- [x] Calculus Prod (with recipe) (Vols 1-3)
- [x] Precalculus Prod (with recipe)(also includes College Algebra + Algebra & Trigonometr

[2020-02-10 18:35] helenemccarron commented on #1784
This addresses all issues for the folio:
TOC: no page number

Preface, left and right
![2020-02-10_12-18-51](https://user-images.githubusercontent.com/8514591/74177906-3f10d480-4c00-11ea-9e47-0dd374954664.png)
![2020-02-10_12-19-03](https://user-images.githubusercontent.com/8514591/74177912-420bc500-4c00-11ea-9c2d-f373a1fe88c8.png)

chapter intro: no page number

modules, left and right
![2020-02-

[2020-02-10 19:24] helenemccarron commented on #1843
addressed in https://github.com/openstax/cnx-recipes/pull/1892

[2020-02-10 19:25] helenemccarron commented on #1812
Addressed in https://github.com/openstax/cnx-recipes/pull/1892

[2020-02-10 19:25] helenemccarron commented on #1813
Addressed in https://github.com/openstax/cnx-recipes/pull/1892

[2020-02-10 19:37] helenemccarron opened #1893 "CLEAN UP: folios"
- [ ]  Move the band folio rules from the books to to folio.scss and remove redundancies
- [ ] Figure out a way to use book specific colors for each book (might need to convert the flat scss to shapes)
- [ ] ~~Figure out a way to support books with folio-with-band and without (EOC, Appendix, EOB)~~
- [ ] Localization: Accommodate any Poland-specific needs for _Fizyka_ (change hard coded values to

[2020-02-10 19:53] lwtchu commented on #1826
Hi. Can you find me the places where this happens so we can fix this.

[2020-02-10 20:39] Stackblocks commented on #1826
This is the first one I found, I'll keep looking to see if I turn up others.

# 1
<p id="auto_m80194_fs-id1167066029986">Some physical quantities are more fundamental than others. In physics, there are seven fundamental physical quantities that are measured in base or physical fundamental units: length, mass, time, electric current temperature, amount of substance, and luminous intensity. Units fo

[2020-02-10 20:58] lwtchu commented on #1826
We'll just update the first table then. Alan doesn't believe we need the table to test. If you need it asap please let me know.

The others I think are okay as is.

[2020-02-10 20:58] #1826 closed

[2020-02-10 20:59] helenemccarron commented on #1783
![2020-02-10_14-59-32](https://user-images.githubusercontent.com/8514591/74189431-fc59f700-4c15-11ea-9b0b-8ae38792f3a8.png)

[2020-02-10 22:14] helenemccarron commented on #1882
@oscryan  I am not sure how the PDF was generated but after fetching HS phsyics, assembling it, mathifiying it and converting it into a PDF, here's what the same section looks like.

![2020-02-10_16-10-04](https://user-images.githubusercontent.com/8514591/74195140-3c25dc00-4c20-11ea-94f1-cf71dc544cab.png)

Are we sure that the PDF is mathified? It also looks likes styles are wonky on the first scr

[2020-02-10 22:16] oscryan commented on #1882
the pdf came from here:  https://drive.google.com/drive/u/0/folders/1CnqMc7U2t7SqgQtrHnOQH-9HraZVrro7

[2020-02-10 22:17] helenemccarron commented on #1882
For some reason, that link doesn't work.

[2020-02-10 22:52] lwtchu commented on #1882
@helenemccarron it's in the katalyst channel - natalia generated at 9:36 on february 6

[2020-02-10 22:54] helenemccarron commented on #1882
I don't think the book was mathified. I am trying to generate it as we speak but I am having issues with images. I'll keep you posted and provide the new PDF as soon as possible.

[2020-02-11 09:29] wilkus27 commented on #1854
@MartaSztuka I just want to make sure, are we ok with this efect? I mean, previously terms displayed right under the header Section Key Term, but after changes provided by Alan all tables are centered. Is it ok that this one also is at the center or it should be exception.

[2020-02-11 09:36] MartaSztuka commented on #1854
@wilkus27 According to specs it's correct, however we could make exception here and place it under header.

[2020-02-11 09:58] MartaSztuka commented on #1789
tested
![Screenshot from 2020-02-11 10-57-54](https://user-images.githubusercontent.com/47241114/74226733-624d8980-4cbd-11ea-85a4-19be5ae51046.png)

[2020-02-11 09:58] #1789 closed

[2020-02-11 10:39] MartaSztuka commented on #1842
tested
![Screenshot from 2020-02-11 11-39-19](https://user-images.githubusercontent.com/47241114/74229709-333a1680-4cc3-11ea-8616-1094fbc37b78.png)

[2020-02-11 10:39] #1842 closed

[2020-02-11 10:43] ajluk commented on #1788
No it looks like this:
![image](https://user-images.githubusercontent.com/55203598/74229942-acd20480-4cc3-11ea-9438-9275129f05b7.png)

[2020-02-11 13:36] ajluk commented on #1729
Changes in TDS:
New Component needs to be added in BasicTableShape under the TableDataList (l.194):
TableDataUnstyledList
properties:
list-style-type: none,

[2020-02-11 14:22] MartaSztuka commented on #1791
Line is still there.
![Screenshot from 2020-02-11 15-20-51](https://user-images.githubusercontent.com/47241114/74244767-385a8e00-4ce2-11ea-8588-76ba4ca42da7.png)

[2020-02-11 14:25] ajluk commented on #1635
New shape needs to be added to Chater Intro shapes: **FullWidthChapterIntro** under l.122
with components:

**SplashFigureWrapper**
properties:
   margin-bottom: 2rem,

**SplashFigure**
properties:
        position: relative,
        margin: 0,

**SplashFigureBg**
properties:
            content: "''",
            background-color: B2
            position: absolute,
            height: 100%,

[2020-02-11 14:34] MartaSztuka commented on #1792
tested
![Screenshot from 2020-02-11 15-27-45](https://user-images.githubusercontent.com/47241114/74245370-2decc400-4ce3-11ea-967c-8f4e7fbc581e.png)
![Screenshot from 2020-02-11 15-27-25](https://user-images.githubusercontent.com/47241114/74245372-2f1df100-4ce3-11ea-95f6-206882d0fc28.png)

[2020-02-11 14:34] #1792 closed

[2020-02-11 16:05] lwtchu commented on #1854
I think Marta makes a good suggestion - @wilkus27 can we target the section class to left align it?

[2020-02-11 16:11] oscryan opened #1896 "Image rendering problem in HS Phys"
# Scenario
width of this image is 4.88888 inches at 150ppi. It should not be rendering so large. This is occurring all over the book.

# Acceptance Criteria (required)

# Steps to Reproduce (required)
* **How many times were you able to reproduce the issue?**
* **Images or Screenshots Included:** [x] Yes  [ ] No  (_attach below_)
<img width="600" alt="Screen Shot 2020-02-11 at 9 45 53 AM" src="htt

[2020-02-11 16:21] wilkus27 commented on #1854
@lwtchu Yes it is possible to done. We can try to overwrite settings from tables files in files related with section key terms or to add exception in tables settings to not apply them to tables with `section-key-terms` class .

[2020-02-11 17:43] yblock opened #1898 "Spacing after list items"
# What happened?

The list item's content it butted up against the previous list item's content which looks a bit confusing.

# Reproducibility Details

- **Does it also happen in an incognito window?**: yes
- **Does this happen in one place, a few places, or everywhere?**:

# Environment:

- **Book(s)**: College Success
- **URL/Server**: https://content03.cnx.org/contents/Tdb74rvE@4.1:OJRni0YJ@2/

[2020-02-11 21:44] lwtchu commented on #1359
<img width="789" alt="Screen Shot 2020-02-11 at 3 43 51 PM" src="https://user-images.githubusercontent.com/11299125/74282189-54136380-4ce5-11ea-90e8-2cd59f1c4b1c.png">

Just a question - is the 3rd answer (3. There is no change. A solid has an activity of 1) is not starting on a new line. Can that be fixed? I have a screenshot from teh current oer.exports pdf

[2020-02-11 22:02] helenemccarron commented on #1331
@wilkus27 Here is a screenshot inspecting the PDF elements and stretching them crudely to give you an idea of what we are trying to do. I hope this helps.
![2020-02-11_15-58-48](https://user-images.githubusercontent.com/8514591/74283704-f7fe0e80-4ce7-11ea-9464-d555929b3a8b.png)

[2020-02-11 22:43] lwtchu commented on #1896
i'M STUPid and these images are stupid we need to re-export these or point them to the other image in the same module because these are super incorrect

[2020-02-11 22:43] #1896 closed

[2020-02-11 22:54] lwtchu commented on #1896
more context. there's two images. that look exactly the same. one is correct 150dpi/4.8inches adn the other is not correct 72dpi/10inches

[2020-02-11 23:00] openstaxalina opened #1900 "Update books.txt for Entrepreneurship"
# Scenario

Entrepreneurship has been released, and content01.cnx.org (where it was produced) has been wiped (cleared of data).  So we need to update books.txt to point to cnx.org, where the book now lives.

# Acceptance Criteria (required)
Change
`entrepreneurship           entrepreneurship                   55531492-8844-471a-a980-47a5a3ee7af8   col10082   content01.cnx.org     mixins/`

to

`en

[2020-02-12 15:17] brittweinstein commented on #1359
@MartaSztuka would you be able to take a look and see if Larissa's comment above is still occurring?

[2020-02-12 15:25] wilkus27 opened #1901 "hs physics: fix Introduction page"
Because of inconsistant markup Introduction page in Hs Physics wasn't styled in all chapters. After content fix some changes in recipes and styles are needed.

[2020-02-12 15:50] MartaSztuka commented on #1635
tested
![Screenshot from 2020-02-12 16-48-32](https://user-images.githubusercontent.com/47241114/74351636-af158b00-4db7-11ea-8577-bb266ab021a1.png)

[2020-02-12 15:50] #1635 closed

[2020-02-12 16:04] MartaSztuka commented on #1729
tested
![Screenshot from 2020-02-12 17-03-50](https://user-images.githubusercontent.com/47241114/74353063-ae7df400-4db9-11ea-83f9-bc0578ccb29f.png)

[2020-02-12 16:04] #1729 closed

[2020-02-12 16:19] MartaSztuka commented on #1359
@brittweinstein Yes it does.
![Screenshot from 2020-02-12 17-18-16](https://user-images.githubusercontent.com/47241114/74354494-bccd0f80-4dbb-11ea-855a-a4ff561f7560.png)

[2020-02-12 16:23] helenemccarron commented on #1883
@oscryan  can you please take a look at the update PDF I sent you, I am not seeing the problem locally. If you find any other locations, please include them and I'll take a look.

![2020-02-12_10-22-43](https://user-images.githubusercontent.com/8514591/74354920-b02bc580-4d81-11ea-9f6b-d54d5a64132e.png)

[2020-02-12 17:23] oscryan commented on #1883
yes it's fine now

[2020-02-12 17:46] Stackblocks commented on #1728
Resolved with https://github.com/openstax/cnx-recipes/issues/1797, same as https://github.com/openstax/cnx-recipes/issues/1721

[2020-02-12 17:46] #1728 closed

[2020-02-12 18:08] ajluk commented on #1790
Changes in TDS are already updated but I have written it just to document.
In Footnotes components:
Container
font-size: font-scale(0),

In FootnoteCall components:
DefaultFootnoteCall
font-size: font-scale(0),

[2020-02-12 20:30] helenemccarron commented on #1883
Should we close this? cc @openstaxalina and @lwtchu

[2020-02-12 20:31] openstaxalina commented on #1883
Closing!

[2020-02-12 20:31] #1883 closed

[2020-02-12 20:31] helenemccarron commented on #1882
@lwtchu and @openstaxalina should we close this?

[2020-02-12 20:33] openstaxalina commented on #1882
Yes, @oscryan confirmed that this was resolved on the newer, mathified PDF.  closing

[2020-02-12 20:33] #1882 closed

[2020-02-12 20:58] lwtchu opened #1904 "carnival theme: paragraph titles in examples and notes"
![image.png](https://images.zenhubusercontent.com/5b57310fb26dd832dfe45b43/58605bd1-46d1-4860-be99-cd9384cf128a)

Strategy and Solution for (a): Can we change the paragraph `<title>` in `<examples>` and `<notes>` to be font-scale(0) so it won't be the same size as the title of the note/example?

Currently it is font-scale(1). Please change to font-scale(0).

Impacts hs physics and college physics

[2020-02-12 21:08] lwtchu opened #1905 "carnival theme: example and worked example note icon size"
![image.png](https://images.zenhubusercontent.com/5b57310fb26dd832dfe45b43/9f36063d-e918-4ba9-8057-80ee04bba6c6)

![Screen Shot 2020-02-12 at 3.06.42 PM.png](https://images.zenhubusercontent.com/5b57310fb26dd832dfe45b43/cdb1df11-5b67-4dc1-927e-5509462080ef)

Since the words Worked Example and Example #.# are only on one line, can we reduce the size of the icon from h-grid(3) to h-grid(2)?

Current

[2020-02-12 21:23] lwtchu opened #1906 "hs physics: lists inside exercises"
This might already exist, list inside an `<exercise>` is not indented.

![image.png](https://images.zenhubusercontent.com/5b57310fb26dd832dfe45b43/ffdc9496-e187-4573-bc58-bb88826469d5)

the a. should start where the question stem starts. screenshot is from hs physics

I think this...is only in the exercises outside of the EOC

[2020-02-12 21:36] lwtchu commented on #1331
Might I add that, we can refrain from stretching the image, by simply _placing it_ off the page a little.

[2020-02-12 21:45] lwtchu opened #1907 "carnival theme: bulleted lists poppin out of EOC section margins"
![image.png](https://images.zenhubusercontent.com/5b57310fb26dd832dfe45b43/9cb0c240-b4f6-4fac-9a70-a83625de3260)

I feel like I have already opened a card, but i can't find it.

Those bullets should be within the margins and start where the other lines start. ... Screenshot is from HS Physics but I feel like I've seen it in other books.

[2020-02-12 21:47] lwtchu opened #1908 "hs physics: link to learning should be a condensed icon note"
![image.png](https://images.zenhubusercontent.com/5b57310fb26dd832dfe45b43/1e538c8c-77da-4e65-a2ac-c2f1457b1c03)

This should be the same specs as a condensed icon note and it is not. It's a bit large

[2020-02-12 22:19] openstaxalina commented on #1686
Verified on content03:
![Screen Shot 2020-02-12 at 4 19 34 PM](https://user-images.githubusercontent.com/7863733/74382700-7b386680-4db3-11ea-8c3d-255dbe817798.png)

[2020-02-12 22:20] openstaxalina commented on #1686
Verified on content03: ![Screen Shot 2020-02-12 at 4 20 13 PM](https://user-images.githubusercontent.com/7863733/74382745-90ad9080-4db3-11ea-9ada-38e0a15f67e8.png)

[2020-02-12 22:43] lwtchu opened #1909 "hs physics: extra space in exercises between question stem para and list"
![image.png](https://images.zenhubusercontent.com/5b57310fb26dd832dfe45b43/6a9fc6ab-690d-4464-878c-72dea7d37f2a)

Remove space between question stem and answer choices.

I think I've only seen this in hs physics.

[2020-02-12 22:45] lwtchu opened #1910 "hs physics: reduce space between eoc sections"
![image.png](https://images.zenhubusercontent.com/5b57310fb26dd832dfe45b43/c5e99620-f79c-4072-97a2-574603ce41cf)

Can we do like h-grid(2)? This seems excessive and only in the EOC between each sub section. And only in hs physics.

[2020-02-12 22:48] lwtchu commented on #1909
![image](https://user-images.githubusercontent.com/11299125/74384636-5514c580-4db7-11ea-9592-8ecedb9c0b19.png)

Might be related. The first one with the extra space is a regular `<exercise>` and the second one is pulled from exercises.openstax.org and thus has no extra space

[code]

[2020-02-12 23:19] lwtchu opened #1911 "hs physics: key equations left align"
![image.png](https://images.zenhubusercontent.com/5b57310fb26dd832dfe45b43/868ef12f-b04d-44d3-9cb7-5ed1a5132eca)

Can we have the key equations be left aligned so they're not floating in the middle? ONLY the key equation table.

[2020-02-13 09:22] MartaSztuka commented on #1730
tested
![Screenshot from 2020-02-13 09-53-34](https://user-images.githubusercontent.com/47241114/74417287-bf287b80-4e46-11ea-813c-7f0575ca0837.png)
![Screenshot from 2020-02-13 10-10-49](https://user-images.githubusercontent.com/47241114/74418757-2e06d400-4e49-11ea-9476-1a51ccd8de6a.png)
 In Anatomy didn't work.
![Screenshot from 2020-02-13 10-17-47](https://user-images.githubusercontent.com/47241

[2020-02-13 10:30] MartaSztuka commented on #1790
tested
![Screenshot from 2020-02-13 10-46-39](https://user-images.githubusercontent.com/47241114/74421978-272e9000-4e4e-11ea-8c84-59b039135272.png)
![Screenshot from 2020-02-13 11-26-15](https://user-images.githubusercontent.com/47241114/74425565-30baf680-4e54-11ea-8687-fedc0b373227.png)

[2020-02-13 10:30] #1790 closed

[2020-02-13 14:57] wilkus27 commented on #1908
@lwtchu I used information from this issue: https://github.com/openstax/cnx-recipes/issues/1696

![image](https://user-images.githubusercontent.com/40228854/74447196-4858a600-4e79-11ea-83cd-331f15a83787.png)

So that's why it is icon note.

[2020-02-13 15:46] lwtchu commented on #1908
oh just kidding. @wilkus27 i'll close this :joy: clearly i'm getting everything confused.

i apologize

[2020-02-13 15:46] #1908 closed

[2020-02-13 15:51] wilkus27 commented on #1908
Oh it's ok, nothing happend :relaxed:

[2020-02-13 16:06] brittweinstein commented on #1794
I'll move this to the Icebox for us to get to when we handle the other titles.

[2020-02-13 16:43] helenemccarron commented on #1904
@lwtchu which book is the screenshot taken from?

[2020-02-13 16:44] lwtchu commented on #1904
@helenemccarron HS physics

[2020-02-13 16:45] brittany-johnson commented on #861
[Link to page break specs](https://docs.google.com/spreadsheets/d/1vW0EHvn8fZgvTxZIm9xQXsqsnIDcolqwt5rWKtx4JEY/edit#gid=1804222758)

- Brought page break rules from oer.exports that were common in most or all books
- Tested these rules with the first 10 chapters of bio-2e, hs-physics, and physics
- Made adjustments and additions to page break styles based on findings
- Added page break rules to sp

[2020-02-13 17:34] helenemccarron commented on #1905
@lwtchu Does this apply to all Icon Notes? I would recommend we do not change the specs of the note types per specific note.

[2020-02-13 17:35] brittweinstein commented on #1782
@lwtchu is your suggestion that we add the text mentioned in my first comment?

[2020-02-13 17:36] brittweinstein commented on #1700
@ajluk is this issue still a blocker? Are we able to start this now?

[2020-02-13 17:37] openstaxalina commented on #1730
I'm sorry, I missed this card coming through.  We purposely suppressed the Answer Keys in the recipes because we could not achieve the same set of answers in the old PDFs and the recipes.

@ajluk could you please **undo this change** and close this card?  I apologize again for missing this.  cc @MartaSztuka

[2020-02-13 17:39] brittweinstein commented on #1847
@openstaxalina any update from the OPS parking lot?

[2020-02-13 18:39] brittweinstein commented on #1782
@lwtchu could you please provide a link to this content so @TomWoodward can review?

[2020-02-13 20:23] lwtchu commented on #1905
@helenemccarron good point.

@andymuddimer if you're ok with letting this one go i can close the card

[2020-02-13 20:29] openstaxalina commented on #1847
Yes, this is finalized now.

We will use the attribution:

`Access for free at openstax.org`

...for the footer language on every other page in all books in the library.

@lwtchu this does mean that, when we release a PDF in the baked styles, we need to change the language on the copyright page to use that phrase (currently it uses a long URL that is specific to the book on openstax.org).

[2020-02-13 21:16] helenemccarron opened #1916 "CLEAN UP: refactor titles for examples"
File: _notes-components.scss
`IconNoteParagraphTitleComponent` and `IconNoteFirstParagraphTitleComponent`

[2020-02-13 21:24] helenemccarron commented on #1904
@lwtchu in that particular example, this is not a paragraph title but a nested with headers. Because we don't support rewriting headers of notes inside of notes, they are h3, when the parent note title itself is an h4. We would need a fix to the recipes to change those to h5 to make them HTML compliant. Is that desirable?

[2020-02-13 21:27] andymuddimer commented on #1905
@lwtchu  I agree with @helenemccarron we do not want to introduce variations in the specs - close the card

[2020-02-13 21:31] helenemccarron commented on #1904
Also, I can change the para titles (there's a component for those, maybe we should park that tomorrow?)

[2020-02-13 21:31] #1905 closed

[2020-02-13 21:48] helenemccarron commented on #1910
@lwtchu do you mean it seems to be happening only in hs physics or reduce the padding only in hs physics?  Currently all EOC containers have a  `margin-bottom: v-grid(4),`

[2020-02-13 21:49] lwtchu commented on #1782
Recap from Kim: This will result in changing the url slug. Rex could write something to ignore the Chapter and Unit but then CE tech might have to do something also.

SOOOOOOOO with all that being said. Need to check with Anthony and Alina if it's worth stirring pots.

[2020-02-13 22:04] lwtchu commented on #1904
@helenemccarron let's park this :parking:

[2020-02-13 22:15] lwtchu commented on #1910
@helenemccarron i've only seen it in hs physics. but if we can do an over all change to `margin-bottom: v-grid(2)`?

i dont' mind if it impacts the other books

[2020-02-13 22:44] helenemccarron commented on #1910
You got it.

[2020-02-14 10:24] MartaSztuka commented on #1783
tested
![Screenshot from 2020-02-14 10-41-36](https://user-images.githubusercontent.com/47241114/74519751-9bcd0180-4f16-11ea-94bb-af35d53fa141.png)
![Screenshot from 2020-02-14 11-09-27](https://user-images.githubusercontent.com/47241114/74521951-907bd500-4f1a-11ea-9760-1b3a487d029b.png)
![Screenshot from 2020-02-14 11-23-46](https://user-images.githubusercontent.com/47241114/74522952-7d6a0480-4f1

[2020-02-14 10:24] #1783 closed

[2020-02-14 14:03] ajluk commented on #1907
This issue will be resolved in this PR: https://github.com/openstax/cnx-recipes/pull/1919

[2020-02-14 14:04] ajluk commented on #1906
This issue will be resolved in this PR: https://github.com/openstax/cnx-recipes/pull/1919

[2020-02-14 14:06] ajluk commented on #1909
This issue will be resolved in this PR: https://github.com/openstax/cnx-recipes/pull/1919

[2020-02-14 14:22] ajluk commented on #1788
Changes in TDS:
In **Key Term** shape components:
**TermDL** (l.564)
text-indent: h-grid(-2),
padding-left: h-grid(2), (margin-left should be replaced with this property)

**Term** (l.565)
padding-right: h-grid(1), (margin-left should be replaced with this property)

[2020-02-14 16:00] wilkus27 commented on #1627
@lwtchu I investigated this problem. Chapter outlines are cropped on the right side just in the situation when they skip to the second page of the chapter. And the reason why is that we have special settings only for the first page of the chapter:

![image](https://user-images.githubusercontent.com/40228854/74545908-f3d12b80-4f49-11ea-9f41-fbcf0326b958.png)

That is, for this page right margin is

[2020-02-14 16:06] lwtchu commented on #1627
@wilkus27 i'll wait for helene to advise for any technical fix.

the screenshot following (Chapter Outline stay on the first page, second page looks odd in comparison to the third page:) it not ideal. however, i wouldn't consider it the end of the world if we have to live with it.

[2020-02-14 16:09] openstaxalina commented on #1782
Discussed w/ Larissa:

We locked the recipes so that we would be able to make changes in the baked styles and allow REX to choose when to get the baked styles recipe updates (and be able to get content updates in the meantime, using the locked recipes).

Therefore, I am in favor of making this change for the baked styles.

[2020-02-14 16:27] lwtchu commented on #1904
This is only occuring in HS Physics. The content within the notes are very very gnarly. and disgusting. We'll have to take a look later but I will prioritize this as super super low and close the card and open something for the CM board.

[2020-02-14 16:27] #1904 closed

[2020-02-14 17:42] Stackblocks opened #1922 "CLEAN UP: Refactor Tables"
# What happened?

In the process of resolving #1827 it was determined that we should separate border settings from table construction to allow for finer control of borders in tables. This is too much to do as part of the "get these books published" push, but should be done as part of a clean-up cycle.

<img width="1374" alt="2020-02-14_11-42-10" src="https://user-images.githubusercontent.com/12678

[2020-02-14 17:44] Stackblocks commented on #1827
Resolved in PR #1921 with a temporary fix, but further work will need to be done. Created #1922 to track that work.

[2020-02-14 19:13] lwtchu commented on #1782
So the change would be

Add `Unit 1` and `Chapter 1` in the recipes so that they'll display in the ToC

[2020-02-17 11:11] MartaSztuka commented on #1812
tested. There is one blank page after appendix A.
![Screenshot from 2020-02-17 12-10-03](https://user-images.githubusercontent.com/47241114/74648695-7b06e500-517e-11ea-9a1d-04e9db66181d.png)
![Screenshot from 2020-02-17 12-06-05](https://user-images.githubusercontent.com/47241114/74648703-7e01d580-517e-11ea-8b5f-33a7fc1b6b42.png)

[2020-02-17 11:59] MartaSztuka commented on #1843
tested
![Screenshot from 2020-02-17 12-56-23](https://user-images.githubusercontent.com/47241114/74651911-32065f00-5185-11ea-908c-df893d34c7e6.png)

[2020-02-17 11:59] #1843 closed

[2020-02-17 12:14] MartaSztuka commented on #1788
tested
![Screenshot from 2020-02-17 13-12-17](https://user-images.githubusercontent.com/47241114/74652825-30d63180-5187-11ea-833e-395ec23430b8.png)
![Screenshot from 2020-02-17 13-02-11](https://user-images.githubusercontent.com/47241114/74652748-01bfc000-5187-11ea-9ae5-6e7690dad78e.png)

[2020-02-17 12:14] #1788 closed

[2020-02-17 12:19] MartaSztuka commented on #1813
tested
![Screenshot from 2020-02-17 13-18-29](https://user-images.githubusercontent.com/47241114/74653225-0638a880-5188-11ea-9138-207dc24a15a0.png)

[2020-02-17 12:19] #1813 closed

[2020-02-17 12:27] MartaSztuka commented on #1784
tested
![Screenshot from 2020-02-17 13-26-32](https://user-images.githubusercontent.com/47241114/74653779-2ae15000-5189-11ea-9a8f-2289aa6dea0d.png)
![Screenshot from 2020-02-17 13-25-54](https://user-images.githubusercontent.com/47241114/74653781-2b79e680-5189-11ea-94ca-9a692823a572.png)
![Screenshot from 2020-02-17 13-25-42](https://user-images.githubusercontent.com/47241114/74653782-2c127d00-518

[2020-02-17 12:27] #1784 closed

[2020-02-17 12:34] MartaSztuka commented on #1858
Baking on katalyst01 is unblocked![Screenshot from 2020-02-17 13-33-36.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/cf7fb88a-cd21-4657-9d1e-952d7f1a6217)

[2020-02-17 12:34] #1858 closed

[2020-02-17 15:23] ajluk commented on #1700
@brittweinstein I added the title label via recipe and created a content issue to remove the duplicated title label text in the subtitle: https://github.com/openstax/content-managers/issues/1451. There is an issue regarding University Physics blocked by it as well, but I guess we will work on this book later.

[2020-02-17 15:38] brittweinstein commented on #1812
@lwtchu this is the desired behaviour, right?

[2020-02-17 15:45] brittweinstein commented on #1483
Alina and Larissa will talk about if we should fix this and if so, a CM can migrate a couple of modules.

We should not do a content refresh b/c we will lose HS Phys.

[2020-02-17 15:46] brittweinstein commented on #1876
At a minimum, we need an investigation in DD. It is possible that the recipe is broken. It may be a lintr issue.

[2020-02-17 15:49] brittweinstein commented on #861
Please verify that as a result https://app.zenhub.com/workspaces/textbook-developers-5cdc84baee941c07853fbbf2/issues/openstax/cnx-recipes/1462 is no longer an issue.

[2020-02-17 15:58] brittweinstein commented on #1922
This was resolved with a short term fix. A longer term fix needs to be put into place.

[2020-02-17 16:12] openstaxalina commented on #1699
The Answer Key is suppressed by the recipe because we couldn't achieve the same set of answers in the recipe as in the oer.exports PDF.  We uploaded the Answer Key as an ancillary for this title on openstax.org.  It is okay that the baked styles PDF will not have the answer key - closing.

[2020-02-17 16:12] #1699 closed

[2020-02-17 16:13] openstaxalina commented on #1699
(Info on which titles won't have answer key in baked styles PDF here:https://docs.google.com/spreadsheets/d/1mxjUDohm0sSHnSFi76e_8MpInUPl9r5bpVDpLxJhG1A/edit#gid=0)

[2020-02-17 16:20] brittweinstein commented on #1747
@ajluk I'm going to move this to the backlog since Phys isn't high prio rn

[2020-02-17 16:40] openstaxalina commented on #1812
I can answer this one -- yes, they should start on right-hand pages.  Should this be closed now?  cc @brittweinstein @lwtchu

[2020-02-17 19:41] lwtchu commented on #1812
Closing cause it's DESIRED

[2020-02-17 19:41] #1812 closed

[2020-02-17 21:07] brittweinstein commented on #1878
@omehes this should be ready to test now

[2020-02-18 09:35] wilkus27 commented on #1627
@lwtchu @helenemccarron about Chapter Outlines cut at the bottom, e.g:

![image](https://user-images.githubusercontent.com/40228854/74722214-d5647c00-5238-11ea-9255-b2f548da049d.png)

problem is related with property `position: absolute` for this element. Introduction text with chapter outline jump to the second page if splash image is big or if there is a lot of text in introduction. Because Chap

[2020-02-18 10:09] wilkus27 commented on #1646
There is no developer work needed. @MartaSztuka here is the description of flag from this issue: https://docs.google.com/document/d/1ziR2PcSvioOLAHSRNWZga3m-8DlUM_qaskIjpWtoS60/edit#heading=h.5jk0jrv0qm5k which should be tested. Please contact with @Stackblocks and ask about discrepancies between old and the newest version which you posted above.

[2020-02-18 10:39] ajluk commented on #1809
The content on katalyst01.org hasn't changed:
![image](https://user-images.githubusercontent.com/55203598/74728585-5294ee80-5243-11ea-86c7-5a8c6fabd07a.png)

[2020-02-18 12:31] wilkus27 commented on #1884
It's a content issue. There are two the same modules in chapter 23:

![image](https://user-images.githubusercontent.com/40228854/74736263-a0652300-5252-11ea-8a92-029188e2bfab.png)

So terms in the text are doubled:

![image](https://user-images.githubusercontent.com/40228854/74736341-cab6e080-5252-11ea-8e98-e1af3789abf2.png)

![image](https://user-images.githubusercontent.com/40228854/74736384-e32

[2020-02-18 13:16] wilkus27 commented on #1331
FINAL DECISION: use streched image

[2020-02-18 13:24] MartaSztuka commented on #861
@brittweinstein It's still an issue.
![Screenshot from 2020-02-18 14-23-32](https://user-images.githubusercontent.com/47241114/74739996-4d8f6980-525a-11ea-9b81-c8b981322b7e.png)

[2020-02-18 13:30] wilkus27 commented on #1331
### Changes to provide to Theme Design Specs

#### Shape: `ChapterIntroShape`

_Component:_ `Outline`
_Properties:_
[code]
_Component:_ `SplashImg`
_Properties:_
[code]
_Component:_ `SplashImgMedia`
_Properties:_
[code]
_Component:_ `SplashFigureBg`
_Properties:_
[code]
_Component:_ `SplashCaptionBg`
_Properties:_
[code]

#### Shape: `ChapterIntroWithObjectivesShape`

_Component:_ `SplashImg`
_Pro

[2020-02-18 13:55] wilkus27 commented on #1331
I think there is no settings in Theme Design Specs related with bands in EOC and in EOB. So I add here setting from Chemistry. In other books they are the same, except color, which is book specific.

### EOC left
 **left middle**
[code]
 **top-left-corner**
[code]
  **bottom-left-corner**
[code]
  **left-bottom**
[code]
  **left-top**
[code]

### EOC right
  **right-middle**
[code]
  **top-right-c

[2020-02-18 14:10] wilkus27 commented on #1722
## Changes to provide to Theme Design Specs

### Shape: `ModuleShape`

_New component:_ `TitleOverFigure`
_Properties:_
[code]
![image](https://user-images.githubusercontent.com/40228854/74743444-ae21a500-5260-11ea-8f55-2a5627b5d8ee.png)

(Note: it is set for h4 headers over the image)

[2020-02-18 14:38] brittany-johnson commented on #861
@brittweinstein @MartaSztuka This is expected behavior. I only looked at hs physics, physics, and bio 2e because they were the highest priority last sprint.

[2020-02-18 15:24] #1884 closed

[2020-02-18 15:36] brittweinstein commented on #1627
@wilkus27 Larissa says the horizontal spacing is fine between the outline and section title. We would like to add padding around the chapter outline box. @lwtchu will provide specs.

[2020-02-18 15:37] lwtchu commented on #1627
padding: v-grid(1)

[2020-02-18 15:44] #1887 closed

[2020-02-18 15:46] Stackblocks commented on #1646
The discrepancy between the version linked above and the "New Version" accessible via the banner on that page is that the "New Version" is an incomplete bake so it doesn't have a number of styling elements including Appendix labels, header styling, and collated EoC materials. It is non-representative of completed work.

[2020-02-18 16:11] MartaSztuka commented on #1646
appendix-top-title-copy flag doesn't concern those books, I'm closing the card.

[2020-02-18 16:11] #1646 closed

[2020-02-18 16:39] brittany-johnson commented on #1878
@omehes Testing instructions:

Collection ID : `col29104`
On the URL commands dashboard https://qualitas-server.herokuapp.com/dashboards/urlcommands
Click on `print parameters` and enter the collection ID
Verify-in the dropdown that Entrepreneurship and Entrepreneurship (Prod) both exist.

Thank you!

[2020-02-18 17:00] helenemccarron commented on #1910
![2020-02-18_10-59-51](https://user-images.githubusercontent.com/8514591/74759047-cf24ce80-523d-11ea-9a67-d5c4617e4d69.png)

[2020-02-18 17:18] omehes commented on #1878
verified. found both eship recipes

![eship_2.png](https://images.zenhubusercontent.com/5bc8d1f2fe40ab78d94e65fb/20bc6a56-f861-450f-bcd7-c31c85bc7ecb)

[2020-02-18 17:19] tomjw64 opened #1928 "Make a 'inspection' cli step in cnx-recipes"
In the interest of extending our metaphor until we can't anymore: We need to be able to inspect baked goods to see if they will pass the browser's "health codes".

We will check whether our xhtml-ish content will be reordered or modified in an undesirable way due to not being parse-able as html.

### Acceptance Criteria
- Inspection can be run with `docker-compose run --rm inspect [input/file/path

[2020-02-18 17:19] #1878 closed

[2020-02-18 17:26] lwtchu commented on #1809
i tested this with alan since the batch changes didnt take on katalyst01

![image.png](https://images.zenhubusercontent.com/5b57310fb26dd832dfe45b43/4db4e941-d3ae-4151-bd7f-7fb2c905025b)

the content change is in the ATP module - and it looks right. i'm going to close this since this is fixable with content.

[2020-02-18 17:26] #1809 closed

[2020-02-18 18:06] lwtchu commented on #1331
@wilkus27 i couldn't find ChapterIntroWithObjectivesShape on the theme doc - do you need me to add it?

[2020-02-18 20:09] theresamasciale opened #1929 "Enable "Top-Titled" class tag in Biology 2e & Concepts of Biology"
# What happened?

the Tag: `class="top-titled"` has been added to all tables in Bio2e and Concepts of Biology that have a title. The tag needs to be enabled in recipes.

# Environment:

- **Book(s)**: Biology 2e, Concepts of Biology
- **URL/Server**: Production
Bio2e: https://legacy.cnx.org/content/col24361/latest
Concepts of Bio: https://legacy.cnx.org/content/col11487/latest
 **Location (page nu

[2020-02-18 22:08] openstaxalina commented on #1483
We will migrate content for chs 1 and 3 to katalyst01 by feb 28 (in time for f.f. sprint)

[2020-02-18 22:10] openstaxalina commented on #1483
See: https://github.com/openstax/content-managers/issues/1456

[2020-02-19 11:47] MartaSztuka commented on #1901
@lwtchu   In chapter 9 it's still not fixed.
![Screenshot from 2020-02-19 12-16-34](https://user-images.githubusercontent.com/47241114/74831446-8b9d9380-5315-11ea-845a-28b4cfcea67b.png)
When headers for Section Key Terms will be on katalyst01? There are some missing.
![Screenshot from 2020-02-19 12-23-24](https://user-images.githubusercontent.com/47241114/74831391-70cb1f00-5315-11ea-9f0a-10d120553

[2020-02-19 12:08] MartaSztuka commented on #1910
tested![Screenshot from 2020-02-19 13-08-01.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/6e1064b7-ea1a-46b5-a954-d273af69fed9)

[2020-02-19 12:08] #1910 closed

[2020-02-19 12:10] ajluk commented on #1486
These changes has been made within different PR by Helene. It is how it looks now in Biology 2e:
![image](https://user-images.githubusercontent.com/55203598/74833132-2ba8ec00-5319-11ea-9d7c-6a33a72fa5bd.png)

[2020-02-19 13:07] MartaSztuka commented on #861
@brittweinstein
College Physics
![Screenshot from 2020-02-19 13-47-31](https://user-images.githubusercontent.com/47241114/74836867-8e51b600-5320-11ea-873a-f189c4c157df.png)
HS Physics
![Screenshot from 2020-02-19 13-24-59](https://user-images.githubusercontent.com/47241114/74834223-4d0ad780-531b-11ea-91b5-eea549fd7471.png)
Biology 2e
![Screenshot from 2020-02-19 14-05-35](https://user-images.githu

[2020-02-19 14:45] wilkus27 commented on #1331
Yes, please. This shape is used only in Anatomy.

### Shape: `ChapterIntroWithObjectivesShape`

_Component:_ `SplashFigureWrapper`
_Properties:_
[code]
_Component:_ `SplashFigure`
_Properties:_
[code]
_Component:_ `SplashFigureBg`
_Properties:_
[code]
_Component:_ `SplashImgMedia`
_Properties:_
[code]
_Component:_ `SplashImg`
_Properties:_
[code]
_Component:_ `SplashCaption`
_Properties:_
[code]
_

[2020-02-19 16:01] lwtchu commented on #1901
@MartaSztuka updated now

[2020-02-19 16:09] MartaSztuka commented on #1722
tested
![Screenshot from 2020-02-19 17-08-46](https://user-images.githubusercontent.com/47241114/74850713-93bbfa00-533a-11ea-98f8-66e4fff9cef2.png)

[2020-02-19 16:09] #1722 closed

[2020-02-19 16:15] lwtchu commented on #1331
Added. Thanks~

[2020-02-19 16:34] lwtchu opened #1932 "High school physics: some composite pages are still going to page 1 or has no page number"
# What happened?
![image](https://user-images.githubusercontent.com/11299125/74853216-3c4e6780-5303-11ea-95ac-ee4f7fba8e51.png)
As you can see here Chapter Review and Test Prep are still going to page 1 in the ToC.

# Reproducibility Details

This is in HS Physics.

[2020-02-19 16:35] lwtchu commented on #1932
@brittweinstein i put the top three priority book labels on this first. but i tihnk it's impacting all books?

[2020-02-19 16:39] openstaxalina commented on #1932
@lwtchu @brittweinstein I think that this is isolated to high school _Physics_.  Here are screenshots of the _College Physics_ and _Biology 2e_ PDFs generated Monday.  Are you observing this in PDFs generated more recently?

_College Physics_:
<img width="853" alt="Screen Shot 2020-02-19 at 10 37 52 AM" src="https://user-images.githubusercontent.com/7863733/74853761-fe057800-5303-11ea-9a67-bc81fc5

[2020-02-19 16:43] lwtchu commented on #1932
@openstaxalina bah you are correct i'm looking at old pdfs.

[2020-02-19 16:46] openstaxalina commented on #1932
@lwtchu thank you -- I am going to delete some comments above just to clean up the issue to reduce confusion.

[2020-02-19 16:49] ajluk commented on #1700
@MartaSztuka this issue need to be tested after fetching new content for College Physics.

[2020-02-19 17:13] ajluk commented on #1880
Changes in TDS:
New components need to be in EocCompChapExercises shape:
Problem_Container
        display: table-cell,
Problem_Paragraph
        margin-bottom: 0,
Exercise_Ordered_List
Exercise_Nested_Ordered_List
Exercise_Unordered_List
Exercise_Container_Ordered_List
Exercise_Figure
Exercise_Container_Unordered_List

[2020-02-19 17:55] lwtchu opened #1933 "Removing the line in condensed icon note page break"
# What happened?
When there is a page break within a condensed icon note this happens:

![image](https://user-images.githubusercontent.com/11299125/74856350-9b15e000-5307-11ea-8465-fb95fa05474c.png)
This is in HS Physics chapter 2.1 page 75.

<img width="872" alt="Screen Shot 2020-02-19 at 11 52 48 AM" src="https://user-images.githubusercontent.com/11299125/74860504-622d3980-530e-11ea-8886-d6e7a17

[2020-02-19 18:06] ajluk commented on #1880
@lwtchu This issue contains specs updates for all of these issues connected to PR I have merged as well:
carnival theme: bulleted lists poppin out of EOC section margins #1907
hs physics: lists inside exercises #1906
hs physics: extra space in exercises between question stem para and list #1909. When you update the TDS table you can assign those to @MartaSztuka as a ready for testing.

[2020-02-19 19:18] helenemccarron commented on #1791
@MartaSztuka what branch were you using, I tested it on earnest.einstein and I can see my changes:
![2020-02-19_13-17-38](https://user-images.githubusercontent.com/8514591/74867461-521b5700-531a-11ea-8548-e8bb266a076a.png)

[2020-02-19 19:46] helenemccarron commented on #1933
Spec update: add `box-decoration-break: slice,` l.299  and l.303 in the CondensedContainer

HS physics:
![2020-02-19_13-38-00](https://user-images.githubusercontent.com/8514591/74869341-6876e200-531d-11ea-872a-339d2b9bbd9d.png)

[2020-02-19 20:06] helenemccarron commented on #1933
(I know the images are missing, somehow they didn't get pulled)

[2020-02-20 07:33] MartaSztuka opened #1935 "HS Physics EoC sections page numbers in Contents"
Sections of EoC have page numer 1.
![Screenshot from 2020-02-20 08-31-58](https://user-images.githubusercontent.com/47241114/74910808-a4608480-53bb-11ea-995d-62a177125e88.png)

[2020-02-20 07:36] MartaSztuka commented on #1791
@helenemccarron I've tested it on previous branch 9 days ago, will do again on earnest.einstein

[2020-02-20 07:43] MartaSztuka commented on #1791
tested
![Screenshot from 2020-02-20 08-42-28](https://user-images.githubusercontent.com/47241114/74911470-f6ee7080-53bc-11ea-9bdd-16a84defa4ae.png)
![Screenshot from 2020-02-20 08-41-02](https://user-images.githubusercontent.com/47241114/74911472-f950ca80-53bc-11ea-8611-c532c00d9d9f.png)
![Screenshot from 2020-02-20 08-40-51](https://user-images.githubusercontent.com/47241114/74911475-f9e96100-53b

[2020-02-20 07:43] #1791 closed

[2020-02-20 07:48] MartaSztuka opened #1936 "Page break shouldn't divide Check your Understanding"
Single line of text goes on next page.
![Screenshot from 2020-02-20 08-44-55](https://user-images.githubusercontent.com/47241114/74911765-990e5880-53bd-11ea-9eb5-78369c9d936d.png)
![Screenshot from 2020-02-20 08-48-21](https://user-images.githubusercontent.com/47241114/74911832-c529d980-53bd-11ea-866a-db9f9a37d22f.png)

[2020-02-20 07:59] MartaSztuka commented on #861
College Physics p.43/44
![Screenshot from 2020-02-20 08-58-14.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/ac84a2d4-a11c-44ee-bbdf-e868ad303acf)

[2020-02-20 08:59] wilkus27 commented on #1935
Duplicate of https://github.com/openstax/cnx-recipes/issues/1932. Can be closed.

[2020-02-20 08:59] #1935 closed

[2020-02-20 10:18] wilkus27 commented on #1627
Ok, so this is the final version:

![image](https://user-images.githubusercontent.com/40228854/74923552-4474d880-53d1-11ea-920d-f2700c83c798.png)

After discusion on the slack I also changed font size to `font-scale(0)` and increased width of Chapter Outline box to `2in`, also added left margin and increased right padding.

I apply this to all books using `ChapterIntroShape`. Because at this momen

[2020-02-20 10:20] ajluk commented on #1936
It will be resolved within this PR: https://github.com/openstax/cnx-recipes/pull/1934. cc @helenemccarron

[2020-02-20 12:07] wilkus27 opened #1938 "Test Chapter Outline in all books"
Problems with Chapter Outline cut on the right side and at the bottom (like in issue https://github.com/openstax/cnx-recipes/issues/1627) appear in all books using `ChapterIntroShape`. Within issue 1627 Hs Physics and Biology 2e will be tested. After PR https://github.com/openstax/cnx-recipes/pull/1931 will be merged all other books should be verified and if in some modules Chapter Outline is stil

[2020-02-20 14:42] MartaSztuka commented on #1700
tested
![Screenshot from 2020-02-20 15-41-28](https://user-images.githubusercontent.com/47241114/74945163-89136a80-53f7-11ea-8b48-88ee56ad687b.png)

[2020-02-20 14:42] #1700 closed

[2020-02-20 14:42] wilkus27 commented on #1854
@lwtchu That's how it looks now:

![image](https://user-images.githubusercontent.com/40228854/74945030-4ea9cd80-53f7-11ea-83e8-e568a0ccfffc.png)

I removed also margins inherited from other table shapes, because there was a huge white space underneath:

![image](https://user-images.githubusercontent.com/40228854/74945133-7ac54e80-53f7-11ea-85d6-031f3f6eb5fb.png)

[2020-02-20 14:51] MartaSztuka commented on #1802
tetsted![Screenshot from 2020-02-20 15-48-55.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/802d5ce3-c216-4389-8408-245159d243fb)

[2020-02-20 14:51] #1802 closed

[2020-02-20 15:26] helenemccarron commented on #1933
Also fixes https://github.com/openstax/cnx-recipes/issues/1936 (which I think might be a duplicate of this)

[2020-02-20 15:50] lwtchu commented on #1854
looks great thank you @wilkus27

[2020-02-20 15:58] lwtchu commented on #1627
@wilkus27 are there any instances where it's egregiously large?

[2020-02-20 16:08] MartaSztuka commented on #1880
tested
![Screenshot from 2020-02-20 17-07-38](https://user-images.githubusercontent.com/47241114/74954522-89196780-5403-11ea-901b-de81fc5b85be.png)

[2020-02-20 16:08] #1880 closed

[2020-02-20 16:09] MartaSztuka commented on #1907
tetsed
![Screenshot from 2020-02-20 17-09-07](https://user-images.githubusercontent.com/47241114/74954658-bd8d2380-5403-11ea-824c-e2700f5b862a.png)

[2020-02-20 16:09] #1907 closed

[2020-02-20 16:29] MartaSztuka commented on #1486
tested
![Screenshot from 2020-02-20 17-28-59](https://user-images.githubusercontent.com/47241114/74956517-8704d800-5406-11ea-9e70-7d746dc4c8fe.png)
![Screenshot from 2020-02-20 17-28-01](https://user-images.githubusercontent.com/47241114/74956519-88360500-5406-11ea-82c2-395ae4cc15bb.png)

[2020-02-20 16:29] #1486 closed

[2020-02-20 16:32] MartaSztuka commented on #1827
tested
![Screenshot from 2020-02-20 17-31-21](https://user-images.githubusercontent.com/47241114/74956757-e19e3400-5406-11ea-892c-2e8949ee5581.png)

[2020-02-20 16:32] #1827 closed

[2020-02-20 16:34] MartaSztuka commented on #1901
tested![Screenshot from 2020-02-20 17-33-58.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/bd6fb14e-8dad-48ba-aa40-ad04396111ad)

[2020-02-20 16:34] #1901 closed

[2020-02-20 16:37] MartaSztuka commented on #1909
tested![Screenshot from 2020-02-20 17-37-29.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/981259b4-d490-47c2-a289-eae022765e11)

[2020-02-20 16:37] #1909 closed

[2020-02-20 17:24] MartaSztuka commented on #1906
tested![Screenshot from 2020-02-20 18-23-41.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/c77f787e-1dad-43f0-b7ed-de6e9ed48bcd)

[2020-02-20 17:24] #1906 closed

[2020-02-20 17:45] lwtchu commented on #1331
![Screen Shot 2020-02-20 at 11 43 19 AM](https://user-images.githubusercontent.com/11299125/74962810-40978500-53d6-11ea-9c10-9a606510f6a7.png)
![Screen Shot 2020-02-20 at 11 43 05 AM](https://user-images.githubusercontent.com/11299125/74962812-41301b80-53d6-11ea-95e7-236488bd4688.png)
![Screen Shot 2020-02-20 at 11 42 58 AM](https://user-images.githubusercontent.com/11299125/74962813-41301b80-53d6

[2020-02-20 17:45] #1331 closed

[2020-02-20 21:00] Stackblocks commented on #1900
Waiting for content refresh to staging.

[2020-02-21 08:52] wilkus27 commented on #1627
@lwtchu It's not tested yet, PR is in code review now. I checked quickly how huge chapters are in HS Physics and the biggest one has 5 modules, so in this book shouldn't be large Chapter Outlines.

[2020-02-21 11:58] ajluk commented on #1847
Changes in TDS:
This property needs to be added in every other page type (page left ) in **Folio** except **Chapter Intro** (maybe addtiional row can be added - page: left to every page type).
bottom-left
font-size: font-scale(-1),
font-family: "Muli";
color: #A5A5A5;
font-weight: 700;
content: "Access for free at openstax.org.";

[2020-02-21 13:55] wilkus27 commented on #1854
## Changes to provide to Theme Design Specs

### Shape: `SectionKeyTermsShape`

_Component:_ `Container`
_Properties:_
[code]
_New Component:_ `Table`
_Properties:_
[code]
_Component:_ `TableData`
_Changed Properties:_
[code]

[2020-02-21 16:15] #1222 closed

[2020-02-21 16:32] lwtchu commented on #1885
Content fix - chunks should have `problems`

[2020-02-21 16:56] Stackblocks commented on #1900
Associated PR #1927

[2020-02-21 17:06] lwtchu commented on #1885
correlating: https://app.zenhub.com/workspaces/content-management-5c86d8c40b66e07993f45cfa/issues/openstax/content-managers/1463

[2020-02-21 17:07] helenemccarron opened #1942 "CLEAN UP: refactor eoc components/shapes to be more reusable"
There are too many uniquely named components, could we consolidate those into fewer shapes and components.

[2020-02-21 19:56] theresamasciale opened #1943 "Enable "Top-titled" class in AP Bio"
# What happened?
the Tag: `class="top-titled"` has been added to all tables in AP Bio that have a title. The tag needs to be enabled in recipes.

# Environment:

- **Book(s)**: AP Biology
- **URL/Server**: Production: https://legacy.cnx.org/content/m62813/latest/
- **Browser**: Chrome

# Additional notes

I've migrated chapter 12 into Katalyst01: https://legacy-katalyst01.cnx.org/content/m62813/la

[2020-02-24 10:12] wilkus27 commented on #1741
It displays in this way because in Biology 2e such note is styled:

![image](https://user-images.githubusercontent.com/40228854/75143774-f4aa5000-56f5-11ea-9a7b-187984148cf1.png)

But in Concepts Biology note from this issue has `non majors` class:

![image](https://user-images.githubusercontent.com/40228854/75143893-36d39180-56f6-11ea-80f4-590bb578224f.png)

@lwtchu what should be done in this ca

[2020-02-24 10:20] MartaSztuka commented on #1933
Still occurs.
![Screenshot from 2020-02-24 11-19-46](https://user-images.githubusercontent.com/47241114/75144626-9c744d80-56f7-11ea-930e-069b74292e31.png)

[2020-02-24 10:28] wilkus27 opened #1944 "biology: appendix title color"
![image](https://user-images.githubusercontent.com/40228854/75145015-77cca580-56f8-11ea-9f2a-2e74e816d2ff.png)

Appendices titles in biology have wrong color. Now is set `#3172B6` it should be `#0074BC`.

[2020-02-24 13:21] wilkus27 commented on #1743
Checked with the newest content and newest code changes and it's working properly :thinking:

![image](https://user-images.githubusercontent.com/40228854/75155722-e87fbc00-5710-11ea-8380-d6a283584e08.png)

[2020-02-24 13:34] #1743 closed

[2020-02-24 15:35] wilkus27 commented on #1885
@openstaxalina @brittweinstein @helenemccarron Marta didn't find wrong classes in Chapter 22 and 23, so problem with empty header still will present. We need a recipe fix as well.

@helenemccarron I think it will be a huge change. Similar problem occured in Astronomy: https://github.com/openstax/cnx-recipes/issues/658. Then you moved includes of mixins to different passes (https://github.com/opens

[2020-02-24 15:43] brittweinstein commented on #1876
@helenemccarron  will do some analysis this week.

[2020-02-24 16:15] openstaxalina commented on #1885
If this is going to be a huge amount of work, content managers may be able to fix this manually on these in the PDF in order to publish the book in March.  It looks like it's just two changes?  cc @helenemccarron @wilkus27 @lwtchu @paulinaszczucinska @brittweinstein

[2020-02-24 19:10] openstaxalina opened #1948 "Symmetry Feedback: in TOC, do not allow unit number/title to break from the chapter"
# Scenario

Chapter titles can break.

Unit titles should not be allowed to break.

Here is an instance where it breaks after the unit (note: the word "Unit" and the number will be present with latest code, so ignore that problem here):
![Screen Shot 2020-02-24 at 1 10 38 PM](https://user-images.githubusercontent.com/7863733/75182947-13651280-5707-11ea-8c2e-c5312c0d8ffa.png)

# Acceptance Criteria

[2020-02-24 19:13] openstaxalina opened #1949 "Symmetry Feedback: Reduce Page Count: Tighter Unit and Chapter Heads Spacing?"
# Scenario

See below.  Also, could the title extend further right so as not to line-break, or will this cause problems?  (We may have to sacrifice _some_ design in order to save vertical space.)

![Screen Shot 2020-02-24 at 1 13 08 PM](https://user-images.githubusercontent.com/7863733/75183119-6b9c1480-5707-11ea-804e-51becb8b9b84.png)

![Screen Shot 2020-02-24 at 1 14 54 PM](https://user-images.g

[2020-02-24 19:22] openstaxalina opened #1950 "Symmetry Feedback: Standardize folios - in or not-in the margin?"
# Scenario

I know the EOC folios needed to accommodate the ribbon which is why they're in line with the text.  But do we want this discrepancy or would it be better to standardize?

![2020-02-24_13-19-45](https://user-images.githubusercontent.com/7863733/75183686-a783a980-5708-11ea-954b-3069ec2f4145.png)

# Acceptance Criteria (required)

# Test Plan

[2020-02-24 19:29] openstaxalina opened #1951 "Symmetry Feedback: Consider Key Terms Re-design"
# Scenario

![Screen Shot 2020-02-24 at 1 28 29 PM](https://user-images.githubusercontent.com/7863733/75184176-96876800-5709-11ea-893c-88b789267086.png)

# Acceptance Criteria (required)

# Test Plan

[2020-02-24 19:31] openstaxalina opened #1952 "Symmetry Feedback: Chapter Outline trim"
# Scenario

I'm collecting all this in one place.  Have asked XanEdu what their safety margin is.  **Please look at chs. 7 and 8 especially** -- there seems to be a problem when you want the Chapter Outline to go to the second page of the chapter, but the first non-intro module has already started on that page.  We may be able to fix it in code to allow it be on the first non-intro module page, bu

[2020-02-24 19:33] openstaxalina opened #1953 "Symmetry Feedback: Reduce Page Count: Reduce Space before Each EOC Section"
# Scenario

I would like to make a change here to reduce page count.  Please provide specifications.
![Screen Shot 2020-02-24 at 1 32 17 PM](https://user-images.githubusercontent.com/7863733/75184573-380eb980-570a-11ea-9af7-511c30642dd9.png)

# Acceptance Criteria (required)

# Test Plan

[2020-02-24 19:36] openstaxalina opened #1954 "Symmetry Feedback: Reduce Page Count: Reduce Space between Question Stem and Distractors"
# Scenario

I would like to make a change here to reduce page count. Please provide specifications.
![Screen Shot 2020-02-24 at 1 34 07 PM](https://user-images.githubusercontent.com/7863733/75184703-6be9df00-570a-11ea-8847-c3cba75a9a96.png)

# Acceptance Criteria (required)

# Test Plan

[2020-02-24 19:38] openstaxalina opened #1955 "Symmetry Feedback: Reduce Page Count: Link to Learning Feature"
# Scenario

I would like to make a change here to reduce page count. Please provide specifications.  This may require content and/or code changes.
![Screen Shot 2020-02-24 at 1 36 54 PM](https://user-images.githubusercontent.com/7863733/75184935-d733b100-570a-11ea-994b-bbcfd278b350.png)

# Acceptance Criteria (required)

# Test Plan

[2020-02-24 19:58] openstaxalina opened #1956 "Symmetry Feedback: Table 15.2 Too Wide"
# Scenario

I don't think this is art...I think the code is styling the table this wide.
![Screen Shot 2020-02-24 at 1 56 27 PM](https://user-images.githubusercontent.com/7863733/75186520-a4d78300-570d-11ea-861f-f461597397b3.png)

# Acceptance Criteria (required)

# Test Plan

[2020-02-24 22:09] openstaxalina commented on #1933
Here is another place this should be tested (in Biology 2e - caught in Symmetry review)
![Screen Shot 2020-02-24 at 4.08.40 PM.png](https://images.zenhubusercontent.com/5b57372fb01a900cfd923015/7d5f732d-b1c5-457f-832a-d70ac3b2526d)

[2020-02-24 22:11] openstaxalina opened #1957 "Symmetry Review: When Page Ends with Caption, Caption Runs into Trim?"
# Scenario

I'm not 100% positive that's the pattern, but it seems to be what happened here:
![Screen Shot 2020-02-24 at 4 10 35 PM](https://user-images.githubusercontent.com/7863733/75195810-48ca2a00-5720-11ea-9353-42a054c8c624.png)

# Acceptance Criteria (required)

# Test Plan

[2020-02-24 22:15] openstaxalina commented on #1933
And another flagged in Symmetry's review:
![Screen Shot 2020-02-24 at 4.15.17 PM.png](https://images.zenhubusercontent.com/5b57372fb01a900cfd923015/805e295c-7df1-4509-9242-cfe2936210a1)

[2020-02-25 08:32] wilkus27 commented on #1952
Problem with Chapter Outline will be resolved by https://github.com/openstax/cnx-recipes/issues/1627. PR with changes will be merged today to e.e branch. So we need an issue for thin ribbons in EOC.

[2020-02-25 08:47] MartaSztuka commented on #1770
tested https://katalyst01.cnx.org/contents/qRkBHZVu@9.2:fvjcE4B-@4/A-Reference-Tables

[2020-02-25 08:47] #1770 closed

[2020-02-25 08:47] wilkus27 commented on #1885
@openstaxalina There are not all cases. Doing investigation I saw empty headers in other chapters. So we can find all instances in PDF, and then check in table created by @MartaSztuka https://docs.google.com/spreadsheets/d/1Gdwd8LiYHQxa4MG0MzdaWzzpN0ubJ4utTqyL9iqi2QI/edit#gid=0 which ones will be resolved by content, but I think that the best way is to wait until classes in content will be fixed a

[2020-02-25 08:51] wilkus27 commented on #1741
By Larissa: it will be created new design for this note.

[2020-02-25 09:59] wilkus27 commented on #1625
Unfortunately, even with smaller font size and wider box some of the Chapter Outlines are too big:

![image](https://user-images.githubusercontent.com/40228854/75236142-a82a4780-57bd-11ea-84e6-cb3de0f3e6b7.png)

Decision is to apply in Chemistry `FullWidthChapterIntroShape`.

[2020-02-25 10:15] MartaSztuka commented on #1936
There is still single line on next page
![Screenshot from 2020-02-25 10-49-14](https://user-images.githubusercontent.com/47241114/75235462-94321600-57bc-11ea-84a1-63b5940f15dc.png)

[2020-02-25 10:20] #1936 closed

[2020-02-25 10:22] ajluk commented on #1911
Changes in TDS:
**TableContainer** need to be replaced in the **EocKeyEquWithSectionLink** shape to **KeyEquationsTableContainer** with following properties:
        margin-bottom: table-v-grid(2),
        margin-left: 0,
        margin-right: 0,
 **TableData** properties need to be changed to:
padding: table-v-grid(1) table-h-grid(1)
**TableHeadCell** properties need to be changed as well to:
 pa

[2020-02-25 10:33] ajluk commented on #1929
Changes in TDS:
In **FakeTitleTable** shape these component's properties color need to be addes as book specific for Biology and AP Biology:
**TableTitle** l. 249
color': B7
 **LastTableRowData** l. 257
border-bottom-color': B7

[2020-02-25 11:18] MartaSztuka commented on #1730
Answer Key is no more.
![Screenshot from 2020-02-25 11-55-22](https://user-images.githubusercontent.com/47241114/75241097-c4ca7d80-57c5-11ea-9d1f-536b40904bea.png)
![Screenshot from 2020-02-25 12-05-25](https://user-images.githubusercontent.com/47241114/75241833-27704900-57c7-11ea-8ab7-24a087b07ebd.png)
![Screenshot from 2020-02-25 12-17-36](https://user-images.githubusercontent.com/47241114/75242

[2020-02-25 11:18] #1730 closed

[2020-02-25 11:20] wilkus27 opened #1959 "CARNIVAL CLEAN UP: move margin settings for pages to common file"
At this moment margin settings for pages are defined in book.scss file for each book, e.g:

![image](https://user-images.githubusercontent.com/40228854/75242859-2a6c3900-57c9-11ea-98e6-9e87c7efbc76.png)

They should be moved to some common file.

[2020-02-25 11:21] ajluk commented on #1731
Now it looks like this (the additional title in the subtitle needs to be removed from the content as it was done in Phet note inCollege Physics -issue: https://github.com/openstax/cnx-recipes/issues/1700):
![image](https://user-images.githubusercontent.com/55203598/75242858-293b0c00-57c9-11ea-9bce-0a2c04d82f7a.png)

[2020-02-25 11:34] MartaSztuka commented on #1932
tested
![Screenshot from 2020-02-25 12-33-57](https://user-images.githubusercontent.com/47241114/75243954-26411b00-57cb-11ea-9de5-412280a6ac8e.png)

[2020-02-25 11:34] #1932 closed

[2020-02-25 11:37] MartaSztuka commented on #1854
tested
![Screenshot from 2020-02-25 12-37-28](https://user-images.githubusercontent.com/47241114/75244169-9baceb80-57cb-11ea-8f18-be060bea0cd6.png)

[2020-02-25 11:37] #1854 closed

[2020-02-25 11:45] MartaSztuka commented on #1847
tested
![Screenshot from 2020-02-25 12-44-17](https://user-images.githubusercontent.com/47241114/75244723-9bf9b680-57cc-11ea-8f27-8ac449100800.png)
![Screenshot from 2020-02-25 12-43-44](https://user-images.githubusercontent.com/47241114/75244736-9ef4a700-57cc-11ea-8475-6e89e6d1fddd.png)
![Screenshot from 2020-02-25 12-43-07](https://user-images.githubusercontent.com/47241114/75244738-9ef4a700-57c

[2020-02-25 11:45] #1847 closed

[2020-02-25 12:05] ajluk commented on #1956
These is caused by `table-layout: fixed;` property I have added to tables in exercises in both Biologies (Biology 2e, AP Biology) in this PR: https://github.com/openstax/cnx-recipes/pull/1676, because tables in AP Biology look bad in some places (text was not centered in the cells.) - see this comment for realted issue: https://github.com/openstax/cnx-recipes/issues/1675#issuecomment-565347522. I'

[2020-02-25 12:48] ajluk commented on #1955
It is caused by bottom margin set to 1.5 rem for all p elements in the books:
![image](https://user-images.githubusercontent.com/55203598/75248853-4249ba00-57d5-11ea-9a9c-17e02152560a.png)
@lwtchu Should it be completely removed from paragraph in this type of notes?

[2020-02-25 13:24] wilkus27 commented on #1944
## Changes to provide in Theme Design Specs

### Shape: `AppendixShape`

_Component:_ `MainText`
_Changed Properties:_
[code]
![image](https://user-images.githubusercontent.com/40228854/75251131-475d3800-57da-11ea-9dc1-9b8c42a662d6.png)

_Component:_ `SubTitle`
_Changed Properties:_
[code]
![image](https://user-images.githubusercontent.com/40228854/75251175-61971600-57da-11ea-91fe-6a4d44f54d26.png

[2020-02-25 13:49] wilkus27 commented on #1627
## Changes to provide to Theme Design Specs

### Shape: `ChapterIntroShape`

_Component:_ `IntroBody`
_New properties:_
[code]
![image](https://user-images.githubusercontent.com/40228854/75252798-a96b6c80-57dd-11ea-8a9a-dd5b1b4939b4.png)

_Component:_ `Outline`
_Removed properties:_
[code]
_Changed properties:_
[code]
![image](https://user-images.githubusercontent.com/40228854/75252868-c6a03b00-57

[2020-02-25 15:02] brittany-johnson commented on #861
College Physics:
![Screen Shot 2020-02-24 at 4 32 09 PM](https://user-images.githubusercontent.com/24909007/75197224-5c2ac480-5723-11ea-8c84-1bf410c195ef.png)

![Screen Shot 2020-02-25 at 9 01 12 AM](https://user-images.githubusercontent.com/24909007/75259356-81fcab80-57ad-11ea-9ee2-48f3264dee0c.png)

[2020-02-25 15:44] wilkus27 commented on #1938
Issue for Chemistry: https://github.com/openstax/cnx-recipes/issues/1625

[2020-02-25 15:47] wilkus27 commented on #1475
Will be resolved in issue: https://github.com/openstax/cnx-recipes/issues/1625

[2020-02-25 17:17] lwtchu commented on #1948
The only change I would recommend here is do not orphan the UNIT TITLE ONLY.

So no break after unit title.
It's okay for it to break after the chapter title.

[2020-02-25 18:25] helenemccarron opened #1960 "CLEAN UP: v-grid and h-grid should be using whole values"
V-grid and h-grid are intended to be used with whole values, replace with half-grids where applicable.

[2020-02-25 19:21] lwtchu commented on #1956
@ajluk what does `table-layout: fixed;` mean?

[2020-02-25 19:32] lwtchu commented on #1955
We can do two things:

- Reduce the size to `1 rem`
- Move the links into the previous paragraph so that it's not a separate sentence

[2020-02-25 20:01] brittany-johnson commented on #861
HS Physics
<img width="1652" alt="Screen Shot 2020-02-25 at 2 00 26 PM" src="https://user-images.githubusercontent.com/24909007/75282845-542c5c80-57d7-11ea-85fb-d148727f658b.png">

[2020-02-25 20:04] lwtchu commented on #1954
I think there was a previous issue to address this, but I can't find it. Can someone check if this is still an issue for this title?

[2020-02-25 20:09] lwtchu commented on #1953
can we change it from `margin-bottom: v-grid(4)` to `margin-bottom: v-grid(2)`?

[2020-02-25 20:17] lwtchu commented on #1950
This was intended.

@andymuddimer do you have any strong feelings?

[2020-02-25 20:19] lwtchu commented on #1949
I'm not sure this is possible with the way the font scale is set up? Can @helenemccarron confirm?

[2020-02-25 20:22] lwtchu commented on #1950
@andymuddimer has no feelings. and he said the words "coolio" to me so we're closing this issue

[2020-02-25 20:22] #1950 closed

[2020-02-25 20:28] lwtchu commented on #1951
Let's try the two column option.

![Screen Shot 2020-02-25 at 2.26.02 PM.png](https://images.zenhubusercontent.com/5b57310fb26dd832dfe45b43/9207c8b5-f2b9-46f6-9eb0-99ec3385f680)

- Reduce spacing between key term and definition (I think it is currently at 5 spaces. Can we try 3? or is this a h-grid situation?)

[2020-02-25 20:29] lwtchu commented on #1952
Let's wait for Xanedu to get back with us with the variance. I have a feeling Symmetry is assuming this includes the bleed? Or they're super paranoid.

[2020-02-25 20:30] lwtchu commented on #1951
Let's try this for all titles where there's a glossary (key term + definition)

[2020-02-25 20:34] lwtchu commented on #1955
Corresponding content issue: https://app.zenhub.com/workspaces/content-management-5c86d8c40b66e07993f45cfa/issues/openstax/content-managers/1474

[2020-02-25 21:03] brittany-johnson opened #1961 "Create Style of AP Physics"
AP Physics template should be identical to college physics (named physics in the styles directory)

During development, I had to make recipe and style changes that affect other books.
Because the changes are all isolated to the chapter introduction section, I think we can test them now instead of putting them behind a release flag.

For testing:

- [x] Compare 3 chapters to the old AP Physics PDF

[2020-02-25 21:26] brittany-johnson commented on #861
Bio 2e
<img width="1652" alt="Screen Shot 2020-02-25 at 3 18 43 PM" src="https://user-images.githubusercontent.com/24909007/75288579-416b5500-57e2-11ea-9ac9-148424c0c88e.png">
<img width="1608" alt="Screen Shot 2020-02-25 at 3 25 55 PM" src="https://user-images.githubusercontent.com/24909007/75289103-39f87b80-57e3-11ea-96fb-601b45f5b161.png">

[2020-02-25 21:58] helenemccarron commented on #1933
![2020-02-25_15-57-41](https://user-images.githubusercontent.com/8514591/75291330-9b224e00-57e7-11ea-87ce-a48a769f60fc.png)
The link to learning notes in biology 2e should now be working as intended.

[2020-02-26 10:32] wilkus27 commented on #1625
#### New specs from Larissa:
- chapter outline font size font-scale(1)
- module link font-scale(0)
- Introduction text spanned to the right

![image](https://user-images.githubusercontent.com/40228854/75336498-8d260900-588b-11ea-97bf-4b0756714ecb.png)

[2020-02-26 10:41] wilkus27 commented on #1959
### Note

Those settings:

![image](https://user-images.githubusercontent.com/40228854/75337177-c743da80-588c-11ea-8794-8e61856cc623.png)

should be set only for books using `ChapterIntroShape`.

[2020-02-26 16:12] ajluk opened #1965 "Enable all feature flags for University Physics"
All feature flags need to be enabled for University Physics.

[2020-02-26 16:27] ajluk commented on #1965
Enabled flags:

- chapter-page-class
- appendix-has-numbered-examples
- increment-section-counter-for-lo
- trash-abstract-in-preface
- titles-in-examples
- module-titled-notes
- use-title-nodes
- goodbye-warnings
- table-move-fake-title
- several-composite-chapters
- subtitled-examples

[2020-02-26 17:28] lwtchu commented on #1782
Updated original comment to include appendix

[2020-02-26 17:30] brittany-johnson commented on #1801
<img width="1652" alt="Screen Shot 2020-02-26 at 11 29 03 AM" src="https://user-images.githubusercontent.com/24909007/75370811-505a1200-588b-11ea-8f7e-108c86f5aae5.png">

[2020-02-26 17:39] helenemccarron commented on #1933
PR #1963 fixes links to learning in biology specifically. A specs update is needed. Please add l.330: `box-decoration-break: slice, `

[2020-02-26 18:14] Stackblocks commented on #1949
I'll take a look at this to see how the spacing is built out. If we have any working space with the way the spacing and scales are set up i'll adjust it.

[2020-02-26 18:35] brittany-johnson commented on #861
@MartaSztuka Ready for testing!

[2020-02-26 23:58] helenemccarron commented on #1885
@wilkus27  I think the issue is with l.334 through 347 in _compose.scss.

[code]
This is creating a container for the sections while going over each one of them before moving the content, filling it with an empty container regardless of the actual content. The container is then "non-empty" and not discarded when the actual content is moved to it.

You were right that this is similar to the issue y

[2020-02-27 08:34] ajluk commented on #1956
@lwtchu It "sets a fixed table layout algorithm. The table and column widths are set by the widths of table and col or by the width of the first row of cells. Cells in other rows do not affect column widths. If no widths are present on the first row, the column widths are divided equally across the table, regardless of content inside the cells", so in most of the cases it based on the first row. S

[2020-02-27 10:48] MartaSztuka opened #1969 "HS Physics table in Section Key Terms"
Table in Section Key Terms should have `unnumbered unstyle` classes.![Screenshot from 2020-02-27 11-47-37](https://user-images.githubusercontent.com/47241114/75437724-f888dd00-5956-11ea-853a-66e0eae91d74.png)
![Screenshot from 2020-02-27 11-43-11](https://user-images.githubusercontent.com/47241114/75437662-e27b1c80-5956-11ea-846c-e87a4c2b5575.png)

[2020-02-27 10:49] wilkus27 commented on #1625
Those changes cover also **College Physics**:

![image](https://user-images.githubusercontent.com/40228854/75437447-7dbfc200-5956-11ea-9502-23c76c8d6f47.png)

Additional specs for this book:

- Text in lists font size: font-scale(0)
- Bottom margin for ul list: 0.75rem

* @lwtchu you asked for the 1rem, but because we are using v-grid functions to set margins I could change it to 0.75rem.

[2020-02-27 10:49] MartaSztuka commented on #1911
tested![Screenshot from 2020-02-27 11-49-28.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/e43e3d63-aed7-4a2f-999c-3de78a37f4fc)

[2020-02-27 10:49] #1911 closed

[2020-02-27 11:18] wilkus27 commented on #1954
@lwtchu It's already resolved:

![image](https://user-images.githubusercontent.com/40228854/75440019-36880000-595b-11ea-878e-1244d27d0730.png)

[2020-02-27 11:19] #1954 closed

[2020-02-27 11:25] ajluk commented on #1955
@lwtchu I have set it to `margin-bottom: half-v-grid(1)` which return 0.75rem, because we don't have a function that returns 1rem for vertical spaceing and now it looks like this. Is it ok?:
![image](https://user-images.githubusercontent.com/55203598/75440384-fa08d400-595b-11ea-98fa-8ac3257cc706.png)

[2020-02-27 11:34] ajluk commented on #1955
I tried set the bottom margin to 0 as well. Maybe it will be a better solution. @lwtchu what do you think?  Here is how it looks:
![image](https://user-images.githubusercontent.com/55203598/75441146-6b955200-595d-11ea-9e72-f59d4c01494d.png)

[2020-02-27 12:15] wilkus27 commented on #1953
@lwtchu It's already set to v-grid(2):

![image](https://user-images.githubusercontent.com/40228854/75444162-3ab81b80-5963-11ea-815c-d3fec9ff60f2.png)

[2020-02-27 12:31] #1953 closed

[2020-02-27 12:34] wilkus27 commented on #1969
@lwtchu It's a content issue.

[2020-02-27 12:36] ajluk commented on #1948
This issue has been already resolved by page breaks added by BrittanyJ. Now it's not uccuring anymore:
![image](https://user-images.githubusercontent.com/55203598/75445641-20337180-5966-11ea-80c0-523e9be2e6e1.png)

[2020-02-27 12:39] MartaSztuka commented on #1944
tested
Biology2e ![Screenshot from 2020-02-27 13-22-04.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/fad438a9-aa5f-464e-b887-f724ba0b11b0)
APBiology ![Screenshot from 2020-02-27 13-31-57.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/3597590e-aa2a-4fa3-a012-9d87986dfc0f)
Concepts of Biology![Screenshot from 2020-02-27 13-38-37.png](https://images.zenhubuser

[2020-02-27 12:39] #1944 closed

[2020-02-27 13:06] lwtchu commented on #1955
Can we do a half v grid - and will this apply to all p elements?

[2020-02-27 13:08] ajluk commented on #1955
Ok. I will add this to all p elelements in this note and check how it looks.

[2020-02-27 13:13] MartaSztuka commented on #1627
tested (every Chapter Outline in both books)
Biology 2e![Screenshot from 2020-02-27 13-54-03.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/98f4e93e-dcdc-4cf4-89b1-a8166b695cda)
AP Biology![Screenshot from 2020-02-27 14-05-21.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/96674777-8f47-482e-a4d8-031b09391468)

[2020-02-27 13:20] MartaSztuka commented on #1731
tested![Screenshot from 2020-02-27 14-18-54.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/ab2ea4f8-ed80-4c81-9879-14f8a946d60d)

[2020-02-27 13:20] #1731 closed

[2020-02-27 13:32] MartaSztuka commented on #1938
tested in AP Biology
![Screenshot from 2020-02-27 14-05-21](https://user-images.githubusercontent.com/47241114/75449836-fe3ded00-596d-11ea-8239-c4ca7b50599b.png)

[2020-02-27 13:39] MartaSztuka commented on #1627
HS Physics
![Screenshot from 2020-02-27 14-36-26](https://user-images.githubusercontent.com/47241114/75450377-fb8fc780-596e-11ea-9556-7a58001a9a52.png)

[2020-02-27 13:39] #1627 closed

[2020-02-27 13:48] wilkus27 opened #1971 "folio: composite chapters in EOC"
Settings for folio didin't work for composite chapters in EOC:

![image](https://user-images.githubusercontent.com/40228854/75450932-f67f4800-596f-11ea-842b-62f5a646af3c.png)

![image](https://user-images.githubusercontent.com/40228854/75450989-0e56cc00-5970-11ea-900e-9ad54b54bff4.png)

As you can see on the screenshots, even Chapter Review starts on the next page there is still label **Key Equati

[2020-02-27 13:52] wilkus27 commented on #1971
@lwtchu There should be label of composite chapter: **Chapter Review** or of its composite page: **Concept Items**?

[2020-02-27 13:59] lwtchu commented on #1971
Chapter Review

[2020-02-27 14:09] MartaSztuka opened #1972 "HS Physics Introduction"
Introduction in chapter 23 is cropped.
![Screenshot from 2020-02-27 15-06-48](https://user-images.githubusercontent.com/47241114/75452724-0e0c0000-5973-11ea-9870-4effa9815416.png)

[2020-02-27 15:22] MartaSztuka commented on #861
Biology 2e - looks ok
![Screenshot from 2020-02-27 15-41-17](https://user-images.githubusercontent.com/47241114/75455105-a0ae9e00-5977-11ea-8b8a-476baf626481.png)
College Physics - partly fixed
![Screenshot from 2020-02-27 16-19-17](https://user-images.githubusercontent.com/47241114/75457795-339e0700-597d-11ea-8b3d-d10da495000c.png)
![Screenshot from 2020-02-27 16-18-44](https://user-images.github

[2020-02-27 15:32] lwtchu commented on #1955
@ajluk let's do this for all p elements in condensed notes

[2020-02-27 15:37] lwtchu commented on #1948
@ajluk can we make sure they're allowed to break at the chapter title level

[2020-02-27 15:49] helenemccarron opened #1973 "CLEAN UP: rename chapter outlines shapes and components"
Rename the chapter outlines to full-width-chapter-outline and margin-chapter-outline.

[2020-02-27 15:52] openstaxalina commented on #1948
@brittany-johnson is making a change to allow chapter titles to break.
We still want her fix so that unit titles do not break.

[2020-02-27 15:52] brittany-johnson commented on #861
Decision from PL on 2/27:
Chapter titles in TOC should be able to break (via @lwtchu )

I will create a new PR to update this

[2020-02-27 15:53] lwtchu commented on #1948
We'll reference this in #861

[2020-02-27 15:53] #1948 closed

[2020-02-27 16:11] MartaSztuka commented on #1943
tested![Screenshot from 2020-02-27 17-08-25.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/fea8c662-f0fe-47be-bac4-52e79ce9d70c)

[2020-02-27 16:11] #1943 closed

[2020-02-27 16:32] MartaSztuka commented on #1929
Biology 2e![Screenshot from 2020-02-27 17-24-00.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/2f3549cd-b9b3-43b0-acfb-8aca491f14dd)
Concepts of ![Screenshot from 2020-02-27 17-32-05.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/e6b90ddd-e106-4110-9048-1f4bf3cc24b1)Biology

[2020-02-27 16:32] #1929 closed

[2020-02-27 16:55] lwtchu commented on #1625
@wilkus27 that's fine - sorry i forgot we're not using rems anymore. but the 0.75 is fine

[2020-02-27 16:55] wilkus27 commented on #1972
I think that Content Managers are working on that. @lwtchu can you confirm?

[2020-02-27 17:14] lwtchu commented on #1972
@wilkus27 in your professional opinion, do you know if changing the image size will fix it?

[2020-02-27 17:55] ajluk commented on #1782
How it looks now:
![image](https://user-images.githubusercontent.com/55203598/75471539-af567e80-5992-11ea-83ff-c04540679313.png)

[2020-02-27 17:57] ajluk commented on #1782
Info for testing purposes
It can be tested in Biology 2e (where the units have been removed from the content).

[2020-02-27 18:06] lwtchu commented on #1956
Thanks @ajluk I'll work with @Stackblocks on this and move it into the Houston office so we can troubleshoot it

[2020-02-28 09:20] MartaSztuka commented on #1782
tested
![Screenshot from 2020-02-28 10-18-35](https://user-images.githubusercontent.com/47241114/75529854-e3be4f00-5a13-11ea-8f7a-1b72f8ff5e3a.png)

[2020-02-28 09:20] #1782 closed

[2020-02-28 10:27] MartaSztuka commented on #1801
tested
![Screenshot from 2020-02-28 11-26-43](https://user-images.githubusercontent.com/47241114/75540890-3bad8380-5a1d-11ea-8877-b263c434e2e8.png)

[2020-02-28 10:27] #1801 closed

[2020-02-28 11:02] MartaSztuka commented on #1965
- [ ] chapter-page-class
- [ ] appendix-has-numbered-examples
- [ ] increment-section-counter-for-lo
- [ ] trash-abstract-in-preface
- [ ] titles-in-examples
- [ ] module-titled-notes
- [ ] use-title-nodes
- [ ] goodbye-warnings
- [ ] table-move-fake-title
- [ ] several-composite-chapters
- [ ] subtitled-examples

[2020-02-28 13:47] wilkus27 commented on #1625
## Changes to provide to Theme Design Specs

### Shape: `FullWidthChapterIntroShape`

_New component:_ `OutlineList`
_Properties:_
[code]
![image](https://user-images.githubusercontent.com/40228854/75553497-c64fac00-5a38-11ea-9034-c0d6bcc246e2.png)

_Component:_ `OutlineTitleBottomBorder`
_Changed properties:_
[code]
![image](https://user-images.githubusercontent.com/40228854/75553535-dd8e9980-5a3

[2020-02-28 13:52] wilkus27 commented on #1625
I'm not sure if there are book specific specs for pages in Theme Design Specs, so I put them here:

- if book uses `ChapterIntroShape` it also has such settings:

_Page:_ `chapter:first`
_Properties:_
[code]
_Page:_ `chapter:nth(2)`
_Properties:_
[code]
- if book use `FullWidthChapterIntroShape` those settings should be removed

[2020-02-28 14:28] wilkus27 commented on #1972
@lwtchu I was trying to check that and I think that also coding work is needed. Let me try to fix that by styling first. If also changing image size is needed I will go back to you.

[2020-02-28 15:01] Stackblocks commented on #1900
Showing as correct on the e.e. branch of easyvm5.cnx.org

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/81b7dcae-da20-402a-8e55-c236e69a6980)

[2020-02-28 15:01] #1900 closed

[2020-02-28 15:51] omehes commented on #1900
@Stackblocks I was about to ask you about testing this :) I guess, no need for it now.

[2020-02-28 16:24] MartaSztuka commented on #1933
College Physics - there's still this line
![Screenshot from 2020-02-28 17-13-51](https://user-images.githubusercontent.com/47241114/75565166-c7d79f00-5a4d-11ea-9da6-9a7d5a54a4b5.png)
Biology 2e - line is removed
![Screenshot from 2020-02-28 16-58-41](https://user-images.githubusercontent.com/47241114/75564152-e5a40480-5a4b-11ea-9aa4-ca6ba7274dd6.png)
HS Physics
![Screenshot from 2020-02-28 17-22-4

[2020-02-28 16:50] ajluk commented on #1965
Now the Example subtitle looks like this:
![image](https://user-images.githubusercontent.com/55203598/75567989-c197f180-5a52-11ea-82f8-0a6e176d2135.png)

[2020-02-28 18:02] ajluk commented on #1747
Changes in TDS:
New exercises needs to be added under the EocCompChapExercises (the all using it):

**ChallengeProblems**

          Container
          //empty properties

          CompChapPageHeader:(
             font-family: ("IBM Plex Sans", sans-serif),
             column-span: all,
             // color: book specific, defined in book.scss file
             font-weight: bold,

[2020-02-28 21:10] lwtchu commented on #1741
@wilkus27 we can add this to the biology template

Design: please use condensed icon note (link to learning)
Title: Concepts in Action

[2020-02-28 22:24] lwtchu commented on #1952
Confirmed with Symmetry they need 0.25in of clearance.

I found a few instances in Biology where a word or a couple letters trickle out. It's mostly okay though! And the new design is great.

Is there a way to make sure the words don't bleed over?

<img width="981" alt="Screen Shot 2020-02-28 at 3 42 16 PM" src="https://user-images.githubusercontent.com/11299125/75591962-b6d75f80-5a46-11ea-9609-3a

[2020-02-28 22:31] lwtchu opened #1977 "Symmetry Feedback: Ribbon width"
# What happened?
![Screen Shot 2020-02-24 at 1 30 43 PM](https://user-images.githubusercontent.com/7863733/75184348-e108e480-5709-11ea-8428-14ada4e81ef5.png)

Symmetry marked the ribbon being potentially too thin. Can we increase it to 0.5 in?

<img width="754" alt="Screen Shot 2020-02-28 at 4 29 31 PM" src="https://user-images.githubusercontent.com/11299125/75592362-bd1a0b80-5a47-11ea-8160-d88d75

[2020-02-28 23:38] openstaxalina opened #1978 "Symmetry Feedback: More Space with Multi-Line EOC Section Links"
# Scenario

When there is a linked section header in EOC, and any of the characters goes below the line (like "y"), it runs into the line below:

![Screen Shot 2020-02-28 at 5 35 41 PM](https://user-images.githubusercontent.com/7863733/75595200-fe62e900-5a50-11ea-97ba-158ce00f365f.png)

![Screen Shot 2020-03-02 at 4 53 54 PM](https://user-images.githubusercontent.com/7863733/75725713-ac1b0580-5ca6

[2020-02-28 23:41] openstaxalina opened #1979 "Symmetry Feedback: Blue ribbon in chapter opener should run flush with text?"
# Scenario

I'm guessing this is happening due to image size differences.  Are we leaving this as-is or fixing the images?  (I don't have a preference.)  Or is this a bug?

![Screen Shot 2020-02-28 at 5 40 17 PM](https://user-images.githubusercontent.com/7863733/75595348-94970f00-5a51-11ea-80e6-ac7debe7a2a9.png)

![Screen Shot 2020-03-02 at 3 19 03 PM](https://user-images.githubusercontent.com/786

[2020-02-28 23:43] openstaxalina opened #1980 "Symmetry Feedback: Equation Numbers in Top Margin?"
# Scenario

I think this is fine, but wanted to verify:

![Screen Shot 2020-02-28 at 5 42 47 PM](https://user-images.githubusercontent.com/7863733/75595395-d0ca6f80-5a51-11ea-8e61-4b218dbf4210.png)

# Acceptance Criteria (required)

# Test Plan

[2020-02-28 23:47] openstaxalina opened #1981 "Symmetry Feedback: Punctuation after math (?) can wrap to next line"
# Scenario

I'm guessing this is because there is math markup immediately followed by punctuation.  Can anything be done in these instances?

From 2.5:
![Screen Shot 2020-02-28 at 5 45 19 PM](https://user-images.githubusercontent.com/7863733/75595482-3d456e80-5a52-11ea-9623-a0a6abb9c878.png)

From 2.7:
![Screen Shot 2020-02-28 at 5 48 14 PM](https://user-images.githubusercontent.com/7863733/755955

[2020-02-28 23:51] openstaxalina opened #1982 "Symmetry Feedback: Discrepancy in Figure Number Styling in EOC"
# Scenario

See below:
![Screen Shot 2020-02-28 at 5 50 26 PM](https://user-images.githubusercontent.com/7863733/75595658-ef7d3600-5a52-11ea-9940-4ad2d6b5b290.png)

# Acceptance Criteria (required)

# Test Plan

[2020-02-28 23:53] openstaxalina opened #1983 "Symmetry Feedback: Text Cutoff When Figure Follows Linked Section Header"
# Scenario

Note that the bottom of the "p" in "Displacement" doesn't appear:
![Screen Shot 2020-02-28 at 5 51 55 PM](https://user-images.githubusercontent.com/7863733/75595720-23f0f200-5a53-11ea-9761-9caa5e81ab21.png)

# Acceptance Criteria (required)

# Test Plan

[2020-02-28 23:56] openstaxalina opened #1984 "Symmetry Feedback: Oversized Art in EOC"
# Scenario

May be fixed by https://github.com/openstax/content-managers/issues/1401; but flagging in case:
![Screen Shot 2020-02-28 at 5 54 55 PM](https://user-images.githubusercontent.com/7863733/75595837-96fa6880-5a53-11ea-9b13-4a40fd4b085f.png)

# Acceptance Criteria (required)

# Test Plan

[2020-02-29 00:10] openstaxalina opened #1985 "Symmetry Feedback: Weird indentation in caption for some EOC art?"
# Scenario

I don't care about the lack of space between the figure number and caption, but can the caption start on the same line as the figure number rather than having the indentation on the next line?

![Screen Shot 2020-02-28 at 5 58 23 PM](https://user-images.githubusercontent.com/7863733/75595951-07a18500-5a54-11ea-9e91-24763591bc2e.png)

# Acceptance Criteria (required)
- [ ] "Figure #.# +

[2020-03-02 11:17] MartaSztuka commented on #1971
tested
HS Physics
![Screenshot from 2020-03-02 12-09-17](https://user-images.githubusercontent.com/47241114/75671293-b5907780-5c7e-11ea-8bef-2cfe829aaebc.png)
University Physics - folio doesn't work for EoC, also there is blank page with header only at each chapter's end.
![Screenshot from 2020-03-02 12-13-03](https://user-images.githubusercontent.com/47241114/75671711-88909480-5c7f-11ea-9204-4bca

[2020-03-02 12:13] MartaSztuka commented on #1625
tested
Chemistry 2e
![Screenshot from 2020-03-02 12-58-28](https://user-images.githubusercontent.com/47241114/75674662-d0b2b580-5c85-11ea-89ae-43c2a5047be4.png)
College Physics
![Screenshot from 2020-03-02 13-02-57](https://user-images.githubusercontent.com/47241114/75675473-85010b80-5c87-11ea-99e0-b806ce5a61b2.png)

[2020-03-02 12:13] #1625 closed

[2020-03-02 12:28] ajluk commented on #1955
Changes in TDS:
**Paragraph** component need to be added to  **IconCondensedShape** and **IconCondensedExerciseShape** as a replacement of existing **EndText** component in these shapes l.334 and l.347) with properties:
 margin-bottom: half-v-grid(1),

[2020-03-02 12:46] ajluk commented on #1477
It is the same problem as in Biology 2e. The unnumbered equations in this books don't have class `unnumbered` added in the markup, that's why the styles for unnumbered equations aren't applied there. @lwtchu what do you think?

[2020-03-02 15:27] lwtchu commented on #1477
@ajluk are all equations in chemistry unnumbered but are missing the `unnumbered` class?

[2020-03-02 15:41] ajluk commented on #1477
@lwtchu Yes, that is the case. Previously we have one type of equations that was covering all of them, but since in Physics equations are numbered we have divided them and equations that are unnumbered need to have unnumbered class added so the styles for this type of equations can cover them.

[2020-03-02 16:01] MartaSztuka commented on #1971
University Physics
![Screenshot from 2020-03-02 16-59-05](https://user-images.githubusercontent.com/47241114/75693425-35cad300-5ca7-11ea-95c1-d2e857d55b88.png)
![Screenshot from 2020-03-02 17-00-18](https://user-images.githubusercontent.com/47241114/75693524-51ce7480-5ca7-11ea-8dc7-72080bcfe2f1.png)
![Screenshot from 2020-03-02 17-01-08](https://user-images.githubusercontent.com/47241114/75693600-

[2020-03-02 16:01] #1971 closed

[2020-03-02 16:02] brittweinstein commented on #1711
We need to ensure that this is still an issue - the Fizyka recipe should be enabled and published on production to verify this.

[2020-03-02 16:03] lwtchu commented on #1477
@ajluk let me make a card on the content side ...and when we're done, we can generate a PDF to verify whether or not this is stil an issue.

[2020-03-02 16:03] brittweinstein commented on #1711
This work will also need to be done on REX.

[2020-03-02 16:03] #1711 closed

[2020-03-02 16:03] brittweinstein commented on #1711
Issue moved to [openstax/webview #2294](https://github.com/openstax/webview/issues/2294) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-02 16:17] brittweinstein opened #1989 "Symmetry/Space Savings"
# What happened?

(_Briefly but clearly describe the issue_)

# Reproducibility Details

- **Does it also happen in an incognito window?**:
- **Does this happen in one place, a few places, or everywhere?**:

# Environment:

- **Book(s)**:
- **URL/Server**:
- **Location (page number, chapter/section)**:
- **Suggested nearby searchable text**:
- **Browser**:

# Screenshots

(_attach here (please cle

[2020-03-02 16:22] brittweinstein commented on #1898
REX will need to fix this as well @openstaxalina will open an issue in their repo.

[2020-03-02 17:14] openstaxalina commented on #1898
Issue moved to [openstax/unified #896](https://github.com/openstax/unified/issues/896) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-02 17:14] #1898 closed

[2020-03-02 17:20] helenemccarron commented on #1933
@MartaSztuka  College Physics, tested on master. This seems to be working?![2020-03-02_11-15-06.png](https://images.zenhubusercontent.com/5b06d3244b5806bc2bd47abf/4dafcf7b-6a3b-4463-bf61-092a16743693)

and I believe HS physics is working as intended (the bar doesn't appear).

[2020-03-02 17:22] openstaxalina commented on #1989
@helenemccarron here are the page counts from oer.exports; we should try to match or be lower than these:

_College Physics_: 1424
_Biology 2e_: 1578

[2020-03-02 17:45] lwtchu opened #1991 "library wide space savings: reduce paragraph padding"
Reduce paragraph bottom padding to `half-v-grid`.

Based on my calculations for Biology, it should save about 80 pages.

[2020-03-02 17:49] lwtchu opened #1992 "carnival theme: reduce figure number, caption size"
For space saving reasons:

Let's reduce the figure caption throughout the book to be `font-scale(-1)`

This applies to ALL figure numbers and captions.

[2020-03-02 18:52] openstaxalina opened #1993 "Symmetry Feedback: Equations Not Centered in Some Cases?"
# Scenario

@MartaSztuka could you please test and see if this is resolved?  Equations were not centered, at least in some instances, in _College Physics_ PDF delivered to Symmetry last week:

![Screen Shot 2020-03-02 at 12 49 57 PM](https://user-images.githubusercontent.com/7863733/75707373-65b4af00-5c84-11ea-8f83-a46f8a1b5b57.png)

Here is the old PDF where equations are properly centered:
![Scr

[2020-03-02 18:55] openstaxalina opened #1994 "Symmetry Feedback: Extra Padding After Math/Equations?"
# Scenario

Example from ch. 6 (I confirmed there wasn't extra space in oer.exports PDF, so unlikely a content issue)
![Screen Shot 2020-03-02 at 12 54 16 PM](https://user-images.githubusercontent.com/7863733/75707708-fee3c580-5c84-11ea-908f-fd12f276f6bd.png)

# Acceptance Criteria (required)

# Steps to Reproduce (required)
* **How many times were you able to reproduce the issue?**
* **Images or

[2020-03-02 20:35] brittany-johnson commented on #1951
![Screen Shot 2020-03-02 at 2 34 50 PM](https://user-images.githubusercontent.com/24909007/75715432-04480c80-5c93-11ea-8a71-af74213cd945.png)

[2020-03-02 21:06] lwtchu commented on #1747
@ajluk i wasn't sure where to update the following... I'm not sure if there was a shape created for those?

Three new components needs to be added for SummaryWithSectionLinks shape:
SummarySectionUnorderedList
margin-left: h-grid(3),
UnorderedNestedList
margin-left: h-grid(2),
CompChapPageHeader
color: //book specific
font-family: ("IBM Plex Sans", sans-serif),
font-weight: bold,
font-size: font-s

[2020-03-02 21:24] openstaxalina opened #1995 "Symmetry Feedback: Table Too Large"
# Scenario

![Screen Shot 2020-03-02 at 3 22 43 PM](https://user-images.githubusercontent.com/7863733/75719155-d6b29180-5c99-11ea-8e1a-a760c11728c8.png)

# Acceptance Criteria (required)
- [ ] table does not go into margin

# Test Plan

[2020-03-02 21:27] openstaxalina opened #1996 "Symmetry Feedback: Section 12.4 Equation crashing into its number"
# Scenario

Larissa to determine whether this will be fixed in content or Styles:

![Screen Shot 2020-03-02 at 3 25 44 PM](https://user-images.githubusercontent.com/7863733/75719328-2ee99380-5c9a-11ea-8733-3617669246cb.png)

# Acceptance Criteria (required)

# Test Plan

[2020-03-02 22:07] lwtchu commented on #1978
"font-family: Muli,
font-size: font-scale(3),"

^ Should we add a line-height attribute to this?

[2020-03-02 22:08] lwtchu commented on #1979
This isn't an issue.

[2020-03-02 22:08] #1979 closed

[2020-03-02 22:09] lwtchu commented on #1996
I think this will be a content fix. The Math is too long. I'll move this to CM board

[2020-03-02 22:14] lwtchu commented on #1982
![Screen Shot 2020-03-02 at 4.13.49 PM.png](https://images.zenhubusercontent.com/5b57310fb26dd832dfe45b43/2ec35fc4-2585-4f1f-886a-97b2e9753e8d)

Fixed with an existing issue.

[2020-03-02 22:14] #1982 closed

[2020-03-02 22:15] lwtchu commented on #1983
Is this tied to the no line-height issue mentioned in #1978

[2020-03-02 22:16] lwtchu commented on #1984
Flagged here for a content fix. https://app.zenhub.com/workspaces/content-management-5c86d8c40b66e07993f45cfa/issues/openstax/content-managers/1401 Closing

[2020-03-02 22:16] #1984 closed

[2020-03-02 22:17] lwtchu commented on #1985
Those are the figure captions and are fixed with an existing issue regarding figure caption and number styling in EOC.

![Screen Shot 2020-03-02 at 4.16.43 PM.png](https://images.zenhubusercontent.com/5b57310fb26dd832dfe45b43/6870944a-3f4a-4993-85da-0cc357873502)

[2020-03-02 22:17] #1985 closed

[2020-03-02 22:26] lwtchu commented on #1994
the math is in an `<equation>` tag and should be just inline math. moving to content

[2020-03-02 22:32] lwtchu commented on #1995
Going to try changing the header from all math in the p(10^3...) and see if it fixes it.

[2020-03-02 22:51] openstaxalina opened #1998 "Symmetry Feedback: Extra Line at end of module"
# Scenario

![Screen Shot 2020-03-02 at 4 49 27 PM](https://user-images.githubusercontent.com/7863733/75725370-f51e8a00-5ca5-11ea-8cb8-e28231d37d49.png)

cc @lwtchu

# Acceptance Criteria (required)
- [ ] extra line does not appear

# Test Plan

[2020-03-02 22:53] openstaxalina opened #1999 "Symmetry Feedback: Exercise with math and figure has text crashing - not sure why"
# Scenario

![Screen Shot 2020-03-02 at 4 51 58 PM](https://user-images.githubusercontent.com/7863733/75725502-34e57180-5ca6-11ea-8aa1-5ea84627130f.png)

# Acceptance Criteria (required)

# Test Plan

[2020-03-02 23:03] openstaxalina opened #2000 "Symmetry Feedback: Folio in ch 18 is randomly for ch. 17.7"
# Scenario

I think this is happening because the chapter outline and introduction are so long.

![Screen Shot 2020-03-02 at 4 59 33 PM](https://user-images.githubusercontent.com/7863733/75726054-454a1c00-5ca7-11ea-93bd-f702b4572f82.png)

# Acceptance Criteria (required)
- [ ] folio is for 18 • Introduction or 18.0 • Introduction @lwtchu please confirm

# Test Plan

[2020-03-02 23:06] openstaxalina opened #2001 "Symmetry Feedback: Box within a Box (TM)"
# Scenario

I think this is fine but just in case opening for @lwtchu 's review:

oer.exports on the left; baked styles on the right
![Screen Shot 2020-03-02 at 5 05 08 PM](https://user-images.githubusercontent.com/7863733/75726477-1c765680-5ca8-11ea-831e-5288b8dbc236.png)

# Acceptance Criteria (required)

# Test Plan

[2020-03-02 23:13] openstaxalina opened #2002 "Symmetry Feedback: Unstyled One-off Feature"
# Scenario

@lwtchu what do you want to do here?

oer.exports on left; baked styles on right
![Screen Shot 2020-03-02 at 5 11 24 PM](https://user-images.githubusercontent.com/7863733/75726821-f4d3be00-5ca8-11ea-998e-4aff1e96471e.png)

# Acceptance Criteria (required)

# Test Plan

[2020-03-02 23:33] openstaxalina opened #2003 "Symmetry Feedback: Appendix Table Running Off Page"
# Scenario

May be related to https://github.com/openstax/cnx-recipes/issues/1956

![Screen Shot 2020-03-02 at 5 31 36 PM](https://user-images.githubusercontent.com/7863733/75727893-cc998e80-5cab-11ea-85d3-ba4f040414b7.png)

# Acceptance Criteria (required)

# Test Plan

[2020-03-03 09:36] ajluk commented on #1724
This issue has been resolved earlier:
![image](https://user-images.githubusercontent.com/55203598/75762331-c8688200-5d3a-11ea-9603-dbe94e9caf29.png)

[2020-03-03 10:40] MartaSztuka commented on #1933
@helenemccarron As for HS Physics it is correct. But I've tested College Physics both on current branch (f.f) and master, line is still there. Fetched this morning (~11am). By the way did you notice there is no picture on your screen? I wonder why.
![Screenshot from 2020-03-03 10-28-20](https://user-images.githubusercontent.com/47241114/75761767-eaadd000-5d39-11ea-826f-3faa6e64cedd.png)

[2020-03-03 10:48] MartaSztuka commented on #1993
Equations are centered
![Screenshot from 2020-03-03 11-45-53](https://user-images.githubusercontent.com/47241114/75768471-b8ee3680-5d44-11ea-9be5-2cf490b9ae37.png)
![Screenshot from 2020-03-03 11-44-38](https://user-images.githubusercontent.com/47241114/75768473-ba1f6380-5d44-11ea-9979-1a8420ee2ebe.png)

[2020-03-03 10:48] #1993 closed

[2020-03-03 11:04] ajluk commented on #1747
@lwtchu Oh. Yes, it seems it has been missed somehow. I didn't check, because I was sure it will be there :)
So in that case the whole shape need to be added to the TDS (under l.635):
**SummaryWithSectionLinks** shape
with Components:
**Container**
            margin-bottom: v-grid(2),
**EocHeader**
            font-family: (_ref: 'typography:::sansFont'),
            font-weight: bold,

[2020-03-03 11:51] MartaSztuka commented on #1955
tested
![Screenshot from 2020-03-03 12-48-40](https://user-images.githubusercontent.com/47241114/75773159-a0cee500-5d4d-11ea-8c6e-11436552a9f8.png)
![Screenshot from 2020-03-03 12-51-04](https://user-images.githubusercontent.com/47241114/75773188-b17f5b00-5d4d-11ea-86c0-868f357f466a.png)

[2020-03-03 11:51] #1955 closed

[2020-03-03 12:14] MartaSztuka commented on #1965
Examples subtitles looks ok.
![Screenshot from 2020-03-03 13-13-02](https://user-images.githubusercontent.com/47241114/75774741-da551f80-5d50-11ea-8038-82837912c24c.png)

[2020-03-03 12:14] #1965 closed

[2020-03-03 12:18] wilkus27 commented on #1952
@lwtchu I doubled paddings in FullBleedsPaddings function, so now we should have `1.5rem + 1.2rem` visible padding and `1.2rem` padding out of the page.

This is view before changes:

![image](https://user-images.githubusercontent.com/40228854/75774864-2acc7d00-5d51-11ea-9752-05c0038697d5.png)

And after:

![image](https://user-images.githubusercontent.com/40228854/75774898-3b7cf300-5d51-11ea-8261

[2020-03-03 12:33] ajluk opened #2005 "Style EoC in Microbiology"
EoC sections need to be styled according to Carnival Theme Specs.

[2020-03-03 15:34] lwtchu commented on #1999
this is long math. le math longue

[2020-03-03 15:41] lwtchu commented on #1952
@wilkus27 i can't tell if there's a 0.25 bleed - do you mind proving a screenshot with the ruler turned on in the PDF viewer?

[2020-03-03 15:42] lwtchu commented on #1977
Andy says: looks gud

[2020-03-03 16:04] openstaxalina commented on #1977
@brittweinstein @paulinaszczucinska this is ready for someone to work on.  Per @lwtchu , we are increasing ribbon size to 0.5 in.

[2020-03-03 17:49] lwtchu commented on #1747
@ajluk thanks :)

[2020-03-03 22:41] lwtchu commented on #1980
This is fine.

[2020-03-03 22:41] #1980 closed

[2020-03-03 22:53] lwtchu commented on #2000
Confirmed an issue

[2020-03-03 22:55] lwtchu commented on #2001
@openstaxalina do you think it would be cool if we pulled it out in the content? in other features like for Kirchhoff's Rules, there's a box about Kirchhoff's Rules and then a separate box for Problem-Solving Strategies for Kirchhoff's Rules

[2020-03-03 22:57] lwtchu commented on #2002
I think the title was placed in the paragraph title and not the note title. I'll move to content fix.

[2020-03-03 23:10] openstaxalina commented on #2001
@lwtchu because this isn't a numbered element, I think that's fine.  I'll move this to the content repo!

[2020-03-03 23:10] #2001 closed

[2020-03-03 23:10] openstaxalina commented on #2001
Issue moved to [openstax/content-managers #1493](https://github.com/openstax/content-managers/issues/1493) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-04 15:29] lwtchu commented on #2003
I'm pretty sure this is the math in that cell that is making it break

[2020-03-04 15:32] lwtchu commented on #1995
![Screen Shot 2020-03-04 at 9 31 51 AM](https://user-images.githubusercontent.com/11299125/75895263-00cf9500-5dfb-11ea-946b-65b02adad94b.png)
Content fix ftw

[2020-03-04 15:32] #1995 closed

[2020-03-04 16:00] lwtchu commented on #1952
![Screen Shot 2020-03-04 at 10 00 17 AM](https://user-images.githubusercontent.com/11299125/75897935-f911ef80-5dfe-11ea-9659-04bdbc7e9fc1.png)
Looks good thank you @wilkus27 !

[2020-03-04 16:48] helenemccarron commented on #1992
This looks like a duplicate of #1992

[2020-03-04 19:14] helenemccarron commented on #1844
All the tables listed are missing the top-titled class.

![2020-03-04_13-04-50.png](https://images.zenhubusercontent.com/5b06d3244b5806bc2bd47abf/0dbccbd9-b00d-46ae-a2c5-d083005a2ed9)

 Also,
IB: https://easyvm5.cnx.org/contents/Tgl3H6iq@9.1:DK-tGpHN@7/How-Business-and-Economics-Work
OB: https://easyvm5.cnx.org/contents/LZQauaxb@6.1:9pJHuA38@2/Barriers-to-Accurate-Social-Perception
PoM: https://ea

[2020-03-04 19:17] openstaxalina commented on #1844
@yblock could you add the top-titled class to the _College Success_ content above?

@helenemccarron I _believe_ those other three aren't baked because in the past, we've been instructed to assign the CCAP template so that the recipe can be injected.  Should we go ahead and assign the recipe on the server instead?

[2020-03-04 19:20] helenemccarron commented on #1844
You may want to bake the book then revert to the  CCAP template. This will bake the book and leave it baked. Also please note that all the examples listed are missing the class, regardless of whether or not they were baked.

[2020-03-04 20:33] yblock commented on #1844
ok I added the class to those, and baked with recipe, and put CCAP back on.

[2020-03-04 21:08] openstaxalina commented on #1844
(reopening so we can get to the dev work the _College Success_ test content is ready; I am parking with Marc about the other book content tomorrow morning.

[2020-03-05 08:51] ajluk opened #2013 "Sections without section links in exercises have inherited margins"
In Microbiology there are various exercises in the EoC nested in sections without section links, which looks oddly (generate unnecessary spaces in this case). I have created a separate issue about because the removing of this margins can affect other exercises with section links in other books. Now it looks like this:
![image](https://user-images.githubusercontent.com/55203598/75963719-4ad17d00-5e

[2020-03-05 10:15] MartaSztuka commented on #1951
Tested!
![Screenshot from 2020-03-05 10-52-18](https://user-images.githubusercontent.com/47241114/75969559-6bea9b80-5ecf-11ea-93d7-7217b72296f7.png)
![Screenshot from 2020-03-05 10-56-32](https://user-images.githubusercontent.com/47241114/75971276-d56ba980-5ed1-11ea-9883-a70ac13a201b.png)

[2020-03-05 10:15] #1951 closed

[2020-03-05 10:29] wilkus27 commented on #1977
### Changes to provide to Theme Design Specs

#### Page: `eoc:left`

_left-middle_, _top-left-corner_, _bottom-left-corner_, _left-bottom_, _left-top_:
[code]

#### Page: `eoc:right`

_right-middle_, _top-right-corner_, _bottom-right-corner_, _right-bottom_, _right-top_:
[code]

#### Page: `appendix:left`

_left-middle_, _top-left-corner_, _bottom-left-corner_, _left-bottom_, _left-top_:
[code]

#

[2020-03-05 11:41] MartaSztuka commented on #1747
Tested
![Screenshot from 2020-03-05 12-31-27](https://user-images.githubusercontent.com/47241114/75977745-5bd9b880-5edd-11ea-8c29-8da09b67cdd1.png)
![Screenshot from 2020-03-05 12-35-33](https://user-images.githubusercontent.com/47241114/75978146-300b0280-5ede-11ea-9684-5c0867e67241.png)
![Screenshot from 2020-03-05 12-37-53](https://user-images.githubusercontent.com/47241114/75978148-31d4c600-5ed

[2020-03-05 11:41] #1747 closed

[2020-03-05 13:24] wilkus27 commented on #1942
There are four types of EOC modules:
- Key Terms
- Key Equations
- Summary
- Exercises

For each of this type we need separate shape.

There are two types of differences which appear in different books for each of these modules.

1. Module has section links or not.
2. Module is composite page and has h2 header or module is compound composite page and has h3 header. (h2 and h3 are styled differentl

[2020-03-05 13:30] MartaSztuka commented on #1462
tested
![Screenshot from 2020-03-05 14-29-52](https://user-images.githubusercontent.com/47241114/75986172-de6a7400-5eed-11ea-8e3f-bc32ab3b03f9.png)
![Screenshot from 2020-03-05 14-27-41](https://user-images.githubusercontent.com/47241114/75986176-df030a80-5eed-11ea-83e3-0c339532bcc1.png)

[2020-03-05 13:30] #1462 closed

[2020-03-05 13:59] ajluk commented on #1983
The space under the section links will be resolved in this PR: https://github.com/openstax/cnx-recipes/pull/2014. Now it looks like this:
![image](https://user-images.githubusercontent.com/55203598/75988398-cc8ad000-5ef1-11ea-8028-9315af78b690.png)

[2020-03-05 14:10] ajluk commented on #1978
The spaces under sections links issue will be resolved in this PR: https://github.com/openstax/cnx-recipes/pull/2014. I have added line-height: line-height(3) to the section links titles to be consistent with fon-size: font-scale(3), but it seems to wide:
![image](https://user-images.githubusercontent.com/55203598/75988842-808c5b00-5ef2-11ea-8a47-3490f050d035.png)
I have also investigated why the

[2020-03-05 14:16] ajluk commented on #1942
The problem with column gap getting tighter described in this issue: https://github.com/openstax/cnx-recipes/issues/1978 is related to EoC Exercise cleaning issue included here. The thing that causing the problem is display: table and display: table-caption properties set for Problem Wrapper and Problem Container. There is a separate issue related to this, created by Natalia (#1870) with proposal

[2020-03-05 14:27] yblock commented on #1844
Oh I'm sorry, I thought this was a copy of the card!

[2020-03-05 15:34] brittweinstein opened #2015 "EOC Issues"
Main card (#1942) - might want to delete it and replace with this.

- [x]  Remove all the list components, move them to a lists components file, add to shapes.
**Note**: suggestion on new naming scheme.
`block`
`block__element`
`block--modifier`
for example:
`list`
`list__margin`
`list_margin--left`
See https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/ ~~(we can discu

[2020-03-05 15:42] wilkus27 commented on #1870
To sum up, in EOC is used `display: table` to display properly exercises if there is a math inside.

before:

![image](https://user-images.githubusercontent.com/40228854/75997536-c4d22800-5eff-11ea-9262-3db500eaa1b0.png)

after:

![image](https://user-images.githubusercontent.com/40228854/75997573-d3b8da80-5eff-11ea-92af-4e4111ced29d.png)

In Section Exercises is used `display: flex`, because when

[2020-03-05 15:44] openstaxalina commented on #1844
@helenemccarron FYI I modified this card to only include College Success for now.  We can fix the top-titled tables in the other titles sometime before REX updates its content for the fall.  I'll make a new card for that.

Please let us know if you need any other content prep for this card!

[2020-03-05 16:14] openstaxalina opened #2016 "2020 Q2 or early Q3: implement top-titled tables in remaining business series books"
# Scenario

Top-titled tables need to be implemented in _Introduction to Business_, _Organizational Behavior_, _Principles of Management_. Here is test content:

IB: https://easyvm5.cnx.org/contents/Tgl3H6iq@9.1:DK-tGpHN@7/How-Business-and-Economics-Work
OB: https://easyvm5.cnx.org/contents/LZQauaxb@6.1:9pJHuA38@2/Barriers-to-Accurate-Social-Perception
PoM: https://easyvm5.cnx.org/contents/w6yyq31

[2020-03-05 16:15] openstaxalina commented on #2016
First @marcjeannott will need to ensure the content at the links above is properly marked up as top-titled tables.  This is a Q2 problem.

[2020-03-05 16:38] openstaxalina commented on #1952
@wilkus27 I wanted to confirm that this change was made theme-wide?

If so, could @MartaSztuka verify that the issue in the below screenshot is resolved in (high school) _Physics_?

![Screen Shot 2020-03-05 at 10 37 18 AM](https://user-images.githubusercontent.com/7863733/76003281-773cc780-5ecd-11ea-9419-83f46653a3af.png)

cc @lwtchu

[2020-03-05 16:40] openstaxalina opened #2017 "Symmetry Feedback: First Two Pages of Chapter Opener Have Smaller Width"
# Scenario

![Screen Shot 2020-03-05 at 10 40 38 AM](https://user-images.githubusercontent.com/7863733/76003511-c551cb00-5ecd-11ea-9f88-6fadc3095999.png)

# Acceptance Criteria (required)

# Test Plan

[2020-03-05 16:44] openstaxalina opened #2018 "Symmetry Feedback: Inconsistent Spacing After Grasp Check Stem"
# Scenario

See two examples with different styling below:

![Screen Shot 2020-03-05 at 10 43 03 AM](https://user-images.githubusercontent.com/7863733/76003790-29748f00-5ece-11ea-873b-34ebd2bd89af.png)

![Screen Shot 2020-03-05 at 10 43 14 AM](https://user-images.githubusercontent.com/7863733/76003800-2c6f7f80-5ece-11ea-9077-648aa1ea5017.png)

# Acceptance Criteria (required)

# Test Plan

[2020-03-05 16:45] openstaxalina opened #2019 "Symmetry Feedback: Line Height too High on H2s?"
# Scenario

![Screen Shot 2020-03-05 at 10 44 39 AM](https://user-images.githubusercontent.com/7863733/76003957-65a7ef80-5ece-11ea-86e1-06b9e5492b67.png)

# Acceptance Criteria (required)

# Test Plan

[2020-03-05 16:47] openstaxalina opened #2020 "Symmetry Feedback: Reduce Page Count: Section Key Terms Spacing?"
# Scenario

![Screen Shot 2020-03-05 at 10 45 59 AM](https://user-images.githubusercontent.com/7863733/76004096-97b95180-5ece-11ea-9998-8b003af4d31a.png)

# Acceptance Criteria (required)

# Test Plan

[2020-03-05 16:48] openstaxalina opened #2021 "Symmetry Feedback: Inconsistent Styling of Table Heads"
# Scenario

I'll add more screenshots below if add'l tables showing the inconsistency are flagged.

![Screen Shot 2020-03-05 at 10 49 28 AM](https://user-images.githubusercontent.com/7863733/76004374-026a8d00-5ecf-11ea-8937-0969609e327e.png)

![Screen Shot 2020-03-05 at 10 49 18 AM](https://user-images.githubusercontent.com/7863733/76004381-05657d80-5ecf-11ea-9aa0-10a84ef5a486.png)

![Screen Shot

[2020-03-05 17:04] openstaxalina commented on #1951
@brittany-johnson just to confirm - was this done at the theme level or by book?

[2020-03-05 17:06] openstaxalina opened #2022 "Symmetry Feedback: Key Equations Folio Persists in Other EOC Sections"
# Scenario

![Screen Shot 2020-03-05 at 11 05 28 AM](https://user-images.githubusercontent.com/7863733/76005923-54acad80-5ed1-11ea-8d73-743445ffce77.png)

# Acceptance Criteria (required)

# Test Plan

[2020-03-05 17:21] openstaxalina opened #2023 "Symmetry Feedback: Equation Box Crashes with Text"
# Scenario

This may be global for equation boxes when the text above them extends nearly to the right margin:

![Screen Shot 2020-03-05 at 11 19 49 AM](https://user-images.githubusercontent.com/7863733/76007285-6bec9a80-5ed3-11ea-99b8-e16d8acd12ec.png)

# Acceptance Criteria (required)

# Test Plan

[2020-03-05 17:23] openstaxalina opened #2024 "Symmetry Feedback: Excessive Padding around Bold Math (?) Letters"
# Scenario

This may be the same in other books in oer.exports -- we may not do anything about this.  Thoughts?

![Screen Shot 2020-03-05 at 11 22 16 AM](https://user-images.githubusercontent.com/7863733/76007424-a35b4700-5ed3-11ea-989d-4ecae6731ef7.png)

# Acceptance Criteria (required)

# Test Plan

[2020-03-05 17:41] openstaxalina opened #2025 "Symmetry Feedback: Ch. 10, 16, 23 Outline Boxes Too Long"
# Scenario

![Screen Shot 2020-03-05 at 11 40 41 AM](https://user-images.githubusercontent.com/7863733/76009065-385f3f80-5ed6-11ea-9cfb-3ba5c126a4d4.png)

![Screen Shot 2020-03-05 at 1 20 23 PM](https://user-images.githubusercontent.com/7863733/76017373-18cf1380-5ee4-11ea-9271-4a2260554724.png)

![Screen Shot 2020-03-05 at 3 39 06 PM](https://user-images.githubusercontent.com/7863733/76028116-82a4

[2020-03-05 18:29] brittany-johnson commented on #861
@MartaSztuka This is ready for testing again! This is the spreadsheet with page break rules for reference. Let me know if you have any questions:

https://docs.google.com/spreadsheets/d/1vW0EHvn8fZgvTxZIm9xQXsqsnIDcolqwt5rWKtx4JEY/edit#gid=1804222758

[2020-03-05 18:33] brittany-johnson commented on #1951
This was done at the theme level so it affects all carnival books 🤠

[2020-03-05 19:25] openstaxalina opened #2026 "Symmetry Feedback: Weird Extra Box with Equation"
# Scenario

![Screen Shot 2020-03-05 at 1 23 38 PM](https://user-images.githubusercontent.com/7863733/76017732-b3c7ed80-5ee4-11ea-903e-5fcd9695eacc.png)

![Screen Shot 2020-03-05 at 3 12 05 PM](https://user-images.githubusercontent.com/7863733/76026067-b3831e80-5ef3-11ea-91d2-23080ffad74d.png)

# Acceptance Criteria (required)

# Test Plan

[2020-03-05 21:23] openstaxalina commented on #1983
Here is another test case for this, from HS Physics:
![Screen Shot 2020-03-05 at 3 22 38 PM](https://user-images.githubusercontent.com/7863733/76026894-44a6c500-5ef5-11ea-95f5-7bbf3a35d806.png)

[2020-03-06 09:47] MartaSztuka commented on #1977
tested![Screenshot from 2020-03-06 10-20-00.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/761bdb6f-c47e-4637-95c8-fa0e8e400414)![Screenshot from 2020-03-06 10-37-49.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/8b30a6c3-bcb3-4251-8637-c5edc32d4ab8)![Screenshot from 2020-03-06 10-47-01.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/3fd22

[2020-03-06 09:47] #1977 closed

[2020-03-06 10:08] ajluk commented on #1983
I have added line-height: line-height(3) property (it gives line-height:3rem in the output) to the the section links but while it resolves this issue with images, when there are few lines in the section title links it looks poor:
![image](https://user-images.githubusercontent.com/55203598/76073564-18914f80-5f9a-11ea-84b4-29a6eb93a845.png). The line-height before my changes for these elements was s

[2020-03-06 13:39] MartaSztuka commented on #861
@brittany-johnson According to spreedsheets page breaks looks ok, except for two things i HS Physics:
Index has single letter![Screenshot from 2020-03-06 14-27-28.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/623f0335-f3af-409c-aa3b-56f814a4256d)
Single table row in Appendix![Screenshot from 2020-03-06 14-35-26.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c

[2020-03-06 13:55] wilkus27 commented on #1952
@openstaxalina Yes, I made a change for all books. It should be resolved by https://github.com/openstax/cnx-recipes/pull/2004.

[2020-03-06 14:51] wilkus27 commented on #1952
## Changes to provide to Theme Design Specs

### Shape: `ChapterIntroShape`

_Component:_ `Outline`
_Changed properties:_
[code]
_Component:_ `OutlineTitle`
_Changed properties:_
[code]
_Component:_ `ChapterOutlineObjective`
_Changed properties:_
[code]

### Page: eoc:left
_left-middle, top-left-corner, bottom-left-corner, left-bottom, left-top:_
[code]
### Page: eoc:right
_right-middle, top-right

[2020-03-06 14:58] brittany-johnson commented on #861
I think the table should be fine? @lwtchu What do you think? (RE the link to the image)

[2020-03-06 15:37] wilkus27 commented on #1972
## Changes to provide to Theme Design Specs

### Shape: `Figure`

_Component:_ `FigureContainer`
_Removed properties:_
[code]
_Component:_ `CaptionWrapper`
_New properties:_
[code]
_Component:_ `PicCaption`
_New properties:_
[code]

[2020-03-06 15:41] wilkus27 commented on #1972
Note: I have to change a way of centering figures to fix problem from this issue. @MartaSztuka please test figures generally in different places from the book.

[2020-03-06 16:18] brittany-johnson commented on #1957
<img width="1652" alt="Screen Shot 2020-03-06 at 10 18 06 AM" src="https://user-images.githubusercontent.com/24909007/76101312-d82ed300-5f93-11ea-8a9b-23ddbbb0bf31.png">

This should be resolved with https://github.com/openstax/cnx-recipes/pull/2010

[2020-03-06 16:38] ajluk commented on #1521
Changes in TDS:
@lwtchu I'm not sure where in the TDS table it should be place, but these styles are common for all books and doesn't have shapes or components. They are placed in the _common-styles.scss file. So maybe something like that can be added to the table as a name.

[2020-03-06 16:59] ajluk commented on #1983
I guess this case https://github.com/openstax/cnx-recipes/issues/1983#issuecomment-595454555 is connected to works on the epic issue: https://app.zenhub.com/workspaces/textbook-developers-5cdc84baee941c07853fbbf2/issues/openstax/cnx-recipes/2015 and especially: https://github.com/openstax/cnx-recipes/issues/1956.

[2020-03-06 17:00] ajluk commented on #1983
Now in College Physics the image under section title link looks like this:
![image](https://user-images.githubusercontent.com/55203598/76104847-56ab6500-5fd4-11ea-9db8-d82e83b7a46f.png)

[2020-03-06 21:04] lwtchu commented on #2026
This equation is nested in a paragraph - would that be why?

[2020-03-06 21:06] lwtchu commented on #2017
This needs to be adjusted to full width for the second page. I think it might be encompassed by some other change, but I'm not sure?

[2020-03-06 21:25] lwtchu commented on #2018
I generated a PDF today on COPS and problem still persist so I'm not sure if existing list fixes fixed this instance.

[2020-03-06 21:29] lwtchu commented on #2019
@helenemccarron can you advise if the page saving line height reductions will impact this? i cant tell with the PDF you gave me

[2020-03-06 22:22] lwtchu commented on #2023
I think we can fix this by not having this be display math. Moving to CM board

[2020-03-06 22:22] #2023 closed

[2020-03-06 22:22] lwtchu commented on #2023
Issue moved to [openstax/content-managers #1521](https://github.com/openstax/content-managers/issues/1521) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-06 22:31] lwtchu commented on #2021
This is inconsistent markup. Moving to CM board

[2020-03-06 22:32] #2021 closed

[2020-03-06 22:32] lwtchu commented on #2021
Issue moved to [openstax/content-managers #1522](https://github.com/openstax/content-managers/issues/1522) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-06 22:35] lwtchu commented on #2020
These are in tables generated by hand. moving to content

[2020-03-06 22:35] lwtchu commented on #2020
Issue moved to [openstax/content-managers #1523](https://github.com/openstax/content-managers/issues/1523) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-06 22:35] #2020 closed

[2020-03-06 22:37] lwtchu commented on #2025
I think this is because of the intro paragraphs. This book might be a good candidate to use option 2 for the chapter outline

[2020-03-06 22:37] lwtchu commented on #2025
Before we go with that option @helenemccarron there's definitely no way to shrink it right? cause it's basically a table?

[2020-03-09 08:31] wilkus27 commented on #2017
@lwtchu This is caused by new way of displaying elements from Introduction page. I added comment that this effect appears and you said that it is ok: https://github.com/openstax/cnx-recipes/issues/1627#issuecomment-586353699

Generally, problem occurs because page on which we can find Chapter Outline box has to be 2in thinner. We can't predict when introduction text with Chapter Outline box jump t

[2020-03-09 08:51] wilkus27 commented on #2022
It's already solved by https://github.com/openstax/cnx-recipes/pull/1975.

![image](https://user-images.githubusercontent.com/40228854/76196860-4d481580-61eb-11ea-9950-b6aecac0b2d7.png)

![image](https://user-images.githubusercontent.com/40228854/76196896-63ee6c80-61eb-11ea-8c8e-79db88897f67.png)

![image](https://user-images.githubusercontent.com/40228854/76196939-7668a600-61eb-11ea-82f9-2c432c2e

[2020-03-09 08:51] #2022 closed

[2020-03-09 09:12] wilkus27 commented on #2025
@helenemccarron for explanation, it displays in this way because of my changes from https://github.com/openstax/cnx-recipes/pull/1931/files.

Previously we had such settings for Chapter Outline:

![image](https://user-images.githubusercontent.com/40228854/76197879-43271680-61ed-11ea-918d-6ddbd15a0aaf.png)

But then, when intro-text was short and Chapter Outline long, the whole intro-body didn't ju

[2020-03-09 09:54] MartaSztuka commented on #1972
Introduction looks ok.
![Screenshot from 2020-03-09 10-45-38](https://user-images.githubusercontent.com/47241114/76201226-39081680-61f3-11ea-9df3-543e8a331cd9.png)
Figures - centerd, tested in random locations.
![Screenshot from 2020-03-09 10-52-24](https://user-images.githubusercontent.com/47241114/76201880-440f7680-61f4-11ea-8db5-40029055b0a3.png)

[2020-03-09 09:54] #1972 closed

[2020-03-09 10:10] MartaSztuka commented on #1957
tested
![Screenshot from 2020-03-09 11-08-53](https://user-images.githubusercontent.com/47241114/76203148-715d2400-61f6-11ea-8ed8-5223475f2362.png)

[2020-03-09 10:10] #1957 closed

[2020-03-09 10:17] wilkus27 commented on #2026
@helenemccarron This is related to https://github.com/openstax/cnx-recipes/issues/1956 and https://github.com/openstax/cnx-recipes/issues/1870. This problem appears in exercises, probably because of conflict between `display: flex`, `display: table` and positioning. That is, `[data-type="problem"]` has property `display: table`, `.os-problem-container` - `display: table-cell` and its child `[data-

[2020-03-09 10:21] MartaSztuka commented on #1952
tested
![Screenshot from 2020-03-09 11-20-29](https://user-images.githubusercontent.com/47241114/76204124-11677d00-61f8-11ea-932f-39499cffc28d.png)
![Screenshot from 2020-03-09 11-19-15](https://user-images.githubusercontent.com/47241114/76204129-12001380-61f8-11ea-99f1-a7916287ff29.png)

[2020-03-09 10:21] #1952 closed

[2020-03-09 10:33] wilkus27 commented on #2015
@helenemccarron I like this idea:

![image](https://user-images.githubusercontent.com/40228854/76204747-46280400-61f9-11ea-8b30-afc17b8b0f82.png)

I think that then we can remove all files related with `chapter` and `module` which contain just titles. I mean those files: https://github.com/openstax/cnx-recipes/blob/master/styles/designs/carnival/parts/_chapter-components.scss and https://github.co

[2020-03-09 13:25] ajluk commented on #1467
Changes in TDS:
in Footnotes shapes elements in below properties only the values has been changed:
**Footnotes** shape
**Container**  l.204
line-height: line-height(1),
font-size: font-scale(-1),
**FootnoteCall** shape (this name of the shape should be added as a separate row under l.211 in the way how it was done for Footnotes shape in l.203, I guess that was missed earlier :))
**DefaultFootnoteC

[2020-03-09 13:26] ajluk commented on #1467
![image](https://user-images.githubusercontent.com/55203598/76217036-f4d83e80-6211-11ea-954f-43416e2aedde.png)

[2020-03-09 14:07] lwtchu commented on #2017
@wilkus27 ah i thought this was applicable if the chapter outline would go thru to the second page. i'll close this issue.

[2020-03-09 14:07] #2017 closed

[2020-03-09 14:38] ajluk commented on #1978
Changes in TDS:
Changes in this component: **EocSectionTitleLink** in all shapes including it: (**KeyEquationWithSectionLinks** l. 650, **SummaryWithSectionLinks** l.640, **EocCompChapExercises** l.668: ConceptCompChapPage, CriticalThinkingCompChapPage, ProblemsCompChapPage, PerformanceCompChapPage, MultipleChoiceCompChapPage, ShortAnswerCompChapPage, ExtendedResponseCompChapPage - l. 683, Concept

[2020-03-09 14:38] brittweinstein commented on #1933
@Stackblocks will try to replicate this.

[2020-03-09 14:40] ajluk commented on #1983
Changes in TDS for this issue are already included in #1978 (they are realted).

[2020-03-09 14:43] brittweinstein commented on #1844
@yblock please assign the College Success recipe and try rebaking.

[2020-03-09 14:49] brittweinstein commented on #861
@lwtchu says that this is OK

[2020-03-09 14:50] brittweinstein commented on #2025
Decision: we will go with the full-width chapter outline.

[2020-03-09 14:54] brittweinstein commented on #2019
Recommendation from scrum 3/9: we'll change the line-height to font scale 3

[2020-03-09 14:59] yblock commented on #1844
The content is baked, just waiting for the top-titled fix.

[2020-03-09 15:15] openstaxalina commented on #2024
Investigate in content first -- ideally it should look more like this:
<img width="1031" alt="Screen Shot 2020-03-09 at 10 15 03 AM" src="https://user-images.githubusercontent.com/7863733/76228555-e298d900-61ee-11ea-9188-d4475fb09cb6.png">

[2020-03-09 15:15] #2024 closed

[2020-03-09 15:15] openstaxalina commented on #2024
Issue moved to [openstax/content-managers #1524](https://github.com/openstax/content-managers/issues/1524) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-09 15:17] openstaxalina commented on #1844
We confirmed that the book is baked and that the top-titled class is on the table; however, the tables appear like this:
<img width="886" alt="Screen Shot 2020-03-09 at 10 17 07 AM" src="https://user-images.githubusercontent.com/7863733/76228758-27247480-61ef-11ea-9cce-2a9bffb732dc.png">

Therefore, we need to enable top-titled tables in this recipe.  @Stackblocks will work on this.

[2020-03-09 15:24] openstaxalina commented on #2019
assigned to @helenemccarron per conversation in Monday meeting

[2020-03-09 15:47] ajluk commented on #1862
EOC Issues https://github.com/openstax/cnx-recipes/issues/2015

[2020-03-09 16:33] brittany-johnson commented on #1998
In the latest physics PDF this issue is no longer occurring, but I added a new page break rule to avoid it happening again in the future
<img width="816" alt="Screen Shot 2020-03-09 at 11 04 40 AM" src="https://user-images.githubusercontent.com/24909007/76235866-b9317a80-61f9-11ea-964b-3c054abe2223.png">

[2020-03-09 17:02] Stackblocks commented on #1933
@helenemccarron When I fetched the latest version of branch `issue-1933` and built the PDF using the full docker-compose steps for consistency I also get the result that Marta is getting. Is all of the development code pushed to the branch?

![image](https://user-images.githubusercontent.com/12678235/76238357-bcc70080-61fd-11ea-9756-fcdd31a5170c.png)

[2020-03-09 17:26] lwtchu commented on #1521
@ajluk if it's alright with you i won't put it in the spec doc since it's common to all books.

[2020-03-09 19:02] helenemccarron commented on #1933
Indeed, thank you both. I will create another PR to fix it. I have added the property everywhere in the components where a border is defined. Hopefully, this will take care of __all__ the cases 😓
![2020-03-09_14-00-12](https://user-images.githubusercontent.com/8514591/76248083-a4abad00-620e-11ea-9189-1f163d266dc6.png)

[2020-03-09 19:28] lwtchu opened #2032 "space saving: note/example styling adjustments for space saving"
# Icon note AND example
<img width="828" alt="Screen Shot 2020-03-09 at 11 35 43 AM" src="https://user-images.githubusercontent.com/11299125/76236125-352bc280-61fa-11ea-8af5-665b67ea2765.png">

size: KEEP font-scale(1)
line height: KEEP font-scale(0)
**make the text one line**
**icon size: try v-grid(2)?**

# Icon condensed note
<img width="373" alt="Screen Shot 2020-03-09 at 2 21 09 PM" src="http

[2020-03-10 10:15] #861 closed

[2020-03-10 10:58] MartaSztuka commented on #1983
College Physics - looks ok
![Screenshot from 2020-03-10 11-40-23](https://user-images.githubusercontent.com/47241114/76305477-7dfc7d80-62c5-11ea-8538-6a10ce71efa2.png)
HS Physics - still occurs.
![Screenshot from 2020-03-10 11-39-07](https://user-images.githubusercontent.com/47241114/76305512-8fde2080-62c5-11ea-9d07-82641fe12aee.png)

[2020-03-10 11:14] MartaSztuka opened #2034 "Figures in EoC not centered."
Some figures are not aligned to center.
![Screenshot from 2020-03-10 12-00-51](https://user-images.githubusercontent.com/47241114/76307158-97eb8f80-62c8-11ea-964b-37ba965052aa.png)

[2020-03-10 11:39] MartaSztuka commented on #1978
tested
![Screenshot from 2020-03-10 12-38-35](https://user-images.githubusercontent.com/47241114/76308994-2d3c5300-62cc-11ea-98be-80f49ded7545.png)

[2020-03-10 11:39] #1978 closed

[2020-03-10 11:56] ajluk commented on #2018
Changes in TDS:
New component needs to be added to **BoxedCondensedNote** notes shape under l.309
**FirstParagraph**
_properties_:
margin-bottom: 0

and tthis components needs to be added to notes that are using this shape as well: **GraspCheckNote** (under l.451), **TipsForSuccessNote** (under l.448)

[2020-03-10 12:24] ajluk commented on #1259
@brittweinstein I guess the file has been already cleaned up :
![image](https://user-images.githubusercontent.com/55203598/76311858-1f89cc00-62d2-11ea-9ca6-ee5117eaa029.png) @helenemccarron could you advise?

[2020-03-10 12:50] MartaSztuka commented on #1521
Chemistry 2e
![Screenshot from 2020-03-10 13-46-10](https://user-images.githubusercontent.com/47241114/76313722-c754c900-62d5-11ea-8584-3fbaafff3100.png)
Chemistry af
![Screenshot from 2020-03-10 13-49-37](https://user-images.githubusercontent.com/47241114/76313833-0551ed00-62d6-11ea-80f0-45447f6f69cb.png)

[2020-03-10 12:50] #1521 closed

[2020-03-10 12:53] ajluk commented on #2025
Changes in TDS:
These **FullWidthChapterIntro** shape components properties need to be added as a book specific specs colors to HS Physics:
    **SplashFigureBg** M 126
       background-color: B5
    **OutlineTitle** M.137
      color: B5
    **Outline** M 138
       border-bottom-color': B5
    **OutlineTitleBottomBorder** M139
       border-bottom-color: B5
@lwtchu I have also noticed that the

[2020-03-10 13:25] MartaSztuka commented on #1467
Chemistry 2e
![Screenshot from 2020-03-10 13-54-22](https://user-images.githubusercontent.com/47241114/76314229-b0fb3d00-62d6-11ea-99ec-57fafbc9915b.png)
Microbiology
![Screenshot from 2020-03-10 14-23-47](https://user-images.githubusercontent.com/47241114/76316400-d8ec9f80-62da-11ea-99c3-5bb784ec6c1d.png)

[2020-03-10 13:25] #1467 closed

[2020-03-10 14:00] wilkus27 commented on #2034
Related with https://github.com/openstax/cnx-recipes/issues/1870.

The problem is that those figures are children of `.os-problem-container` which has property `display: table-cell` and then width of this container is equal to width of the widest child. So figures display at the center of the widest sibling.

[2020-03-10 15:36] ckline-tryptic opened #2035 "Explore viability of a Javascript only solution for Speed Up Baking"
# Description
Explore the performance characteristics of a pure Javascript solution for performing selections and applying "recipes".

# Acceptance Criteria
Create minimal test, and get performance metrics for comparison against other potential solutions. We will also write a report detailing the outcomes.

[2020-03-10 21:04] helenemccarron opened #2038 "CLEAN UP - rename the v-grid variables"
Proposed change:
Make  `half-v-grid` the default unit
Rename:
-  `half-v-grid` to `v-spacing`
- `v-grid` to `column-v-spacing`
- `h-grid` to `h-spacing`

We would have `table-spacing` , `v-spacing`, `h-spacing` and `column-v-spacing`.

[2020-03-10 21:08] helenemccarron opened #2039 "CLEAN UP: EOC clean up - use title component in shapes rather than the functions."
Remove all titles functions, move them to one component (done, I think), add to shapes.

[2020-03-10 21:10] helenemccarron opened #2040 "CLEAN UP - EOC: remove named table components from EOC"
Remove the named table components and add existing table components to shapes in EOC (this includes exercises etc.)

[2020-03-10 21:12] helenemccarron opened #2041 "CLEAN UP - EOC : remove EOC specific figure components"
Remove the EOC specific figure components, use the existing figure components, add to shapes

[2020-03-10 21:13] helenemccarron opened #2042 "CLEAN UP - EOC: remove `Multiple_Choice` component"
remove `Multiple_Choice` component and replace with generic component or unique settings if necessary

[2020-03-10 21:17] helenemccarron opened #2043 "CLEAN UP: create title components"
Title components should be reusable and added all shapes which need a title.

[2020-03-11 10:08] MartaSztuka commented on #2025
tested![Screenshot from 2020-03-11 11-07-41.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/0484a4f7-9d21-421c-8257-7662988069b3)

[2020-03-11 10:08] #2025 closed

[2020-03-11 10:10] #2018 closed

[2020-03-11 10:10] MartaSztuka commented on #2018
tested![Screenshot from 2020-03-11 11-09-54.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/da74c581-5135-41b2-9227-28c786160055)

[2020-03-11 14:32] MartaSztuka commented on #2000
tested
![Screenshot from 2020-03-11 15-31-31](https://user-images.githubusercontent.com/47241114/76428051-744e4500-63ad-11ea-9998-0293a8036f75.png)

[2020-03-11 14:32] #2000 closed

[2020-03-11 17:37] Stackblocks opened #2045 "Plan for / Implement @use over @import in Sass files"
Per the Sass docs, the maintainers of Sass are planning on [phasing out the `@import` rule. ](https://github.com/sass/sass/blob/master/accepted/module-system.md#timeline)

In their words:

The Sass team discourages the continued use of the `@import` rule. Sass will [gradually phase it out](https://github.com/sass/sass/blob/master/accepted/module-system.md#timeline) over the next few years, and eve

[2020-03-11 17:43] Stackblocks opened #2046 "Adjust validation of component names to allow for BEM nomenclature"
The current validation [throws a fit](https://openstax.slack.com/archives/CBW9DFKGF/p1583916139108500) when we try to use [BEM syntax](https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/) and we'll need to make adjustments to make way for clearer code in the future.

This can also be used as a training exercise for the TBDs as a group.

[2020-03-11 19:22] helenemccarron commented on #1933
the changes have been merged to feathered.fabio and ready to test, @MartaSztuka

[2020-03-12 11:57] MartaSztuka commented on #1933
College Physics![Screenshot from 2020-03-12 12-56-50.png](https://images.zenhubusercontent.com/5cb5ec14fec3b63424e0f03c/5294f0df-be72-4ff5-a77c-55fe2c538e71)

[2020-03-12 11:57] #1933 closed

[2020-03-12 14:06] Stackblocks commented on #1981
# In the markup:

## 2.5
![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/3da1eaf7-820c-4d8e-8c6e-63f2d8c55956)
## 2.7
![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/6adf21d3-0cd6-430a-aa2d-b6527b72ad86)

[2020-03-12 14:28] ajluk commented on #1983
I have mentioned here (https://github.com/openstax/cnx-recipes/issues/1983#issuecomment-595862273) what is causing the problem and this issue is a part of the epic EOC Issues #2015.

[2020-03-13 15:55] openstaxalina opened #2048 "Bug: Figures Not Displaying in Baked PDF"
# What happened?

This was originally noted by Symmetry, but we thought it was a content issue.

In at least two instances, the figure is not displaying in the PDF even though it displays on the web:

First instance in Ch. 9 Test Prep >> [Short Answer]
I am not sure if the problem is that there are two figures in one exercise?
(https://cnx.org/contents/zOZP3vRI@9.12:HCL6PC8c@9.12/Short-Answer)
![H

[2020-03-16 10:50] MartaSztuka commented on #1998
Tested, footnote line appears only with footnote.
![Screenshot from 2020-03-16 11-49-49](https://user-images.githubusercontent.com/47241114/76749128-4afe3200-677c-11ea-8334-bfb2a447407f.png)
![Screenshot from 2020-03-16 11-44-01](https://user-images.githubusercontent.com/47241114/76749141-505b7c80-677c-11ea-8d72-82a5dd6b691b.png)

[2020-03-16 10:50] #1998 closed

[2020-03-16 11:12] MartaSztuka opened #2050 "EoC Long equation"
When equation in two column is too long, whole paragraphs overlap second column.
![Screenshot from 2020-03-16 11-56-47](https://user-images.githubusercontent.com/47241114/76751217-6fa7d900-677f-11ea-9ecc-0fd3275e84cb.png)

[2020-03-16 14:05] lwtchu commented on #2050
<img width="399" alt="Screen Shot 2020-03-16 at 9 05 09 AM" src="https://user-images.githubusercontent.com/11299125/76765971-437f5e80-6765-11ea-97f5-9c8de24c6c72.png">
fixed in content on production

[2020-03-16 14:05] #2050 closed

[2020-03-16 14:57] #2043 closed

[2020-03-16 15:06] brittweinstein commented on #1891
@brittweinstein put this in I.I.

[2020-03-16 15:29] ajluk commented on #2005
Changes in TDS:
**ChapterReviewCompositeChapter**  shape need to have book specific color set for **EocHeader** to B7 for Microbiology,
Exercises using shape EocCompChapExercises need to have book specific color for Microbiology set as well:
**CriticalThinkingCompChapPage**
          **CompChapPageHeader** color book specific B7 for Microbiology
**ShortAnswerCompChapPage**
          **CompChapPage

[2020-03-16 16:24] MartaSztuka opened #2051 "Fizyka - styles"
1. **Polish diacritics have different font**
![Screenshot from 2020-03-16 17-27-09](https://user-images.githubusercontent.com/47241114/76779440-a562b700-67ab-11ea-977e-aaa16fa3cc99.png)

[2020-03-16 16:24] MartaSztuka opened #2052 "Fizyka - recipe"
1. **Preface doesn't have folio, just a dot.**
![Screenshot from 2020-03-17 08-42-52](https://user-images.githubusercontent.com/47241114/76833540-d08ceb00-682b-11ea-9917-1a6f60d94d2b.png)
2. **EoC should have eg. Chapter 1 . Key Terms folio**
![Screenshot from 2020-03-17 09-49-19](https://user-images.githubusercontent.com/47241114/76838904-e3f08400-6834-11ea-92c3-0752ef3605c8.png)

[2020-03-16 17:52] andymuddimer commented on #2038
Discussed and agreed with @helenemccarron 3/16

[2020-03-17 09:28] MartaSztuka commented on #2052
Page break
1. Exercises numbers ![Screenshot from 2020-03-17 10-17-22](https://user-images.githubusercontent.com/47241114/76841524-30d65980-6839-11ea-8091-77f75361fef6.png)

[2020-03-17 09:44] MartaSztuka commented on #2052
Notes, Examples, Learning objectives are not translated
![Screenshot from 2020-03-17 10-42-20](https://user-images.githubusercontent.com/47241114/76843521-33867e00-683c-11ea-8ca2-ca3857b98e60.png)
![Screenshot from 2020-03-17 10-42-05](https://user-images.githubusercontent.com/47241114/76843524-34b7ab00-683c-11ea-80fe-e03fb1d3f68f.png)
![Screenshot from 2020-03-17 10-44-05](https://user-images.git

[2020-03-17 09:54] MartaSztuka commented on #2051
In Example `strategia rozwiązania` and `rozwiązanie` etc. should be bolded.
![Screenshot from 2020-03-17 10-51-56](https://user-images.githubusercontent.com/47241114/76844455-988ea380-683d-11ea-9c2e-f632e2f66c0a.png)

[2020-03-17 09:55] MartaSztuka commented on #2051
Page break for Exercises numbers ![Screenshot from 2020-03-17 10-17-22](https://user-images.githubusercontent.com/47241114/76841524-30d65980-6839-11ea-8091-77f75361fef6.png)

[2020-03-17 10:01] MartaSztuka commented on #2051
Numbering in EoC should be bold and inline
![Screenshot from 2020-03-17 10-59-30](https://user-images.githubusercontent.com/47241114/76845133-a55fc700-683e-11ea-828b-e6f48b9b89b1.png)

[2020-03-17 10:17] MartaSztuka commented on #2051
One fully blank page at EoC
![Screenshot from 2020-03-17 11-16-15](https://user-images.githubusercontent.com/47241114/76846453-d0e3b100-6840-11ea-9cdb-6bbc6e1bdbc0.png)

[2020-03-17 10:29] MartaSztuka commented on #2051
Equations are missing top margine, bottom margine are are too wide (happens randomly).
![Screenshot from 2020-03-17 11-27-42](https://user-images.githubusercontent.com/47241114/76847594-9418b980-6842-11ea-9a07-db224ccae7b6.png)

[2020-03-17 10:39] MartaSztuka commented on #2051
`Interactive` header is aligned to the bottom with icon (unlike other similar notes and `link to learning`)
![Screenshot from 2020-03-17 11-35-18](https://user-images.githubusercontent.com/47241114/76848417-eb6b5980-6843-11ea-9a02-18b1ba12ef72.png)

[2020-03-17 10:41] MartaSztuka commented on #2051
Section summary header is not styled
![Screenshot from 2020-03-17 11-41-17](https://user-images.githubusercontent.com/47241114/76848599-42712e80-6844-11ea-9f52-e101ab13f2cb.png)

[2020-03-17 11:18] MartaSztuka commented on #2051
Some equations are centered some are left aligned
![Screenshot from 2020-03-17 12-17-20](https://user-images.githubusercontent.com/47241114/76851259-45225280-6849-11ea-9d7c-7035ca02abcf.png)

[2020-03-17 11:26] MartaSztuka commented on #2052
abc-s should not stick out
![Screenshot from 2020-03-17 11-02-04](https://user-images.githubusercontent.com/47241114/76845316-fc659c00-683e-11ea-9667-1b6738300f8b.png)

[2020-03-17 11:27] MartaSztuka commented on #2052
Illustration source should be below not above it.
![Screenshot from 2020-03-17 12-26-12](https://user-images.githubusercontent.com/47241114/76851995-aeef2c00-684a-11ea-936b-50a5586bd497.png)

[2020-03-17 11:50] MartaSztuka commented on #2051
Tables are left aligned, should be centered.
![Screenshot from 2020-03-17 12-21-32](https://user-images.githubusercontent.com/47241114/76851687-f75a1a00-6849-11ea-9d91-82ca074b1719.png)

[2020-03-17 11:51] MartaSztuka commented on #2051
Dot drops to second line in random places.
![Screenshot from 2020-03-17 12-49-36](https://user-images.githubusercontent.com/47241114/76853650-ff1bbd80-684d-11ea-814b-f7fdf738dd36.png)

[2020-03-17 11:56] MartaSztuka commented on #2051
Bullet points stick out in some places.
![Screenshot from 2020-03-17 12-55-14](https://user-images.githubusercontent.com/47241114/76854080-c16b6480-684e-11ea-9751-c80c313e90ba.png)

[2020-03-17 12:14] ajluk opened #2054 "Add style to Summary, Terms, Appendices in Microbiology"
Summary, Terms, Appendices in Microbiology need to be styled according to Carnival Theme Specs.

[2020-03-17 12:19] MartaSztuka commented on #2051
Equations are styled differently (blue border appears in 10th chapter).
![Screenshot from 2020-03-17 13-15-05](https://user-images.githubusercontent.com/47241114/76855659-deedfd80-6851-11ea-8f1a-565fc2d752f0.png)
![Screenshot from 2020-03-17 13-11-24](https://user-images.githubusercontent.com/47241114/76855663-df869400-6851-11ea-8803-5b4c76ab9c16.png)

[2020-03-17 13:50] helenemccarron opened #2057 "CLEAN UP: add a component/shape for column layout in EOC"
Some sections of the EOC can be either in a multiple columns layout or single column layout, we should support both options.
**Note** The column layout (any multiple-column layout) should use `column-v-spacing`, otherwise use `v-spacing`

[2020-03-17 13:52] helenemccarron opened #2058 "CLEAN UP: add component/shape for column layout in the EOB"
Some sections of the EOB can be either in a multiple columns layout or single column layout, we should support both options.
Note The column layout (any multiple-column layout) should use column-v-spacing, otherwise use v-spacing

[2020-03-17 14:18] openstaxalina commented on #2048
@helenemccarron, she suggested investigating the content further:

Is there any different in the markup around these figures?
Are the figures different file types?

The first case is a perfect example, where one figure is showing but the other isn't - can we learn anything from that?

[2020-03-17 14:22] oscryan commented on #2048
Nope. They're exactly the same.
`Why would you expect the lever shown in the top image to have a greater efficiency than the inclined plane shown in the bottom image?
<figure id="eip-idm525299840"><media id="eip-idm192465088" alt="no alt text">
<image mime-type="image/jpeg" src="CNX_HSPhysics_09_03_levers.jpg "/>
</media>
</figure><figure id="eip-idm208041616"><media id="eip-idm217253744" alt="no

[2020-03-17 14:25] oscryan commented on #2048
WAIT

[2020-03-17 15:06] ajluk commented on #2048
In the second instance: Test Prep >> [Extended Response] it is a content issue: Test Prep >> [Extended Response] There is a module number missing in the img url: ![image.png](https://images.zenhubusercontent.com/5d808b7f46611c000130dbbd/48b9a971-8f61-4b47-a1ca-0ee5b721f7b8)

[2020-03-17 15:10] oscryan commented on #2048
Both of them had spaces in the filenames. It's fixed now.

[2020-03-17 15:10] #2048 closed

[2020-03-17 15:34] MartaSztuka commented on #2005
Tested
![Screenshot from 2020-03-17 16-30-45](https://user-images.githubusercontent.com/47241114/76872513-cf2fe280-686c-11ea-9fdd-2d515c04b635.png)
![Screenshot from 2020-03-17 16-30-37](https://user-images.githubusercontent.com/47241114/76872517-d0610f80-686c-11ea-8e9d-58e3473b2634.png)

[2020-03-17 15:34] #2005 closed

[2020-03-17 15:39] lwtchu commented on #2048
:sob: thank god it's nothing crazy but also another case for better validation!

[2020-03-17 18:09] tomjw64 commented on #2035
## Report
JP suggested we take a look at reducing complexity by using a single language to run all steps. Since we plan to leverage JSX for an interface into baking, the choice of language must be JavaScript (NodeJS).
NodeJS does not support any shared memory paradigms, so the only way to take advantage of multiple cores is with multithreading (via the Worker api) or multiprocessing (via fork()) a

[2020-03-17 19:39] lwtchu opened #2059 "Add Prealgebra 2e, Intermediate Algebra 2e & Elementary Algebra 2e (dev math) to the corn theme (80%)"
# Link to content
- [Prealgebra 2e](https://katalyst01.cnx.org/contents/8PqQvvyo@6.2:BqV5n3Yt@4/Introduction)

# General Notes
![image](https://user-images.githubusercontent.com/11299125/78192415-b6fbbe00-743d-11ea-8051-655473a91ba9.png)

- Books share very similar content, almost over lapping
- Referred to as the Developmental Math trio
- Will be VERY close to the existing PDF design

# Design el

[2020-03-17 19:55] lwtchu opened #2060 "corn theme: table of contents (without units)"
Spec doc link: https://docs.google.com/spreadsheets/d/1vW0EHvn8fZgvTxZIm9xQXsqsnIDcolqwt5rWKtx4JEY/edit#gid=255572881

I've added as much as I can into the spreadsheet. I will try to make it human-readable here in case what I put in the spec sheet doesnt make any sense.

### TOC Title Word ("Table of Contents")
font-size: font-scale(2): 11.88pt, 15.84px, 1.4rem
color: B1 `#093D4C`
font family: [Ro

[2020-03-17 21:21] omehes commented on #1844
https://legacy-easyvm5.cnx.org/Members/cnxeship/col29727

table heads in webview pages look as expected (v 10.1) and in pdf too

![tableh_1](https://user-images.githubusercontent.com/44207656/76902998-1ddc7d00-686b-11ea-8c8f-f3121b424ebc.png)

![tableh_2](https://user-images.githubusercontent.com/44207656/76903015-2765e500-686b-11ea-9e1e-efaaf9988f5b.png)

[2020-03-17 21:21] #1844 closed

[2020-03-18 12:11] MartaSztuka commented on #2051
PhET note needs to be styled
![Screenshot from 2020-03-18 13-02-13](https://user-images.githubusercontent.com/47241114/76958914-d01e4e00-6918-11ea-87df-04c60ad4ac04.png)

[2020-03-18 12:56] MartaSztuka commented on #2052
In Answer Key 'Check your understanding' is mixed with Chapter outline
also Chapter header is duble
![Screenshot from 2020-03-18 13-51-22](https://user-images.githubusercontent.com/47241114/76962685-f4315d80-691f-11ea-8d4f-7871ca5bf013.png)

[2020-03-18 13:01] MartaSztuka commented on #2051
Leading is too small (in all book in general) but with tall equations is extra hard to read.![Screenshot from 2020-03-18 13-59-13](https://user-images.githubusercontent.com/47241114/76963196-f0520b00-6920-11ea-9921-a59754267bdd.png)

[2020-03-18 14:41] MartaSztuka commented on #2052
Index starts with Symbols (all 3 volumes).
![Screenshot from 2020-03-18 15-37-21](https://user-images.githubusercontent.com/47241114/76972447-e46d4580-692e-11ea-89ee-783fce55480c.png)

[2020-03-18 14:52] MartaSztuka commented on #2051
Tables shouldn't break (if possible)
![Screenshot from 2020-03-18 15-50-26](https://user-images.githubusercontent.com/47241114/76973545-627e1c00-6930-11ea-9879-df95adb4c151.png)

[2020-03-18 14:54] MartaSztuka commented on #2051
Margines in headers should be bigger than leading.
![Screenshot from 2020-03-18 15-52-42](https://user-images.githubusercontent.com/47241114/76973801-b38e1000-6930-11ea-88cf-c6b12aee8f35.png)

[2020-03-18 15:21] ajluk opened #2061 "Additional chapter label in Answer Key"
In the Answer Key in University Physics additional chapter label occured. This issue regards also other books that have Answer Keys: Microbiology, Chemistry 2e.
Example form University Physics vol1 xhtml file:
![image](https://user-images.githubusercontent.com/55203598/76976547-657b0b80-6934-11ea-873b-5ddc9a4a6e11.png)

The section headers from Check Your Understanding solutions need to be removed

[2020-03-18 15:22] paulinaszczucinska commented on #1506
@MartaSztuka could you check if this problem still occurs and to update the issue?

[2020-03-18 15:23] paulinaszczucinska commented on #1359
@MartaSztuka please check if it still occurs and update the issue

[2020-03-18 15:25] paulinaszczucinska commented on #1477
@MartaSztuka please check if it still occurs and update the issue.

[2020-03-18 15:25] paulinaszczucinska commented on #1475
@MartaSztuka please check if it still occurs and update the issue.

[2020-03-18 15:30] paulinaszczucinska commented on #1938
@MartaSztuka please check all the chapter outlines and leave comments here, Larissa will make the decision what to do next.

[2020-03-18 15:31] paulinaszczucinska commented on #1724
@MartaSztuka please test it, verify if it works and if it does, please close the issue.

[2020-03-18 15:43] paulinaszczucinska commented on #1876
@wilkus27 could you:
verify if all the feature flags are enabled, generate recipes to check if they are working and if they do, please pass the issue to QA  for Marta.

[2020-03-18 15:44] yblock commented on #2061
Duplicate header in table of contents as well: "UNIT 1 UNIT 1"

![Screen Shot 2020-03-18 at 10.44.02 AM.png](https://images.zenhubusercontent.com/5c5227f6f3a9152a2050e821/cb6937c3-4c27-4a8f-a9c9-e6bd08965331)

[2020-03-18 15:47] paulinaszczucinska commented on #1430
@lwtchu could you check if this is part of carnival100 or is this for the web?

[2020-03-18 15:49] ajluk commented on #2061
@yblock thank you! Do you know when that has happened?

[2020-03-18 15:51] paulinaszczucinska commented on #1794
@wilkus27 this issue should resolve stale recipe problem #1876

[2020-03-18 16:02] yblock commented on #2061
I'll make a card for CMs to remove hard-coded unit numbers

[2020-03-18 16:09] MartaSztuka commented on #1359
It's still an issue
![Screenshot from 2020-03-18 17-08-47](https://user-images.githubusercontent.com/47241114/76981702-403dcb80-693b-11ea-9d4b-29ceb1b89ea8.png)

[2020-03-18 16:13] ajluk commented on #2061
How it looks now:
![image](https://user-images.githubusercontent.com/55203598/76982193-d3770100-693b-11ea-8fe7-fab9fcdd2fa6.png)

[2020-03-18 16:19] MartaSztuka commented on #1475
Chemistry 2e
![Screenshot from 2020-03-18 17-16-27](https://user-images.githubusercontent.com/47241114/76982509-4aac9500-693c-11ea-9f80-a8ba53643ca4.png)
Chemistry AF
![Screenshot from 2020-03-18 17-18-56](https://user-images.githubusercontent.com/47241114/76982759-9e1ee300-693c-11ea-93e2-83a9f8a55152.png)

[2020-03-18 16:32] openstaxalina commented on #1430
@paulinaszczucinska this is for the web only; I am moving this out of the current milestone.

[2020-03-18 16:39] lwtchu commented on #1430
NOT to be confused with the work done here https://github.com/openstax/cnx-recipes/issues/1635#issuecomment-584660309

This is a separate issue for ALL titles when we eventually move to the web.

[2020-03-18 16:46] MartaSztuka commented on #1724
It's fixed ![Screenshot from 2020-03-18 17-45-23](https://user-images.githubusercontent.com/47241114/76985292-4c785780-6940-11ea-8d53-3f94d6a269a9.png)

[2020-03-18 16:46] #1724 closed

[2020-03-18 17:04] MartaSztuka commented on #1506
Example
![Screenshot from 2020-03-18 17-49-27](https://user-images.githubusercontent.com/47241114/76985671-dfb18d00-6940-11ea-9d1a-067461106df2.png)
Footnotes
![Screenshot from 2020-03-18 17-51-55](https://user-images.githubusercontent.com/47241114/76985898-3919bc00-6941-11ea-83d7-b7b8d4619012.png)
Tables
![Screenshot from 2020-03-18 17-53-50](https://user-images.githubusercontent.com/47241114/769

[2020-03-18 17:06] MartaSztuka commented on #1477
It's still an issue
![Screenshot from 2020-03-18 17-11-09](https://user-images.githubusercontent.com/47241114/76987288-3750f800-6943-11ea-9740-79d79d4f6a59.png)

[2020-03-18 17:12] Stackblocks commented on #1811
The table in question doesn't have the `.unnumbered` class and as such the book generator process is treating it as a table that needs to be counted. CMs do not believe they can put a class on content in imported exercises so this may need a more complex solution.

## Table without unnumbered class
![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/75e6f06f-33a5-4103-838a-c

[2020-03-18 17:13] MartaSztuka commented on #1938
Chemistry 2e
![Screenshot from 2020-03-18 17-16-27](https://user-images.githubusercontent.com/47241114/76983187-47fe6f80-693d-11ea-9783-bb3d416cca52.png)
Chemistry AF
![Screenshot from 2020-03-18 17-18-56](https://user-images.githubusercontent.com/47241114/76983307-7a0fd180-693d-11ea-892d-7d42e57e56c1.png)
Microbiology
![Screenshot from 2020-03-18 17-27-06](https://user-images.githubusercontent.co

[2020-03-18 18:06] Stackblocks commented on #1811
As a test Larissa added the class to the exercise on the exercise server and it passed through correctly. Some additional research will need to be done to make sure this isn't impacting anything else, and to see if this kind of fix needs to be applied elsewhere on the exercise server.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/98bd9a26-c8b3-4081-961d-0f90dd7e9a7f)

[2020-03-18 19:32] lwtchu opened #2063 "space saving: reduce font size for para titles in examples and check your understanding"
<img width="670" alt="Screen Shot 2020-03-18 at 1 49 55 PM" src="https://user-images.githubusercontent.com/11299125/76999303-699f2d00-6924-11ea-8f1a-3ba818f991f7.png">

These are currently at 12pt? Reduce to font-scale(0)

<img width="782" alt="Screen Shot 2020-03-18 at 2 30 35 PM" src="https://user-images.githubusercontent.com/11299125/76999694-0d88d880-6925-11ea-9def-db7956a8d17f.png">
These are

[2020-03-18 19:37] Stackblocks commented on #1811
Per Nathan, this doesn't impact anything on the Tutor side, so i'm marking this resolved by way of content adjustment.

[2020-03-18 19:37] #1811 closed

[2020-03-18 20:11] yblock opened #2064 "answer key check your understanding issues headers"
# What happened?

There is odd section number bolding which makes these sections look very confusing. please see screenshot

# Reproducibility Details

- **Does it also happen in an incognito window?**:
- **Does this happen in one place, a few places, or everywhere?**: all chapter's answer key check your understanding sections

# Environment:

- **Book(s)**: University Physics
- **URL/Server**: ht

[2020-03-19 13:07] wilkus27 opened #2066 "Enable all release flags for books from Carnival Theme"
Books from Carnival Theme should have all release flags enabled.

[2020-03-19 14:18] yblock opened #2068 "answer key display"
# What happened?

Some answer key sections such as "Conceptual Questions" have each answer in-line next to the last. This make is hard to use. In the old pdf, each answer is on a new line.

# Reproducibility Details

- **Does it also happen in an incognito window?**:
- **Does this happen in one place, a few places, or everywhere?**: Answer Key sections

# Environment:

- **Book(s)**: University Ph

[2020-03-19 14:30] #1580 closed

[2020-03-19 14:53] MartaSztuka commented on #1938
@lwtchu

[2020-03-19 15:04] openstaxalina commented on #2068
@lwtchu could you confirm you'd like each answer to start on a new line?
(This is how it was in oer.exports:)
<img width="855" alt="Screen Shot 2020-03-19 at 10 03 16 AM" src="https://user-images.githubusercontent.com/7863733/77081654-f3083b00-69c8-11ea-82d0-7bdbf8c2bb00.png">

[2020-03-19 15:06] openstaxalina commented on #2064
Extra chapter header will be fixed with https://github.com/openstax/cnx-recipes/issues/2061.

I am adjusting this issue to only be about the section bolding.

[2020-03-19 15:07] openstaxalina commented on #2064
@lwtchu how would you like the section headers, such as 2.1 Scalars and Vectors, styled?

[2020-03-19 15:19] theresamasciale opened #2069 "Line breaks in TOC"
# What happened?

In the COPS pdf, if a TOC line is too long, it wraps to the next line; this however, looks weird and not tidy. Could cause confusion (please see example in chapter 12 where the first line looks like it doesn't have a page number). Not sure if the end of the line can be moved to the far right margin so that these breaks don't occur.

NOTE: the "Physics" style was used in COPS

# R

[2020-03-19 15:20] lwtchu commented on #2068
Yes they should start on a new line for easier reading

[2020-03-19 15:34] theresamasciale opened #2070 "Lack of PhET section styling"
# What happened?

PhETs in the AP Physics COPS pdf don't seem to have any distinguishing style. It just looks like random floaty text at the end of a section.

NOTE: the "Physics" style was used in COPs for this pdf

# Reproducibility Details

- **Does this happen in one place, a few places, or everywhere?**: Throughout textbook

# Environment:

- **Book(s)**: AP Physics
- **URL/Server**: producti

[2020-03-19 15:45] lwtchu commented on #2070
I think...the class might be broken on that one. I'll move to our board for investigation

[2020-03-19 15:45] #2070 closed

[2020-03-19 15:45] lwtchu commented on #2070
Issue moved to [openstax/content-managers #1551](https://github.com/openstax/content-managers/issues/1551) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-19 15:48] wilkus27 opened #2071 "Fizyka: enable all release flags"
Enable all release flags for Fizyka dla Szkół Wyższych

[2020-03-19 15:51] lwtchu opened #2072 "space saving: carnival theme: make toc full width"
# What happened?

currently the toc is margin restricted to about half a page for design purposes. we should make these full width to reduce vertical space.

(helene already did this work...didn't see a card for it)

[2020-03-19 15:51] lwtchu commented on #2069
should be fixed with the work helene is working on in https://github.com/openstax/cnx-recipes/issues/2072