[2018-03-19 20:16] openstaxalina commented on #373
Verified.  Thank you!

[2018-03-19 20:16] #373 closed

[2018-05-08 16:22] Stackblocks opened #388 "Improper text wrapping around exercise figures"
Question text wraps incorrectly in some exercises that start with images:

---

![screen shot 2018-05-04 at 3 21 02 pm](https://user-images.githubusercontent.com/28710954/39650856-61a2246c-4faf-11e8-9678-827061a2287a.png)
---
![screen shot 2018-05-04 at 3 20 48 pm](https://user-images.githubusercontent.com/28710954/39650857-61afbb18-4faf-11e8-98e4-d542fccf7194.png)

[2018-05-08 16:25] Stackblocks opened #389 ""f" appearing in Visual Connection"
First visual connection in Section 1.1 has an "f" at the beginning of the question, following the figure.

---

### Previously:
![screen shot 2018-05-02 at 11 38 04 am](https://user-images.githubusercontent.com/28710954/39536841-687c66ac-4dfd-11e8-8bf4-cc3939a98383.png)

---
### Now:
![screen shot 2018-05-02 at 11 38 25 am](https://user-images.githubusercontent.com/28710954/39536840-6865d4dc-4dfd-

[2018-05-08 16:26] Stackblocks opened #390 "Headings of different hierarchy are same size"
![heirarchy weird](https://user-images.githubusercontent.com/33228728/39329483-127d245a-4964-11e8-9dc1-2f5f230d1539.jpg)

[2018-05-08 16:27] Stackblocks opened #391 "Figure numbering shows two numbers (and the bold restarts at 1 on every page)"
![different figure numbers](https://user-images.githubusercontent.com/33228728/39327743-8e73b80e-495e-11e8-9883-3ed60302e208.jpg)

[2018-05-08 16:29] Stackblocks opened #392 "Caption appearing as grey and unclear"
![grey caption](https://user-images.githubusercontent.com/33228728/39327501-d1db63f4-495d-11e8-8b0c-3e96a2cbc431.jpg)

[2018-05-08 16:30] Stackblocks opened #393 "Lines on Example boxes not consistent"
![example double lines](https://user-images.githubusercontent.com/33228728/39324728-d0a914d4-4955-11e8-8518-20ad5bc15708.jpg)

[2018-05-08 16:31] Stackblocks opened #394 "Table distance from title is too wide, title/caption font are same size as body text"
<img width="445" alt="screen shot 2018-04-26 at 12 07 00 pm" src="https://user-images.githubusercontent.com/1895432/39320661-6c3421e8-494a-11e8-9c96-4bfbafa419bb.png">

[2018-05-08 16:32] Stackblocks opened #395 "Feature type/title text is the same size/font as body text"
<img width="925" alt="screen shot 2018-04-26 at 11 54 55 am" src="https://user-images.githubusercontent.com/1895432/39320088-b3aa117e-4948-11e8-94da-89775959f36a.png">

[2018-05-08 16:34] Stackblocks opened #396 "H2 padding uneven"
# Screenshot 1
end-of-para padding does not balance that after H2s
<img width="597" alt="screen shot 2018-04-26 at 9 51 29 am" src="https://user-images.githubusercontent.com/1895432/39313408-89f6838c-4937-11e8-815c-a612785f2028.png">

# Screenshot 2
![h2 padding](https://user-images.githubusercontent.com/33228728/39322630-1ff5d550-4950-11e8-9fbd-cf9e0c98566e.jpg)

[2018-05-08 16:36] Stackblocks opened #397 "Figure caption text same size as body text"
[Example section in College Physics](https://devb.cnx.org/contents/Ax2o07Ul@9.98:HR_VN3f7@3/Introduction-to-Science-and-th)

![intro stats figure text same](https://user-images.githubusercontent.com/33228728/39322071-4af03f86-494e-11e8-9c8d-2009c31e8dee.jpg)

[2018-05-21 18:54] nicolasdamiani opened #398 "Answer key has no line breaks"
Answer key doesn't have any line breaks, making it one big block of text.
![screen shot 2018-05-21 at 1 44 12 pm](https://user-images.githubusercontent.com/28710954/40324512-5678977c-5cfe-11e8-9b19-1a1de21a422f.png)

[2018-05-21 20:03] tomjw64 commented on #398
at first glance, this is a styling issue rather than a recipe issue.

[2018-05-21 20:31] hwangange opened #400 "Unnecessary numbering of equations in example"
In Example 1.1 in Section 1.2: Physical Quantities and Units, the equations are numbered "1.2", "1.3", etc. even though the steps are already numbered (1), (2), etc.

<img width="630" alt="screen shot 2018-05-21 at 3 20 11 pm" src="https://user-images.githubusercontent.com/12180288/40328412-e7435ea6-5d0b-11e8-883c-4bacc605dd04.png">

In the Webview version, the equations are not numbered at all.

[2018-05-21 20:36] JoseEscalante6 opened #401 "Math symbols styled incorrectly"
Ellipsis appears as three large dots rather than three periods
In the Descriptive Statistics Chapter (2) Geometric Mean Section (5)
This is a recurring issue throughout the book

![screenshot 16](https://user-images.githubusercontent.com/30252254/40328619-971b052c-5d0c-11e8-9d2b-9fed3ee51ad5.png)

There is also a problem with asterisks used for multiplication as well as weirdly styled less than (<

[2018-05-21 20:50] hwangange opened #402 "Unnecessary curly brace in equations"
Section Summary for Chapter 2: Kinematics

<img width="769" alt="screen shot 2018-05-21 at 3 48 40 pm" src="https://user-images.githubusercontent.com/12180288/40329236-842422b2-5d0e-11e8-892d-9a4427045f59.png">

There is a curly brace bundling together the three equations, but it is not needed. It is not a system of equations, nor is the curly brace labelled.

[2018-05-21 20:56] hwangange opened #403 "Inconsistent spacing between number and first word of question, in Problems & Exercises"
There are seemingly sporadic instances where no space exists between a question's number and first word. Like question 20 in Ch. 2 Kinematics, Problems & Exercises.
<img width="852" alt="screen shot 2018-05-21 at 3 54 28 pm" src="https://user-images.githubusercontent.com/12180288/40329472-4497bb1c-5d0f-11e8-8343-a5157eb41879.png">

And question 26 (also Ch. 2).
<img width="737" alt="screen shot 20

[2018-05-21 21:29] #402 closed

[2018-05-21 21:35] hwangange opened #405 "Space between last term and period in a sentence"
Ch. 6 (Gravitation and Universal Circular Motion): Section Summary

There is a space between the end of the gravitational constant and the period.

<img width="824" alt="screen shot 2018-05-21 at 4 35 12 pm" src="https://user-images.githubusercontent.com/12180288/40331150-fbc4528c-5d14-11e8-93df-bde0aa6de201.png">

As a result, the period occupies a new line.

[2018-05-21 21:50] jonathan-uba opened #406 "Custom bullet point list error"
In Chapter 21.1, there is an error in the bullet point list for the Virus Classification by Genome Structure table.
![biology 2e error](https://user-images.githubusercontent.com/39272234/40331801-1dac4498-5d17-11e8-9d3e-b0ecc1f15d27.jpg)

[2018-05-21 21:52] openstaxalina opened #407 "Programmatically Add Table Number, Title, and Caption to Table Summary"
# Scenario
In developing & reviewing the guidelines for writing table summaries, Phil brought up a good point that we could automate placing the table number, title, and caption into the table summary rather than requiring content editors to do so.

# Reproducibility Details

- **Impact area**: Table elements
- **User**: any
- **URL / Location**: various
- **How many times were you able to reprodu

[2018-05-21 21:55] JoseEscalante6 opened #408 "Figure & Table Text not confined within section"
The table in Chapter 13 Linear Regression and Correlation Section 4 The Regression Equation causes the Figure text included within Example 13.5 to appear outside of the box it is supposed to be within.

![screenshot 19](https://user-images.githubusercontent.com/30252254/40331947-c57433e8-5d17-11e8-9dd1-e55c4062af48.png)

[2018-05-21 21:58] hwangange commented on #401
AP PHYSICS:

Multiplication dot is abnormally large between "kg" and "m" in "Making Connections: Illustrations of Force Exerted" in Section 8.2 (Impulse).

<img width="889" alt="screen shot 2018-05-21 at 4 57 49 pm" src="https://user-images.githubusercontent.com/12180288/40332030-228f5efe-5d18-11e8-8019-f5f851f52993.png">

[2018-05-22 14:32] hwangange opened #409 "Line incorrectly placed above exponent"
<img width="564" alt="screen shot 2018-05-22 at 9 30 47 am" src="https://user-images.githubusercontent.com/12180288/40369097-df8007cc-5da2-11e8-9f2c-d7daf1b1b539.png">

Section 13.4 Kinetic Theory, Example 13.11
Line should directly above the variable v, and then this entire quantity is raised to the second power. Instead, the line is placed above the quantity v^2.

[2018-05-22 14:41] hwangange opened #410 "Vertically stretched image"
<img width="374" alt="screen shot 2018-05-22 at 9 39 14 am" src="https://user-images.githubusercontent.com/12180288/40369641-03749764-5da4-11e8-8129-536cc55f3482.png">

Section 13.6 - Humidity, Evaporation, and Boiling

Image still appears stretched no matter how I resize the browser.

[2018-05-22 14:44] hwangange opened #411 "Different font in table"
<img width="915" alt="screen shot 2018-05-22 at 9 43 34 am" src="https://user-images.githubusercontent.com/12180288/40369892-a268b2c4-5da4-11e8-85ba-d545bb5031da.png">

Section 14.6 Convection

Font is different; typically table cells containing values that aren't equations, have the same font as paragraph text.

[2018-05-31 21:56] lwtchu commented on #388
https://github.com/Connexions/webview/issues/1636 moved

[2018-05-31 21:56] #388 closed

[2018-06-01 14:56] lwtchu commented on #393
@Stackblocks this might be due to the fact that there's an exercise embedded in the example. the second line is for the exercise

[2018-06-01 15:00] lwtchu commented on #411
This is due to math being used.

[2018-06-01 15:00] #411 closed

[2018-06-01 15:26] lwtchu commented on #405
Might be due to math not being wrappable. We can move to see if there's a potential fix.

[2018-06-01 15:38] lwtchu commented on #409
Might be a math rendering problem :(

[2018-06-01 15:58] #390 closed

[2018-06-01 15:58] Stackblocks commented on #390
Issue moved to [Connexions/webview #1637](https://github.com/Connexions/webview/issues/1637) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-01 16:01] #392 closed

[2018-06-01 16:01] Stackblocks commented on #392
Issue moved to [Connexions/webview #1638](https://github.com/Connexions/webview/issues/1638) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-01 16:02] #393 closed

[2018-06-01 16:02] Stackblocks commented on #393
Issue moved to [Connexions/webview #1639](https://github.com/Connexions/webview/issues/1639) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-01 16:03] Stackblocks commented on #394
Issue moved to [Connexions/webview #1640](https://github.com/Connexions/webview/issues/1640) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-01 16:03] #394 closed

[2018-06-01 16:04] Stackblocks commented on #395
Issue moved to [Connexions/webview #1641](https://github.com/Connexions/webview/issues/1641) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-01 16:04] #395 closed

[2018-06-01 16:05] #396 closed

[2018-06-01 16:05] Stackblocks commented on #396
Issue moved to [Connexions/webview #1642](https://github.com/Connexions/webview/issues/1642) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-01 16:06] Stackblocks commented on #397
Issue moved to [Connexions/webview #1643](https://github.com/Connexions/webview/issues/1643) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-01 16:06] #397 closed

[2018-06-01 16:07] Stackblocks commented on #398
Issue moved to [Connexions/webview #1644](https://github.com/Connexions/webview/issues/1644) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-01 16:07] #398 closed

[2018-06-01 16:09] Stackblocks commented on #401
Issue moved to [Connexions/webview #1645](https://github.com/Connexions/webview/issues/1645) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-01 16:09] #401 closed

[2018-06-01 16:20] Stackblocks commented on #401
Issue moved to [Connexions/webview #1646](https://github.com/Connexions/webview/issues/1646) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-01 16:21] #406 closed

[2018-06-01 16:21] Stackblocks commented on #406
Issue moved to [Connexions/webview #1647](https://github.com/Connexions/webview/issues/1647) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-01 16:22] #408 closed

[2018-06-01 16:22] Stackblocks commented on #408
Issue moved to [Connexions/webview #1648](https://github.com/Connexions/webview/issues/1648) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-01 16:22] Stackblocks commented on #405
Issue moved to [Connexions/webview #1649](https://github.com/Connexions/webview/issues/1649) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-01 16:22] #405 closed

[2018-06-01 16:23] Stackblocks commented on #403
Issue moved to [Connexions/webview #1650](https://github.com/Connexions/webview/issues/1650) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-01 16:23] Stackblocks commented on #410
Issue moved to [Connexions/webview #1651](https://github.com/Connexions/webview/issues/1651) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-01 16:23] #410 closed

[2018-06-04 21:51] tomjw64 opened #415 "Recipes incompatible with newest version of node-sass"
[code]

So the latest node-sass chokes on the `match` pseudo-class, or rather that the argument of it doesn't happen to be a selector itself. Maybe there's some extra validation that has been added in the last four minor versions?

[2018-06-07 16:40] tomjw64 commented on #415
Will be addressed in https://github.com/Connexions/cssselect2/pull/8

[2018-06-07 17:05] brittany-johnson commented on #407
![screen shot 2018-06-07 at 12 02 32 pm](https://user-images.githubusercontent.com/24909007/41114786-0e4eb2e2-6a4b-11e8-952c-72eb17b2424a.png)

@Stackblocks

[2018-06-07 18:27] Stackblocks commented on #407
Table Number & Summary showing correctly, but Title needs to be included.

![image](https://user-images.githubusercontent.com/12678235/41118729-70a73940-6a56-11e8-931d-d1ba12b14aca.png)

[2018-06-07 18:34] helenemccarron commented on #407
@Stackblocks (cc @openstaxalina )I don't think we should support tables with titles in the first header row at the moment, only when the title is part of the caption (ie when the caption and the title tags are used in the content). The current functionality supports that already. I am working on supporting title top tables (https://github.com/Connexions/cnx-recipes/pull/418) which will require con

[2018-06-07 18:39] openstaxalina commented on #407
@helenemccarron yes, this sounds good.  We do not need to bring the title from the header row into the summary.  We only need to bring in the title if it was placed in a < title > tag.

[2018-06-07 18:43] #407 closed

[2018-06-18 18:22] helenemccarron commented on #113
Started here: https://github.com/Connexions/cnx-recipes/pull/418

[2018-06-18 18:34] helenemccarron commented on #391
This looks like the book is either unbaked or cached.

[2018-06-20 15:45] Stackblocks opened #425 "Biology => Art Connection Questions Collating Figure Link, Not Image."
# Scenario

Art Connection questions are collating with a link to the image instead of the image itself, is this the desired behavior? If not, please correct.

# Reproducibility Details
- **URL / Location**: https://devb.cnx.org/contents/GFy_h8cu@10.120:otIsPXu6@10.120/Answer-Key#fs-id1690230-solution

## Screenshots
![image](https://user-images.githubusercontent.com/12678235/41669234-f7c0f11c-747

[2018-06-21 15:02] Stackblocks commented on #391
Cannot locate / reproduce. Closing issue.

[2018-06-21 15:02] #391 closed

[2018-06-22 18:05] wilkus27 opened #426 "Missing white spaces between numbers and text."
# Scenario

In Critical Thinking Questions part of the book in the numbered area there is white space just in the four first points between number and the sentence.

# Reproducibility Details

- **URL / Location**: https://devb.cnx.org/contents/GFy_h8cu@10.120:HT3cB5gC@10.120/Critical-Thinking-Questions

## Screenshots

![space](https://user-images.githubusercontent.com/40228854/41791790-6cb62482-

[2018-06-26 17:44] Stackblocks opened #428 "Create BakedPDF Documentation"
## User Story
- As a user, I want to have documentation on BakedPDF so that I can understand how it works.

## Acceptance Criteria
- When I read the BakedPDF documentation, I expect to be able to understand roughly how it works.

## Definition of Ready
- [ ] Documentation has been created
- [ ] Documentation has been peer-reviewed
- [ ] Documentation is made available

[2018-06-26 17:45] Stackblocks opened #429 "Create BakedPDF Training Resources"
## User Story
- As a user I want training resources so that I can learn how to use BakedPDF

## Acceptance Criteria
- When I use the training materials, I expect to learn how to use BakedPDF on my own.

## Definition of Ready
- [ ] Training materials have been created
- [ ] Training materials have been peer-reviewed
- [ ] Training materials have been made available to the user

[2018-06-26 17:53] Stackblocks opened #430 "Get BakedPDF framework ready for external use"
## Acceptance Criteria
- When I direct users to the resources for BakedPDF, I expect the users to be able to learn how to use and understand BakedPDF

[2018-06-26 18:00] Stackblocks opened #431 "Create a prototype using BakedPDF"
## User Story
- As a developer I want BakedPDF to work so that we can replace oer.exports

## Acceptance Criteria
- When I create a PDF using BakedPDF, I expect the output to be a complete / valid PDF.

[2018-06-27 20:05] Stackblocks opened #434 "Empty caption in tables"
@Adrianltd commented on [Tue Jun 19 2018](https://github.com/Connexions/webview/issues/1662)

![image](https://user-images.githubusercontent.com/40228907/41620248-66a8075a-7409-11e8-9275-c0a5c28959aa.png)
There's an empty `<caption></caption>` in each `os-table`.
The example above  is taken from College Physics For AP® Courses, chapter 1.2

[2018-07-02 15:43] damondemar opened #435 "Styles: Tables"
Style tables for recipes

[2018-07-02 15:44] damondemar opened #436 "Styles: Notes"
Style notes for recipes

[2018-07-02 15:45] damondemar opened #437 "carnival theme: footnotes"
![Screen Shot 2019-08-06 at 4 58 46 PM](https://user-images.githubusercontent.com/11299125/62580297-7c6c6200-b86b-11e9-84a9-a1fc40ac86e5.png)

Should be Alegreya Regular 1.2rem (9pt)
Width of line: 110 px (11rem)
Line stroke weight: 0.5pt
Line is 1 line height above the text

** All footnotes across all titles so be NO SMALLER than 1.2rem (9pt)
Footnotes are generally a superscript number BUT shou

[2018-07-02 15:46] damondemar opened #438 "Styles: Citations"
Style citations for recipes

[2018-07-02 15:46] damondemar opened #439 "library wide: folio and pages"
<img width="1090" alt="Screen Shot 2019-05-20 at 6 45 22 PM" src="https://user-images.githubusercontent.com/11299125/58058685-73eb7180-7b2f-11e9-86e5-5f1dddad2a97.png">

ON THE LEFT PAGE (all even numbered pages): `CHAPTER # • Chapter title`
ON THE RIGHT PAGE (all odd numbered pages): `#.# Module title`

Font: style matches H1, H2, H3 fonts for book example: in carnival theme it's Muli Bold
Font s

[2018-07-02 15:47] damondemar opened #440 "Styles: Answer Key"
Style answer key for recipes

[2018-07-02 15:47] damondemar opened #441 "Styles:SVG Icons, EOC, and Notes"
Style EOC for recipes

[2018-07-02 15:48] damondemar opened #442 "Styles: Implement Page Break"
Implement page break for styles of recipes

[2018-07-06 09:35] uskka opened #443 "Missing Exercise text in "Critical Thinking Questions" / Biology for AP® Courses"
What: Missing Exercise text in "Critical Thinking Questions" .

Where: Biology for AP® Courses / devb / 29 Critical Thinking Questions
https://devb.cnx.org/contents/bDIuMp-w@5.1:bbQsJw61@5.1/Critical-Thinking-Questions

![screenshot-devb cnx org-2018 07 06-11-26-47](https://user-images.githubusercontent.com/40228918/42371539-13a22612-8110-11e8-8a3e-965b8a1cf3fb.png)

[2018-07-06 14:21] clteam18 opened #444 "Intro to Business: Exploring Business Careers sub-title is not formatted in bold"
Chapter 4 - m10048

[https://content02.cnx.org/contents/oJ6xvjEh@1.1:S6CQr29Q@1/Introduction](url)

**XML Coding:**
![image](https://user-images.githubusercontent.com/39794953/42383554-2bf938dc-8155-11e8-8ccb-270e6a0efa33.png)

**Online View:**
![image](https://user-images.githubusercontent.com/39794953/42383626-61a6e9f2-8155-11e8-8ad3-5361b01bb430.png)

The second title in the Exploring Business

[2018-07-06 14:37] clteam18 opened #445 "Intro to Business: Preparing for Tomorrow's Workplace Skills"
Globall for all Chapters

![image](https://user-images.githubusercontent.com/39794953/42384417-8d7f55ee-8157-11e8-91b0-a717edfb747e.png)

Heading "**Preparing for Tomorrow's Workplace Skills**" displays as "**Preparing for Tomorrow's Workplace**", the word "**Skills**" is cut in online view.

[2018-07-06 14:41] clteam18 opened #446 "Intro to Business: Critical Thinking Questions"
Critical Thinking Case - Global for all Chapters

![image](https://user-images.githubusercontent.com/39794953/42384783-8dab4c3e-8158-11e8-96af-29f4e1f14e8e.png)

**Critical Thinking Questions** under the section **Critical Thinking Case** has no space between paragraph and heading.

[2018-07-06 14:46] clteam18 opened #447 "Intro to Business: References - Global"
**Global for all Chapters**

![image](https://user-images.githubusercontent.com/39794953/42384974-20f8d420-8159-11e8-87fe-4bb05e1cd6b1.png)

There is no separation between the Note numbers and the text in online view.

[2018-07-06 14:51] clteam18 opened #448 "Intro to Business: Notes callout not in superscript"
Global for all Chapters

![image](https://user-images.githubusercontent.com/39794953/42385250-dfd72306-8159-11e8-844a-d273d83b6f64.png)

Notes callout are not in superscript position, seems to be continuation with the paragraph text.

[2018-07-06 14:56] clteam18 opened #449 "Intro to Business: Exhibit displayed as Figure in paragraph"
Global for all Chapters

https://content02.cnx.org/contents/-3P-qhDI@16.1:kouPko7R@5/12-Understanding-the-Business-

![image](https://user-images.githubusercontent.com/39794953/42385483-8962748e-815a-11e8-904e-999f3930e50f.png)

Figure callouts in paragraphs displayed as **Figure** instead of **Exhibit**

[2018-07-06 15:04] clteam18 opened #450 "Intro to Business: unnumbered list displays as bullet style"
Chapter 17 - m10295

https://content02.cnx.org/contents/W5lkru-C@1.2:sT9pws9t@1/12-Developing-Interpersonal-Sk

**XML Coding:**
![image](https://user-images.githubusercontent.com/39794953/42385910-bcafdeca-815b-11e8-85a3-a87fa628c860.png)

**Online View:**
![image](https://user-images.githubusercontent.com/39794953/42385851-8dd9c390-815b-11e8-8470-70524bb3010b.png)

**bullet-style** attribute valu

[2018-07-06 15:12] clteam18 opened #451 "Intro to Business: Introduction in Appendix displays as 1.1 A"
**Appendix - m10302**

https://content02.cnx.org/contents/uVg-ahUk@1.1:anIA8Ogm@1/11-A--Introduction

![image](https://user-images.githubusercontent.com/39794953/42386316-ce071a2a-815c-11e8-94de-5fb4e8635ead.png)

Introduction in Appendix displays with the prefix 1.1 A both in side TOC and heading.

[2018-07-06 19:38] helenemccarron opened #454 "Modify answer key's structure"
In reference to https://github.com/Connexions/webview/pull/1625 and https://github.com/Connexions/webview/pull/1665, the recipes should modify the answer key to allow for better styling and flexibility

**See requirements below**

[2018-07-06 19:42] helenemccarron commented on #425
I believe this is working as intended. Below is a screenshot of the PDF behaving the same way.
![2018-07-06_14-41-54](https://user-images.githubusercontent.com/8514591/42397264-dab714f0-812a-11e8-9532-b7b28dfd5562.png)
cc @openstaxalina

[2018-07-06 19:45] helenemccarron opened #455 "Figures aren't numbered in the preface"
Numbering for figures and tables isn't currently working in prefaces.

[2018-07-06 19:58] helenemccarron opened #456 "Feature type/title text is the same size/font as body text"
@Stackblocks commented on [Fri Jun 01 2018](https://github.com/Connexions/webview/issues/1641)

@Stackblocks commented on [Tue May 08 2018](https://github.com/Connexions/cnx-recipes/issues/395)

# In College Physics
<img width="925" alt="screen shot 2018-04-26 at 11 54 55 am" src="https://user-images.githubusercontent.com/1895432/39320088-b3aa117e-4948-11e8-94da-89775959f36a.png">

---

@hwangange

[2018-07-06 20:18] helenemccarron commented on #450
moved to webview:  https://github.com/Connexions/webview/issues/1698

[2018-07-06 20:18] #450 closed

[2018-07-06 20:20] helenemccarron commented on #448
Issue moved to [Connexions/webview #1699](https://github.com/Connexions/webview/issues/1699) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-06 20:20] #448 closed

[2018-07-06 20:22] helenemccarron commented on #447
Issue moved to [Connexions/webview #1700](https://github.com/Connexions/webview/issues/1700) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-06 20:22] #447 closed

[2018-07-07 00:20] openstaxalina commented on #443
I would like to re-test this once we have the new content from production.  Re-assigned to Stefan for this purpose.

[2018-07-07 01:11] openstaxalina commented on #425
Confirmed this is acceptable.  This is the behavior in the Answer Key and the EOC content in the PDF.  Closing.

[2018-07-07 01:11] #425 closed

[2018-07-07 01:13] openstaxalina commented on #455
@lwtchu please review and prioritize (Did we decide to support this in PDF?  We should make a consistent decision for webview.)

[2018-07-07 01:15] openstaxalina commented on #113
To discuss Monday: I am concerned about a global change when we have already released business book designs.  Is this needed for Assignable Webview (matching numbering and collation), or can we defer to BakedPDF styling, which will have a more comprehensive approach w/ UX input?

[2018-07-07 01:17] openstaxalina commented on #451
@Bkblodget should confirm, but I believe this is a markup issue.  The Appendix should not be in a subcollection.  Each Appendix can only consist of one module.

[2018-07-07 01:18] openstaxalina commented on #449
For Monday: Larissa should review for priority.  I do not think this is a content issue.

[2018-07-07 01:19] openstaxalina commented on #446
For Monday: Larissa should prioritize.

[2018-07-07 01:20] openstaxalina commented on #445
For Monday: I'm fairly certain this is a quick fix in the recipe.  We changed the title late, and may have only updated the PDF styling.

[2018-07-07 01:21] openstaxalina commented on #444
For Monday: Larissa should review.  However, I do not think that we can support two titles.

[2018-07-09 14:10] lwtchu commented on #449
Should be high priority. Numbering in text should match numbering for exhibit/figure.

[2018-07-09 14:13] lwtchu commented on #444
It's a paragraph title - I think we can do what we did for the PDF here. For all paragraph and list titles, just bold them.

[2018-07-09 14:17] lwtchu commented on #455
It's supported in the PDF.

[2018-07-09 15:21] tomjw64 opened #457 "Appropriately label top level pages in the table of contents"
We cannot correctly style the preface/index differently from the appendices without appropriately labeling them with classes in recipes.

[2018-07-09 17:29] openstaxalina commented on #457
This does not require any content changes.

[2018-07-09 17:39] openstaxalina commented on #451
@clteam18 An Appendix can only be only one module, not nested in a sub collection.  We recommend building a full-book collection as soon as possible and placing the appendix at the end of this collection.

[2018-07-09 17:43] lwtchu commented on #113
Reference https://github.com/Connexions/oer.exports/issues/3399

We decided this approach so that "fake titles" for tables so a fake title and a regular table title wouldn't be an "either or" option for the books. Example: In _Astronomy_, it was forced for all tables to have a fake title. Using the class will make it easier to consistently style them.

[2018-07-09 17:45] openstaxalina commented on #444
@clteam18 please either use a paragraph title element for "Sole Proprietor" or move Jessica MacLean and Sole Proprietor into the same title element.

[2018-07-09 18:30] openstaxalina commented on #389
This is assessment 1 in Exercises.  I reviewed all versions and did not find any that contained the letter "f" in that position.  It may be worth rebaking the book to see if this issue occurs again (?).  cc @Stackblocks @helenemccarron

<img width="1440" alt="screen shot 2018-07-09 at 1 29 57 pm" src="https://user-images.githubusercontent.com/7863733/42469078-4dae00b0-837c-11e8-87ab-eaef93313c02.p

[2018-07-09 18:40] openstaxalina commented on #454
Requirements:
Find a more elegant way for the assessment number and content to appear on the same line.

We need to see what happens to images with this fix.  If the image falls onto the next line, we will need a separate fix for that.

[2018-07-10 07:43] wilkus27 opened #458 "Different font size of header "Coverage and Scope""
In most of books header "Coverage and Scope" have smaller font size than header "About (...)", e.g.

Introductory Business Statistics (https://devb.cnx.org/contents/tWu56V64@33.86:qtUkyT_U@19/Preface)
![bus_stati](https://user-images.githubusercontent.com/40228854/42496074-43b66fee-8425-11e8-8a6c-d17d7327a22f.JPG)

University Physics Volume 1 (https://devb.cnx.org/contents/1Q9uMg_a@8.1:Gofkr9Oy@9/

[2018-07-10 08:04] Adrianltd commented on #434
@openstaxalina Yes, indeed.

[2018-07-10 08:49] PatBoj commented on #389
@helenemccarron I have a problem with featching this book.

[code]
I thnik it's problem with host name in file `books.txt`.
![image](https://user-images.githubusercontent.com/20907906/42499307-b70a9570-842e-11e8-9d43-f888e788509d.png)

My question is: how can I bake this book?

[2018-07-10 10:37] wilkus27 opened #459 "Additional white spaces between words in columns headers"
In parts of tables there are occuring white spaces between words in headers of columns.

Module 2.2 Example 2.16 (https://devb.cnx.org/contents/tWu56V64@33.86:XEZYKVYN@6/22-Measures-of-the-Location-of)
![big_font](https://user-images.githubusercontent.com/40228854/42504914-7ac321f4-843d-11e8-94e2-dbf4105a5ed1.JPG)

Module 1.3 Example 1.17 (https://devb.cnx.org/contents/tWu56V64@33.86:B2ZsQUfk@8/13

[2018-07-10 14:49] wilkus27 opened #460 "Example box in Try It box"
In the whole book Examples and Try It  are occuring as a separate boxes:
E.g:
Module 3.5 (https://devb.cnx.org/contents/tWu56V64@33.86:fCadB1zn@12/35-Venn-Diagrams)
![ex_sep_try](https://user-images.githubusercontent.com/40228854/42517753-c0e49d20-8460-11e8-8115-a1a748185708.JPG)

But here Example is in Try It:
(the same module)
![ex_in_try](https://user-images.githubusercontent.com/40228854/42517

[2018-07-10 15:13] wilkus27 opened #461 "The same number in two Try It boxes"
Module 3.5
https://devb.cnx.org/contents/tWu56V64@33.86:fCadB1zn@12/35-Venn-Diagrams
![number](https://user-images.githubusercontent.com/40228854/42519406-4b8bf3bc-8464-11e8-9c8d-95179f28ba1d.JPG)

[2018-07-10 15:25] helenemccarron commented on #460
I believe this is working as intended, included a screenshot of the pdf. cc @openstaxalina
![2018-07-10_10-24-44](https://user-images.githubusercontent.com/8514591/42520312-8e35221c-842b-11e8-9c3a-d184c40fe159.png)

[2018-07-10 15:30] openstaxalina commented on #460
Filed https://openstax.org/errata/6439 for this; we can fix independently of Assignable Webview.

[2018-07-10 15:30] #460 closed

[2018-07-10 15:45] damondemar commented on #455
addressed in pr #453

[2018-07-10 17:01] openstaxalina commented on #459
@marcjeannott, would you be able to investigate if there is any difference in the markup between these two instances?  Specifically, we are looking at the line break between "RELATIVE" and "FREQUENCY" in the second instance.  We are also looking at similar line breaks in the header for the next column ("CUMULATIVE RELATIVE FREQUENCY").

[2018-07-10 17:02] openstaxalina commented on #461
This does seem like a bug.  @helenemccarron please let me know if you'd like content investigation first.

[2018-07-10 17:08] openstaxalina commented on #458
This is not an issue on production: https://cnx.org/contents/jVCgr5SL@8.197:2zYFPFKB@7/Preface

Closing this issue.

[2018-07-10 17:08] #458 closed

[2018-07-10 21:33] helenemccarron commented on #461
@openstaxalina this is actually a feature, not a bug. Try its are designed to use the same number as the example before. This might be specific to Business Statistics that has more than one try it per example.

![2018-07-10_16-31-32](https://user-images.githubusercontent.com/8514591/42538937-f88b4e88-845e-11e8-9c60-10d5b44a9291.png)

[2018-07-10 22:16] openstaxalina commented on #461
@helenemccarron thanks you for investigating this!  closing.

[2018-07-10 22:16] #461 closed

[2018-07-11 16:06] helenemccarron commented on #113
Phase one: support top titled tables (addressed in PR #418 )
@Stackblocks, to test please look at the table with the class `top-titled` to verify the text in the first header row of the table has been moved to a div above the table. See before and after screenshots below.

Before:
![2018-07-11_11-02-05](https://user-images.githubusercontent.com/8514591/42585118-639bca90-84fa-11e8-9cc6-455c2edd72d0

[2018-07-11 19:14] helenemccarron commented on #389
Per Dante: "seems like the `f` is in https://exercises-dev.openstax.org/api/exercises/1 which means devb.cnx.org is probably pointing at exercises-dev instead of prod". He will change the exercise on exercises-dev.

[2018-07-11 21:58] Stackblocks commented on #113
Displaying as specified with updated version of content / code.

![image](https://user-images.githubusercontent.com/12678235/42601542-93935f66-852b-11e8-9e4f-4ca395c79e37.png)

[2018-07-11 21:58] #113 closed

[2018-07-11 22:02] helenemccarron opened #463 "Top Titled Tables need Title styled"
# Scenario

Top Titled Tables need Title styled.

# Reproducibility Details

- **Impact area**: baked tables with a top-title class
- **User**: everyone
- **URL / Location**: https://devb.cnx.org/contents/Mmq0W-88@14.1:1KJYQ8ob@5/14-top-titled-class-table-test
- **How many times were you able to reproduce the issue?** : all the time

## Steps to reproduce:

- Bake a book with top titled tables

##

[2018-07-11 22:06] helenemccarron commented on #463
Issue moved to [Connexions/webview #1712](https://github.com/Connexions/webview/issues/1712) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-11 22:06] #463 closed

[2018-07-12 09:19] wilkus27 opened #464 "Missing term in index"
In Index (https://devb.cnx.org/contents/tWu56V64@33.86:BK2Pfetd@33.86/Index) link to the term is in improper place:
![term_devb](https://user-images.githubusercontent.com/40228854/42624050-ba4a2880-85c4-11e8-9960-ee617524fbbd.JPG)

This is how it looks in pdf:
![term_pdf](https://user-images.githubusercontent.com/40228854/42624133-f3ccc57c-85c4-11e8-9f0b-e168701c33df.JPG)

[2018-07-12 13:43] marcjeannott commented on #459
The tables in 1.3 had a newline tag used in-between the header text. I've removed these newline tags, and the tables appear correctly now.

[2018-07-12 13:43] #459 closed

[2018-07-12 15:05] tomjw64 commented on #445
![screenshot-1](https://user-images.githubusercontent.com/1285308/42641843-17a078b8-85bb-11e8-9652-84cca92199c0.png)

[2018-07-12 21:27] Bkblodget opened #466 "Intro to Business => Customer Satisfaction feature change"
Customer Satisfaction feature title should be **Customer Satisfaction and Quality**.

![picture1](https://user-images.githubusercontent.com/11299035/42660228-1fa9cd4a-85f0-11e8-8ad1-003ae1377f58.png)

[2018-07-12 23:31] openstaxalina commented on #466
I think this is high priority; we are close to having final XML for this title and cannot generate a final QA content without this fix.  @lwtchu please review/confirm.

[2018-07-13 16:00] brittany-johnson commented on #446
Styling issue, moving to webview https://github.com/Connexions/webview/issues/1704

[2018-07-13 16:01] brittany-johnson commented on #446
Styling issue, moving to webview https://github.com/Connexions/webview/issues/1716

[2018-07-13 16:01] #446 closed

[2018-07-13 20:18] openstaxalina commented on #464
I think we should re-test this after the content refresh.  This looks very strange to me.

[2018-07-16 15:08] helenemccarron opened #472 "[Katalyst helping with in-sprint testing] Separate the Answer Key by Chapter"
@openstaxalina commented on [Tue Jul 10 2018](https://github.com/Connexions/webview/issues/1708)

**Not a requirement for Assignable Webview MVP**

As a student, I need to be able to navigate to answers for the chapter that I am currently reviewing.

Here is the Answer Key for _University Physics Volume 1_: https://cnx.org/contents/1Q9uMg_a:5qqYClIo
It takes a long time to typeset all the math and

[2018-07-16 15:09] openstaxalina commented on #451
@clteam18 , please make Appendix A a single module, per email instructions (use section titles for the current module titles).  Please update the bookmap accordingly.

[2018-07-16 15:10] openstaxalina commented on #444
@clteam18 please post a screenshot here and close this issue when this change is complete.

[2018-07-16 15:12] openstaxalina commented on #389
We will change cnx-deploy to point to Exercises (prod) instead.

[2018-07-16 15:12] #389 closed

[2018-07-16 16:15] openstaxalina commented on #457
Need to determine which books should be included for the initial release of this change.

[2018-07-16 16:26] helenemccarron opened #473 "Intro to Business: Notes callout not in superscript"
@helenemccarron commented on [Fri Jul 06 2018](https://github.com/Connexions/webview/issues/1699)

@clteam18 commented on [Fri Jul 06 2018](https://github.com/Connexions/cnx-recipes/issues/448)

Global for all Chapters

![image](https://user-images.githubusercontent.com/39794953/42385250-dfd72306-8159-11e8-844a-d273d83b6f64.png)

Notes callout are not in superscript position, seems to be continuat

[2018-07-16 21:41] Stackblocks commented on #445
Displaying as specified with updated version of content / code.
![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/9d46c888-0b76-427c-b58e-ed7ee1492b10)

[2018-07-16 21:41] #445 closed

[2018-07-17 13:46] clteam18 commented on #451
@openstaxalina We have created Appendix as a single module per email instructions and updated the Bookmap accordingly.

[2018-07-17 13:46] #451 closed

[2018-07-17 13:49] clteam18 commented on #444
![image](https://user-images.githubusercontent.com/39794953/42821406-1e341010-89f6-11e8-8bd9-4d973442b26b.png)

**Sole Proprietor** is captured within the paragraph title element and now its rendering correctly.

[2018-07-17 13:49] #444 closed

[2018-07-17 16:06] helenemccarron commented on #426
This is not a recipe issue, the content does not contain extra spaces.

[2018-07-17 16:09] #426 closed

[2018-07-17 16:09] helenemccarron commented on #426
Issue moved to [Connexions/webview #1722](https://github.com/Connexions/webview/issues/1722) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-17 16:09] helenemccarron commented on #426
Issue moved to [Connexions/webview #1723](https://github.com/Connexions/webview/issues/1723) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-17 16:52] openstaxalina opened #474 "Biology 2e: Change "Art Connection" to "Visual Connection" in Collating EOC Section"
# Scenario
We updated the "Art Connection" to "Visual Connection" for _Biology 2e_.  However, we need to make this change in the End of Section "Art Connection Questions" section.

# Reproducibility Details
***Note: the screenshot and links are from Biology (1e) on devb and should be updated once the baked version of Biology 2e is available on katalys01.***

- **Impact area**: EOC "Art Connection

[2018-07-18 09:00] wilkus27 commented on #456
There were three problematic places with Check Your Understanding header connected with recipes. All of them are displaying correctly now on devb:

Module 13.4 (https://devb.cnx.org/contents/jQSmhtXo@14.60:lU8zWeww@3/134-Kinetic-Theory-Atomic-and-)
![13 4](https://user-images.githubusercontent.com/40228854/42870846-336a5dee-8a79-11e8-8382-4ffb17d2bb4e.JPG)

Module 21.6 (https://devb.cnx.org/conten

[2018-07-18 13:31] clteam18 opened #476 "Intro to Business: NOTE contents are displayed next to its callout and number sequence order continues with Chapter 17"
**Appendix - m10302**

**Web view**
![image](https://user-images.githubusercontent.com/39794953/42884518-28fb164e-8abc-11e8-803d-869e18425899.png)

1. NOTE content displays next to its callout paragraph as shown above, and the contents could not be found in the **References** section.
2. NOTE callout number and content number continues with the sequence order of Chapter 17 and displays as (24, 25,

[2018-07-18 14:45] openstaxalina commented on #476
@lwtchu this looks like a citation in the Appendix.  Can we support these?  I've placed this in the next milestone; please prioritize as you see fit.

Link to content: https://content02.cnx.org/contents/o0xnhd_t@4.1:anIA8Ogm@5/A--Understanding-the-Legal-and

[2018-07-18 15:03] Stackblocks commented on #456
Closing this issue since it appears everything is now working correctly.

[2018-07-18 15:03] #456 closed

[2018-07-18 20:51] helenemccarron commented on #449
addressed in PR #469

[2018-07-19 17:10] damondemar commented on #466
Issue was handled in oer.exports https://github.com/Connexions/oer.exports/issues/3700. The note title is already fixed in the recipe.

[2018-07-19 17:10] #466 closed

[2018-07-19 17:42] Stackblocks commented on #449
Still seeing `Figure #.#` instead of `Exhibit #.#` with new code. Re-assigning.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/4a103397-947f-4975-ba4d-513df77405e5)

[2018-07-19 17:53] Stackblocks commented on #449
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/37a41f2e-0499-4f5a-8103-670f256b5f21)

[2018-07-19 17:53] #449 closed

[2018-07-19 18:01] Stackblocks commented on #455
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/71f7f781-15bc-42ed-a625-76b794f11091)

[2018-07-19 18:05] lwtchu commented on #476
I don't believe citations are supported in the appendix. @helenemccarron can you confirm?

[2018-07-19 19:10] #403 closed

[2018-07-19 19:20] openstaxalina commented on #474
Flag to discuss at Sprint Planning.

[2018-07-19 21:23] Stackblocks opened #480 "Business Ethics - Link to Learning feature title missing 'to' in Webview"
@mwest-WWprod commented on [Thu Jul 19 2018](https://github.com/Connexions/oer.exports/issues/3711)

content01
GLOBAL - Webview

Link to Learning missing 'to' in the feature title, in Webview.

![ll_webview](https://user-images.githubusercontent.com/19212926/42969035-ec6b51c8-8b72-11e8-9e6a-9b6b65bfaa54.png)

---

@openstaxalina commented on [Thu Jul 19 2018](https://github.com/Connexions/oer.expo

[2018-07-19 21:26] Stackblocks opened #482 "Business Ethics - Chapter Title in Webview"
@mwest-WWprod commented on [Thu Jul 19 2018](https://github.com/Connexions/oer.exports/issues/3709)

content01
GLOBAL - Webview

Chapter title does not appear on opener page (only appears in TOC listing). Chapter title should appear if possible.

![chaptertitle webview](https://user-images.githubusercontent.com/19212926/42968647-e5e7f97e-8b71-11e8-8c60-83c09a905b8d.png)

---

@openstaxalina commen

[2018-07-19 22:03] mwest-WWprod opened #483 "Business Ethics - Endnote numbering in Webview"
content 01
GLOBAL - Webview

All endnotes within a chapter should have a unique numeral (as in the PDF).  See below for example of these appear in Webview.

![endnote_numbering](https://user-images.githubusercontent.com/19212926/42972530-c8f31680-8b7d-11e8-9cad-1567e68933cd.png)

[2018-07-19 22:11] mwest-WWprod opened #484 "Business Ethics - Assessment module headers in Webview"
content01
GLOBAL - Webview

Assessment questions should not have module headers listed in Webview (see PDF), if it is possible to remove them.

![assessment module headers](https://user-images.githubusercontent.com/19212926/42972860-f3a874e6-8b7e-11e8-8629-a52c24675347.png)

[2018-07-19 22:14] mwest-WWprod opened #485 "Business Ethics - Remove endnote module headers, make numbering continuous in Webview"
content01
GLOBAL - Webview

Endnotes should not have module headers listed in Webview (see PDF), if it is possible to remove them.

![endnote module headers](https://user-images.githubusercontent.com/19212926/42972970-529d8ac2-8b7f-11e8-8428-99960234bcd5.png)

[2018-07-19 22:29] mwest-WWprod opened #486 "Business Ethics - Index entries in Webview"
content01
GLOBAL - Webview

Index entries are missing when a term has multiple entries (compare C and E listings in Webview to PDF).

Webview
![index webview](https://user-images.githubusercontent.com/19212926/42973555-83102956-8b81-11e8-8e34-4930adada203.png)

PDF
![index pdf](https://user-images.githubusercontent.com/19212926/42973559-869b9cae-8b81-11e8-9d0f-359c498a0f43.png)

[2018-07-20 15:32] helenemccarron opened #487 "Intro to Business: Table callout generated as Table A.1, Table A.2"
@clteam18 commented on [Wed Jul 18 2018](https://github.com/Connexions/oer.exports/issues/3707)

**Appendix - m10302**

**PDF**

![image](https://user-images.githubusercontent.com/39794953/42871801-d7cad71e-8a98-11e8-889a-a6e5460322ec.png)

Table captions generated as (**Table A1**, **Table A2**), whereas the callout in paragraph generates as (**Table A.1**, **Table A.2**).

In web view, the callo

[2018-07-20 15:56] openstaxalina commented on #487
@helenemccarron we should discuss at sprint planning - I think this impacts the PDF, not web view.

[2018-07-20 18:02] #487 closed

[2018-07-20 18:04] openstaxalina commented on #473
Moved to this release because it is dependent on the feature flag functionality.

[2018-07-20 18:06] openstaxalina commented on #457
This should not result in any differences on webview.  @Stackblocks please advise what book you want this turned on for.

[2018-07-20 18:06] openstaxalina commented on #457
Need to select a book that is already being regression tested in this release.

[2018-07-20 18:38] Stackblocks opened #488 "Issue with big tables"
@uskka commented on [Mon Jul 09 2018](https://github.com/Connexions/webview/issues/1705)

Description: When Contents are shown and table is too big, part of the table content is cut out of the screen. There should be mechanism that prevents such behaviour.

Where: Screen from devb/ Accounting / B | Present Values Table Set Rotated (Landscaped at 90°) as Art and Table
https://devb.cnx.org/contents/

[2018-07-20 18:42] openstaxalina commented on #443
@Bkblodget please investigate the markup to determine why this is happening; see assessments 28 and 29 here: https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:IIo-txc1@7.1/Critical-Thinking-Questions

[2018-07-20 18:45] brittany-johnson commented on #488
This issue was moved to recipes because we can fix it by adding an attribute `style="overflow-x:auto;"` to `.os-table`.
Adding this attribute allows the user to scroll horizontally with their mouse and with their arrow keys to see tables that would normally be cut of and not fully fit in the width of the page.
@PiotrKozlowski

[2018-07-20 18:46] openstaxalina commented on #474
@Bkblodget changed all "art-connection" classes to "visual-connection" classes in the content on production.

Need to migrate at least a chapter of this updated content to katalyst01.

Then can change the css to support both art and visual connection.

[2018-07-20 20:52] openstaxalina commented on #474
*Decision:*

@Bkblodget changing all `art-connection` classes to `visual-connection`

@Bkblodget also changing all `free-response` classes to `critical-thinking`

Then, @Bkblodget will migrate a chapter of content to katalys01 for testing.

The css should support all classes listed above.

[2018-07-23 13:59] uskka opened #489 "No subcaption in Biology 2e"
**Description**: No subcaption under pictures in Biology 2e.  Screen from  / 1.1 The Science of Biology

There will be a problem with fixing this because there are some pictures within the same book where subcaptions look fine but they are in the pictures and can't be edited with any code. Pictures with subcaptions inside them unfortunately don't have other class then pictures with missing subcapt

[2018-07-23 14:02] openstaxalina commented on #489
@helenemccarron I reviewed and prioritized this issue.

[2018-07-23 16:27] uskka opened #490 ""LINK TO LEARNING" is not displayed correctly"
Description: "LINK TO LEARNING" is not displayed correctly

Where: Biology 2e / 9.4 Signaling in Single-Celled Organisms
https://katalyst01.cnx.org/contents/jVCgr5SL@8.197:5XhJLPA5@4/94-Signaling-in-Single-Celled-#footnote-ref1

![screenshot-katalyst01 cnx org-2018 07 23-18-12-29](https://user-images.githubusercontent.com/40228918/43089488-0c799f4e-8ea5-11e8-9055-6749dd517cf6.png)

Reference: Biol

[2018-07-23 23:50] openstaxalina commented on #490
Good catch!  The URL is incorrect.  Noted as errata: https://openstax.org/errata/6498.  Closing this issue.

[2018-07-23 23:50] #490 closed

[2018-07-24 00:15] openstaxalina commented on #472
@helenemccarron although this is **still not a requirement for MVP**, we could try to prioritize this for ornery.orthrus if that milestone is too small.  I'll put it there for tomorrow's discussion.

[2018-07-24 09:36] wilkus27 commented on #489
The same problem in Biology for AP (https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:7fPPRIT6@4/11-The-Science-of-Biology):
![subcaption](https://user-images.githubusercontent.com/40228854/43129777-6d13fe90-8f35-11e8-8754-f59c68ece2c5.JPG)

[2018-07-24 14:05] Stackblocks commented on #488
Issue moved to [Connexions/webview #1739](https://github.com/Connexions/webview/issues/1739) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-24 14:05] #488 closed

[2018-07-24 22:40] openstaxalina commented on #476
@clteam18 Since citations are not supported into the appendix, please mark these up as **footnotes** instead. This was approved by Mike Roche.  Please let us know if this approach resolves the issue.

[2018-07-25 05:39] clteam18 commented on #476
@openstaxalina Mark up has been changed to footnote element in Appendix and the screen shot below.

![image](https://user-images.githubusercontent.com/39794953/43180522-2946857c-8ff6-11e8-8ee9-6f9b69af5738.png)

[2018-07-25 14:04] uskka opened #492 "Numbering of equations issue"
Description: Numbering of equations only works on University Physics Volume 1-3 but still it's displayed wrong. Numbering was fixed in https://github.com/Connexions/webview/issues/1652

How it should look like:

![41614804-105274e8-73bf-11e8-9a71-a9322c008861](https://user-images.githubusercontent.com/40228918/43205466-b9c037ce-9023-11e8-8b8f-849c786bd0cd.png)

College Physics For AP® Courses/ kat

[2018-07-25 14:10] helenemccarron commented on #492
Upon a quick investigation, I believe the equations in books other than U-Physics need to be numbered before being moved. That should produce the same markup.
![2018-07-24_10-42-31](https://user-images.githubusercontent.com/8514591/43206114-932cf0d6-8fea-11e8-8ea4-df4a1733335c.png)
![2018-07-24_10-43-00](https://user-images.githubusercontent.com/8514591/43206119-95f77b56-8fea-11e8-9c8d-21e190ab272

[2018-07-25 14:41] helenemccarron opened #493 "Two types of modules beginning"
@wilkus27 commented on [Tue Jul 24 2018](https://github.com/Connexions/webview/issues/1736)

In Biology for AP at the beggining of the modules we have two informations: "By the end of this section, you will be able to" and "In this section, you will investigate the following questions" but in pdf we have just one information:

katalyst01 (https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:7fPPRIT6@4

[2018-07-25 14:43] helenemccarron opened #494 "Inconsistancy in numbering of figures between webview and pdf"
@wilkus27 commented on [Wed Jul 25 2018](https://github.com/Connexions/webview/issues/1744)

The numbering of figures is the same on katalyst01 and pdf to this moment:
https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:Ao-lRbxu@6/75-Metabolism-without-Oxygen
![figure_7 16_kat](https://user-images.githubusercontent.com/40228854/43206078-23e890e6-9025-11e8-9e59-e209d9eedce3.JPG)

PDF:
![figure_7 16_pd

[2018-07-25 14:45] helenemccarron opened #495 "Extra header in Science Practice Challenge Questions"
@wilkus27 commented on [Tue Jul 24 2018](https://github.com/Connexions/webview/issues/1740)

In Biology for AP in modules with exercises (Key Terms, Chapter Summary, Review Questions, Critical Thinking Questions, Test Prep for AP® Courses, Science Practice Challenge Questions) tasks are numbered one by one, but in the **Science Practice Challenge Questions** there is extra infrormation from which

[2018-07-26 08:04] wilkus27 commented on #494
The same problem in module 10.2 (https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:ikKSSwrr@9/102-The-Cell-Cycle)

katalyst01:
![figure_10 6_kat](https://user-images.githubusercontent.com/40228854/43249061-fff914ae-90b9-11e8-967d-b04e45777103.JPG)

PDF:
![figure_10 5_pdf](https://user-images.githubusercontent.com/40228854/43249078-08875acc-90ba-11e8-8b0b-3b1bb40d6150.JPG)

[2018-07-26 09:40] wilkus27 opened #497 "Difference in numbering of exercise on webview and pdf"
On katalyst01 exercise have different number then in pdf.

katalyst01 -> **SCIENCE PRACTICE CONNECTION** (https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:ikKSSwrr@9/102-The-Cell-Cycle)

![exercise](https://user-images.githubusercontent.com/40228854/43254751-59133d54-90c8-11e8-91ae-1b51ad0c9505.JPG)

PDF:
![exercise_pdf](https://user-images.githubusercontent.com/40228854/43254771-624aa092-90c8-11e

[2018-07-26 12:46] Adrianltd commented on #489
@helenemccarron It seems that some of the images have the subcaptions on the image itself. Also some of the images are merged into one image (you have one image with 3 subcaptions on the image). This means that if we add subcaptions through recipes, some of the images will have doubled subcaptions and those that are merged 3 in 1 will have additionally 1 subcaption for the whole image.
Taking this

[2018-07-26 13:58] helenemccarron commented on #489
@openstaxalina I am not sure how we handle it in the PDF but I can look. It does look like the content is uneven, what route do you think it most efficient in this case?

[2018-07-26 15:11] brittweinstein opened #498 "Get BakedPDF Framework Ready for External Use"
@brittweinstein commented on [Thu Jul 26 2018](https://github.com/Connexions/content-managers/issues/178)

[2018-07-26 15:15] brittweinstein opened #499 "Get the BakedPDF framework ready for external use"
@brittweinstein commented on [Thu Jul 26 2018](https://github.com/Connexions/content-managers/issues/172)

This will include

 - create documentation

- create training resources

[2018-07-26 15:16] brittweinstein opened #500 "Human-readable recipe name in the recipe (CSS comments)"
@brittweinstein commented on [Thu Jul 26 2018](https://github.com/Connexions/content-managers/issues/169)

#Description

See https://github.com/Connexions/cnx-recipes/issues/345

#Acceptance criteria

* 1 Content Manager can see the name of the recipe in the content status tool
* 2 Content Manager can see the name of the recipe in the collection editor
* 3 ... anything else?

#Epic Doc
N/A
# GitHu

[2018-07-26 15:17] brittweinstein opened #501 "ppml2svg to MathJax and/or assistance with the BakedPDF pipeline"
@brittweinstein commented on [Thu Jul 26 2018](https://github.com/Connexions/content-managers/issues/167)

Related: https://trello.com/c/duyOneP6/359-make-a-mathml-problem-test-module

Helene sent Aiwenar the results of moving from ppml2svg --> mathjax in the recipes for stats (because it has some math and has recipe). This is the first step in figuring out how to remove ppml2svg from the pipeline

[2018-07-26 15:20] brittweinstein opened #502 "Update Testy McTestFace to facilitate recipe creation"
@brittweinstein commented on [Tue Jul 24 2018](https://github.com/Connexions/content-managers/issues/121)

---

@staxly[bot] commented on [Tue Jul 24 2018](https://github.com/Connexions/content-managers/issues/121#issuecomment-407547577)

The maintainers of this repository would appreciate it if you could provide more information.

[2018-07-26 15:33] helenemccarron opened #503 "ornery.orthrus v1.12.0 Release"
# Release Checklist
- [x] Create a new milestone
- [x] Create a milestone branch
- [x] (optional, new template)  Update books.txt with new book's UUID
- [x] (optional, new template) Update books.txt RECIPE_DESC with the new book's description
- [x] (optional, new template) Update manifest.json with the new book entry
- [x] Final milestone code review
- [x] Merge the milestone branch into master &

[2018-07-26 15:54] openstaxalina commented on #497
@helenemccarron FYI - I added this to ornery.orthrus in case this can fit into this sprint.

[2018-07-26 16:15] brittweinstein opened #504 "Recipes training"
@brittweinstein commented on [Tue Jul 24 2018](https://github.com/Connexions/content-managers/issues/124)

Training sessions to go over recipes and easybake principles

Create a set of tutorials to train new hires in creating recipes and understanding easybake

https://github.com/Connexions/cnx-easybake/pull/77

PR needs to be merged and reviewed.

[2018-07-26 16:19] brittweinstein opened #505 "Diagnose why AP Biology (w/ recipe) is not available on devB"
@brittweinstein commented on [Tue Jul 24 2018](https://github.com/Connexions/content-managers/issues/128)

AP Biology has its own recipe; however, it does not show in the dropdown on DevB.  We should also test other servers, including katalyst01, staging, production, content##.![Screen Shot 2018-07-24 at 3.59.08 PM.png](https://images.zenhubusercontent.com/5a01faba8a75884b90866af7/31732e26-a08e-43

[2018-07-26 16:27] brittweinstein opened #506 "automate Recipe HTML testing"
@brittweinstein commented on [Tue Jul 24 2018](https://github.com/Connexions/content-managers/issues/67)

#Description
As QA, I want a way to automate Recipe HTML testing, so that regression testing of PRs goes faster.

#Acceptance criteria
- There is an automated process to find differences in HTML output on web view.
- QA understands/trusts the automated process.
- QA understands how to run the

[2018-07-26 16:30] brittweinstein opened #507 "Baking Training for CMs"

[2018-07-26 16:50] #499 closed

[2018-07-26 16:51] brittweinstein opened #508 "Add to baking training documentation (Kerwin, Alan)"
@brittweinstein commented on [Thu Jul 26 2018](https://github.com/Connexions/webview/issues/1763)

[2018-07-27 14:43] openstaxalina commented on #489
*Decision:* replace all subfigures (multiple figures inside one figure tag) with an image that has the subfigures labeled - (a), (b), etc.

[2018-07-27 14:45] openstaxalina commented on #489
@Bkblodget when you are back, please search Bio 2e and AP Bio CNXML for subfigures and let us know how many times this issue occurs.  Then we can make a plan for how to execute on the decision above.

[2018-07-27 22:16] mwest-WWprod opened #512 "Business Ethics - Hyperlink color contrast"
content01
GLOBAL

For the color contrast to pass AA requirements, the text must be 14pts or larger.  It appears as though hyperlinks do not currently pass the AA requirements.

![hyperlinks_color contrast](https://user-images.githubusercontent.com/19212926/43348608-f2abc1b0-91c8-11e8-9c18-b307a5a67335.png)

![hyperlinks_color contrast checker](https://user-images.githubusercontent.com/19212926/433

[2018-07-27 22:24] mwest-WWprod opened #513 "Business Ethics - Index page number color contrast"
content01
GLOBAL

For the color contrast to pass AA requirements, the text must be 14pts or larger. It appears as though Index accent color used for **page numbers** do not currently pass the AA requirements.

![hyperlinks_index color contrast](https://user-images.githubusercontent.com/19212926/43348786-d6c49e58-91c9-11e8-95f8-d33aa81868b0.png)

![hyperlinks_index color contrast checker](https://u

[2018-07-29 17:39] openstaxalina commented on #513
I believe this issue is in the PDF; the below screenshot is from webview:
<img width="493" alt="screen shot 2018-07-29 at 12 38 07 pm" src="https://user-images.githubusercontent.com/7863733/43369030-496dd826-932c-11e8-9d62-0bccdf472f26.png">

@Stackblocks, could you please transfer this issue to oer.exports?
cc @mwest-WWprod

[2018-07-29 17:40] openstaxalina commented on #512
I believe this issue is in the PDF.  @Stackblocks, could you please transfer this issue to oer.exports?
cc @mwest-WWprod

[2018-07-30 08:44] Adrianltd commented on #495
Closed the old PR, because it was made from the wrong branch. Recreated it on the correct branch.

[2018-07-30 10:21] Adrianltd commented on #494
@helenemccarron What are teacher notes? There's a figure in `os-teacher` which is not displayed anywhere and it gets the missing number. I can't even find that teacher note anywhere in the book.
I think that adding `@include modify_trash(".os-teacher");` with an if statement set to `false` in common config and to `true` in apbiology would fix that. I am not sure what is this `os-teacher` for and i

[2018-07-30 13:04] helenemccarron commented on #494
Teacher notes are components used in Tutor (another product) but hidden in Webview and in the PDF. My guess is to make sure the teacher notes aren't included in the counter.

[2018-07-30 15:06] brittweinstein commented on #512
Issue moved to [Connexions/oer.exports #3727](https://github.com/Connexions/oer.exports/issues/3727) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-30 15:06] #512 closed

[2018-07-30 15:07] #513 closed

[2018-07-30 15:07] brittweinstein commented on #513
Issue moved to [Connexions/oer.exports #3728](https://github.com/Connexions/oer.exports/issues/3728) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-01 09:18] wilkus27 commented on #434
Verified on katalyst01:

![caption](https://user-images.githubusercontent.com/40228854/43512764-438a78b8-957c-11e8-850b-f7b6b3dcccf7.JPG)

[2018-08-01 09:18] #434 closed

[2018-08-01 09:36] PatBoj commented on #492
I've created a separate container for an equation's number (`class="os-number"`) and divider (`class="os-divider"`).

Before:
![image](https://user-images.githubusercontent.com/20907906/43513759-e378c68e-957e-11e8-9592-a3aa2ffc752c.png)

After:
![image](https://user-images.githubusercontent.com/20907906/43513766-e802da82-957e-11e8-8865-1f34340f0b3a.png)

[2018-08-01 11:28] PatBoj commented on #454
I've created a separate container for problem (`class="os-problem-container"`) and solution (`class="os-solution-container"`) content.

Before:
![image](https://user-images.githubusercontent.com/20907906/43519144-8d507dd2-958e-11e8-9b6b-cc1ab7a74dba.png)

After:
![image](https://user-images.githubusercontent.com/20907906/43519151-9043d9f8-958e-11e8-8131-a6ccacf84b7c.png)

[2018-08-01 13:47] wilkus27 commented on #495
Verified on katalyst01:
![header](https://user-images.githubusercontent.com/40228854/43525393-f539f154-95a1-11e8-9a20-c7d3ad83f6fe.JPG)

[2018-08-01 13:47] #495 closed

[2018-08-01 13:53] wilkus27 commented on #493
Verified on katalyst01:
![beginning](https://user-images.githubusercontent.com/40228854/43525694-cd283418-95a2-11e8-9ec1-95059f41e667.JPG)

[2018-08-01 13:53] #493 closed

[2018-08-01 14:20] wilkus27 commented on #492
Verified on katalyst01:
![numbering](https://user-images.githubusercontent.com/40228854/43527313-9e432988-95a6-11e8-993b-ec0f2e5be07a.JPG)

[2018-08-01 14:20] #492 closed

[2018-08-01 15:25] wilkus27 commented on #454
Verified on katalyst01, changes connected with recipes display properly:
![number_text](https://user-images.githubusercontent.com/40228854/43531257-b5a42e8e-95af-11e8-9447-c4e5784d6f20.JPG)

[2018-08-01 15:25] #454 closed

[2018-08-01 16:27] #473 closed

[2018-08-02 10:43] wilkus27 commented on #489
Other examples from Biology for AP:
(1) https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:YPkNZtMU@7/43-Eukaryotic-Cells -> Figure 4.8, 4.12

(2) https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:qn1hGEbS@6/122-Characteristics-and-Traits -> Figure 12.10

(3) https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:GZjhDdtl@6/362-Life-Histories-and-Natural -> Figure 36.7

(4) https://katalyst01.cnx.org/conte

[2018-08-02 11:04] uskka opened #518 "Issue with math symbols in tables"
Description: Math symbols in tables are centred and have a big padding while the rest of the content is not centred which makes the tables to look like something broke.

Where: katalyst01 / College Physics / Useful Information
https://katalyst01.cnx.org/contents/Ax2o07Ul@11.32:cjQyhWg-@7/Useful-Information

![screenshot-katalyst01 cnx org-2018 08 02-12-37-22](https://user-images.githubusercontent.

[2018-08-02 12:24] wilkus27 opened #519 "Too long distance between words in table"
The problem from issue #459 also occurs in Biology for AP:
(1) https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:qZUaLE-Z@7.1/Science-Practice-Challenge-Que -> table 6.2
![distance_header](https://user-images.githubusercontent.com/40228854/43583335-871f0e5c-965f-11e8-88b5-2b6265ba94bd.JPG)

Other examples:
(2) https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:7ExM0p8o@7.1/Science-Practice-Challenge-

[2018-08-02 14:51] uskka opened #520 "Wrong numbering of equations"
Description: Numbering of equations on one chapter ends with number 5.25 and in the next chapter numbering starts with number 5.29.

Last equation in this chapter ends with 5.25:
https://katalyst01.cnx.org/contents/Ax2o07Ul@11.32:vjCEOfmx@11/52-Drag-Forces

First equation in this chapter ends with 5.29:
https://katalyst01.cnx.org/contents/Ax2o07Ul@11.32:8RrkL5Zm@15/53-Elasticity-Stress-and-Strai

[2018-08-02 15:26] wilkus27 commented on #497
Verified on katalyst01:
![numbering](https://user-images.githubusercontent.com/40228854/43593838-19911546-9679-11e8-9d45-f3cfc0187afe.JPG)

[2018-08-02 15:26] #497 closed

[2018-08-02 16:19] openstaxalina commented on #494
Helene and Adrian attempted to target the figures inside teacher notes to make them unnumbered.  However, this is not a good solution.

Therefore, *we will make all images inside teacher notes unnumbered via content*.

[2018-08-02 19:11] #503 closed

[2018-08-03 08:35] wilkus27 opened #521 "Unnecessary links in equation numbering"
In equation numbering there are links which lead to themselfs (https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:JM3DLi_e@5/25-Motion-Equations-for-Consta#fs-id1164906434690) -> Show Solution -> Equation 2.70, 2.71

![link_in_number](https://user-images.githubusercontent.com/40228854/43633185-c47c9a0e-9708-11e8-99bf-d07a14bc1718.JPG)

[2018-08-03 13:15] wilkus27 commented on #520
The same problem occurs in College Physics for AP, but this book have another recipes. Should I create a seperate issue for that?

[2018-08-03 13:57] wilkus27 commented on #443
Rest of pages where this problem occurs:
(1) https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:HS_iAAPE@7.1/Test-Prep-for-AP-Courses

(2) https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:OPD5fsd5@7.1/Test-Prep-for-AP-Courses

(3) https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:7aYjctTe@5/183-Reconnection-and-Rates-of-

(4) https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:f_wVv68_@7.1/Test-Prep-for

[2018-08-03 14:53] brittweinstein opened #522 "Business Ethics - Key Terms should appear EOC in Webview"
@mwest-WWprod commented on [Thu Jul 19 2018](https://github.com/Connexions/oer.exports/issues/3712)

content01
GLOBAL - Webview

Key Terms should collate EOC in Webview (like Summary, Assessments) instead of being listed EOM, if possible, as seen in the generated PDFs.

![keyterms_eoc collation](https://user-images.githubusercontent.com/19212926/42970207-ab68314c-8b76-11e8-9d4f-22ea35d40d88.png)

[2018-08-03 15:15] #519 closed

[2018-08-03 15:15] openstaxalina commented on #486
@lwtchu check if the occurrences are in the same module.

[2018-08-03 15:15] helenemccarron commented on #519
Issue moved to [Connexions/webview #1800](https://github.com/Connexions/webview/issues/1800) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-03 15:16] #518 closed

[2018-08-03 15:16] helenemccarron commented on #518
Issue moved to [Connexions/webview #1801](https://github.com/Connexions/webview/issues/1801) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-03 15:17] openstaxalina commented on #485
*Decision:* Remove the module headers AND ensure End Notes number continuously through the chapter and reset with the next chapter.

[2018-08-03 15:17] brittweinstein commented on #485
Issue moved to [Connexions/webview #1803](https://github.com/Connexions/webview/issues/1803) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-03 15:21] openstaxalina commented on #486
The second occurrence of each term is in the Key Terms section of the chapter.
We do not currently have the ability to link to the Key Terms from the Index.  However, since users can search the book via a search tool in webview, the impact of this is minimal.
**Decision: Will not fix; will evaluate for future improvement.**

[2018-08-03 15:23] openstaxalina commented on #483
Covered by: https://github.com/Connexions/cnx-recipes/issues/485; closing.

[2018-08-03 15:23] #483 closed

[2018-08-03 15:25] openstaxalina commented on #482
This is out of scope for the business titles.  Consider for a future improvement.

[2018-08-03 15:57] lwtchu commented on #486
TO DO: Investigate if the word is indexed twice in the section, will it link twice.

[2018-08-03 17:13] #489 closed

[2018-08-03 17:13] brittweinstein commented on #489
Issue moved to [Connexions/content-managers #192](https://github.com/Connexions/content-managers/issues/192) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-03 17:15] brittweinstein commented on #443
Issue moved to [Connexions/content-managers #193](https://github.com/Connexions/content-managers/issues/193) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-03 17:15] #443 closed

[2018-08-05 20:13] openstaxalina commented on #522
@lwtchu Please review priority and books assigned.  Does this impact any other titles?

[2018-08-05 20:14] openstaxalina commented on #505
@Stackblocks as you are looking into this, could you verify whether AP Bio was tested with the correct recipe on katalyst01?

[2018-08-05 22:03] openstaxalina commented on #520
This may be a content issue.  In the PDF, the two equations in the "Drag Forces" are not numbered:

<img width="1107" alt="screen shot 2018-08-05 at 5 01 17 pm" src="https://user-images.githubusercontent.com/7863733/43690540-410051f0-98d1-11e8-9a84-3f2ed9ce131d.png">

@oscryan could you please try making those equations (in the section summary for 5.2 Drag Forces on katalyst01.cnx.org) unnumbered,

[2018-08-05 22:07] openstaxalina commented on #500
The Exit Criteria has already been met through other work.  I am going to close this.

<img width="1440" alt="screen shot 2018-08-05 at 5 07 15 pm" src="https://user-images.githubusercontent.com/7863733/43690585-0da1295a-98d2-11e8-8253-f385c5db901a.png">

[2018-08-05 22:07] #500 closed

[2018-08-05 22:08] openstaxalina commented on #345
The exit criteria has already been met via other work.  I am going to close this.

<img width="1440" alt="screen shot 2018-08-05 at 5 07 15 pm" src="https://user-images.githubusercontent.com/7863733/43690591-238796fa-98d2-11e8-8c0b-d066137aebcb.png">

[2018-08-05 22:08] #345 closed

[2018-08-05 22:08] openstaxalina commented on #494
Issue moved to [Connexions/content-managers #197](https://github.com/Connexions/content-managers/issues/197) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-05 22:08] #494 closed

[2018-08-05 22:11] openstaxalina commented on #474
@Bkblodget could you link to the chapter collection on katalyst01 once you have migrated the new content?

[2018-08-06 07:40] wilkus27 commented on #521
Next example: https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:NBdsQ1o7@5/27-Falling-Objects -> **Check Your Understanding** -> **Show Solution** -> equation **2.88**

[2018-08-06 09:09] PatBoj commented on #521
@openstaxalina I don't know if you noticed, but there is an error in screen-shot that you uploaded. Equation (2.71) should look like this

![codecogseqn 1](https://user-images.githubusercontent.com/20907906/43707745-0cb5c1b2-9969-11e8-8a6b-8644a4c0695d.png)

The equation is correct on katalyst01 server.

[2018-08-06 09:40] wilkus27 commented on #520
Examples from College Physics for AP:

(1) https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:IJhr-iwq@7/28-Graphical-Analysis-of-One-D -> equation **2.90** has number **2.89** in PDF

(2) https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:yegE8wAr@3/46-Problem-Solving-Strategies -> equation **4.60** has number **4.57** in PDF

(3) https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:kMwXvkAY@4/53-E

[2018-08-06 14:10] wilkus27 opened #524 "Number of equation beyond the example box"
https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:PMna1Pqe@3/123-The-Most-General-Applicati

![beyond_box](https://user-images.githubusercontent.com/40228854/43721428-08f0a9c8-9993-11e8-8410-83b779c4d14d.JPG)

[2018-08-07 01:26] openstaxalina commented on #521
Thanks, @PatBoj!  It looks like this was fixed via errata.  However, the PDF was not revised this year.  Therefore, the PDF content is not as updated as the webview.

[2018-08-07 08:00] uskka opened #525 "Issue with exercise in Check Your Understanding"
Description: One Solution is always visible, and there is no show solution button.

https://katalyst01.cnx.org/contents/Ax2o07Ul@11.32:1lVagIDY@8/282-Simultaneity-And-Time-Dila

![screenshot-katalyst01 cnx org-2018 08 07-09-49-03](https://user-images.githubusercontent.com/40228918/43762397-22c9de42-9a28-11e8-9b7a-2a7611c042c8.png)

[2018-08-07 10:58] wilkus27 opened #527 "Exercise on webview has different number in pdf"
Katalyst01 (https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:mcFrL3ZY@2/145-Conduction) -> **APPLYING THE SCIENCE PRACTICES: ESTIMATING THERMAL CONDUCTIVITY**

![exercise](https://user-images.githubusercontent.com/40228854/43771820-9c34b956-9a40-11e8-9a90-2a34098bb55a.JPG)

PDF:

![exercise_pdf](https://user-images.githubusercontent.com/40228854/43771833-a87fea1e-9a40-11e8-8d5e-9524f9f38d8f.JPG)

[2018-08-07 11:51] PatBoj commented on #464
This bug occurs when we're trying to set single letter as a term. I tried to put in the raw `.html` file single letter `t` as a term and it also created this issue. I am wondering if it's a content issue, because single letter in the index tells us nothing. In my opinion, it should be `population proportion p` instead of just single `p`. What do you think @openstaxalina?

[2018-08-07 14:02] helenemccarron commented on #524
@openstaxalina I believe this is a content issue, the equation is too long. I think in the PDF, we broke it down or sized it down but I'm not sure what's the best approach here

[2018-08-07 14:12] wilkus27 commented on #524
@helenemccarron In the pdf number is under the equation:

![beyond_box_pdf](https://user-images.githubusercontent.com/40228854/43781065-5acb9004-9a5c-11e8-8736-032be0a3f08a.JPG)

(Ps. Inconsistency in numbering is reported in another issue.)

[2018-08-07 20:49] helenemccarron commented on #522
@lwtchu The collection we are using doesn't have the content in the screenshot, can we migrate it? Also, based on https://devb.cnx.org/contets/WUj6TfJ0@8.10:aWku4B8a@8.10/Key-Terms I am not sure it's a recipe issue, can you verify that the content is correct? It might save us some time :-D

[2018-08-07 20:56] lwtchu commented on #522
@helenemccarron use this collection: https://devb.cnx.org/contents/nfg8oHUF@2.9:R-KhohmW@3/Introduction

[2018-08-08 14:25] PatBoj commented on #521
### **Before:**
![image](https://user-images.githubusercontent.com/20907906/43767360-3158c740-9a35-11e8-8a6e-10e7dcdf4cd7.png)

### **After:**
![image](https://user-images.githubusercontent.com/20907906/43767366-353fec6c-9a35-11e8-8dfe-ebbdce214ae5.png)

[2018-08-08 15:31] helenemccarron commented on #522
Addressed in PR #532

[2018-08-08 16:30] helenemccarron commented on #484
![2018-08-08_11-29-42](https://user-images.githubusercontent.com/8514591/43850745-643c52b6-9afe-11e8-9731-b3b3d82dcc09.png)

[2018-08-08 17:48] openstaxalina commented on #524
@helenemccarron is there a way to have the equation number fall to the next line, as it was done in the PDF?  @oscryan reports we didn't do anything special to the equation to cause this behavior/treatment in the PDF.

[2018-08-08 17:51] openstaxalina commented on #464
I will investigate this with Anthony.  The terms are:
Parental Generation (Concepts of Biology)
<img width="818" alt="screen shot 2018-08-08 at 12 49 41 pm" src="https://user-images.githubusercontent.com/7863733/43854876-bc27a416-9b09-11e8-9f17-c9b6a744ee5b.png">
Population Proportion (Intro Biz Stats)
<img width="1090" alt="screen shot 2018-08-08 at 12 50 45 pm" src="https://user-images.githubuse

[2018-08-08 18:12] helenemccarron commented on #524
I'm not sure, we'll investigate for a CSS solution.

[2018-08-08 18:14] helenemccarron commented on #464
Just out of curiosity, @reedstrm, what are your thoughts on this one?

[2018-08-08 18:21] helenemccarron commented on #480
Resolved in PR #532. Link Learning now says Link to Learning.

[2018-08-08 20:31] Bkblodget commented on #474
@openstaxalina I am blocked from migrating content to Katalyst01 because of a legacy site error. Devops is working to fix this and I will migrate content when possible.

[2018-08-09 08:44] wilkus27 commented on #527
Other places where this issue occurs:
1) https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:SezqNwa-@2/157-Statistical-Interpretation

2) https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:4Pillkht@5/242-Production-of-Electromagne

[2018-08-09 22:03] Bkblodget commented on #474
@openstaxalina I have migrated Ch.12 of updated content to katalyst01 here: https://katalyst01.cnx.org/contents/jVCgr5SL@8.199:NVWjT7Jd@3/Introduction

[2018-08-09 22:16] openstaxalina commented on #474
![bitmoji](https://render.bitstrips.com/v2/cpanel/e068dd5c-9de0-4feb-9f57-f7289961c386-361c6ea6-266f-41d9-8feb-a2c7f8c5a321-v1.png?transparent=1&palette=1&width=246)

[2018-08-09 22:18] openstaxalina commented on #474
Reopening because we still want to do the dev work on this :-D

[2018-08-10 11:25] wilkus27 opened #536 "Extra point in Chapter Outline"
There is additional point in Chapter Outline: (https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:UWxHQ0zC@2/Connection-for-AP-Courses)

![sentence](https://user-images.githubusercontent.com/40228854/43954877-6afa45e4-9c9e-11e8-94b4-bea37a4e384f.JPG)

It looks like point from Learning Objectives:

![sentence2](https://user-images.githubusercontent.com/40228854/43955148-36da33ae-9c9f-11e8-8fe8-8212

[2018-08-10 13:54] helenemccarron opened #537 "AW Feature flags list"
## https://github.com/Connexions/cnx-recipes/blob/katAW.queued.quadcopter/FEATURES.md

**sup-footnote-call**: issue #473
- [x] Introductory Business Statistics (_statistics_)
- [ ] Introductory Statistics (_statistics_)

- [ ] Biology  AP® Courses (_ap-biology_)
- [ ] Biology 2e (_biology_)
- [ ] Concepts of Biology (_biology_)

- [ ] AP Macroeconomics 2e (_economics_)
- [ ] Principles of Economic

[2018-08-10 14:38] brittweinstein commented on #537
Issue moved to [Connexions/webview #1825](https://github.com/Connexions/webview/issues/1825) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-10 14:43] brittweinstein opened #538 "Feature Flag Epic"
Feature Flags should be all enabled and the feature flag should be removed for books upon release.

This epic keeps track of the progress for each book and each feature flag.

Currently enabled feature flag:
Link to spreadsheet: https://github.com/Connexions/cnx-recipes/blob/master/FEATURES.md

[2018-08-10 14:45] #464 closed

[2018-08-10 14:45] openstaxalina commented on #464
Issue moved to [Connexions/content-managers #225](https://github.com/Connexions/content-managers/issues/225) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-10 14:46] brittweinstein commented on #538
Connexions/oer.exports#3724
Connexions/cnx-recipes#537

[2018-08-10 14:59] openstaxalina commented on #536
@helenemccarron it looks like "Define radioactivity." is the abstract/summary - here is the content on production (click "Show Summary") https://cnx.org/contents/jQSmhtXo@16.48:UWxHQ0zC@2/Connection-for-AP-Courses

[2018-08-10 15:28] helenemccarron commented on #536
It looks like the abstract is suppressed in this book. Should be remove all the abstracts that are present in the content via recipes?

[2018-08-10 19:19] openstaxalina commented on #536
@helenemccarron yes, I think we should.  Is this consistent with previous decisions?  Do you have any concerns?

[2018-08-10 19:29] helenemccarron commented on #485
![image](https://user-images.githubusercontent.com/8514591/43977454-d9fa6b8a-9ca9-11e8-9775-0c25e8d017f7.png)

[2018-08-10 19:33] damondemar commented on #438
Branch: citations-style

[2018-08-11 20:42] openstaxalina commented on #524
*Decision from scrum:* @wilkus27 will continue to add screenshots if she finds more examples.  Then assign to Alina for a content fix.

[2018-08-13 09:58] wilkus27 commented on #524
There are two more examples:

(1) https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:mcFrL3ZY@2/145-Conduction

![beyond2](https://user-images.githubusercontent.com/40228854/44025308-09f3044e-9ef0-11e8-8f90-1c366c7cfd59.JPG)

(2) https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:ZUFT1_5j@5/167-Damped-Harmonic-Motion

![beyond3](https://user-images.githubusercontent.com/40228854/44025332-1cdc7216-

[2018-08-13 14:11] wilkus27 opened #539 "Issue with figures in Answer Key"
Figures from Answer Key in pdf are numbered but in webview they are not:

**katalyst01**: https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:WwXAbgy9@16.36/Answer-Key
(answers for Chapter 2)

![fig_unnr_kat](https://user-images.githubusercontent.com/40228854/44035733-7136c3b4-9f10-11e8-83c3-f2aeb38d0e9c.JPG)

**PDF**:

![fig_nr_pdf](https://user-images.githubusercontent.com/40228854/44035742-79100

[2018-08-13 14:14] openstaxalina commented on #539
@wilkus27 thanks for noting these issues.  The Answer Key will not appear in the Table of Contents in the PDF; this is a known issue/limitation.  I will move this issue over to oer.exports for a possible PDF fix from the OpenStax developers.

[2018-08-13 14:14] #539 closed

[2018-08-13 14:14] openstaxalina commented on #539
Issue moved to [Connexions/oer.exports #3735](https://github.com/Connexions/oer.exports/issues/3735) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-13 14:43] helenemccarron commented on #536
I wasn't sure if we did or not, but no, I don't have any concerns. We simply need to set the abstract to false in the config file.

[2018-08-13 15:45] wilkus27 commented on #521
Verified on katalyst01:

![link_in_nr](https://user-images.githubusercontent.com/40228854/44042478-ae5feecc-9f20-11e8-9a90-b4dec30c2c1f.JPG)

[2018-08-13 15:45] #521 closed

[2018-08-13 15:52] helenemccarron opened #540 "Enable all feature flags for intro-business"
## https://github.com/Connexions/cnx-recipes/blob/petty.pegasus/FEATURES.md

- [x]  **sup-footnote-call**: issue #473

- [x]  **trash-empty-table-captions**: issue #434

- [x]  **exercise-container**: issue #454

- [x] **delete-link-in-equation-number**: issue #521

- [x]  **table-summaries-are-captions**: issue #407

- [x]  **preface-has-captions**: issue #455

[2018-08-13 15:55] wilkus27 commented on #527
Verified on katalyst01:

![ex_nr](https://user-images.githubusercontent.com/40228854/44043002-0dca039c-9f22-11e8-8063-9a70161b2368.JPG)

[2018-08-13 15:55] #527 closed

[2018-08-13 16:27] helenemccarron opened #541 "Enable top-titled for business books"
Enable top-titled tables in the recipes.

- [x] Intro Business
- [x] Business ethics
- [x] Principles of Management
- [x] Accounting
- [x] Entrepreneurship

[2018-08-13 16:48] helenemccarron commented on #505
I think the symlink hasn't been created properly in OER.exports.

[2018-08-13 16:56] uskka opened #543 "Edited: Blank Space Between Question Number and Period"
Description: There is an empty line after each question number.

https://katalyst01.cnx.org/contents/vEmOH-_p@4.48:m6uU43lg@4.48/Self-Check-Questions

PDF
<img width="1264" alt="screen shot 2018-08-13 at 18 45 44" src="https://user-images.githubusercontent.com/40228918/44045793-f438aeb2-9f29-11e8-8694-61bd6da0b79e.png">
Webview
![screenshot-katalyst01 cnx org-2018 08 13-18-39-52](https://user-imag

[2018-08-13 17:31] brittweinstein opened #544 "test"
# Scenario

(_Describe the issue_)

# Reproducibility Details

- **Impact area**:
- **User**:
- **URL / Location**:
- **How many times were you able to reproduce the issue?**

## Steps to reproduce:

- Step 1
- Step 2
- Step 3

## Screenshots

(_attach here_)

# Environment:

- **Instance**:
- **OS**:
- **Browser**:

# Impact

- **Severity**:
- **Frequency of occurrence**:

[2018-08-13 17:33] #544 closed

[2018-08-13 20:32] Stackblocks commented on #480
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/d8b5c990-b37a-491a-af8b-2e18762a09b5)

[2018-08-13 20:40] Stackblocks commented on #480
Displaying as specified with updated version of content / code.
![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/85b96e4b-3dea-4478-88d7-0f6ad6734ce9)

[2018-08-13 20:40] #480 closed

[2018-08-13 20:47] Stackblocks commented on #484
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/87f8373c-eb9c-4e40-8119-eca3e2463593)

[2018-08-13 20:47] #484 closed

[2018-08-13 20:51] Stackblocks commented on #485
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/c5d673ff-5b2a-4edd-b674-915da399bc6d)

[2018-08-13 20:51] #485 closed

[2018-08-13 21:11] Stackblocks commented on #522
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/926bd784-41c0-4a73-aad7-4ef13927b39f)

[2018-08-13 21:11] #522 closed

[2018-08-14 12:29] wilkus27 opened #547 "Different numbering of exercises"
There is difference in numbering of exercises between webview and pdf.

katalyst01 (https://katalyst01.cnx.org/contents/kRfPjKij@4.5:pAeLAwQZ@7/A--The-Use-of-Mathematics-in-P)

![nr_ex_kat](https://user-images.githubusercontent.com/40228854/44091544-1f16cb4c-9fce-11e8-8ec6-2836645c5509.JPG)

PDF:

![nr_ex_pdf](https://user-images.githubusercontent.com/40228854/44091555-272d0788-9fce-11e8-88ec-3346

[2018-08-14 13:26] PatBoj commented on #536
Do as @helenemccarron says and it works :).

### **Before:**
![image](https://user-images.githubusercontent.com/20907906/44081869-1b77d65c-9fb0-11e8-82d9-23004a59ad96.png)

### **After:**
![image](https://user-images.githubusercontent.com/20907906/44081879-220010fc-9fb0-11e8-8420-91efbc47ca72.png)

[2018-08-14 15:03] wilkus27 commented on #536
Verified on katalyst01:

![add_point](https://user-images.githubusercontent.com/40228854/44099774-a89d31f2-9fe3-11e8-9024-4f5b28f36d9c.JPG)

[2018-08-14 15:03] #536 closed

[2018-08-15 20:27] helenemccarron opened #554 "petty.pegasus v1.13.0 Release"
# Release Checklist
- [x] Create a new milestone
- [x] Create a milestone branch
- [x] (optional, new template)  Update books.txt with new book's UUID
- [x] (optional, new template) Update books.txt RECIPE_DESC with the new book's description
- [x] (optional, new template) Update manifest.json with the new book entry
- [x] merge Katalyst's milestone branch
- [x] Final milestone code review
- [x]

[2018-08-15 21:08] lwtchu commented on #486
Confirmed, if word is indexed twice in the section, it will link twice.
![screen shot 2018-08-15 at 4 07 45 pm](https://user-images.githubusercontent.com/11299125/44173396-64716080-a0a5-11e8-8dbd-8af85d7c6575.png)
https://devb.cnx.org/contents/WUj6TfJ0@9.2:RaYySq2K@9.2/Index

[2018-08-15 21:10] openstaxalina commented on #486
This is the desired behavior, since each link points to the specific place in the module where the word appears.  Closing this issue.

[2018-08-15 21:10] #486 closed

[2018-08-16 08:56] uskka commented on #543
After baking the book with latest recipes from katAW.petty.pegasus issue was fixed. Tested on katalyst01
![image-5](https://user-images.githubusercontent.com/40228918/44198830-ad2b2700-a142-11e8-87af-e54ca984d452.png)

[2018-08-16 13:17] wilkus27 opened #555 "Lists in exercises without margins"
After activating _exercise-container_ flag, when the exercise begins with the list, the list displays without margins:

katalyst01 (https://katalyst01.cnx.org/contents/kRfPjKij@4.5:pKpFhGyF@4.5/Answer-Key)

![answer_lists](https://user-images.githubusercontent.com/40228854/44210671-64d23000-a167-11e8-8055-55abf682766e.JPG)

[2018-08-16 14:07] openstaxalina commented on #524
Issue moved to [Connexions/content-managers #236](https://github.com/Connexions/content-managers/issues/236) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-16 14:07] #524 closed

[2018-08-16 14:45] helenemccarron commented on #555
@PatBoj I believe you're the most suited to look into this 😄

[2018-08-16 15:04] helenemccarron opened #556 "Enable top-titled tables for Business-Ethics"
Top titled tables should be supported in Business Ethics.

[2018-08-16 15:29] openstaxalina commented on #543
What about the space between the question number and period - it looks a little strange.  Is this something that can be adjusted?

![questionperiodgap](https://user-images.githubusercontent.com/7863733/44218411-435d4e00-a13f-11e8-9fd5-fdd1ae55e367.png)

[2018-08-16 15:45] Stackblocks commented on #540
## sup-footnote-call
![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/ee8de51a-98d4-4f60-9c58-daf695145a66)
## trash-empty-table-captions
![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/ac70044c-f7c1-4bc9-92a2-7cc3eec2e573)
## exercise-container
n/a
## delete-link-in-equation-number
n/a
## table summaries are captions
![image.png](https://images

[2018-08-16 15:45] #540 closed

[2018-08-16 16:46] helenemccarron commented on #556
addressed in PR #532

![image](https://user-images.githubusercontent.com/8514591/44222413-03e82f00-a14a-11e8-8cb1-a66361961172.png)

[2018-08-16 17:04] helenemccarron commented on #543
https://github.com/Connexions/webview/issues/1841 should address this.

[2018-08-16 20:50] Stackblocks commented on #556
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/b44d753e-21b6-4722-8e7e-03993a6353d1)

[2018-08-16 20:50] #556 closed

[2018-08-17 09:17] wilkus27 opened #560 "Captions above the figures"
Captions of images are above, instead of next to the numbering of figures.

katalyst01 (https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:CY4aJuYS@17/12-Data-Sampling-and-Variation)

![captions_kat](https://user-images.githubusercontent.com/40228854/44258294-cb5e5900-a20e-11e8-9c5d-5f25260b68a1.JPG)

PDF:

![captions_pdf](https://user-images.githubusercontent.com/40228854/44258309-d3b69400-a20e-11

[2018-08-17 12:37] wilkus27 commented on #555
Same problem in Introductory Statistics (https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:hFIHxBfP@20.1/Solutions)

![answer_statistics](https://user-images.githubusercontent.com/40228854/44266514-1a19ec00-a22b-11e8-8ebd-14944a033567.JPG)

[2018-08-17 16:30] wilkus27 opened #561 "Wrong alignment of figures from Show Solution"
Figures from Show Solution are left aligned instead of being centered. It causes wrapping captions.

katalyst01 (https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:KFOdKxbi@7/21-Stem-and-Leaf-Graphs-Stempl)

![fig_align](https://user-images.githubusercontent.com/40228854/44277587-7987f400-a24b-11e8-8cd0-9027effa48bd.JPG)

[2018-08-17 18:15] openstaxalina opened #562 "Mess with terms from Index"
@wilkus27 commented on [Mon Aug 13 2018](https://github.com/Connexions/webview/issues/1826)

On katalyst01 (https://katalyst01.cnx.org/contents/jQSmhtXo@16.36:Xm0hU3Qa@16.36/Index) one term from the middle of the index appears on the top and there are two headers **Symbols**

![symbols_kat](https://user-images.githubusercontent.com/40228854/44038267-b89775b8-9f16-11e8-8f41-f2169dfff026.JPG)

In PD

[2018-08-17 18:52] openstaxalina opened #563 "Biology 2e: Updates to Classes"
# Scenario
We made updates to the class attributes used in Biology 2e, for content and clarity reasons.  We will make the same updates in Concepts of Biology.

## Art Connection --> Visual Connection Transitioning
-collation instructions: change class name "art-exercise" to "visual-exercise" **and** the page name from "Art Connection Questions" to "Visual Connection Questions"
*This requires conte

[2018-08-20 15:32] uskka commented on #543
After the deploy with latest changes still looks the same. Tested on katalyst01.
![screenshot-katalyst01 cnx org-2018 08 20-17-28-51](https://user-images.githubusercontent.com/40228918/44350041-bac41200-a49e-11e8-8a38-7fe857f39fe2.png)

[2018-08-20 15:53] uskka commented on #560
Also appears in Introductory Business Statistics.
https://katalyst01.cnx.org/contents/tWu56V64@34.15:PhCRzjQp@15/12-Data-Sampling-and-Variation

[2018-08-20 16:03] openstaxalina commented on #474
superceded by: https://github.com/Connexions/cnx-recipes/issues/563
closing

[2018-08-20 16:03] #474 closed

[2018-08-20 16:05] uskka commented on #561
Also appears in Introductory Business Statistics. I have baked the book 3 days ago without any errors. The book looks fully baked.
https://katalyst01.cnx.org/contents/tWu56V64@34.15:UMM7d-Hy@17/21-Display-Dat
![screenshot-katalyst01 cnx org-2018 08 20-17-59-07](https://user-images.githubusercontent.com/40228918/44351729-d6c9b280-a4a2-11e8-92ee-33d00683525f.png)

[2018-08-20 16:50] openstaxalina commented on #543
@helenemccarron could you review this when you get a chance?  Note that we refined this issue to focus on the space after the question number.  Above you mentioned that this should be fixed with petty.pegasus.  However; this issue is still occurring.  How do you recommend moving forward on this one?

[2018-08-20 17:03] helenemccarron commented on #543
I think my solution may have been too specific. I'll take a look for a better an more global approach.

[2018-08-20 17:08] uskka opened #566 "Footnotes appear in wrong sections"
Footnotes in webview appear in wrong section of the book. Footnotes 1,2,3 refer to the "Homework" content, in PDF these footnotes are in Homework section. 4 is in proper section but should have 1 number because it should appear as first footnote in this module, than 5 should be in "Chapter Review".

(1,2,3) https://katalyst01.cnx.org/contents/tWu56V64@34.15:PhCRzjQp@15/12-Data-Sampling-and-Variati

[2018-08-20 18:17] brittany-johnson opened #567 "Principles of Management ONLY: Change Exploring Business Careers class"
@Bkblodget commented on [Mon Aug 13 2018](https://github.com/Connexions/webview/issues/1828)

Please change the feature title from Exploring Business Careers to **Exploring Managerial Careers**.

Please change the associated class from exploring-business-careers to `exploring-manager-careers`.

Also need to change the text that displays to “Exploring Managerial Careers”.

[2018-08-20 18:28] brittany-johnson commented on #567
![screen shot 2018-08-20 at 1 26 20 pm](https://user-images.githubusercontent.com/24909007/44359213-d7e7e900-a47c-11e8-9fd1-8083c60973d8.png)
Title of note has been changed in recipe and class has been updated

[2018-08-20 19:39] Adrianltd commented on #560
^ both of them should be affected by #564 fix

[2018-08-21 07:31] wilkus27 commented on #566
The same problem in Introductory Statistics:

1) https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:CY4aJuYS@17/12-Data-Sampling-and-Variation -> **1,2,3** lead to **Homework**

2) https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:Ph_ExrCQ@9/14-Experimental-Design-and-Eth -> **7** leads to **Chapter Review**

[2018-08-21 07:52] wilkus27 commented on #561
Confim, Introductory Statistics is also fully baked. I've baked it two times, removed cache from server and browser.

[2018-08-21 09:49] #555 closed

[2018-08-21 13:07] wilkus27 commented on #555
Issue moved to https://github.com/Connexions/webview/issues/1855 .

[2018-08-21 14:00] #543 closed

[2018-08-21 14:00] helenemccarron commented on #543
Issue moved to [Connexions/webview #1858](https://github.com/Connexions/webview/issues/1858) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-21 14:25] #561 closed

[2018-08-21 14:25] helenemccarron commented on #561
Issue moved to [Connexions/webview #1859](https://github.com/Connexions/webview/issues/1859) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-21 14:25] helenemccarron commented on #561
Issue moved to [Connexions/webview #1860](https://github.com/Connexions/webview/issues/1860) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-21 15:12] wilkus27 commented on #547
This is how it looks now on katalyst01:

![ex_nr](https://user-images.githubusercontent.com/40228854/44408189-2f12ba00-a560-11e8-8555-349b57dc639d.JPG)

@openstaxalina I'm not sure, which displays of exercises content is correct in this case. The flag **exercise container** is turn on in this book, so now text is next to the number of exercise. But in pdf content is below. So which way of display

[2018-08-21 15:46] wilkus27 opened #569 "Two types of items next to each other"
katalyst01 (https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:xvUdEJ3p@20.1/Practice)

![two_lists](https://user-images.githubusercontent.com/40228854/44411960-0bec0880-a568-11e8-9a0b-d780341ee74d.JPG)

PDF:

![two_lists_pdf](https://user-images.githubusercontent.com/40228854/44411976-13abad00-a568-11e8-995e-c8b431a4ba98.JPG)

On the face of it, this issue looks the the same as in https://github.c

[2018-08-21 16:49] wilkus27 commented on #560
Verified on katalyst01:

1) Introductory Statistics

![cap_stat](https://user-images.githubusercontent.com/40228854/44416280-ced94380-a572-11e8-8020-6768c62c0b44.JPG)

2) Introductory Business Statistics

![cap_bus_stat](https://user-images.githubusercontent.com/40228854/44416308-df89b980-a572-11e8-8849-bf62cb6fa18f.JPG)

[2018-08-21 16:49] #560 closed

[2018-08-21 19:43] uskka commented on #569
Also appears in introductory business statistics.
https://katalyst01.cnx.org/contents/tWu56V64@34.15:c5hEsTpT@34.15/Practice

[2018-08-21 22:27] openstaxalina commented on #547
@wilkus27 good point!
It would be best to either (a) style "Exercise ## in some way to differentiate it from the exercise content, **or** (b) move the exercise content onto the next line as it is in the PDF.  @Adrianltd is there any way to specifically target these exercises and implement one of those two solutions?

[2018-08-22 12:10] uskka opened #571 "Exercise answers counting problem"
All answers start with "a". Appears in every exercise that has multiple answers. It only appears on Windows 10 with Mozilla Firefox.

https://katalyst01.cnx.org/contents/tWu56V64@34.15:py_tPsy1@14/3-1-Terminology

Webview
![screenshot-katalyst01 cnx org-2018-08-22-13-56-59](https://user-images.githubusercontent.com/40228918/44462114-c5ec7e80-a613-11e8-9ba8-bb86714445ab.png)

PDF
![0](https://user-

[2018-08-22 14:19] helenemccarron commented on #547
It looks like enable the feature flag for exercise container fixed the numbering issue. What's left is a display issue, moving to webview.

[2018-08-22 14:19] helenemccarron commented on #547
Issue moved to [Connexions/webview #1864](https://github.com/Connexions/webview/issues/1864) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-22 14:19] #547 closed

[2018-08-22 15:46] Stackblocks commented on #505
Still not seeing AP Bio w/ Recipe in the dropdown list, followed up with Ross and he pointed out that there is no ap-bio.css in the CSS folder of oer-exports, so it would not populate in the list.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/03d7ca24-b1e5-454a-98ce-df56c8cb6eff)

---
![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/f24e806d-

[2018-08-22 16:34] helenemccarron commented on #505
It would appear I didn't create the proper link when I created the symlink 😓

https://github.com/Connexions/oer.exports/pull/3736/files#diff-ebe52cb872178530e0cabdba23357c3fR1

[2018-08-22 17:11] Stackblocks commented on #567
Seeing the class changed in the markup, but the note box in Webview is lacking the "Exploring Managerial Careers" header.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/8838b763-bb03-432d-b53f-a772084a8943)

[2018-08-22 18:42] helenemccarron commented on #505
Issue moved to [Connexions/oer.exports #3748](https://github.com/Connexions/oer.exports/issues/3748) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-22 18:42] #505 closed

[2018-08-23 09:03] PiotrKozlowski commented on #571
After talk with Stefan we established this error occurs only on Mozilla at Windows system.

List look like this: (there is `type="a"` which should generate `a.`, `b.` etc.) This is correct markup so i'am betting this is browser specific issue
[code]

[2018-08-23 09:39] Adrianltd commented on #571
This occurs also on Ubuntu in Firefox (on Chrome it's ok).

[2018-08-23 09:52] Adrianltd commented on #571
I've found the answer. When we merge https://github.com/Connexions/webview/pull/1867 the problem will disappear. It looks like when you make a list `display: inline`, Firefox thinks that all `<li></li>` are one element, because they're in one line.

[2018-08-23 10:04] PiotrKozlowski commented on #571
This does not occurs for me on Ubuntu Firefox :confused:

[2018-08-23 14:40] openstaxalina commented on #566
Footnotes in collating sections are being left in the original module where the collating section was.
The collating section moves, but the footnote stays in the module.  Causes major issues with numbering.

The footnotes are part of the module, not part of the section.  Helene does not know of a way to make these collate.

Helene is following up with Phil to figure out how this was done in DocBoo

[2018-08-23 18:15] philschatz commented on #566
I believe that in `oer.exports` the footnotes were kept with the content (this is allowed in the Docbook schema). Example:

`<para>some text <footnote id="example-footnote">
    Alan Davidson, Oxford Companion to Food,
    s.v. cheesecake: "Cheesecake, not a
    cake in the ordinary sense, is really a
    kind of tart."
  </footnote> some more text</para>`

the CNXML->XHTML conversion moved them i

[2018-08-23 19:13] helenemccarron commented on #562
@openstaxalina after some research, it looks like the term `drift velocity` has a space in it: `<term id="import-auto-id1215964"> drift velocity </term>`, the recipes consider that space a "symbol" and treat it as such. Can we remove it to verify if this is the cause of this behavior?

[2018-08-23 21:08] openstaxalina opened #573 "Grey caption in table"
@wilkus27 commented on [Thu Aug 23 2018](https://github.com/Connexions/content-managers/issues/252)

On katalyst01 (https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:0jV_L6-5@20.1/Bringing-It-Together-Homework) there is a table with grey caption inside. It should be next to the numbering.

katalyst01:

![grey_cap](https://user-images.githubusercontent.com/40228854/44510514-2e3f6c80-a6b5-11e8-894f-

[2018-08-23 21:09] openstaxalina commented on #573
@wilkus27 I moved this to the cnx-recipes repo.  I think this needs dev analysis before we make this a content-managers issue.

[2018-08-23 21:09] openstaxalina opened #574 "Middle of the equation in block"
@wilkus27 commented on [Thu Aug 23 2018](https://github.com/Connexions/content-managers/issues/253)

On katalyst01 (https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:z5OiUaGM@20.1/Solutions) in one of the in-line equation its middle displays in block. This problem doesn't occur in pdf.

katalyst01:

![block](https://user-images.githubusercontent.com/40228854/44512128-df480600-a6b9-11e8-8331-6d904c

[2018-08-23 21:09] openstaxalina commented on #574
@wilkus27 I moved this to the cnx-recipes repo. I think this needs dev analysis before we make this a content-managers issue.

[2018-08-23 21:12] openstaxalina opened #575 "Note without header"
@wilkus27 commented on [Thu Aug 23 2018](https://github.com/Connexions/content-managers/issues/254)

In PDF there is note without header:

![note_pdf](https://user-images.githubusercontent.com/40228854/44527946-99eefd00-a6e8-11e8-9264-d7e3000b662a.JPG)

On katalyst01 (https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:kDUE7w38@13/5-2-The-Uniform-Distribution -> **Example 5.4**) note have header but

[2018-08-23 21:12] openstaxalina commented on #574
@wilkus27 I moved this to the cnx-recipes repo. I think this needs dev analysis before we make this a content-managers issue.

[2018-08-23 21:12] openstaxalina commented on #575
@wilkus27 I moved this to the cnx-recipes repo. I think this needs dev analysis before we make this a content-managers issue.

[2018-08-23 21:13] openstaxalina opened #576 "Extra header"
@wilkus27 commented on [Thu Aug 23 2018](https://github.com/Connexions/content-managers/issues/257)

On katalyst01 (https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:AY7odN1L@12/5-3-The-Exponential-Distribution -> **Example 5.8**) in box **USING THE CALCULATOR** there is extra header:

![ex_head](https://user-images.githubusercontent.com/40228854/44534947-39b48700-a6f9-11e8-879b-77d2caa20914.JPG)

[2018-08-23 21:14] openstaxalina commented on #576
@wilkus27 I moved this to the cnx-recipes repo. I think this needs dev analysis before we make this a content-managers issue.

[2018-08-24 06:41] PiotrKozlowski commented on #574
@openstaxalina I believe this is same issue as `https://github.com/Connexions/content-managers/issues/215`

[2018-08-24 07:56] PatBoj commented on #573
@openstaxalina I'm almost sure that is a content issue, because every, properly displayed caption in the book has `span` container with `data-type="title"` in raw (not baked) html file. I've got some examples:

## ***Wrong:***
![image](https://user-images.githubusercontent.com/20907906/44572304-bbe98d80-a783-11e8-95a0-9cc09f0cf9a4.png)
![image](https://user-images.githubusercontent.com/20907906/44

[2018-08-24 09:34] PatBoj commented on #574
@openstaxalina It is definitely content, because the equal sight is outside the math, and the fraction `4, 464/16,900` displays as `block` when other math elements display as `inline`. Screens from raw (not baked) html below:
![image](https://user-images.githubusercontent.com/20907906/44577515-9c596180-a791-11e8-90a2-5074ad6d9c46.png)
![image](https://user-images.githubusercontent.com/20907906/445

[2018-08-24 10:25] PatBoj commented on #575
@openstaxalina In my opinion, it is content, because this note is different from other notes:

:heart: there is `data-element-type="Note"` only in this particular case,
:green_heart: `data-label` is not empty,
:yellow_heart: the title isn't in an additional `div` container,
:purple_heart: content is not in the paragraph `p`.

## ***Wrong:***
![image](https://user-images.githubusercontent.com/20907

[2018-08-24 11:00] PatBoj commented on #576
@openstaxalina it looks like the "Collaborative Exercise" title was added by the author, because it exists in raw (not baked) content.

## **With "Collaborative Exercise" title:**
![image](https://user-images.githubusercontent.com/20907906/44581288-6a4dfc80-a79d-11e8-8b96-f86633b9e988.png)
![image](https://user-images.githubusercontent.com/20907906/44581290-6cb05680-a79d-11e8-868e-caf11cdad3e5.png

[2018-08-24 17:52] openstaxalina commented on #562
@helenemccarron I removed the space before "drift velocity" in the content on katalyst01.  @wilkus27 could you rebake and retest?

If this solves the problem, we should move this issue to the content-managers repo.

[2018-08-24 23:10] #576 closed

[2018-08-24 23:10] openstaxalina commented on #576
Issue moved to [Connexions/content-managers #264](https://github.com/Connexions/content-managers/issues/264) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-24 23:12] #575 closed

[2018-08-24 23:12] openstaxalina commented on #575
Issue moved to [Connexions/content-managers #265](https://github.com/Connexions/content-managers/issues/265) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-24 23:13] #574 closed

[2018-08-24 23:14] openstaxalina commented on #574
Issue moved to [Connexions/content-managers #266](https://github.com/Connexions/content-managers/issues/266) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-24 23:16] #573 closed

[2018-08-24 23:16] openstaxalina commented on #573
Issue moved to [Connexions/content-managers #267](https://github.com/Connexions/content-managers/issues/267) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-27 14:51] #567 closed

[2018-08-27 14:51] Stackblocks commented on #567
May have been an issue with baking state / server status, but now displaying consistently correctly.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/16160b5e-0fe6-4fbe-8e19-8fd6ed9dae0c)

[2018-08-27 18:36] #554 closed

[2018-08-28 09:46] wilkus27 commented on #562
After baking it looks like that:

![index1](https://user-images.githubusercontent.com/40228854/44715021-0f771680-aab7-11e8-8a2c-06e012dc50bc.JPG)

There is new term **decay equation** instead of **drift velocity**, but it also appears in right place:

![index2](https://user-images.githubusercontent.com/40228854/44715145-536a1b80-aab7-11e8-84da-c8aaaf544bd0.JPG)

**Drift velocity** displays correct

[2018-08-28 15:14] wilkus27 opened #577 "Table and figure next to each other"
On katalyst01(https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:RIkTUiHP@2/12-2-Scatter-Plots) there is a problem with table and figure which should display next to each other:

![table_fig](https://user-images.githubusercontent.com/40228854/44732359-6abffd80-aae5-11e8-9c58-db1f61e25924.JPG)

This is how it looks in pdf:

![table_fig_pdf](https://user-images.githubusercontent.com/40228854/44732392

[2018-08-28 15:15] PiotrKozlowski commented on #577
There are 2 figures inside figure which is causing some errors in code structure:

- `Figure 12.5` is moved to caption for first of nested figures - next to table caption.
- Caption for image is moved to caption container of parent figure.

- Caption and number for table are in correct container, but there are 2 dividers instead of one
![nested figures](https://user-images.githubusercontent.com/31

[2018-08-28 23:38] openstaxalina commented on #577
We should decide -- in scrum Thursday if not before -- whether this should be fixed in code or content.

[2018-08-29 11:15] wilkus27 opened #579 "Different order of modules on webview and in pdf"
On katalyst01(https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:Z8MO95Dz@20.1/References) first is module **Bringing It Together: Homework** and next one is **References**:

![module](https://user-images.githubusercontent.com/40228854/44784292-6fd88780-ab8d-11e8-83f6-a69c9b2929d3.JPG)

In PDF they are in different order:

![module_pdf](https://user-images.githubusercontent.com/40228854/44784310-7e

[2018-08-29 12:12] PatBoj commented on #571
@uskka It should be OK right now, you can test it.

[2018-08-29 12:43] uskka commented on #571
Good Job! Works fine. Tested on kastalyst01.

![screenshot-katalyst01 cnx org-2018 08 29-14-42-03](https://user-images.githubusercontent.com/40228918/44788213-ba600100-ab99-11e8-9e01-f2014b44f960.png)

[2018-08-29 12:43] #571 closed

[2018-08-29 12:51] PatBoj commented on #562
Screens below are from raw (not baked) html file.

` change in angular velocity` starts with space:
![image](https://user-images.githubusercontent.com/20907906/44787930-d8793180-ab98-11e8-82c0-7ea15c068dc5.png)

`(peak) emf` starts with "(":
![image](https://user-images.githubusercontent.com/20907906/44787946-ecbd2e80-ab98-11e8-9b50-09566bba316a.png)

`RC circuit` starts with math (it should't):
!

[2018-08-29 14:33] uskka opened #580 "All of the figures in one section are unnumbered"
All of the figures and tables in this section are unnumbered.

https://katalyst01.cnx.org/contents/tWu56V64@34.15:p4GSo9Dk@18/Statistical-Tables

PDF
![u](https://user-images.githubusercontent.com/40228918/44794404-bf787c80-aba8-11e8-800d-644435bb8724.png)
Webview
![screenshot-katalyst01 cnx org-2018 08 29-16-28-34](https://user-images.githubusercontent.com/40228918/44794408-c0a9a980-aba8-11e8-972

[2018-08-29 14:42] wilkus27 opened #581 "Module without appendix class"
On katalyst01 (https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:kIxIs3X-@9/Practice-Tests-1-4-and-Final-Exams) one module is missing appendix class:

![append](https://user-images.githubusercontent.com/40228854/44795141-44b06100-abaa-11e8-9a76-2ef24f583bac.JPG)

The result of this is that tables are unnumbered.
This is how it looks in PDF:

![append_pdf](https://user-images.githubusercontent.com/

[2018-08-29 19:15] helenemccarron commented on #581
@openstaxalina This is due to the appendix missing the class `appendix`

[2018-08-29 19:35] #562 closed

[2018-08-29 19:35] openstaxalina commented on #562
Issue moved to [Connexions/content-managers #276](https://github.com/Connexions/content-managers/issues/276) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-29 21:11] wilkus27 opened #583 "Box without header"
On katalyst01 (https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:Tz_nB1he@6/C-Group-and-Partner-Projects) there are two boxes with header **Examples**

![example](https://user-images.githubusercontent.com/40228854/44815232-3df01100-abdf-11e8-9733-f9b1e773fd56.JPG)

![example2](https://user-images.githubusercontent.com/40228854/44815241-43e5f200-abdf-11e8-92a1-a6e24293227f.JPG)

In PDF these boxes

[2018-08-30 00:04] openstaxalina commented on #580
I believe this is occurring because the modules are missing the appendix class.  moving to the content-managers repo.

[2018-08-30 00:04] #580 closed

[2018-08-30 00:04] openstaxalina commented on #580
Issue moved to [Connexions/content-managers #277](https://github.com/Connexions/content-managers/issues/277) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-30 00:10] openstaxalina commented on #581
Issue moved to [Connexions/content-managers #278](https://github.com/Connexions/content-managers/issues/278) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-30 00:10] #581 closed

[2018-08-30 00:13] openstaxalina commented on #583
These boxes should not be numbered, since they are not numbered in the PDF.  This would probably be resolved in content, but would be low-priority.  I'll review this issue w/ @helenemccarron and if she agrees it's content, I'll move it to content-managers.

[2018-08-30 10:19] wilkus27 opened #584 "Many different margins"
On katalyst01 in the whole book are inconsistent margins. A few examples:

https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:AeeflfGs@10/10-1-Two-Population-Means-with-Unknown-Standard-Deviations

![align1](https://user-images.githubusercontent.com/40228854/44845694-898dd380-ac4e-11e8-9c88-0676c626f287.JPG)

![align2](https://user-images.githubusercontent.com/40228854/44845701-8eeb1e00-ac4e-11e8-8

[2018-08-30 10:55] wilkus27 opened #585 "Extra empty header"
On katalyst01 (https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:tnzKK6cn@2/11-8-Lab-2-Chi-Square-Test-of-Independence) in **NOTE** box is extra empty header:

![lines2](https://user-images.githubusercontent.com/40228854/44847376-96f98c80-ac53-11e8-99ac-7bf6c5c7d027.JPG)

This issue could be related with problems from https://github.com/Connexions/cnx-recipes/issues/576 and https://github.com/Conn

[2018-08-30 11:52] PatBoj commented on #585
It's **not** a content issue, I've checked.

## **Improper display**
![image](https://user-images.githubusercontent.com/20907906/44849741-63226500-ac5b-11e8-9943-5de5e26a51a8.png)
![image](https://user-images.githubusercontent.com/20907906/44849745-6584bf00-ac5b-11e8-8048-393721b012b0.png)

## **Proper display**
![image](https://user-images.githubusercontent.com/20907906/44849756-6c133680-ac5b-11e

[2018-08-30 12:20] wilkus27 opened #586 "All headers in the same size"
On katalyst01 in two modules all headers are in the same size.
1) https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:w-xBY099@6/E-Mathematical-Phrases-Symbols-and-Formulas

![head](https://user-images.githubusercontent.com/40228854/44851128-9ff05b00-ac5f-11e8-9d30-0b9045207d21.JPG)

PDF:

![head_pdf](https://user-images.githubusercontent.com/40228854/44851133-a7176900-ac5f-11e8-9691-dbcf525f99de.JP

[2018-08-30 13:20] reedstrm commented on #566
Met w/ @openstaxalina @philschatz and @helenemccarron re: this issue. Decided that the best solution, if possible, is to leave the footnotes "in place" with the other content, until the last possible moment - _i.e._ move them via recipe, not the xhtml transform. The problem with that is the cnxml footnotes formally allow for block level elements that would not be valid in the typical html text con

[2018-08-30 14:18] openstaxalina commented on #577
*Decision:* this will be fixed in content.  @wilkus27 to share the other example she found.  Alina to move this to content-managers.

[2018-08-30 14:33] wilkus27 commented on #577
Second example: https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:_WBoD9u3@5/12-3-The-Regression-Equation -> **Example 12.6**

[2018-08-30 15:00] openstaxalina commented on #577
Issue moved to [Connexions/content-managers #283](https://github.com/Connexions/content-managers/issues/283) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-30 15:00] #577 closed

[2018-08-30 18:19] openstaxalina commented on #586
Resolved via https://github.com/Connexions/webview/issues/1637 and will be visible in updated content on staging.cnx.org.  Closing this issue.

[2018-08-30 18:19] #586 closed

[2018-08-30 18:40] helenemccarron commented on #584
The content is inconsistently using paragraphs, which have padding applied left and right.
![2018-08-30_13-37-55](https://user-images.githubusercontent.com/8514591/44872043-2b66ed80-ac5a-11e8-85f1-20abae4d3a54.png)

[2018-08-31 17:33] openstaxalina opened #588 "Change to Managerial Decisions: Practice Header"
@openstaxalina commented on [Wed Aug 29 2018](https://github.com/Connexions/webview/issues/1885)

![mde pom](https://user-images.githubusercontent.com/7863733/44801018-870f7900-ab7d-11e8-9014-10d9fa80ccdb.png)

This issue was already resolved in the PDF; I am not sure how.  Maybe in the collation instructions?

Content: https://content02.cnx.org/contents/smnX8BSm:UiFE6wQb

[2018-08-31 17:33] openstaxalina opened #589 "Change to Management Applications Skills: Practice Header"
@openstaxalina commented on [Wed Aug 29 2018](https://github.com/Connexions/webview/issues/1884)

![msae pom](https://user-images.githubusercontent.com/7863733/44800727-ba053d00-ab7c-11e8-919b-955c9c0b592a.png)

This is already correct in the PDF; I am not sure how.  Maybe the collation instructions?

Content: https://content02.cnx.org/contents/smnX8BSm:yiA6pMgN

[2018-08-31 17:37] openstaxalina commented on #502
This does need to be finished this release since Katalyst will be moving onto the next phase of Assignable Webview (new recipe creation).

[2018-08-31 17:39] openstaxalina commented on #508
@Stackblocks linking to the webview QA documentation he created for the vendors (which has some information about baking).

@kerwinso if you have any documentation, could you link to it in this card?

[2018-08-31 17:40] Stackblocks commented on #508
Webview QA documentation for vendors: https://docs.google.com/document/d/1T3Mmbny05_KXegPjPGWdzRAdKg2MBLuUtLH9qaLpFBg/edit

[2018-08-31 18:02] openstaxalina commented on #584
Issue moved to [Connexions/content-managers #285](https://github.com/Connexions/content-managers/issues/285) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-31 18:02] #584 closed

[2018-09-04 15:05] openstaxalina commented on #563
Content to be used for testing on katalyst01:

Biology2e Ch.6 & Ch.30

Concepts of Bio Ch.4 & Ch.16:

[2018-09-04 15:37] reedstrm commented on #566
Report:
1780 modules contain 7861 footnote tags. Of those, 6263 contain a child element. The distribution of tag names for those children:
[code]
Of those, `para` is blockish, code, equation, and m:math _can_ be,  - `newline` is odd.

The 434 paras appear in 54 modules.  Of those, some are clearly in CNX Biology. The one I looked at closely was an unneeded `para` wrapping what is formally a citati

[2018-09-04 16:00] philschatz commented on #566
RE the para ones, can you count the number of `cnx:footnote[cnx:para][count(*) > 1]` ? If the ones with a `<para>` only contain the `<para>` then we _could_ just unwrap the para during the CNXML->HTML transform

[2018-09-04 18:29] reedstrm commented on #566
Of the 434 `para` tag containing footnotes, only 8 (in 6 modules) contain more than a single `para`. By visual inspection, the single `para` footnotes all seem to be a `para` nested directly inside the footnote.

Those six modules are:
[code]

[2018-09-04 18:40] reedstrm commented on #566
The list cases are slightly more interesting. There are some there that clearly cannot be "inlined", so we will need a model for 'extended footnote', but I think most/all of the openstax production books look to be of the "single blockish tag nested just inside the footnote" or something that can easily be replaced w/ a `newline` to separate the footnote into two parts.

[2018-09-04 19:51] reedstrm commented on #566
Before @philschatz get's _too_ excited, we'll still need to survey pretty much all of the above, and design the appropriate transform, and matching recipe changes. :-)

[2018-09-04 20:44] brittany-johnson commented on #589
![screen shot 2018-09-04 at 2 54 14 pm](https://user-images.githubusercontent.com/24909007/45054389-6ef29a80-b052-11e8-8063-5763cd1982a5.png)

[2018-09-04 20:50] brittany-johnson commented on #588
![screen shot 2018-09-04 at 3 49 19 pm](https://user-images.githubusercontent.com/24909007/45057043-2e971a80-b05a-11e8-95a7-59474a66f490.png)

[2018-09-05 08:27] Adrianltd opened #593 "Double header in Using the Calculator box"
@wilkus27 commented on [Fri Aug 24 2018](https://github.com/Connexions/webview/issues/1872)

katalyst01(https://katalyst01.cnx.org/contents/MBiUQmmY@20.1:epKVS0wt@12/9-5-Additional-Information-and-Full-Hypothesis-Test-Examples -> **Try It 9.14**)

![double](https://user-images.githubusercontent.com/40228854/44589173-1d2b5400-a7b8-11e8-947f-53b3a49d9b4b.JPG)

PDF:

![double_pdf](https://user-images

[2018-09-05 13:05] uskka opened #594 "Missing sections in PDF and Webview"
PDF is missing the "The Expenditure-Output Model" section and Webview is missing "B | The Expenditure-Output Model" section and "The Expenditure-Output Model" looks like it is not baked
because all of the figures are unnumbered and tables descriptions are grey.

https://staging.cnx.org/contents/J_WQZJkO@6.1:2cZ9K6tp@4/The-Expenditure-Output-Model

PDF
![screenshot-d3bxy9euw4e147 cloudfront net-201

[2018-09-05 13:52] wilkus27 opened #595 "Tables from Answer Key without os-table class"
On staging.cnx.org (https://staging.cnx.org/contents/kRfPjKij@5.1:pKpFhGyF@5.1/Answer-Key) all tables in **Answer Key** don't have `os-table` class:

![table](https://user-images.githubusercontent.com/40228854/45097480-44244700-b123-11e8-8587-a49e09690f78.JPG)

[2018-09-05 14:59] helenemccarron commented on #594
@openstaxalina this looks like a classic case of a missing `appendix` class.

[2018-09-05 15:06] #594 closed

[2018-09-05 15:06] openstaxalina commented on #594
Issue moved to [Connexions/content-managers #292](https://github.com/Connexions/content-managers/issues/292) via [**ZenHub**](https://www.zenhub.com/)

[2018-09-05 15:08] openstaxalina commented on #595
@wilkus27 could you clarify the end-user impact?  How does the display compare to the PDF?

[2018-09-05 16:05] Bkblodget opened #596 "Intro to Business - bulleted lists within a table not showing"
# Scenario

List-style for a list within a table is set to bulleted - styling is correct in PDF but bullets are not showing in webview

# Reproducibility Details

- **https://cnx.org/contents/Tgl3H6iq@4.164:aJs0fVsd@4/6-2-Planning**:

## Screenshots

**PDF**
![Screen Shot 2018-09-05 at 10.52.07 AM.png](https://images.zenhubusercontent.com/5b572db8a74e9a33056ecb3c/c651dc44-f7f1-4c90-afc6-88d3b05094

[2018-09-05 16:18] openstaxalina commented on #566
*Outcome from today's call:*
-Phil to create a PR against Rhaptos/cnxmlutils so Helene can see the HTML when footnotes are left with their parent content (will not handle blockish elements).
-Phil to create a PR against ### that handles blockish elements.
-Helene to make recipe changes against this issue.

@philschatz @reedstrm @helenemccarron

[2018-09-05 16:42] kerwinso commented on #508
@openstaxalina Here's some ad-hoc Baking Training documentation:
https://docs.google.com/document/d/1IMmzTjudlaObHUlbMBvewbyXDu5bOpaDJajoeQ7kbXs/edit#

[2018-09-05 17:12] openstaxalina commented on #596
assigning to @lwtchu to prioritize.  I wasn't sure if this was moderate or low based on our Slack thread.

[2018-09-05 18:02] lwtchu opened #597 "AP Physics - Numbering off for equations"
# Scenario

Numbering for equations is off. This one might be because another equation is sitting in an EOC, thus causing webview to be off by 1.

Per this issue, the numbering has been resolved in the content: https://app.zenhub.com/workspace/o/connexions/content-managers/issues/243

# Reproducibility Details

- **Impact area**: Numbering
- **User**:
- **URL / Location**: https://staging.cnx.org/

[2018-09-05 20:40] lwtchu opened #598 "AP Physics - Appendix has two symbol sections, orphaned index term"
# Scenario

There's two "SYMBOL" sections and drift velocity is orphaned

# Reproducibility Details

- **Impact area**:  Index
- **User**:
- **URL / Location**: https://staging.cnx.org/contents/jQSmhtXo@17.1:Xm0hU3Qa@17.1/Index
- **How many times were you able to reproduce the issue?**

## Steps to reproduce:

- Step 1
- Step 2
- Step 3

## Screenshots

![Screen Shot 2018-09-05 at 3.32.56 PM.png](

[2018-09-05 20:47] openstaxalina commented on #598
This will be handled in content: https://github.com/Connexions/content-managers/issues/276

[2018-09-05 20:47] #598 closed

[2018-09-05 20:50] helenemccarron commented on #583
The reason those are behaving strangely is because they are generic notes but do not follow generic notes rules: generic notes have a title that is then normalized via the recipes. Currently, we do not support generic notes without a title, because they wouldn't be identifiable without CSS (as per the guidelines we established for content manipulation via recipes)

In the screenshots above, the "e

[2018-09-05 20:55] #583 closed

[2018-09-05 20:55] openstaxalina commented on #583
Issue moved to [Connexions/content-managers #294](https://github.com/Connexions/content-managers/issues/294) via [**ZenHub**](https://www.zenhub.com/)

[2018-09-06 09:16] wilkus27 commented on #595
@openstaxalina When table don't have os-table class it causes issue with margins, which you have referenced and between paragraphs and this kind of tables occur blank spaces:

staging.cnx.org (https://staging.cnx.org/contents/kRfPjKij@5.1:pKpFhGyF@5.1/Answer-Key -> answers for **Chapter 8**)

![table2](https://user-images.githubusercontent.com/40228854/45147803-1512e180-b1c6-11e8-9302-d088c589f531

[2018-09-06 13:27] helenemccarron commented on #597
Could this be caused because the equations are numbered before moving them to the Answer Key?

[2018-09-06 15:21] lwtchu opened #600 "Concept in Action has a Link to Learning Title in Webview"
@marcjeannott commented on [Tue Sep 04 2018](https://github.com/Connexions/content-managers/issues/291)

While regression testing I noticed that the webview call it "Link to Leaning" but the PDF shows a "Concept in Action"

![concept_in_action_missing_Concepts.jpg](https://images.zenhubusercontent.com/5b572d7e0e34d640605a661c/2ba936c0-9d90-4323-aa62-a36df299aa75)

This is also the case for **Evolu

[2018-09-06 15:23] wilkus27 opened #601 "Unnumbered table in Preface"
On staging.cnx.org (https://staging.cnx.org/contents/bDIuMp-w@9.1:Hd4bYWPU@7/Preface) don't work flag https://github.com/Connexions/cnx-recipes/issues/455 - tables from Preface are not numbered:

![biology_ap](https://user-images.githubusercontent.com/40228854/45167455-799b6400-b1f9-11e8-8bd9-a46d6067c8b5.JPG)

[2018-09-06 15:32] openstaxalina commented on #566
New plan is to handle this in content for Assignable Webview for Half (releasing September 2018) and make a long-term fix in future sprints.

[2018-09-06 15:38] openstaxalina commented on #601
In this case, the PDF doesn't have a number either:
![screen shot 2018-09-06 at 10 37 44 am](https://user-images.githubusercontent.com/7863733/45168461-ef370e00-b1c0-11e8-8c60-8f82bc58b3a2.png)

Therefore, I am going to close this issue.

[2018-09-06 15:38] #601 closed

[2018-09-06 16:46] openstaxalina commented on #600
![screen shot 2018-09-06 at 11 45 46 am](https://user-images.githubusercontent.com/7863733/45172252-70df6980-b1ca-11e8-92dc-1b125589fdcc.png)

https://staging.cnx.org/contents/s8Hh0oOc@14.1:-Yx1m5Xz@10/1-1-Themes-and-Concepts-of-Biology

[2018-09-06 16:48] openstaxalina commented on #600
@marcjeannott would you be able to find at least one instance of Evolution in Action, and one instance of Career Connection, and share the side-by-side PDF vs Webview and also a link to the content on staging?

[2018-09-06 17:48] marcjeannott commented on #600
I've added screenshots with links to the module in my original comment.

[2018-09-06 18:29] #596 closed

[2018-09-06 18:29] helenemccarron commented on #596
Issue moved to [Connexions/webview #1923](https://github.com/Connexions/webview/issues/1923) via [**ZenHub**](https://www.zenhub.com/)

[2018-09-06 18:54] oscryan opened #602 "Check Your Understanding feature in College Physics is numbered in baked webview"
The markup does not specify it should be unnumbered: `<exercise print-placement="here" type="check-understanding">` but it does include an empty label and the pdf does not number these exercises:

https://staging.cnx.org/contents/Ax2o07Ul@14.1:EC6WBNqn@9/1-2-Physical-Quantities-and-Units
<img width="640" alt="screen shot 2018-09-06 at 1 53 21 pm" src="https://user-images.githubusercontent.com/1895

[2018-09-06 20:12] oscryan commented on #597
Also occurs in College Physics:
![Screen Shot 2018-09-06 at 3.08.56 PM.png](https://images.zenhubusercontent.com/5b572ec492e09f0d21193829/1409e718-5df5-4827-a68d-09e480a2967b)

[2018-09-06 20:52] helenemccarron commented on #602
Mmmh I don't think the recipes currently support not numbering elements solely based on the label. Is that something desirable or would it be sufficient to add an `unnumbered` class to specific element that are normally numbered? cc @openstaxalina

[2018-09-06 21:38] oscryan commented on #597
<img width="1235" alt="screen shot 2018-09-06 at 4 38 10 pm" src="https://user-images.githubusercontent.com/1895432/45186491-448c1300-b1f3-11e8-96ac-2d761dcf224d.png">

[2018-09-07 09:49] wilkus27 commented on #455
@openstaxalina I am not sure what does it mean that this flag is supported in PDF. It means that when figures/tables are not numbered in pdf, they shouldn't be numbered on webview or it means that all figures/tables from Preface after turning on this flag should be numbered on webview and when in PDF they are not, this numbering will be added there?

I am asking because after turning on flags appe

[2018-09-07 13:06] openstaxalina commented on #455
Hi @wilkus27, thank you for asking this question.  The flag means that the webview & PDF **should match** in terms of numbering in the preface.  Do you think we could catalog places where the webview & PDF do not match in this issue? We can likely resolve these with new tagging in the content.

I closed #601 because the PDF & webview already match (no numbering in either format) for AP Biology.

[2018-09-07 13:31] wilkus27 commented on #455
@openstaxalina I think we could, should I create an issue on GitHub or some document for that?

[2018-09-07 13:35] openstaxalina commented on #455
@wilkus27 could we use this issue and add labels for any book where the numbering in the PDF & webview doesn't match?

[2018-09-07 13:46] wilkus27 commented on #455
@openstaxalina Ok, so I reopen it.

[2018-09-07 15:23] PatBoj opened #604 "AP Physics - math not showing up in index"
@lwtchu commented on [Wed Sep 05 2018](https://github.com/Connexions/webview/issues/1916)

![Screen Shot 2018-09-05 at 3.37.44 PM.png](https://images.zenhubusercontent.com/5b57310fb26dd832dfe45b43/21b42c1c-c6ee-4f08-922d-abf539417f4a)

Should look like this:
![Screen Shot 2018-09-05 at 3.41.23 PM.png](https://images.zenhubusercontent.com/5b57310fb26dd832dfe45b43/dc49f844-30d1-4ec3-a0fb-d78e815cbe8

[2018-09-07 15:28] wilkus27 commented on #455
**Principles of Microeconomics 2e** (https://staging.cnx.org/contents/XAl2LLVA@9.1:Vqc2J7Te@12/Preface)

webview:

![micro_2e](https://user-images.githubusercontent.com/40228854/45228366-4de4b080-b2c3-11e8-9386-933c6fb6a5ee.JPG)

PDF:

![micro_2e_pdf](https://user-images.githubusercontent.com/40228854/45228386-56d58200-b2c3-11e8-8023-dbbc09641a8d.JPG)

[2018-09-07 15:37] wilkus27 commented on #455
**Principles of Macroeconomics 2e** (https://staging.cnx.org/contents/J_WQZJkO@6.1:a3dFfRuk@6/Preface)

webview:

![macro_2e](https://user-images.githubusercontent.com/40228854/45228828-8769eb80-b2c4-11e8-9d48-0cb4ae6b8a54.JPG)

PDF:

![macro_2e_pdf](https://user-images.githubusercontent.com/40228854/45228850-918bea00-b2c4-11e8-9adb-844af25098d1.JPG)

[2018-09-07 15:41] lwtchu opened #606 "Turn on feature flags for Accounting, Entrepreneurship, & POM"
# Scenario

It is time. To turn on ALL feature flags for Accounting, Entrepreneurship, and Principles of Management !!!!

[2018-09-07 16:31] helenemccarron commented on #600
This is possible (although not ideal) with those two selectors:

`className: 'interactive:not(.non-majors)'` for "Link to Learning"
and
`(className: 'interactive.non-majors'` for "Concepts in Action"

[2018-09-10 07:07] PatBoj commented on #563
Ready for testing.

[2018-09-10 10:08] wilkus27 commented on #595
Verified on katalyst01 (https://katalyst01.cnx.org/contents/kRfPjKij@4.5:pKpFhGyF@4.5/Answer-Key)
tables display without blank spaces

![table_blank](https://user-images.githubusercontent.com/40228854/45291316-1c056100-b4f2-11e8-9fc5-d976edd9d9d5.JPG)

[2018-09-10 10:08] #595 closed

[2018-09-10 10:51] wilkus27 commented on #579
Verified on katalyst01

![order](https://user-images.githubusercontent.com/40228854/45293330-27f42180-b4f8-11e8-8772-af71467cae64.JPG)

[2018-09-10 13:00] wilkus27 commented on #455
**Principles of Microeconomics for AP® Courses 2e** (https://staging.cnx.org/contents/Y2y_2U43@4.1:DFElNw5s@4/Preface)

webview:

![micro_2e_ap](https://user-images.githubusercontent.com/40228854/45298894-2a5f7700-b50a-11e8-8513-a32dcca1b2b9.JPG)

PDF:

![micro_2e_ap_pdf](https://user-images.githubusercontent.com/40228854/45298908-35b2a280-b50a-11e8-903a-0206f37ead9a.JPG)

[2018-09-10 13:28] Adrianltd commented on #597
1. Physics for AP - some of the equations are set to be `unnumbered`. That's already changed, numbers should be the same as they are in PDF.
2. College physics - it seems that some of equations should be `unnumbered` but are not (probably they don't have number in PDF and have in webview). @oscryan can you spot them and add URLs to them?

[2018-09-10 14:02] openstaxalina commented on #597
@oscryan, could you spin the College Physics issue into a new issue, and provide link(s) to the content?

[2018-09-10 14:11] openstaxalina commented on #537
This was tracked here instead: https://docs.google.com/document/d/1Oxy08GaYiDBJ94Q9U_aBcLyXk4DnjrHomDWQOXmrTYU

[2018-09-10 14:11] #537 closed

[2018-09-10 14:13] oscryan opened #608 "College Physics equation numbering"
# Scenario

College Physics equation numbering does not match from webview to PDF on Staging; on production, the equations do not seem to be numbered at all.

# Reproducibility Details

- **Impact area**: College Physics
- **User**:
- **URL / Location**: staging https://cnx.org/contents/Ax2o07Ul@13.12:LJeKXQqg@13/Fission
production https://staging.cnx.org/contents/Ax2o07Ul@14.1:LJeKXQqg@11/32-6-Fi

[2018-09-10 15:03] brittweinstein commented on #457
@tomjw64 we are ready to merge. Please apply to University Physics.

[2018-09-10 15:05] brittweinstein commented on #502
This will be discussed in tomorrow's Katalyst meeting.

[2018-09-10 15:11] #507 closed

[2018-09-10 15:11] #508 closed

[2018-09-10 15:33] helenemccarron commented on #593
Issue moved to [Connexions/content-managers #305](https://github.com/Connexions/content-managers/issues/305) via [**ZenHub**](https://www.zenhub.com/)

[2018-09-10 15:33] #593 closed

[2018-09-10 15:35] #585 closed

[2018-09-10 15:35] helenemccarron commented on #585
Issue moved to [Connexions/content-managers #306](https://github.com/Connexions/content-managers/issues/306) via [**ZenHub**](https://www.zenhub.com/)

[2018-09-10 15:45] oscryan commented on #608
Neither of the examples I have posted here have class="unnumbered", either on staging or on production.

[2018-09-10 16:11] wilkus27 commented on #455
@openstaxalina These are all books where webview and PDF are inconsistant in Preface.

[2018-09-10 16:12] Adrianltd opened #609 "Numbered Equations styled incorrectly in webview for College Physics"
@oscryan commented on [Thu Sep 06 2018](https://github.com/Connexions/webview/issues/1924)

PDF on the right, staging webview on the left:
<img width="1270" alt="screen shot 2018-09-06 at 2 58 23 pm" src="https://user-images.githubusercontent.com/1895432/45181956-8b730c00-b1e5-11e8-8cb0-1a83cb54471b.png">

---

@openstaxalina commented on [Thu Sep 06 2018](https://github.com/Connexions/webview/iss

[2018-09-10 16:17] openstaxalina commented on #602
*Decision:* Helene to use the same behavior and styling for the (college) physics recipe that the ap-physics recipe already uses.

[2018-09-10 16:19] openstaxalina commented on #455
@wilkus27 thank you!  moving this to content.

[2018-09-10 16:20] #455 closed

[2018-09-10 16:20] openstaxalina commented on #455
Issue moved to [Connexions/content-managers #307](https://github.com/Connexions/content-managers/issues/307) via [**ZenHub**](https://www.zenhub.com/)

[2018-09-11 08:31] wilkus27 commented on #609
Verified on katalyst01 (https://katalyst01.cnx.org/contents/Ax2o07Ul@11.33:aNsXe6tc@2/2-6-Problem-Solving-Basics-for-One-Dimensional-Kinematics)

![numbering](https://user-images.githubusercontent.com/40228854/45348039-d7d79680-b5ad-11e8-8fdd-ea8331a138c8.JPG)

[2018-09-11 08:31] #609 closed

[2018-09-11 09:48] wilkus27 commented on #608
Verified on katalyst01 (https://katalyst01.cnx.org/contents/Ax2o07Ul@11.33:LJeKXQqg@9/32-6-Fission)

webview:

![order](https://user-images.githubusercontent.com/40228854/45352299-78cb4f00-b5b8-11e8-9485-fe19a2878ee1.JPG)

PDF:

![order_pdf](https://user-images.githubusercontent.com/40228854/45352306-7ff25d00-b5b8-11e8-89ba-d2385aa1b2c1.JPG)

[2018-09-11 09:48] #608 closed

[2018-09-11 16:55] helenemccarron commented on #602
Check your Understanding are no longer numbered in Physics:

![2018-09-11_11-55-07](https://user-images.githubusercontent.com/8514591/45375083-9e0c8d00-b5b9-11e8-8830-3de09b09174c.png)

[2018-09-11 16:58] helenemccarron opened #617 "Normalize exercices numbering format"
All books  end of chapter exercises and end of book solutions should use the following format:

#. Exercise

Example: 1. Exercise description....

[code]

This should prevent future issues with spacing between the number, the divider and the content in exercises.

[2018-09-11 16:59] helenemccarron commented on #617
This was resolved in PR #613 (merged into pr #615)

[2018-09-12 01:36] wilkus27 commented on #600
Verified on katalyst01 (https://katalyst01.cnx.org/contents/s8Hh0oOc@11.15:-Yx1m5Xz@8/1-1-Themes-and-Concepts-of-Biology)

![concept_learning](https://user-images.githubusercontent.com/40228854/45396645-f6d13980-b63c-11e8-9540-bca03849ac81.JPG)

[2018-09-12 01:36] #600 closed

[2018-09-12 02:33] wilkus27 commented on #563
**Concepts of Biology** - verified on katalyst01 - Chapter 4

1) Visual Connection Questions

![visual_connection_question](https://user-images.githubusercontent.com/40228854/45398484-98a85480-b644-11e8-98e2-05a98459fde1.JPG)

2) Visual Connection - NOTE

![visual_connection](https://user-images.githubusercontent.com/40228854/45398517-bfff2180-b644-11e8-83cd-931e2a2a822e.JPG)

3) Critical Thinking

[2018-09-12 03:17] wilkus27 commented on #602
Verified on katalyst01 (https://katalyst01.cnx.org/contents/Ax2o07Ul@11.33:EC6WBNqn@7/1-2-Physical-Quantities-and-Units)

![check](https://user-images.githubusercontent.com/40228854/45400109-10797d80-b64b-11e8-9ce4-85da21095c70.JPG)

[2018-09-12 03:17] #602 closed

[2018-09-12 07:36] PatBoj commented on #597
Ready for testing @wilkus27 @uskka.

[2018-09-12 10:57] uskka commented on #597
Sooo, after baking with katAW.rozzarzona.ropucha recipes, Answer Key chapter disappeared from the book. And numbering of equations is not styled as it should be.
https://katalyst01.cnx.org/contents/jQSmhtXo@16.37:IJhr-iwq@7/2-8-Graphical-Analysis-of-One-Dimensional-Motion
![screenshot-katalyst01 cnx org-2018 09 12-12-44-20](https://user-images.githubusercontent.com/40228918/45420308-1d699180-b68a-

[2018-09-12 11:58] helenemccarron commented on #597
Per Alina, the numbering in the answer key *should* disappear, we will change the PDF accordingly because the numbering of equations in the Answer Key in the PDF is due to a bug.

I will make sure the proper classes are applied so they display like other equations shortly.

[2018-09-12 13:11] PatBoj commented on #563
@helenemccarron I've baked book `biology 2e` locally and on the katalyst server using the same recipes. I've double checked if I have the same content as on the server. And locally everything is ok and on the server is not. I have no idea why this is happening.

## **Locally (it should look like this):**
![image](https://user-images.githubusercontent.com/20907906/45427018-13518e00-b69e-11e8-95d2-a

[2018-09-12 14:05] helenemccarron commented on #563
After rebaking with the latest CSS on katAW.rozzarzona.ropucha and clearing the cache, this is what I see, is this correct?

![2018-09-12_09-03-48](https://user-images.githubusercontent.com/8514591/45430485-0798a400-b66b-11e8-9088-7230a6966103.png)

[2018-09-12 14:30] openstaxalina commented on #563
@patboj @helenemccarron note in the second comment on the issue - **only certain chapters have the updated classes in the content on katalyst01**.  I think that is causing the discrepancy with other chapters.

[2018-09-12 14:46] PatBoj commented on #563
@openstaxalina Yes, so the chapters marked by red arrows will not appear in the baked book until all of the classes will be changed in the content. But now everything is ok, my changes are visible and the recipes is working as it suppose so.

[2018-09-12 15:08] openstaxalina commented on #604
The resolution we currently have will break University Physics (Polish and maybe also English).

We will **not** resolve this issue for any titles for Assignable Webview for Half.  Instead, we will develop a more comprehensive solution in future sprints.

cc @PatBoj @helenemccarron

[2018-09-12 16:00] wilkus27 commented on #617
Verified on katalyst01, e.g.

**College Physics** (https://katalyst01.cnx.org/contents/Ax2o07Ul@11.33:aDS9F9Oz@11.33/Conceptual-Questions)

![physics](https://user-images.githubusercontent.com/40228854/45437478-2b80d780-b6b5-11e8-9909-2decf56d14e5.JPG)

**Concepts of Biology** (https://katalyst01.cnx.org/contents/s8Hh0oOc@11.15:_uFXixPr@11.15/Review-Questions)

![biology](https://user-images.githu

[2018-09-12 16:00] #617 closed

[2018-09-13 13:52] Stackblocks commented on #457
Because of the way the Table of Contents is handled in Webview, this will have no visible change. Will continue to monitor moving forward as we make other changes and add elements into the BakedPDF system.

[2018-09-13 13:52] #457 closed

[2018-09-13 14:13] uskka commented on #563
Looks good. Tested on katalyst01.

Biology 2e
<img width="314" alt="screen shot 2018-09-13 at 16 10 33" src="https://user-images.githubusercontent.com/40228918/45493744-be7e4800-b76f-11e8-8db4-08ad840c5ba1.png">

Concepts of Biology
<img width="315" alt="screen shot 2018-09-13 at 16 11 21" src="https://user-images.githubusercontent.com/40228918/45493760-c3db9280-b76f-11e8-9515-43bb54272e95.png">

[2018-09-13 14:13] #563 closed

[2018-09-13 15:48] #589 closed

[2018-09-13 15:48] Stackblocks commented on #589
Displaying as specified with updated version of content / code. ![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/b9ffd2e2-b6d7-43bd-96cc-ffe305bef129)

[2018-09-13 15:49] Stackblocks commented on #588
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/4c6b570e-c9d7-4b87-85cc-925b8e4045fa)

[2018-09-13 15:49] #588 closed

[2018-09-17 19:00] Stackblocks commented on #538
Feature Flags enabled for all of KatAW 1.0, Still need to be enabled across the business series.

[2018-09-17 19:12] Stackblocks opened #622 "Create Astronomy Recipe"
## Book title: Astronomy
### Collection: https://katalyst01.cnx.org/contents/LnN76Opl@14.4:_45u6IpQ@4/Introduction
### Recipe name:

### Checklist
- [x] Update/create book map
- [x] Update books.txt with new book’s UUID
- [x] Create all notes config entries
- [x] Create all EOC config entries
- [x] Create all EOB config entries
- [x] Create all book specific config entries
- [x] Create all stylegu

[2018-09-17 19:13] Stackblocks opened #623 "Create DevMath Recipe"
## Books titles:
- Prealgebra
- Elementary Algebra
- Intermediate Algebra

### Collections:
- Prealgebra: https://katalyst01.cnx.org/contents/yqV9q0HH@11.1:plLt9FYr@4/Introduction
- Elementary Algebra: https://katalyst01.cnx.org/contents/CImQfPDv@3.11:GfaWl1GG@4/Introduction
- Intermediate Algebra: https://katalyst01.cnx.org/contents/AndhM9Sd@4.13:HCaG_W5c@4/Introduction

### Recipe name: dev-math

[2018-09-17 19:13] Stackblocks opened #624 "Create Chemistry Recipe"
## Books title: Chemistry

### Collection: https://katalyst01.cnx.org/contents/havxkyvS@11.1:uXg0kUa-@4/Introduction

### Recipe name:

### Checklist
- [x] Update/create book map
- [x] Update books.txt with new book’s UUID
- [x] Create all notes config entries
- [x] Create all EOC config entries
- [x] Create all EOB config entries
- [x] Create all book specific config entries
- [x] Create all styl

[2018-09-17 19:14] Stackblocks opened #625 "Create Psychology Recipe"
## Books title: Psychology

### Collection: https://katalyst01.cnx.org/contents/Sr8Ev5Og@8.1:6HoLG-TA@5/Introduction

### Recipe name:

### Checklist
- [x] Update/create book map
- [x] Update books.txt with new book’s UUID
- [x] Create all notes config entries
- [x] Create all EOC config entries
- [x] Create all EOB config entries
- [x] Create all book specific config entries
- [x] Create all styl

[2018-09-17 19:15] Stackblocks opened #626 "Create Sociology Recipe"
## Book title: Introduction to Sociology 2e
### Collection: https://katalyst01.cnx.org/contents/AgQDEnLI@10.1:TrIRM88K@5/Introduction-to-Sociology
### Recipe name:

### Checklist
- [x] Update/create book map
- [x] Update books.txt with new book’s UUID
- [x] Create all notes config entries
- [x] Create all EOC config entries
- [x] Create all EOB config entries
- [x] Create all book specific config

[2018-09-17 19:15] Stackblocks opened #627 "Create Anatomy & Physiology Recipe"
## Book title: Anatomy and Physiology
### Collection: https://katalyst01.cnx.org/contents/FPtK1zmh@10.1:zMTtFGyH@4/Introduction
### Recipe name:

### Checklist
- [x] Update/create book map
- [x] Update books.txt with new book’s UUID
- [x] Create all notes config entries
- [x] Create all EOC config entries
- [x] Create all EOB config entries
- [x] Create all book specific config entries
- [x] Creat

[2018-09-17 19:16] Stackblocks opened #628 "Create US History Recipe"
## Book title: U.S. History
### Collection: https://katalyst01.cnx.org/contents/p7ovuIkl@5.2:gMXC1GEM@3/Introduction
### Recipe name:

### Checklist
- [x] Update/create book map
- [x] Update books.txt with new book’s UUID
- [x] Create all notes config entries
- [x] Create all EOC config entries
- [x] Create all EOB config entries
- [x] Create all book specific config entries
- [x] Create all style

[2018-09-17 19:17] Stackblocks opened #629 "Create Microbiology Recipe"
## Book title: Microbiology
### Collection: https://katalyst01.cnx.org/contents/5CvTdmJL@5.3:rFziotaH@4/Introduction
### Recipe name:

### Checklist
- [x] Update/create book map
- [x] Update books.txt with new book’s UUID
- [x] Create all notes config entries
- [x] Create all EOC config entries
- [x] Create all EOB config entries
- [x] Create all book specific config entries
- [x] Create all style

[2018-09-17 19:29] Stackblocks opened #630 "Create American Government Recipe"
## Book title: American Government
### Collection: https://katalyst01.cnx.org/contents/W8wOWXNF@17.1:SjdU64Og@3/Introduction
### Recipe name:

### Checklist
- [x] Update/create book map
- [x] Update books.txt with new book’s UUID
- [x] Create all notes config entries
- [x] Create all EOC config entries
- [x] Create all EOB config entries
- [x] Create all book specific config entries
- [x] Create a

[2018-09-17 19:29] Stackblocks opened #631 "Create Calculus Recipe"
## Book title: Calculus (Volumes 1-3)
### Collection:
https://katalyst01.cnx.org/contents/i4nRcikn@2.89:H2TLb2-S@2/Introduction
https://katalyst01.cnx.org/contents/HTmjSAcf@2.61:rrzms6rP@2/Introduction
https://katalyst01.cnx.org/contents/oxzXkyFi@2.103:72YaCFgv@2/Introduction

### Recipe name:

### Checklist
- [x] Update/create book map
- [x] Update books.txt with new book’s UUID
- [x] Create all

[2018-09-17 19:30] Stackblocks opened #632 "Create Precalculus Recipe"
## Books title:
- Precalculus
- Algebra and Trigonometry
- College Algebra

### Collections:
Precalculus: https://katalyst01.cnx.org/contents/_VPq4foj@7.52:vEOnJry_@3/Introduction-to-Functions
Algebra and Trigonometry: https://katalyst01.cnx.org/contents/E6wQevFf@10.1:nU8Qkzwo@4/Introduction-to-Prerequisites
College Algebra: https://katalyst01.cnx.org/contents/mwjClAV_@7.1:nU8Qkzwo@4/Introduction-

[2018-09-17 19:31] Stackblocks opened #633 "Katalyst Assignable Webview pt.2 -- Recipe Epic"
Time to develop the recipes for the rest of the books!

Book maps: https://docs.google.com/spreadsheets/d/15-hQikWwbc8ATCe8YFvtymhJAabMvBdU2TgW1ebKXro/edit#gid=1873363887

[2018-09-17 19:36] oscryan opened #634 "Footnote numbering inconsistency"
# Scenario

Footnotes in Introductory Business Statistics are numbered continuously across modules in webview, but they restart at 1 in every module in the pdf. Example:
https://staging.cnx.org/contents/tWu56V64@36.1:3UZ5oaPG@8/1-4-Experimental-Design-and-Ethics

# Reproducibility Details

- **Impact area**: staging and presumably production
- **User**: all
- **URL / Location**: https://staging.cn

[2018-09-17 21:33] openstaxalina commented on #634
*Decision:* some of the content involved in this change is "in flight" as part of https://github.com/Connexions/content-managers/issues/313.

Also, we have an open issue for footnote improvements: https://github.com/Connexions/cnx-recipes/issues/566

Therefore, we will wait for these two issues to complete, then retest to determine if this issue is resolved.

[2018-09-18 15:35] marcjeannott opened #635 "Equation numbering not collating"
# Scenario
The equation numbers are not collating correctly. This is similar to the issue https://app.zenhub.com/workspace/o/connexions/content-managers/issues/243.

Specifically, equation number 32.26-32.36 on the PDF are incorrectly listed as 32.30-32.40 on staging. https://staging.cnx.org/contents/jQSmhtXo@19.1:Nj1KHOXE@2/32-6-Fission

The missing numbers (32.26, 27, 28, 29) are found in the ex

[2018-09-18 16:13] marcjeannott commented on #635
Upon further investigation I think the missing equations in the section exercises were never meant to be numbered.

[2018-09-18 16:13] #635 closed

[2018-09-18 17:28] marcjeannott opened #636 "Equation numbering is off"
# Scenario
On Staging, the last equation number in chapter 5 is 5.47, with 5.48 and 5.49 found in the answer key. This appears correct. In the PDF, the last equation number in chapter 5 is 5.47, but the answer key numbers are 5.57 and 5.58 respectively. I'm currently unable to locate any other equations related to chapter 5, so I'm unsure why this is jumping all those numbers. The text wrapping is

[2018-09-18 21:36] philschatz commented on #566
I updated https://github.com/Connexions/rhaptos.cnxmlutils/pull/169 to unwrap `<para>` elements that are children of footnotes. From the comments above, I _think_ that fixes the OpenStax books.

As noted above, a different approach will need to be done for lists but, unless lists appear in footnotes of openstax books, we can defer fixing those cases until we create valid XHTML.

[2018-09-19 20:16] lwtchu commented on #579
In Chapter 1 it goes "Bringing It Together: Homework" and then into "References".

It should match the original before it changed and the change should've applied to the PDF since it's out of order in the PDF for chapter 12 and 13.

[2018-09-19 21:13] helenemccarron commented on #579
@lwtchu we cannot change the order of collations per chapter in recipes, so we would have to align the PDF if not all chapters are identical.

[2018-09-20 14:49] openstaxalina commented on #375
Although this issue is in cnx-recipes, it's likely related to cnxml --> html transforms.

[2018-09-20 20:45] lwtchu commented on #579
@helenemccarron

References and Bringing It Together: Homework should be flipped back. I'm going to fix the PDF to match since those are the two chapters that are out of order in the PDF. Sorry if my comment wasn't clear.

It should go:

Key Terms
Chapter Review
Formula Review
Practice
Homework
Bringing It Together: Homework
References
Solutions

[2018-09-20 20:47] marcjeannott opened #637 "Different order of end of chapter material from webview to PDF"
# Scenario

In AP Bio PDF the end of chapter material goes 1) Chapter Summary, 2) Review Questions 3) Critical Thinking Questions however, the webview has 1) Chapter Summary 2) Critical Thinking Questions 3) Review Questions. This is found throughout the entire book.

# Reproducibility Details

- **Impact area**: Staging?
- **User**: Marc?
- **URL / Location**: https://staging.cnx.org/contents/bDI

[2018-09-20 21:04] oscryan opened #638 "Suppress Answer Key in Biology 2e, Concepts of Biology"
# Scenario

Different answers are collated in staging pdf and on staging webview (staging pdf matches prd pdf).

# Reproducibility Details

- **Impact area**: staging.cnx.org
- **User**: all
- **URL / Location**: https://staging.cnx.org/contents/s8Hh0oOc@16.1:O6nBsAJu@16.1/Answer-Key
- **How many times were you able to reproduce the issue?**  1

## Steps to reproduce:

- Rebake/enqueue collection

[2018-09-20 22:39] openstaxalina commented on #638
The Answer Key should contain every-other-answer, beginning with the first question in each section.  The sections are:

Art Connection Questions
Review Questions
Critical Thinking Questions

For example, if Art Connections are questions 1-3, Review Questions are questions 4-20, and Critical Thinking Questions are 21-30, the Answer Key would include answers to questions 1, 3, 4, 6, 8, 10, 12, 14,

[2018-09-20 22:40] openstaxalina commented on #638
I am moving this issue into the next release.  We will discuss with the Katalyst team when we get the chance!

[2018-09-20 22:43] openstaxalina commented on #637
The order should be: 1) Chapter Summary, 2) Review Questions 3) Critical Thinking Questions.  Moving this into the next release!

[2018-09-20 22:46] openstaxalina commented on #636
I believe this is no longer an issue.  I believe that this occurred because we were originally testing on old recipes 👎

<img width="709" alt="screen shot 2018-09-20 at 5 44 52 pm" src="https://user-images.githubusercontent.com/7863733/45850760-f69c0280-bcfc-11e8-916f-a2966101f2a0.png">

Closing this issue.

[2018-09-20 22:46] #636 closed

[2018-09-21 13:48] wilkus27 commented on #579
Verified on katalyst01:

- in all chapters with module **Bringing It Together: Homework** order displays correctly

![with](https://user-images.githubusercontent.com/40228854/45884155-6d93d280-bdb3-11e8-9f97-15b930732e81.JPG)

- in all chapters without this module order is as follows:

![without](https://user-images.githubusercontent.com/40228854/45884800-20b0fb80-bdb5-11e8-801b-89e023c363be.JPG)

[2018-09-21 13:48] #579 closed

[2018-09-21 15:01] Bkblodget commented on #638
https://github.com/Connexions/oer.exports/issues/1637 I believe Kerwin's last comment in this issue captures the behavior we are seeing here

[2018-09-21 15:51] wilkus27 commented on #637
Verified on katalyst01. In every chapter modules display in correct order.

![order](https://user-images.githubusercontent.com/40228854/45891790-c15be700-bdc6-11e8-8677-187233d1a6e6.JPG)

[2018-09-21 15:51] #637 closed

[2018-09-21 19:44] openstaxalina commented on #579
Confirmed we are back to the original (desired) after rev and rebake on staging:
![screen shot 2018-09-21 at 2 44 26 pm](https://user-images.githubusercontent.com/7863733/45902690-e3487000-bdac-11e8-9a62-f6ec033e18d0.png)

[2018-09-21 20:03] openstaxalina commented on #637
Verified on staging.cnx.org after the rev today (tested 5 random chapters):
![screen shot 2018-09-21 at 3 03 08 pm](https://user-images.githubusercontent.com/7863733/45903486-85695780-bdaf-11e8-8fbb-51bb02788430.png)

[2018-09-21 20:54] lwtchu commented on #638
Confirmed this affects Biology 2e also

[2018-09-24 11:02] Adrianltd opened #642 "Visual Connection repeats twice"
@marcjeannott commented on [Fri Sep 21 2018](https://github.com/Connexions/webview/issues/1956)

In *AP Biology* the sections called "Visual Connection" appear twice. This is found throughout the book, but here's a link to one of them: https://staging.cnx.org/contents/bDIuMp-w@12.1:wIx28lku@6/11-2-Sexual-Reproduction

![visualconnectionx2](https://user-images.githubusercontent.com/33228728/4588602

[2018-09-24 14:49] #502 closed

[2018-09-24 16:45] helenemccarron opened #645 "Track content decisions and fixes for AW phase 2"
### Top titled tables books (just need the  `top-titled` class added):
- [x] Astronomy (we did this)
- [ ] Dev math titles (Prealgebra, Elementary Algebra, Intermediate Algebra) - fix in Q1-2019
- [ ] Chemistry; Chemistry Atoms First - fix in Q1-2019 (higher-priority than math)

### Misc table problems
- [ ] Psychology (currently the title is in the caption, we will move it for Baked PDF)

### Boo

[2018-09-24 16:53] helenemccarron commented on #375
This seems to be related to https://github.com/Connexions/webview/pull/1954. I agree that a recipe fix might be the best solution.

[2018-09-25 10:29] wilkus27 commented on #642
Verified on katalyst01 (https://katalyst01.cnx.org/contents/bDIuMp-w@7.1:wIx28lku@5/11-2-Sexual-Reproduction), e.g:

![visual](https://user-images.githubusercontent.com/40228854/46008940-67a53680-c0be-11e8-8100-a5bf290e8375.JPG)

I have tested one randomly selected chapter from each unit.

[2018-09-25 10:29] #642 closed

[2018-09-25 11:35] aiwenar commented on #375
@helenemccarron I might be wrong, but I don't see how those two issues are related. Connexions/webview#1954 is about styling, while this one about translations. I also don't see how a recipe fix will solve this problem; after all even if we replicate the fix I used for _University Physics_ translation, the underlying bug (string in wrong language being emitted during cnxml to xhtml conversion) wil

[2018-09-25 18:43] mwest-WWprod opened #648 "Business Ethics - Table reading order"
Final QA - Accessibility
GLOBAL

While verifying table reading order, we've confirmed that the order is counter intuitive (reading in a 'zig zag' pattern, instead of left to right).  The caption does read correctly.  Recording has been uploaded to Box for reference:

https://rice.box.com/s/xdl71hbbjz96gzgtk70ugedkavqc9m4t

[2018-09-25 19:06] helenemccarron commented on #638
I established that the root of this issue is the discrepancy between the PDF removing half of the answers ignoring odd and even while the recipe remove strictly only odd solutions. @openstaxalina was the decision to remove the answers from the content finalized or should we try to find a hack in recipes to make this work?

[2018-09-25 20:09] brittany-johnson opened #650 "EOC/EOB Section Linking and Numbering Not Correct In Baked PDF TOC"
# What happened?

EOC/EOB section titles in TOC of Baked PDF link to nothing when clicked and are numbered with the improper page number.

# Reproducibility Details
- Switch to the `styles` branch whcih contains the baked PDF template
- Run the `sass` command in terminal to ensure that the generated PDF contains the latest style: `sass ./file-path/intro-business.scss ./file-path/styles/output/intr

[2018-09-25 20:31] helenemccarron commented on #375
@aiwenar your fix is a clever way to update the `data-element-type` but I think we should handle the title of those notes the same way we are handling notes: by creating the title itself in the recipes rather than relying on the `data-element-type` value.

We are favoring a baked content that can be displayed without CSS or JS, targeting `data-element-type="warning" notes and setting the name we w

[2018-09-26 15:10] openstaxalina commented on #638
@helenemccarron we haven't been able to finalize a decision yet.  We will park at Books scrum tomorrow.

[2018-09-26 15:11] openstaxalina commented on #638
(If this requires coding, I understand that this will move to the next release.)

[2018-09-26 16:07] openstaxalina commented on #541
Is this covered by https://github.com/Connexions/cnx-recipes/issues/606 ?

If not, I will put this in the u.u. milestone (11/5 production deploy)

[2018-10-01 07:46] PatBoj commented on #604
Krzysiek already fixed this issue in easybake https://github.com/Connexions/cnx-easybake/pull/96.

[2018-10-01 07:46] #604 closed

[2018-10-02 14:57] brittany-johnson opened #652 "Baked PDF Styling Epic"
[Normalize CSS document](https://docs.google.com/spreadsheets/d/1LNq1APUlddL-IO_ikmcSGDuonBFCt1FVbP-Cp3sGZZw/edit#gid=0)

[2018-10-04 14:10] openstaxalina opened #654 "Figure Numbering off"
@marcjeannott commented on [Mon Sep 24 2018](https://github.com/Connexions/webview/issues/1957)

In AP Bio, Figure 15.7 in the PDF is numbered 15.8 in the baked webview.  https://staging.cnx.org/contents/bDIuMp-w@16.1:MWnotoAf@11/15-2-Prokaryotic-Transcription

![unequalfigurenumbers](https://user-images.githubusercontent.com/33228728/45967489-c9e53500-bff3-11e8-9a84-fe90dd58096f.jpg)

It mysterio

[2018-10-04 14:30] marcjeannott opened #655 "Webview missing content in University Physics 2"
@oscryan commented on [Wed Oct 03 2018](https://github.com/Connexions/content-managers/issues/418)

Errata report 7052

There are several sections missing from the online textbook that appear in the pdf version of the textbook. Section 10.5 ends abruptly without showing figure 10.40 and examples 10.8 and 10.9.

The end of the chapter problems (in the Chapter Summary for Chapter 10)only go up to nu

[2018-10-04 14:30] marcjeannott opened #656 "Webview missing content in University Physics 2"
@oscryan commented on [Wed Oct 03 2018](https://github.com/Connexions/content-managers/issues/418)

Errata report 7052

There are several sections missing from the online textbook that appear in the pdf version of the textbook. Section 10.5 ends abruptly without showing figure 10.40 and examples 10.8 and 10.9.

The end of the chapter problems (in the Chapter Summary for Chapter 10)only go up to nu

[2018-10-04 14:31] #656 closed

[2018-10-05 10:37] PatBoj commented on #654
@openstaxalina The _Teacher Support_ section appears in raw html file and also in file baked by me, but not in the pdf or online view of the book. I suppose that _Teacher Support_ should be visible for teachers only. If it's true, then figures in _Teacher Support_ section shouldn't be numbered or at least numbered independent of other images. Tell me what you think, I've provided screens to clarif

[2018-10-07 17:50] openstaxalina commented on #654
I agree this is content related.  We are looking at new ways to appropriately review, prioritize, and transfer issues to the content managers.  I recommend that @lwtchu move this issue to the content managers when appropriate.  (Note that this is the last remaining issue that needs to be resolved in order to bake AP Biology.)

[2018-10-08 14:15] wilkus27 opened #658 "Additional Exercises section"
On katalyst01 (https://katalyst01.cnx.org/contents/LnN76Opl@14.4:s6cgg-6Q@14.4/Exercises) is additional empty section **Exercises**.

![empty_ex](https://user-images.githubusercontent.com/40228854/46613938-d483ec00-cb14-11e8-8b56-5fa633c8b3fe.JPG)

In PDF at end of the chapter is just one module **For Further Exploration**.

[2018-10-08 14:41] #606 closed

[2018-10-08 15:04] Adrianltd commented on #658
@helenemccarron @openstaxalina Because the `Exercises` have `childPages`, the recipes create that container and headers even if there's nothing inside.
I think that it can be solved either by content managers, I guess that it can be done by removing
`<cnx-pi data-type="cnx.eoc">class="review-questions" title="Review Questions"</cnx-pi>
<cnx-pi data-type="cnx.eoc">class="thought-questions" title="T

[2018-10-08 15:10] openstaxalina commented on #658
@Adrianltd thank you for the analysis.  Yes, chapter 1 is different from other chapters and does not have summaries, any type of exercise, or a collaborative group activity.  The only collating material it has is the For Further Exploration, as Natalia noted.

@lwtchu, @helenemccarron, please review this suggested content change at the next meeting.

[2018-10-08 15:14] helenemccarron commented on #658
@Adrianltd I think this might be recipe issue. The empty section should be ignored and not appear. I think it might be related to the order in which the recipes are creating the titles but I would have to look into it a bit more in depth.

[2018-10-08 17:09] marcjeannott commented on #655
I've migrated some of the chapters (including the broken content's) to devb - https://legacy-devb.cnx.org/content/col25753/latest/

[2018-10-08 17:29] openstaxalina commented on #655
Problem does not occur locally with production data, or in the content migrated from production to devB.

Therefore, the issue does not appear to be in recipes or in the content itself (other similarly tagged elements function properly).  That leaves the servers.  (?)

Next step:
-@marcjeannott rebake on production; confirm if issue still exists.  Coordinate with @reedstrm so he can monitor the lo

[2018-10-08 17:43] openstaxalina commented on #658
The recipes do not use the collation instructions, so removing them from the content will not resolve this issue.  Further code investigation needed.

[2018-10-08 18:18] openstaxalina commented on #654
Issue moved to [Connexions/content-managers #422](https://github.com/Connexions/content-managers/issues/422) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-08 18:18] #654 closed

[2018-10-09 07:30] wilkus27 opened #659 "Extra headers in Exercises section"
On katalyst01 (e.g. https://katalyst01.cnx.org/contents/LnN76Opl@14.4:MYey3fWo@14.4/Exercises) in **Exercises** sections are headers with information with which module exercises are related. But there is no such information in PDF.

![ad_head](https://user-images.githubusercontent.com/40228854/46653164-8965e980-cba5-11e8-805e-0721cad82bb8.JPG)

PDF:

![ad_head_pdf](https://user-images.githubuserco

[2018-10-09 11:18] wilkus27 commented on #659
Same problem in section **Collaborative Group Activities**:

![ad_head2](https://user-images.githubusercontent.com/40228854/46665998-be823400-cbc5-11e8-9244-855407bf677f.jpg)

There are no headers in PDF.

[2018-10-09 13:57] marcjeannott commented on #655
I've rebaked and Ross did notice something, but he's out for the rest of the week. The content still does not appear on production.

[2018-10-09 15:55] pumazi commented on #655
The content appears to be intact in the database, verified via the web calls that webview uses.

I may be looking at the wrong version? But here's what I've got so far.

- https://cnx.org/contents/eg-XcBxE@14.1:h2kCjzVL@6/10-5-RC-Circuits <-- "the content abruptly ends" ✅
- https://archive.cnx.org/contents/8769028f-354b-4fd8-94ec-15f105feae24@6.html <-- The content is intact. We can see that there

[2018-10-09 16:08] pumazi commented on #655
☝️ I take some of this back. It does appear that the content is cut off in the database. So it's definitely baking related.

[2018-10-09 19:49] brittany-johnson commented on #650
@Stackblocks ready for review! Please let me know if the testing instructions aren't clear

[2018-10-09 19:51] pumazi commented on #655
@helenemccarron, you mentioned that local baking produced the expected results. Did you try to dissect the content (break up the content into individual parts)?

[2018-10-09 20:08] openstaxalina commented on #659
Module headers should be removed in these two places so that the heading structure matches the PDF.

[2018-10-09 20:41] reedstrm commented on #655
[bakedUPhys.zip](https://github.com/Connexions/cnx-recipes/files/2462053/bakedUPhys.zip)
Zip result of baked locally, then segmented (w/ the `cnx-epub-validate-collated` command) I've _also_ downloaded the server-baked truncated file - it's also in the contents/ folder, w/ a bookuuid:pageuuid name. The interesting bit it that it cuts of in the legend for an image, at a non-ascii character: a tau.

[2018-10-09 21:16] helenemccarron commented on #655
But we did verify that there is an image prior to the part that gets truncated with non-ascii characters which did not get dropped. So either it's not related to non-ascii character or that particular character in that particular image isn't valid. It seems weird if that were the case, because the content was working prior to September 19th(?)

[2018-10-09 21:34] pumazi commented on #655
Using the things I know...

[code]
And I'll continue later...

[2018-10-10 14:11] marcjeannott commented on #655
@helenemccarron The content actually comes and goes. Hope this helps!

👍 **13.1 September 13, 2018** https://cnx.org/contents/eg-XcBxE@13.1:h2kCjzVL@6/10-5-RC-Circuits
👎 **13.3 September 17, 2018** https://cnx.org/contents/eg-XcBxE@13.3:h2kCjzVL@6/10-5-RC-Circuits
👍 **13.4 September 17, 2018** https://cnx.org/contents/eg-XcBxE@13.4:h2kCjzVL@6/10-5-RC-Circuits
👎 **13.7 September 17, 2018** https://

[2018-10-10 19:49] pumazi commented on #655
try walking through the process...

---

<details>
<summary>unsuccessful debug session</summary>

[code]

</details>

---

... and that was highly unsuccessful because debugging this is highly error prone and some of the functions take forever to execute

---

<details>
<summary>successful debug</summary>

[code]

</details>

The result is that baking worked fine. The content is correct in the dat

[2018-10-10 20:19] pumazi commented on #655
This is most definitely a heisenbug. It's not clear what circumstances cause the flip flopping behavior. We will likely need to know that bit of information in order to reproduce the issue in a controlled way.

[2018-10-10 20:40] openstaxalina commented on #655
In version 14.10, *the Chapter Review is complete*, but 10.5 still cuts off in the same spot: https://cnx.org/contents/eg-XcBxE@14.1:h2kCjzVL@6/10-5-RC-Circuits

[2018-10-11 15:19] wilkus27 opened #662 "Paragraph in Learning Objectives"
On katalyst01 (https://katalyst01.cnx.org/contents/LnN76Opl@14.4:B8pDv1hY@3/9-3-Impact-Craters) first paragraph is in **Learning Objectives** box:

![text](https://user-images.githubusercontent.com/40228854/46814605-65f39800-cd79-11e8-8f8f-c57745fc86d8.JPG)

PDF:

![text_pdf](https://user-images.githubusercontent.com/40228854/46814617-6e4bd300-cd79-11e8-9cc9-85b7b28f0d27.JPG)

This problem also ap

[2018-10-11 16:39] #436 closed

[2018-10-11 16:40] brittany-johnson commented on #436
Work moved to this PR https://github.com/Connexions/cnx-recipes/pull/433

[2018-10-11 16:54] brittany-johnson opened #663 "Baked PDF Style Framework Documentation"
# What happened?

The baked PDF prototype is near completion and the framework needs to be documented for future users.

# Reproducibility Details

N/A

# Environment:

Documentation will take place in a `.md` file and inline with the code.

# Screenshots

N/A

# Additional notes

[2018-10-11 17:44] philschatz commented on #655
It seems the file truncates right before the last character in `the value increases from I subscript 0 to 0 and is equal to 0.368 I subscript 0 after 1 &#964;` which is a tau. While it would seem like this is the culprit, the previous `<figure>` also contains 2 `&#964;` in the `<img/>` as well so I think it is something else.

# Time to put on your Nostrodamus/tin-foil/conspiracy hat :shipit:

I d

[2018-10-11 19:47] brittany-johnson opened #664 "Remove size-scale function where being directly used for font-size"
# What happened?

While prototyping `baked-pdf` styles the function `size-scale` was used for calculating the values of properties like `font-size`, `margin`, etc. The function was used to make a mixin specifically for titles throughout the book, and now all places where `.size-scale` is being used as the value of `font-size` need to be replaced with one of the title mixins found in `/framework/mi

[2018-10-11 19:51] helenemccarron commented on #664
Additionally, let's make sure that the old `titles-h2-style-icon()` deprecated mixins are replaced with `titlte()`

[2018-10-11 21:33] philschatz commented on #655
The problem is in https://github.com/Connexions/cnx-epub/blob/master/cnxepub/models.py#L88 (after links are updated). This parse mangles the HTML. I'm guessing because it parses the text as HTML rather than XHTML.

[2018-10-11 21:38] helenemccarron opened #666 "Pipe before appendices numbers in Intro to business"
# What happened?
***This is not a pipe***
There is a pipe before the appendix number than needs to be removed.

# Reproducibility Details
- **Does it also happen in an incognito window?**:
yes
- **Does this happen in one place, a few places, or everywhere?**:
happens everywhere

# Environment:

- **Book(s)**: intro to business
- **URL/Server**: all
- **Location (page number, chapter/section)**: ap

[2018-10-11 21:42] helenemccarron opened #667 "TOC should not be numbered - start at preface with 1"
# What happened?
The page numbers should start after the TOC.
Fix the folio numbering to match oer.exports PDF numbering scheme for pages.

# Reproducibility Details

- **Does it also happen in an incognito window?**:  yes
- **Does this happen in one place, a few places, or everywhere?**:yes

# Environment:

- **Book(s)**: all
- **URL/Server**:  everywhere
- **Location (page number, chapter/sectio

[2018-10-11 21:54] #650 closed

[2018-10-11 21:54] Stackblocks commented on #650
Displaying as specified with updated version of content / code.

[2018-10-11 21:54] #435 closed

[2018-10-11 21:54] #441 closed

[2018-10-11 21:55] Stackblocks commented on #666
![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/9ea86ccd-be00-4f7e-bf19-e0f4c7106729)

[2018-10-12 00:10] philschatz commented on #655
Fixed in https://github.com/Connexions/cnx-epub/pull/131

[2018-10-12 08:40] wilkus27 opened #668 "Table with gray caption"
1. On katalyst01 (https://katalyst01.cnx.org/contents/LnN76Opl@14.4:kW2s2fjA@14.4/Exercises) There is a table with gray caption:

![caption](https://user-images.githubusercontent.com/40228854/46855814-05aa3800-ce05-11e8-9340-209738eccfe5.JPG)

It might be related with https://github.com/Connexions/content-managers/issues/267

2. I am not sure why this table is called **Table A**. Tables in other b

[2018-10-12 11:15] wilkus27 opened #669 "KNOWN ISSUE: Display of quotations"
In **Astronomy** textbook sometimes occur quotations, which are written in many different ways.

1. https://katalyst01.cnx.org/contents/LnN76Opl@14.4:x2ommVk0@3/10-1-The-Nearest-Planets-An-Overview

Here _blockquote_ is applied:

![poem1](https://user-images.githubusercontent.com/40228854/46865960-bfae9d80-ce1f-11e8-94fe-8e5f25518fb8.JPG)

But line breaks are inconsistent.

PDF:

![poem1_pdf](http

[2018-10-12 11:34] Adrianltd commented on #669
This is caused by the wrong content - the `div` elements are inside `p` elements which is not a valid html.
Then in the baking process the structure behaves strangely:
- the first line is being put into `p`, then there's `div` with `newline` class and then there's next line of poem (without container), then again `div`, again line of poem and so on.

In my opinion those poems should be made with o

[2018-10-12 13:14] Adrianltd commented on #659
Should be fixed with https://github.com/Connexions/cnx-recipes/pull/653/commits/750744c43944f2cf743218fdedbafdcd88c60dd4

[2018-10-12 13:19] Adrianltd commented on #662
@lwtchu @openstaxalina as we have discussed on Slack, this paragraph is inside the `section` with `learning-objectives` class in `raw` html. So that's `content` issue.

[2018-10-12 14:04] wilkus27 commented on #659
Verified on katalyst01:

**Exercises**

![head_ex](https://user-images.githubusercontent.com/40228854/46873999-60a95280-ce38-11e8-8e63-51aa5ff461d2.JPG)

**Collaborative Group Activities**

![head_col](https://user-images.githubusercontent.com/40228854/46874021-74ed4f80-ce38-11e8-9e85-15d46a8f0c24.JPG)

[2018-10-12 14:04] #659 closed

[2018-10-12 14:42] wilkus27 opened #670 "Unnumbered figures in Preface"
Figures from **Preface** are not numbered.

katalyst01 (https://katalyst01.cnx.org/contents/LnN76Opl@14.4:t5W09zMY@8/Preface)

![preface](https://user-images.githubusercontent.com/40228854/46876023-86852600-ce3d-11e8-9d81-2f8d99f99950.JPG)

PDF:

![preface_pdf](https://user-images.githubusercontent.com/40228854/46876081-b16f7a00-ce3d-11e8-808f-bf4075dd93e2.JPG)

[2018-10-12 14:54] Adrianltd commented on #670
That title is in the `div` above the `img`, instead of `figcaption` and I think, because of that, the mixins responsible for creating caption and numbering do not work on those figures.

![figure-preface](https://user-images.githubusercontent.com/40228907/46876474-b54fcc00-ce3e-11e8-93c1-974162de854f.png)

[2018-10-12 18:00] #655 closed

[2018-10-15 15:36] lwtchu commented on #670
@openstaxalina I think we made a decision to make preface images unnumbered? However we'll have to remove the title. If that's alright we can copy this issue and have katalyst remove the `<figure>` tag from the images in the preface.

[2018-10-15 15:51] openstaxalina opened #672 "Turn on feature flags for University Physics"
# What happened?
_University Physics_ was released in Assignable Webview before we came up with feature flag functionality.  We didn't want to add to the test load for Assignable Webview for new books by turning on the flags for _University Physics_.  However, we eventually do need to turn on and test feature flags for this title.

# Reproducibility Details

- **Does it also happen in an incognito

[2018-10-15 16:09] lwtchu commented on #669
The CNXML is inconsistently constructed. In the first instance, there's a `<para>` in a `<quote>` tag and in the second instance, it is the other way around.

There are `<newline/>` tags between the lines to cause the line break in the PDF. I don't think there's any way around the `<newline/>` tag in CNXML. I don't think it's a huge problem for it to have double spacing on webview.  Bigger convers

[2018-10-15 20:56] mwest-WWprod opened #673 "Accounting - Webview TOC location"
content03
GLOBAL

Full chapter TOC appears at bottom of first page. If it is to appear in the content, it should appear at the start (before Why It Matters).

![chaptertocwebview](https://user-images.githubusercontent.com/19212926/46977013-fd6a2b00-d098-11e8-834f-8eb31e9d0910.png)

[2018-10-15 21:17] mwest-WWprod opened #674 "Accounting - Red text absent in webview"
content03
GLOBAL

Red text absent (some company names are in red for pedagogical reasons).  This does appear in the PDF output.

PDF
![redtextpdf](https://user-images.githubusercontent.com/19212926/46978847-f1349c80-d09d-11e8-8953-a2b4e6eafa66.png)

Webview
![redtextwebview](https://user-images.githubusercontent.com/19212926/46978859-f691e700-d09d-11e8-9e16-d6bfd33f8ac0.png)

[2018-10-15 21:42] mwest-WWprod opened #675 "Accounting - Art oversized in webview"
content04
GLOBAL

As with [#3696](https://github.com/Connexions/oer.exports/issues/3696), art in webview is oversized. Art is correct within the PDF output.

![artoversizedwebview](https://user-images.githubusercontent.com/19212926/46979630-13c7b500-d0a0-11e8-9452-de739e8f3432.png)

We will proceed with the assumption that figures can be treated with the 'scaled down' class as with other books.

[2018-10-15 21:48] mwest-WWprod opened #676 "Accounting - Images in webview are left justified"
content03
GLOBAL

**Images** are left justified instead of centered (figures are centered), these should be centered as in the PDF output.

![webviewimages_justification](https://user-images.githubusercontent.com/19212926/46980377-5e4a3100-d0a2-11e8-9433-4b0ad32c335a.png)

[2018-10-15 21:56] mwest-WWprod opened #677 "Accounting - Key Terms should appear EOC in webview"
content03
GLOBAL

Key terms should collate at EOC in webview, not EOS.  See [#3712](https://github.com/Connexions/oer.exports/issues/3712).

![keyterm_collationwebview](https://user-images.githubusercontent.com/19212926/46980530-d87ab580-d0a2-11e8-8330-77d3d08f48c1.png)

[2018-10-15 22:02] mwest-WWprod opened #678 "Accounting - Padding increase above images"
content03
GLOBAL

Padding above **images** is too small (sufficient above figures).  Please increase slightly.

![imagepadding_webview](https://user-images.githubusercontent.com/19212926/46980975-5c816d00-d0a4-11e8-864e-2f77b23c7f82.png)

[2018-10-15 22:49] mwest-WWprod opened #679 "Accounting - Leading in webview lists"
content03
GLOBAL

Lists in webview have inconsistent leading between items.

![listspacing_webview](https://user-images.githubusercontent.com/19212926/46982618-f77d4580-d0aa-11e8-9fb6-116bdf5a5cf6.png)

[2018-10-15 22:55] mwest-WWprod opened #680 "Accounting - Addition of hanging indent in webview footnotes"
content03
GLOBAL

Footnote content in webview can be confusing without hanging indents. Please add if possible.

![footnoteindent_webview](https://user-images.githubusercontent.com/19212926/46982686-44611c00-d0ab-11e8-9325-3e390fb7af88.png)

[2018-10-15 23:23] mwest-WWprod opened #681 "Accounting - Module titles in webview assessments"
content03
GLOBAL

Module titles should not be listed in assessments (currently appear in Questions, Exercise Sets, Problem Sets, do not appear in Multiple Choice or Thought Provokers).

![assessment module headers_webview](https://user-images.githubusercontent.com/19212926/46983491-c272f200-d0ae-11e8-9c5c-a07f0ab2050f.png)

[2018-10-16 13:39] openstaxalina commented on #670
@lwtchu we do want to support figure numbering in the prefaces; see: https://github.com/Connexions/cnx-recipes/issues/455.

This is probably a code fix to support figure (and table) numbering in the preface for new recipes.  cc @helenemccarron @Adrianltd @PatBoj

[2018-10-16 14:13] #662 closed

[2018-10-16 14:14] #669 closed

[2018-10-16 15:15] lwtchu commented on #670
<img width="1012" alt="screen shot 2018-10-16 at 10 10 35 am" src="https://user-images.githubusercontent.com/11299125/47026765-c55ff800-d12b-11e8-8655-0dea49f95584.png">
There's nothing I can do in the CNXML currently. Since there is no caption, I can move the title into the caption box. However this fix isn't ideal if in the future we have an image with a caption and a title in the preface.

PROP

[2018-10-16 15:17] lwtchu opened #682 "Support title and caption for a figure in the preface"
# What happened?

Currently the title is not supported in the preface for figures. Please see #670 for more information.

# Reproducibility Details

- **Does it also happen in an incognito window?**:  Sure
- **Does this happen in one place, a few places, or everywhere?**: Preface only

# Environment:

- **Book(s)**: Any book with title and caption for a figure
- **URL/Server**:  https://katalyst01

[2018-10-16 15:40] openstaxalina commented on #670
@lwtchu is your proposed fix for preface images only?

[2018-10-16 15:42] openstaxalina commented on #670
@Adrianltd can you confirm there is no possible coding fix for this -- to style the div with data-type=title as the title?

[2018-10-16 15:59] openstaxalina commented on #673
This change was made primarily for Search Engine Optimization purposes.  Once the book is published, an "About This Book" header with the book cover will appear above the ToC.  Example from _Business Ethics_ below.

We will not make a change in this case.

https://cnx.org/contents/kUrGbuHs@3.1:KCyr9xii@3/Introduction
<img width="1291" alt="screen shot 2018-10-16 at 10 58 10 am" src="https://user-i

[2018-10-16 16:00] openstaxalina commented on #673
@mwest-WWprod we should go over this on today's call, and close if possible.

[2018-10-16 16:00] openstaxalina commented on #674
Need to assess with @helenemccarron and @brittany-johnson whether it's possible to create colored text in webview.  I haven't seen this functionality before.

cc @lwtchu

[2018-10-16 16:03] openstaxalina commented on #675
@mwest-WWprod I believe the scaled-down class will need to be added to oversized art.

Meanwhile, @helenemccarron or @brittany-johnson will need to ensure this class is enabled in the Accounting recipe.

cc @lwtchu

[2018-10-16 16:06] openstaxalina commented on #676
Agree; I believe typically the only figures or images that are left-justified are in the answer key.

cc @lwtchu @helenemccarron @brittany-johnson

[2018-10-16 16:08] openstaxalina commented on #677
Agree; this should be feasible.

cc @lwtchu @helenemccarron @brittany-johnson

[2018-10-16 16:13] openstaxalina commented on #678
Need @lwtchu to review/specify a value for padding increase.

[2018-10-16 16:18] openstaxalina commented on #679
@oscryan would you mind reviewing the content in this case?  I have never seen this kind of styling issue with a list.

If content is correct, please post a screenshot of the markup with a link, and remove your assignment.

cc @lwtchu

[2018-10-16 16:19] openstaxalina commented on #680
Agree.
Description of hanging indents: https://guides.rasmussen.edu/c.php?g=225376&p=5846714

[2018-10-16 16:20] openstaxalina commented on #681
Agree; this should be feasible.

[2018-10-16 16:40] oscryan commented on #679
The content is treated differently in each list item. The first item has the text inside only the item tag; the second item has two paragraph tags nested in the list tag. The third has no nesting, like the first. This seems to have caused the item number to center in the third case, but I don't know why it's different from the first.

[2018-10-16 16:42] oscryan commented on #679
https://legacy-content03.cnx.org/content/m10005/latest
<img width="1115" alt="screen shot 2018-10-16 at 11 41 50 am" src="https://user-images.githubusercontent.com/1895432/47032674-8edcaa00-d138-11e8-8f76-093d2d14efa0.png">

[2018-10-16 16:46] openstaxalina commented on #679
I seems that paras were used only for the list item that has more than one paragraph.

@oscryan is this semantically correct CNXML?  Unless you advise CNXML changes, I'll ask developers to review this.

[2018-10-16 16:47] oscryan commented on #679
It's not consistent, but it's not incorrect. It might be best if we keep the styling on list items from changing due only to what's contained in them.

[2018-10-16 16:50] openstaxalina commented on #679
Thank you!  I will ask the devs to look into this next sprint.

[2018-10-16 18:21] openstaxalina commented on #674
More pedagogical information: Real company names are in red; this is a market convention.

OpenStax to advise whether red text is available and provide other suggestions if not.

[2018-10-16 20:28] openstaxalina commented on #668
Since we are achieving a similar style to the PDF in both cases, I propose no change here.  @lwtchu could you review before the Thursday call, in case there is something I am missing?

[2018-10-17 13:34] Adrianltd commented on #670
@openstaxalina There probably is a way to fix that in recipes.
But I have just noticed, that Astronomy on `cnx.org` has that title in the `figcaption` and it's numbered.
**I am a little confused now. Should that text be a title above the figure or a numbered caption below the figure?**

Here's a link to how it looks like on `katalyst01`:
https://katalyst01.cnx.org/contents/LnN76Opl@14.4:t5W09zMY@8

[2018-10-18 14:41] openstaxalina commented on #674
Per @helenemccarron, this is possible!  This is targeted for the 11/19 release.  cc @mwest-WWprod

[2018-10-18 17:02] lwtchu opened #684 "Styling lists based on options given in CNXML"
# What happened?

There are several list options in CNXML. We need to do the following:

1. Determine which ones we should decommission from CNXML due to the complexity of styling.
2. Style the lists.

# Environment:

- **Book(s)**: Test content is in the FIRST chapter of Prealgebra on katalyst01.cnx.org.
- **URL/Server**:

  - On katalyst01 https://katalyst01.cnx.org/contents/yqV9q0HH@13.2:plLt9F

[2018-10-18 22:13] openstaxalina commented on #638
**Decision:** Suppress Answer Key in the Assignable Webview version of _Biology 2e_ and _Concepts of Biology_.  These solutions should be stripped out of the files during baking.

[2018-10-19 17:49] helenemccarron opened #687 "Intro Business cannot be baked"
# What happened?
The baking process for Intro Business fails due to a recipe error.

# Reproducibility Details

- **Does it also happen in an incognito window?**:
yes
- **Does this happen in one place, a few places, or everywhere?**:
everywhere

# Environment:

- **Book(s)**: any collection using the intro-business recipe
- **URL/Server**:  all servers (was found on staging
- **Location (page numb

[2018-10-19 17:51] helenemccarron commented on #687
Addressed in #686, which reverses PR #657  - to test, the book should bake properly. No other change should be observed.

[2018-10-19 19:28] philschatz opened #688 "Include subsections in the ToC"
# What happened?

Webview wanted to have subsections listed in the ToC: https://github.com/Connexions/webview/pull/1566 .

The PDF might also benefit from these extra entries in the PDF sidebar ToC (not the ToC that shows up at the beginning of the book).

The Book viewer may also benefit from having these additional ToC items (since it replaces webview)

Slack discussion: https://openstax.slack.c

[2018-10-22 10:02] wilkus27 opened #689 "Appendices in Astronomy"
On katalyst01 (e.g https://katalyst01.cnx.org/contents/LnN76Opl@14.4:_eJEiQMX@6/Units-Used-in-Science) modules from appendices should be numbered by letters and tables inside should be named in this way: **Table D1**, **Table D2** etc.

PDF:

![append_pdf](https://user-images.githubusercontent.com/40228854/47287124-7580a580-d5f1-11e8-9ece-b77deee6600c.JPG)

Webview:

![append](https://user-images.

[2018-10-22 15:31] wilkus27 opened #690 "Examples in Appendix"
In Chemistry textbook **Examples** should be named by letter and number like **Example B1**
e.g. katalyst01 (https://katalyst01.cnx.org/contents/havxkyvS@12.1:njDsQlIO@8/B-Essential-Mathematics)

webview

![example](https://user-images.githubusercontent.com/40228854/47301312-e38f9180-d61e-11e8-8c53-ba224630ffee.JPG)

PDF

![example_pdf](https://user-images.githubusercontent.com/40228854/47301328-e

[2018-10-22 15:35] lwtchu commented on #670
@Adrianltd I talked to @helenemccarron and she said it'd be best to move the title into the caption for now since the preface figures do not get transformed correctly.

I can make the fix in katalyst01 if you'd like.

[2018-10-22 15:47] Stackblocks commented on #687
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/59568cfd-aef9-4d67-bd88-794b6b629519)

[2018-10-22 15:47] #687 closed

[2018-10-22 21:39] lwtchu commented on #689
Probably missing `appendix` class. We can treat this as a high priority, easy fix.

[2018-10-23 09:51] Adrianltd commented on #670
@lwtchu Sure, thanks!

[2018-10-23 11:08] Adrianltd commented on #689
@lwtchu will this be changed also on katalyst01?

[2018-10-23 14:25] lwtchu commented on #668
Agree with Alina. No change here.

[2018-10-23 14:25] #668 closed

[2018-10-23 20:20] #678 closed

[2018-10-23 20:20] brittweinstein commented on #678
Issue moved to [Connexions/webview #2001](https://github.com/Connexions/webview/issues/2001) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-23 20:31] brittweinstein commented on #674
@lwtchu to specify if it is bolded and hex value.

[2018-10-23 20:34] lwtchu commented on #674
Hex: ##CC0000
SHOULD NOT BE BOLD

[2018-10-23 20:58] lwtchu commented on #675
The image in the screenshot appears to not have the scaled down class. Let Matt know via email.

[2018-10-23 20:58] #675 closed

[2018-10-24 09:16] PatBoj opened #691 "Missing content in polish textbooks [Priority 1 for Ross]"
I've found two modules where the content is missing.

## **Module 6.1 Volume 1**
Missing content from figure 6.5 (https://staging.cnx.org/contents/TqqPA4io@3.1:Nodlgpq1@2/6-1-Rozwi%C4%85zywanie-zada%C5%84-zwi%C4%85zanych-z-zasadami-dynamiki-Newtona).

![image](https://user-images.githubusercontent.com/20907906/47420038-cfae7180-d77d-11e8-9d37-821a269d96a0.png)

Should be:
![image](https://user-ima

[2018-10-26 14:44] lwtchu commented on #689
@Adrianltd this has been fixed on katalyst01

[2018-10-26 14:44] #689 closed

[2018-10-30 15:23] #674 closed

[2018-10-30 15:23] brittany-johnson commented on #674
Issue moved to [Connexions/webview #2025](https://github.com/Connexions/webview/issues/2025) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-30 20:13] #680 closed

[2018-10-30 20:13] brittany-johnson commented on #680
Issue moved to [Connexions/webview #2027](https://github.com/Connexions/webview/issues/2027) via [**ZenHub**](https://www.zenhub.com/)

[2018-11-01 01:57] openstaxalina commented on #690
@Adrianltd I moved this into the current sprint, but we can slide to the next sprint if you do not have time.  cc @paulinaszczucinska @helenemccarron

[2018-11-01 19:08] #679 closed

[2018-11-01 19:08] brittany-johnson commented on #679
Issue moved to [Connexions/webview #2031](https://github.com/Connexions/webview/issues/2031) via [**ZenHub**](https://www.zenhub.com/)

[2018-11-02 21:55] openstaxalina commented on #638
@helenemccarron please note the decision on this.  We should try to get this into the current sprint if possible; maybe an item for discussion on Monday's call?  cc @brittweinstein @paulinaszczucinska @PatBoj @Adrianltd

[2018-11-05 14:38] brittweinstein commented on #638
Go into Biology recipe, make sure there is no answer key collation. Make sure all answers for answer key are trashed at end of recipe. Per @helenemccarron this is already hidden in AP Biology, but not the other Bios.

[2018-11-05 21:33] brittany-johnson commented on #681
Obviously not styled lol, but the EOC should now be structually correct. Module titles have been removed where necessary @Stackblocks
![screen shot 2018-11-05 at 3 29 34 pm](https://user-images.githubusercontent.com/24909007/48027979-e8207380-e10f-11e8-9c6d-6c3b0dc23583.png)
![screen shot 2018-11-05 at 3 29 43 pm](https://user-images.githubusercontent.com/24909007/48027980-e8207380-e10f-11e8-98ed-

[2018-11-05 22:16] openstaxalina commented on #676
Per 10/23 planning, we are holding on this change until we have UX input.

[2018-11-05 22:39] openstaxalina commented on #634
The specific issue in this screenshot was resolved by making the content a parenthetical reference rather than a footnote.

@oscryan would you be willing to re-test more cases and let us know if this is resolved?  If this is still an issue, please provide more examples for testing.  Thank you!  cc @lwtchu

[2018-11-06 13:49] PatBoj opened #699 "[dev-math] Numbering exercises continuously through the whole book"
There are two "types" of exercises in algebra books (_Prealgebra_, _Elementary Algebra_, _Intermediate Algebra_):
- at the end of every section (not collated),
- at the end of every chapter (collated, clustered by section).

Both of them should be numbering continuously through the book and the counter should be reset every each chapter.

Right now exercises at the end of sections are numbered by

[2018-11-06 13:55] PatBoj opened #700 "[dev-math] Collate solutions from each section to EOB"
There are two "types" of exercises in algebra books (_Prealgebra_, _Elementary Algebra_, _Intermediate Algebra_):
- at the end of every section (not collated),
- at the end of every chapter (collated, clustered by section).

Solutions from exercises in every section should be collated, but I cannot manage to do that. `$Config_PartType_Solution: (moveTo: $AREA_EOB, );` moves only solutions from col

[2018-11-06 16:33] oscryan commented on #634
Not resolved: https://staging.cnx.org/contents/tWu56V64@39.1:PhCRzjQp@18/1-2-Data-Sampling-and-Variation-in-Data-and-Sampling
<img width="1400" alt="screen shot 2018-11-06 at 10 32 38 am" src="https://user-images.githubusercontent.com/1895432/48078577-5f591480-e1af-11e8-878d-5580e64bc72c.png">

[2018-11-07 15:52] Adrianltd commented on #670
@lwtchu I've struggled with this for a while and the conclusion is that somehow the `class="preface"` was removed from the preface (or it wasn't added there in the beggining?).
I've checked few books on `katalyst01` and on **production** and many of them are missing this class.

I have noticed @wilkus27 about that. When she's back from vacation (tomorrow) she will search for all of the books that

[2018-11-07 16:22] #681 closed

[2018-11-07 16:22] Stackblocks commented on #681
Displaying as specified with updated version of content / code.

![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/3bf4b45d-4be8-413f-b95b-d9efc0bcf310)
---
![image.png](https://images.zenhubusercontent.com/5af1f4c24b5806bc2bd257f2/d4beb4d4-7d13-4bd9-bcdd-cdc6a59aa792)

[2018-11-07 17:12] brittany-johnson commented on #677
@Stackblocks terms no longer appearing in EOS

[2018-11-07 20:52] lwtchu commented on #670
@Adrianltd AH the preface class. I've added it now to Astronomy if that will help.

If she can get me a list of the books that would be helpful. I can have someone fix it on production.

Thank you.

[2018-11-08 12:15] wilkus27 commented on #670
@lwtchu Of course, I can take care of it. I will prepare such a list.

[2018-11-08 14:41] PatBoj commented on #638
Ready for testing.

[2018-11-08 15:33] openstaxalina commented on #691
Follow up from today's call:

1. @PatBoj to check that the content is still missing on production.
2. If content is still missing, @PatBoj to re-bake Polish _University Physics_ books on production (cnx.org) by publishing one module.
3. If this does not trigger re-baking or the recipe is lost with re-baking, @helenemccarron / @aiwenar to help get the books re-baked by injecting the recipe.
4. Once